<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>atlas/NewUi/0774.png</key>
            <dict>
                <key>frame</key>
                <string>{{1960,519},{75,28}}</string>
                <key>offset</key>
                <string>{26,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,0},{75,28}}</string>
                <key>sourceSize</key>
                <string>{127,28}</string>
            </dict>
            <key>atlas/player/1821.png</key>
            <dict>
                <key>frame</key>
                <string>{{1890,596},{47,77}}</string>
                <key>offset</key>
                <string>{0,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,77}}</string>
                <key>sourceSize</key>
                <string>{47,121}</string>
            </dict>
            <key>atlas/player/1823.png</key>
            <dict>
                <key>frame</key>
                <string>{{1829,675},{47,77}}</string>
                <key>offset</key>
                <string>{0,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,77}}</string>
                <key>sourceSize</key>
                <string>{47,121}</string>
            </dict>
            <key>atlas/player/1825.png</key>
            <dict>
                <key>frame</key>
                <string>{{1592,923},{47,77}}</string>
                <key>offset</key>
                <string>{0,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,77}}</string>
                <key>sourceSize</key>
                <string>{47,121}</string>
            </dict>
            <key>atlas/player/1827.png</key>
            <dict>
                <key>frame</key>
                <string>{{1947,549},{47,77}}</string>
                <key>offset</key>
                <string>{0,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,77}}</string>
                <key>sourceSize</key>
                <string>{47,121}</string>
            </dict>
            <key>atlas/player/1829.png</key>
            <dict>
                <key>frame</key>
                <string>{{1939,655},{47,77}}</string>
                <key>offset</key>
                <string>{0,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,77}}</string>
                <key>sourceSize</key>
                <string>{47,121}</string>
            </dict>
            <key>atlas/player/1831.png</key>
            <dict>
                <key>frame</key>
                <string>{{1740,755},{47,77}}</string>
                <key>offset</key>
                <string>{0,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,77}}</string>
                <key>sourceSize</key>
                <string>{47,121}</string>
            </dict>
            <key>atlas/player/1833.png</key>
            <dict>
                <key>frame</key>
                <string>{{1789,743},{47,77}}</string>
                <key>offset</key>
                <string>{0,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,77}}</string>
                <key>sourceSize</key>
                <string>{47,121}</string>
            </dict>
            <key>atlas/player/1835.png</key>
            <dict>
                <key>frame</key>
                <string>{{1908,754},{47,77}}</string>
                <key>offset</key>
                <string>{0,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,77}}</string>
                <key>sourceSize</key>
                <string>{47,121}</string>
            </dict>
            <key>atlas/player/1837.png</key>
            <dict>
                <key>frame</key>
                <string>{{1908,803},{47,77}}</string>
                <key>offset</key>
                <string>{0,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,77}}</string>
                <key>sourceSize</key>
                <string>{47,121}</string>
            </dict>
            <key>atlas/player/1839.png</key>
            <dict>
                <key>frame</key>
                <string>{{1987,777},{47,77}}</string>
                <key>offset</key>
                <string>{0,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,77}}</string>
                <key>sourceSize</key>
                <string>{47,121}</string>
            </dict>
            <key>atlas/player/1841.png</key>
            <dict>
                <key>frame</key>
                <string>{{1742,834},{47,74}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,74}}</string>
                <key>sourceSize</key>
                <string>{47,114}</string>
            </dict>
            <key>atlas/player/1843.png</key>
            <dict>
                <key>frame</key>
                <string>{{1732,923},{47,68}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,68}}</string>
                <key>sourceSize</key>
                <string>{47,102}</string>
            </dict>
            <key>atlas/player/1845.png</key>
            <dict>
                <key>frame</key>
                <string>{{1671,923},{47,59}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,59}}</string>
                <key>sourceSize</key>
                <string>{47,85}</string>
            </dict>
            <key>atlas/player/1847.png</key>
            <dict>
                <key>frame</key>
                <string>{{1591,972},{47,57}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,57}}</string>
                <key>sourceSize</key>
                <string>{47,81}</string>
            </dict>
            <key>atlas/player/1849.png</key>
            <dict>
                <key>frame</key>
                <string>{{1640,972},{47,57}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,57}}</string>
                <key>sourceSize</key>
                <string>{47,81}</string>
            </dict>
            <key>atlas/player/1851.png</key>
            <dict>
                <key>frame</key>
                <string>{{1764,972},{47,58}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,58}}</string>
                <key>sourceSize</key>
                <string>{47,84}</string>
            </dict>
            <key>atlas/player/1853.png</key>
            <dict>
                <key>frame</key>
                <string>{{1824,970},{47,59}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,59}}</string>
                <key>sourceSize</key>
                <string>{47,85}</string>
            </dict>
            <key>atlas/player/1855.png</key>
            <dict>
                <key>frame</key>
                <string>{{1911,468},{47,61}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,61}}</string>
                <key>sourceSize</key>
                <string>{47,89}</string>
            </dict>
            <key>atlas/player/1857.png</key>
            <dict>
                <key>frame</key>
                <string>{{1971,970},{47,62}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,62}}</string>
                <key>sourceSize</key>
                <string>{47,92}</string>
            </dict>
            <key>atlas/player/1859.png</key>
            <dict>
                <key>frame</key>
                <string>{{1922,950},{47,64}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,64}}</string>
                <key>sourceSize</key>
                <string>{47,94}</string>
            </dict>
            <key>atlas/player/1861.png</key>
            <dict>
                <key>frame</key>
                <string>{{1693,856},{47,65}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,65}}</string>
                <key>sourceSize</key>
                <string>{47,97}</string>
            </dict>
            <key>atlas/player/1863.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,962},{47,67}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,67}}</string>
                <key>sourceSize</key>
                <string>{47,101}</string>
            </dict>
            <key>atlas/player/1865.png</key>
            <dict>
                <key>frame</key>
                <string>{{1227,960},{47,69}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,69}}</string>
                <key>sourceSize</key>
                <string>{47,105}</string>
            </dict>
            <key>atlas/player/1867.png</key>
            <dict>
                <key>frame</key>
                <string>{{1873,950},{47,70}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,70}}</string>
                <key>sourceSize</key>
                <string>{47,108}</string>
            </dict>
            <key>atlas/player/1869.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,957},{47,72}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,72}}</string>
                <key>sourceSize</key>
                <string>{47,110}</string>
            </dict>
            <key>atlas/player/1871.png</key>
            <dict>
                <key>frame</key>
                <string>{{1908,901},{47,73}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,73}}</string>
                <key>sourceSize</key>
                <string>{47,113}</string>
            </dict>
            <key>atlas/player/1873.png</key>
            <dict>
                <key>frame</key>
                <string>{{1908,852},{47,74}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,74}}</string>
                <key>sourceSize</key>
                <string>{47,114}</string>
            </dict>
            <key>atlas/player/1875.png</key>
            <dict>
                <key>frame</key>
                <string>{{1832,883},{47,74}}</string>
                <key>offset</key>
                <string>{0,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,74}}</string>
                <key>sourceSize</key>
                <string>{47,116}</string>
            </dict>
            <key>atlas/player/1877.png</key>
            <dict>
                <key>frame</key>
                <string>{{1801,688},{26,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,28}}</string>
                <key>sourceSize</key>
                <string>{26,30}</string>
            </dict>
            <key>atlas/player/1879.png</key>
            <dict>
                <key>frame</key>
                <string>{{1801,404},{26,282}}</string>
                <key>offset</key>
                <string>{0,128}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,282}}</string>
                <key>sourceSize</key>
                <string>{26,538}</string>
            </dict>
            <key>atlas/player/1881.png</key>
            <dict>
                <key>frame</key>
                <string>{{1216,894},{26,400}}</string>
                <key>offset</key>
                <string>{0,188}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,400}}</string>
                <key>sourceSize</key>
                <string>{26,776}</string>
            </dict>
            <key>atlas/player/1883.png</key>
            <dict>
                <key>frame</key>
                <string>{{1216,894},{26,400}}</string>
                <key>offset</key>
                <string>{0,188}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,400}}</string>
                <key>sourceSize</key>
                <string>{26,776}</string>
            </dict>
            <key>atlas/player/1885.png</key>
            <dict>
                <key>frame</key>
                <string>{{1216,894},{26,400}}</string>
                <key>offset</key>
                <string>{0,188}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,400}}</string>
                <key>sourceSize</key>
                <string>{26,776}</string>
            </dict>
            <key>atlas/player/1887.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,965},{58,403}}</string>
                <key>offset</key>
                <string>{0,187}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,403}}</string>
                <key>sourceSize</key>
                <string>{58,777}</string>
            </dict>
            <key>atlas/player/1889.png</key>
            <dict>
                <key>frame</key>
                <string>{{1502,1},{122,403}}</string>
                <key>offset</key>
                <string>{0,187}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,403}}</string>
                <key>sourceSize</key>
                <string>{122,777}</string>
            </dict>
            <key>atlas/player/1891.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,406},{152,403}}</string>
                <key>offset</key>
                <string>{0,187}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,403}}</string>
                <key>sourceSize</key>
                <string>{152,777}</string>
            </dict>
            <key>atlas/player/1893.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,811},{152,403}}</string>
                <key>offset</key>
                <string>{0,187}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,403}}</string>
                <key>sourceSize</key>
                <string>{152,777}</string>
            </dict>
            <key>atlas/player/1895.png</key>
            <dict>
                <key>frame</key>
                <string>{{1224,1},{142,403}}</string>
                <key>offset</key>
                <string>{0,187}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,403}}</string>
                <key>sourceSize</key>
                <string>{142,777}</string>
            </dict>
            <key>atlas/player/1897.png</key>
            <dict>
                <key>frame</key>
                <string>{{1363,406},{130,403}}</string>
                <key>offset</key>
                <string>{0,187}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,403}}</string>
                <key>sourceSize</key>
                <string>{130,777}</string>
            </dict>
            <key>atlas/player/1899.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{153,403}}</string>
                <key>offset</key>
                <string>{0,187}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,403}}</string>
                <key>sourceSize</key>
                <string>{153,777}</string>
            </dict>
            <key>atlas/player/1901.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,1},{151,403}}</string>
                <key>offset</key>
                <string>{0,187}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{151,403}}</string>
                <key>sourceSize</key>
                <string>{153,777}</string>
            </dict>
            <key>atlas/player/1903.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,406},{153,403}}</string>
                <key>offset</key>
                <string>{0,187}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,403}}</string>
                <key>sourceSize</key>
                <string>{153,777}</string>
            </dict>
            <key>atlas/player/1905.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,1},{153,403}}</string>
                <key>offset</key>
                <string>{0,187}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,403}}</string>
                <key>sourceSize</key>
                <string>{153,777}</string>
            </dict>
            <key>atlas/player/1907.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,406},{153,403}}</string>
                <key>offset</key>
                <string>{0,187}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,403}}</string>
                <key>sourceSize</key>
                <string>{153,777}</string>
            </dict>
            <key>atlas/player/1909.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,406},{149,403}}</string>
                <key>offset</key>
                <string>{-1,187}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,403}}</string>
                <key>sourceSize</key>
                <string>{151,777}</string>
            </dict>
            <key>atlas/player/1911.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,1},{150,403}}</string>
                <key>offset</key>
                <string>{0,187}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,403}}</string>
                <key>sourceSize</key>
                <string>{150,777}</string>
            </dict>
            <key>atlas/player/1913.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,406},{151,403}}</string>
                <key>offset</key>
                <string>{0,187}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{151,403}}</string>
                <key>sourceSize</key>
                <string>{153,777}</string>
            </dict>
            <key>atlas/player/1915.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,1},{148,403}}</string>
                <key>offset</key>
                <string>{2,187}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{148,403}}</string>
                <key>sourceSize</key>
                <string>{152,777}</string>
            </dict>
            <key>atlas/player/1917.png</key>
            <dict>
                <key>frame</key>
                <string>{{811,811},{144,403}}</string>
                <key>offset</key>
                <string>{4,187}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{144,403}}</string>
                <key>sourceSize</key>
                <string>{152,777}</string>
            </dict>
            <key>atlas/player/1919.png</key>
            <dict>
                <key>frame</key>
                <string>{{1219,406},{142,403}}</string>
                <key>offset</key>
                <string>{2,187}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{142,403}}</string>
                <key>sourceSize</key>
                <string>{148,777}</string>
            </dict>
            <key>atlas/player/1921.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,406},{148,403}}</string>
                <key>offset</key>
                <string>{0,187}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{148,403}}</string>
                <key>sourceSize</key>
                <string>{150,777}</string>
            </dict>
            <key>atlas/player/1923.png</key>
            <dict>
                <key>frame</key>
                <string>{{1074,1},{148,403}}</string>
                <key>offset</key>
                <string>{-1,187}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,403}}</string>
                <key>sourceSize</key>
                <string>{150,777}</string>
            </dict>
            <key>atlas/player/1925.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,1},{153,403}}</string>
                <key>offset</key>
                <string>{0,187}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,403}}</string>
                <key>sourceSize</key>
                <string>{153,777}</string>
            </dict>
            <key>atlas/player/1927.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,1},{151,403}}</string>
                <key>offset</key>
                <string>{0,187}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{151,403}}</string>
                <key>sourceSize</key>
                <string>{153,777}</string>
            </dict>
            <key>atlas/player/1929.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,406},{151,403}}</string>
                <key>offset</key>
                <string>{0,187}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{151,403}}</string>
                <key>sourceSize</key>
                <string>{153,777}</string>
            </dict>
            <key>atlas/player/1931.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,811},{149,403}}</string>
                <key>offset</key>
                <string>{-1,187}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,403}}</string>
                <key>sourceSize</key>
                <string>{151,777}</string>
            </dict>
            <key>atlas/player/1933.png</key>
            <dict>
                <key>frame</key>
                <string>{{1072,406},{145,403}}</string>
                <key>offset</key>
                <string>{4,187}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{145,403}}</string>
                <key>sourceSize</key>
                <string>{153,777}</string>
            </dict>
            <key>atlas/player/1935.png</key>
            <dict>
                <key>frame</key>
                <string>{{1368,1},{132,403}}</string>
                <key>offset</key>
                <string>{1,187}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{132,403}}</string>
                <key>sourceSize</key>
                <string>{134,777}</string>
            </dict>
            <key>atlas/player/1937.png</key>
            <dict>
                <key>frame</key>
                <string>{{1495,406},{116,403}}</string>
                <key>offset</key>
                <string>{0,187}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,403}}</string>
                <key>sourceSize</key>
                <string>{116,777}</string>
            </dict>
            <key>atlas/player/1939.png</key>
            <dict>
                <key>frame</key>
                <string>{{1626,1},{98,403}}</string>
                <key>offset</key>
                <string>{0,187}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,403}}</string>
                <key>sourceSize</key>
                <string>{98,777}</string>
            </dict>
            <key>atlas/player/1941.png</key>
            <dict>
                <key>frame</key>
                <string>{{1216,811},{81,400}}</string>
                <key>offset</key>
                <string>{0,188}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,400}}</string>
                <key>sourceSize</key>
                <string>{81,776}</string>
            </dict>
            <key>atlas/player/1943.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,962},{62,390}}</string>
                <key>offset</key>
                <string>{0,193}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,390}}</string>
                <key>sourceSize</key>
                <string>{62,776}</string>
            </dict>
            <key>atlas/player/1945.png</key>
            <dict>
                <key>frame</key>
                <string>{{1987,1},{44,386}}</string>
                <key>offset</key>
                <string>{0,195}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,386}}</string>
                <key>sourceSize</key>
                <string>{44,776}</string>
            </dict>
            <key>atlas/player/1947.png</key>
            <dict>
                <key>frame</key>
                <string>{{1216,922},{36,374}}</string>
                <key>offset</key>
                <string>{0,201}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,374}}</string>
                <key>sourceSize</key>
                <string>{36,776}</string>
            </dict>
            <key>atlas/player/1949.png</key>
            <dict>
                <key>frame</key>
                <string>{{1700,406},{35,356}}</string>
                <key>offset</key>
                <string>{0,210}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,356}}</string>
                <key>sourceSize</key>
                <string>{35,776}</string>
            </dict>
            <key>atlas/player/1951.png</key>
            <dict>
                <key>frame</key>
                <string>{{1737,404},{32,349}}</string>
                <key>offset</key>
                <string>{1,214}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{32,349}}</string>
                <key>sourceSize</key>
                <string>{34,777}</string>
            </dict>
            <key>atlas/player/1953.png</key>
            <dict>
                <key>frame</key>
                <string>{{1771,404},{28,337}}</string>
                <key>offset</key>
                <string>{1,220}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{28,337}}</string>
                <key>sourceSize</key>
                <string>{32,777}</string>
            </dict>
            <key>atlas/player/1956.png</key>
            <dict>
                <key>frame</key>
                <string>{{1613,406},{85,401}}</string>
                <key>offset</key>
                <string>{0,193}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,401}}</string>
                <key>sourceSize</key>
                <string>{85,787}</string>
            </dict>
            <key>atlas/player/1960.png</key>
            <dict>
                <key>frame</key>
                <string>{{1726,1},{85,401}}</string>
                <key>offset</key>
                <string>{0,193}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,401}}</string>
                <key>sourceSize</key>
                <string>{85,787}</string>
            </dict>
            <key>atlas/player/1962.png</key>
            <dict>
                <key>frame</key>
                <string>{{1813,1},{85,401}}</string>
                <key>offset</key>
                <string>{0,193}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,401}}</string>
                <key>sourceSize</key>
                <string>{85,787}</string>
            </dict>
            <key>atlas/player/1963.png</key>
            <dict>
                <key>frame</key>
                <string>{{1900,1},{85,401}}</string>
                <key>offset</key>
                <string>{0,193}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,401}}</string>
                <key>sourceSize</key>
                <string>{85,787}</string>
            </dict>
            <key>atlas/player/1964.png</key>
            <dict>
                <key>frame</key>
                <string>{{1618,809},{71,65}}</string>
                <key>offset</key>
                <string>{-4,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,65}}</string>
                <key>sourceSize</key>
                <string>{79,93}</string>
            </dict>
            <key>atlas/player/1966.png</key>
            <dict>
                <key>frame</key>
                <string>{{1159,960},{69,66}}</string>
                <key>offset</key>
                <string>{-4,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,66}}</string>
                <key>sourceSize</key>
                <string>{77,96}</string>
            </dict>
            <key>atlas/player/1968.png</key>
            <dict>
                <key>frame</key>
                <string>{{1829,404},{82,62}}</string>
                <key>offset</key>
                <string>{2,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{82,62}}</string>
                <key>sourceSize</key>
                <string>{86,88}</string>
            </dict>
            <key>atlas/player/1970.png</key>
            <dict>
                <key>frame</key>
                <string>{{1829,468},{80,61}}</string>
                <key>offset</key>
                <string>{2,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{80,61}}</string>
                <key>sourceSize</key>
                <string>{86,85}</string>
            </dict>
            <key>atlas/player/1972.png</key>
            <dict>
                <key>frame</key>
                <string>{{999,957},{77,58}}</string>
                <key>offset</key>
                <string>{2,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{77,58}}</string>
                <key>sourceSize</key>
                <string>{83,82}</string>
            </dict>
            <key>atlas/player/1974.png</key>
            <dict>
                <key>frame</key>
                <string>{{1689,972},{73,56}}</string>
                <key>offset</key>
                <string>{3,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,1},{73,56}}</string>
                <key>sourceSize</key>
                <string>{81,80}</string>
            </dict>
            <key>atlas/player/1976.png</key>
            <dict>
                <key>frame</key>
                <string>{{1939,598},{74,55}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{74,55}}</string>
                <key>sourceSize</key>
                <string>{76,77}</string>
            </dict>
            <key>atlas/player/1978.png</key>
            <dict>
                <key>frame</key>
                <string>{{1276,960},{78,54}}</string>
                <key>offset</key>
                <string>{-3,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,54}}</string>
                <key>sourceSize</key>
                <string>{84,74}</string>
            </dict>
            <key>atlas/player/1980.png</key>
            <dict>
                <key>frame</key>
                <string>{{1356,960},{78,51}}</string>
                <key>offset</key>
                <string>{-2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{78,51}}</string>
                <key>sourceSize</key>
                <string>{84,71}</string>
            </dict>
            <key>atlas/player/1982.png</key>
            <dict>
                <key>frame</key>
                <string>{{1436,960},{76,50}}</string>
                <key>offset</key>
                <string>{-2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,50}}</string>
                <key>sourceSize</key>
                <string>{80,68}</string>
            </dict>
            <key>atlas/player/1984.png</key>
            <dict>
                <key>frame</key>
                <string>{{1987,389},{79,49}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{79,49}}</string>
                <key>sourceSize</key>
                <string>{83,65}</string>
            </dict>
            <key>atlas/player/1986.png</key>
            <dict>
                <key>frame</key>
                <string>{{1908,704},{77,48}}</string>
                <key>offset</key>
                <string>{2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{77,48}}</string>
                <key>sourceSize</key>
                <string>{81,64}</string>
            </dict>
            <key>atlas/player/1988.png</key>
            <dict>
                <key>frame</key>
                <string>{{1960,470},{76,47}}</string>
                <key>offset</key>
                <string>{2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{76,47}}</string>
                <key>sourceSize</key>
                <string>{80,61}</string>
            </dict>
            <key>atlas/player/1990.png</key>
            <dict>
                <key>frame</key>
                <string>{{1913,404},{72,60}}</string>
                <key>offset</key>
                <string>{3,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{72,60}}</string>
                <key>sourceSize</key>
                <string>{78,88}</string>
            </dict>
            <key>atlas/player/1992.png</key>
            <dict>
                <key>frame</key>
                <string>{{1838,724},{68,59}}</string>
                <key>offset</key>
                <string>{3,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{68,59}}</string>
                <key>sourceSize</key>
                <string>{76,81}</string>
            </dict>
            <key>atlas/player/1994.png</key>
            <dict>
                <key>frame</key>
                <string>{{1078,957},{79,55}}</string>
                <key>offset</key>
                <string>{-3,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{79,55}}</string>
                <key>sourceSize</key>
                <string>{87,75}</string>
            </dict>
            <key>atlas/player/1996.png</key>
            <dict>
                <key>frame</key>
                <string>{{1514,960},{75,51}}</string>
                <key>offset</key>
                <string>{-3,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{75,51}}</string>
                <key>sourceSize</key>
                <string>{81,71}</string>
            </dict>
            <key>atlas/player/1998.png</key>
            <dict>
                <key>frame</key>
                <string>{{1987,704},{71,49}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,49}}</string>
                <key>sourceSize</key>
                <string>{75,65}</string>
            </dict>
            <key>atlas/player/2000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1618,876},{73,45}}</string>
                <key>offset</key>
                <string>{-3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{73,45}}</string>
                <key>sourceSize</key>
                <string>{79,61}</string>
            </dict>
            <key>atlas/player/2002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1838,785},{68,43}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{68,43}}</string>
                <key>sourceSize</key>
                <string>{74,55}</string>
            </dict>
            <key>atlas/player/2004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1905,531},{63,40}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,40}}</string>
                <key>sourceSize</key>
                <string>{65,48}</string>
            </dict>
            <key>atlas/player/2006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1791,822},{67,39}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{67,39}}</string>
                <key>sourceSize</key>
                <string>{79,45}</string>
            </dict>
            <key>atlas/player/2008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1700,764},{60,38}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{60,38}}</string>
                <key>sourceSize</key>
                <string>{72,42}</string>
            </dict>
            <key>atlas/player/2010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1983,910},{58,50}}</string>
                <key>offset</key>
                <string>{8,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{58,50}}</string>
                <key>sourceSize</key>
                <string>{74,70}</string>
            </dict>
            <key>atlas/player/2012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1984,856},{52,52}}</string>
                <key>offset</key>
                <string>{7,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{66,70}</string>
            </dict>
            <key>atlas/player/2014.png</key>
            <dict>
                <key>frame</key>
                <string>{{847,957},{72,50}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{72,50}}</string>
                <key>sourceSize</key>
                <string>{78,66}</string>
            </dict>
            <key>atlas/player/2016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1829,596},{77,59}}</string>
                <key>offset</key>
                <string>{-4,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,59}}</string>
                <key>sourceSize</key>
                <string>{85,81}</string>
            </dict>
            <key>atlas/player/2018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1832,830},{74,51}}</string>
                <key>offset</key>
                <string>{-3,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{74,51}}</string>
                <key>sourceSize</key>
                <string>{82,67}</string>
            </dict>
            <key>atlas/player/2020.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,957},{72,49}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,49}}</string>
                <key>sourceSize</key>
                <string>{78,61}</string>
            </dict>
            <key>atlas/player/2022.png</key>
            <dict>
                <key>frame</key>
                <string>{{1829,531},{74,63}}</string>
                <key>offset</key>
                <string>{-4,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,63}}</string>
                <key>sourceSize</key>
                <string>{82,91}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>cannon3_1.png</string>
            <key>size</key>
            <string>{2037,1030}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9f8fb78601354dc3b8b6428d85442826:d931a0a9d670a44485607012c95d56b7:65d18a271bdafef34a2a0f588b7a7009$</string>
            <key>textureFileName</key>
            <string>cannon3_1.png</string>
        </dict>
    </dict>
</plist>
