<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>atlas/NewUi/1060.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,737},{276,171}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{276,171}}</string>
                <key>sourceSize</key>
                <string>{276,181}</string>
            </dict>
            <key>atlas/NewUi/1062.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,727},{276,179}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{276,179}}</string>
                <key>sourceSize</key>
                <string>{276,181}</string>
            </dict>
            <key>atlas/NewUi/1064.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{276,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,182}}</string>
                <key>sourceSize</key>
                <string>{276,182}</string>
            </dict>
            <key>atlas/NewUi/1066.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,185},{276,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,182}}</string>
                <key>sourceSize</key>
                <string>{276,182}</string>
            </dict>
            <key>atlas/NewUi/1068.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,369},{276,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,182}}</string>
                <key>sourceSize</key>
                <string>{276,182}</string>
            </dict>
            <key>atlas/NewUi/1070.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,553},{276,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,182}}</string>
                <key>sourceSize</key>
                <string>{276,182}</string>
            </dict>
            <key>atlas/player/0132.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,910},{116,146}}</string>
                <key>offset</key>
                <string>{2,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{116,146}}</string>
                <key>sourceSize</key>
                <string>{120,258}</string>
            </dict>
            <key>atlas/player/0134.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,1520},{99,133}}</string>
                <key>offset</key>
                <string>{1,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{99,133}}</string>
                <key>sourceSize</key>
                <string>{101,225}</string>
            </dict>
            <key>atlas/player/0136.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,1520},{103,136}}</string>
                <key>offset</key>
                <string>{0,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,136}}</string>
                <key>sourceSize</key>
                <string>{103,232}</string>
            </dict>
            <key>atlas/player/0138.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1596},{113,142}}</string>
                <key>offset</key>
                <string>{0,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,142}}</string>
                <key>sourceSize</key>
                <string>{113,242}</string>
            </dict>
            <key>atlas/player/0140.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,1208},{118,143}}</string>
                <key>offset</key>
                <string>{1,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{118,143}}</string>
                <key>sourceSize</key>
                <string>{120,245}</string>
            </dict>
            <key>atlas/player/0142.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,1353},{117,143}}</string>
                <key>offset</key>
                <string>{2,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{117,143}}</string>
                <key>sourceSize</key>
                <string>{123,245}</string>
            </dict>
            <key>atlas/player/0144.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,1498},{116,140}}</string>
                <key>offset</key>
                <string>{1,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{116,140}}</string>
                <key>sourceSize</key>
                <string>{120,240}</string>
            </dict>
            <key>atlas/player/0146.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,1640},{130,141}}</string>
                <key>offset</key>
                <string>{1,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{130,141}}</string>
                <key>sourceSize</key>
                <string>{132,241}</string>
            </dict>
            <key>atlas/player/0148.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,1403},{115,142}}</string>
                <key>offset</key>
                <string>{0,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{115,142}}</string>
                <key>sourceSize</key>
                <string>{117,244}</string>
            </dict>
            <key>atlas/player/0150.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,1130},{126,148}}</string>
                <key>offset</key>
                <string>{-1,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,148}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
            <key>atlas/player/0152.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1036},{138,153}}</string>
                <key>offset</key>
                <string>{-3,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,153}}</string>
                <key>sourceSize</key>
                <string>{144,265}</string>
            </dict>
            <key>atlas/player/0154.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,910},{124,158}}</string>
                <key>offset</key>
                <string>{-4,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,158}}</string>
                <key>sourceSize</key>
                <string>{132,258}</string>
            </dict>
            <key>atlas/player/0156.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1459},{135,142}}</string>
                <key>offset</key>
                <string>{-3,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,142}}</string>
                <key>sourceSize</key>
                <string>{141,244}</string>
            </dict>
            <key>atlas/player/0158.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1176},{147,148}}</string>
                <key>offset</key>
                <string>{-5,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,148}}</string>
                <key>sourceSize</key>
                <string>{157,254}</string>
            </dict>
            <key>atlas/player/0160.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,1005},{123,149}}</string>
                <key>offset</key>
                <string>{0,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{123,149}}</string>
                <key>sourceSize</key>
                <string>{129,257}</string>
            </dict>
            <key>atlas/player/0162.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1325},{132,146}}</string>
                <key>offset</key>
                <string>{-3,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,146}}</string>
                <key>sourceSize</key>
                <string>{138,252}</string>
            </dict>
            <key>atlas/player/0164.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,1258},{143,144}}</string>
                <key>offset</key>
                <string>{-6,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,144}}</string>
                <key>sourceSize</key>
                <string>{155,248}</string>
            </dict>
            <key>atlas/player/0166.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,1655},{127,141}}</string>
                <key>offset</key>
                <string>{5,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{127,141}}</string>
                <key>sourceSize</key>
                <string>{137,241}</string>
            </dict>
            <key>atlas/player/0168.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1711},{108,142}}</string>
                <key>offset</key>
                <string>{0,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,142}}</string>
                <key>sourceSize</key>
                <string>{108,244}</string>
            </dict>
            <key>atlas/player/0170.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,1058},{121,148}}</string>
                <key>offset</key>
                <string>{-1,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,148}}</string>
                <key>sourceSize</key>
                <string>{123,254}</string>
            </dict>
            <key>atlas/player/0186.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,982},{35,98}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,36},{35,98}}</string>
                <key>sourceSize</key>
                <string>{35,134}</string>
            </dict>
            <key>atlas/player/0188.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,400},{34,96}}</string>
                <key>offset</key>
                <string>{1,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,34},{34,96}}</string>
                <key>sourceSize</key>
                <string>{36,130}</string>
            </dict>
            <key>atlas/player/0190.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,1282},{35,95}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,32},{35,95}}</string>
                <key>sourceSize</key>
                <string>{35,127}</string>
            </dict>
            <key>atlas/player/0192.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,1082},{35,98}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,36},{35,98}}</string>
                <key>sourceSize</key>
                <string>{35,134}</string>
            </dict>
            <key>atlas/player/0194.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,1},{34,98}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,35},{34,98}}</string>
                <key>sourceSize</key>
                <string>{34,134}</string>
            </dict>
            <key>atlas/player/0196.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,101},{34,98}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,36},{34,98}}</string>
                <key>sourceSize</key>
                <string>{34,134}</string>
            </dict>
            <key>atlas/player/0198.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,694},{34,94}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,32},{34,94}}</string>
                <key>sourceSize</key>
                <string>{34,126}</string>
            </dict>
            <key>atlas/player/0200.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,498},{34,96}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,34},{34,96}}</string>
                <key>sourceSize</key>
                <string>{34,130}</string>
            </dict>
            <key>atlas/player/0202.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,1182},{35,98}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,35},{35,98}}</string>
                <key>sourceSize</key>
                <string>{35,134}</string>
            </dict>
            <key>atlas/player/0204.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,1182},{35,98}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,36},{35,98}}</string>
                <key>sourceSize</key>
                <string>{35,134}</string>
            </dict>
            <key>atlas/player/0206.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,201},{34,98}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,36},{34,98}}</string>
                <key>sourceSize</key>
                <string>{34,134}</string>
            </dict>
            <key>atlas/player/0208.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,596},{34,96}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,34},{34,96}}</string>
                <key>sourceSize</key>
                <string>{34,130}</string>
            </dict>
            <key>atlas/player/0210.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,1282},{35,95}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,32},{35,95}}</string>
                <key>sourceSize</key>
                <string>{35,127}</string>
            </dict>
            <key>atlas/player/0212.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,301},{34,97}}</string>
                <key>offset</key>
                <string>{1,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,34},{34,97}}</string>
                <key>sourceSize</key>
                <string>{36,131}</string>
            </dict>
            <key>atlas/player/0214.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,882},{36,98}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,36},{36,98}}</string>
                <key>sourceSize</key>
                <string>{38,134}</string>
            </dict>
            <key>atlas/player/0301.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,790},{37,90}}</string>
                <key>offset</key>
                <string>{0,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,90}}</string>
                <key>sourceSize</key>
                <string>{37,138}</string>
            </dict>
            <key>atlas/player/0398.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,617},{108,186}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,186}}</string>
                <key>sourceSize</key>
                <string>{108,196}</string>
            </dict>
            <key>atlas/player/0400.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,1},{152,186}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{152,186}}</string>
                <key>sourceSize</key>
                <string>{154,196}</string>
            </dict>
            <key>atlas/player/0402.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,155},{152,186}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{152,186}}</string>
                <key>sourceSize</key>
                <string>{154,196}</string>
            </dict>
            <key>atlas/player/0404.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,309},{152,186}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{152,186}}</string>
                <key>sourceSize</key>
                <string>{154,196}</string>
            </dict>
            <key>atlas/player/0406.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,463},{152,186}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{152,186}}</string>
                <key>sourceSize</key>
                <string>{154,196}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>cannon4_1.png</string>
            <key>size</key>
            <string>{502,1820}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e2761c092af1b383232ff2b546e38c28:086c16a535d07ee627f4116c9471dae9:fc96b9182cce8115b3a596ca33881512$</string>
            <key>textureFileName</key>
            <string>cannon4_1.png</string>
        </dict>
    </dict>
</plist>
