<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>js_moguiyu_jin_000_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,268},{141,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,147}}</string>
                <key>sourceSize</key>
                <string>{141,147}</string>
            </dict>
            <key>js_moguiyu_jin_000_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,137},{141,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,147}}</string>
                <key>sourceSize</key>
                <string>{141,147}</string>
            </dict>
            <key>js_moguiyu_jin_000_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,818},{139,139}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,139}}</string>
                <key>sourceSize</key>
                <string>{139,141}</string>
            </dict>
            <key>js_moguiyu_jin_000_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,562},{141,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,131}}</string>
                <key>sourceSize</key>
                <string>{141,131}</string>
            </dict>
            <key>js_moguiyu_jin_000_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,385},{147,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,131}}</string>
                <key>sourceSize</key>
                <string>{147,131}</string>
            </dict>
            <key>js_moguiyu_jin_000_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,2},{151,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,133}}</string>
                <key>sourceSize</key>
                <string>{151,133}</string>
            </dict>
            <key>js_moguiyu_jin_000_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{151,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,137}}</string>
                <key>sourceSize</key>
                <string>{151,137}</string>
            </dict>
            <key>js_moguiyu_jin_000_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,2},{151,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,133}}</string>
                <key>sourceSize</key>
                <string>{151,133}</string>
            </dict>
            <key>js_moguiyu_jin_000_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,141},{149,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,123}}</string>
                <key>sourceSize</key>
                <string>{149,123}</string>
            </dict>
            <key>js_moguiyu_jin_000_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{149,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,117}}</string>
                <key>sourceSize</key>
                <string>{149,117}</string>
            </dict>
            <key>js_moguiyu_jin_000_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,137},{149,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,129}}</string>
                <key>sourceSize</key>
                <string>{149,129}</string>
            </dict>
            <key>js_moguiyu_jin_000_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,411},{145,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,139}}</string>
                <key>sourceSize</key>
                <string>{145,139}</string>
            </dict>
            <key>js_moguiyu_jin_000_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,280},{141,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,145}}</string>
                <key>sourceSize</key>
                <string>{141,145}</string>
            </dict>
            <key>js_moguiyu_jin_001_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,788},{131,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,141}}</string>
                <key>sourceSize</key>
                <string>{131,141}</string>
            </dict>
            <key>js_moguiyu_jin_001_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,423},{137,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,145}}</string>
                <key>sourceSize</key>
                <string>{137,145}</string>
            </dict>
            <key>js_moguiyu_jin_001_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,657},{129,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,143}}</string>
                <key>sourceSize</key>
                <string>{129,143}</string>
            </dict>
            <key>js_moguiyu_jin_001_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,818},{121,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,141}}</string>
                <key>sourceSize</key>
                <string>{121,141}</string>
            </dict>
            <key>js_moguiyu_jin_001_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,552},{131,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,143}}</string>
                <key>sourceSize</key>
                <string>{131,143}</string>
            </dict>
            <key>js_moguiyu_jin_001_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,518},{137,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,145}}</string>
                <key>sourceSize</key>
                <string>{137,145}</string>
            </dict>
            <key>js_moguiyu_jin_001_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,685},{131,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,141}}</string>
                <key>sourceSize</key>
                <string>{131,141}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>js_moguiyu_jin.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dec735c591b0bc81d0d9b7abf281ee62$</string>
            <key>textureFileName</key>
            <string>js_moguiyu_jin.png</string>
        </dict>
    </dict>
</plist>
