<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gold_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1204,1652},{606,390}}</string>
                <key>offset</key>
                <string>{-38,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,12},{606,390}}</string>
                <key>sourceSize</key>
                <string>{950,540}</string>
            </dict>
            <key>gold_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,1070},{866,280}}</string>
                <key>offset</key>
                <string>{-1,-100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,230},{866,280}}</string>
                <key>sourceSize</key>
                <string>{950,540}</string>
            </dict>
            <key>gold_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,276},{894,268}}</string>
                <key>offset</key>
                <string>{1,-111}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,247},{894,268}}</string>
                <key>sourceSize</key>
                <string>{950,540}</string>
            </dict>
            <key>gold_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,546},{914,262}}</string>
                <key>offset</key>
                <string>{0,-118}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,257},{914,262}}</string>
                <key>sourceSize</key>
                <string>{950,540}</string>
            </dict>
            <key>gold_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,516},{926,258}}</string>
                <key>offset</key>
                <string>{-1,-121}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,262},{926,258}}</string>
                <key>sourceSize</key>
                <string>{950,540}</string>
            </dict>
            <key>gold_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,810},{932,258}}</string>
                <key>offset</key>
                <string>{-2,-132}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,273},{932,258}}</string>
                <key>sourceSize</key>
                <string>{950,540}</string>
            </dict>
            <key>gold_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1070},{928,258}}</string>
                <key>offset</key>
                <string>{0,-134}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,275},{928,258}}</string>
                <key>sourceSize</key>
                <string>{950,540}</string>
            </dict>
            <key>gold_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{928,256}}</string>
                <key>offset</key>
                <string>{0,-135}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,277},{928,256}}</string>
                <key>sourceSize</key>
                <string>{950,540}</string>
            </dict>
            <key>gold_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,1652},{602,374}}</string>
                <key>offset</key>
                <string>{-37,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,34},{602,374}}</string>
                <key>sourceSize</key>
                <string>{950,540}</string>
            </dict>
            <key>gold_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1616},{596,338}}</string>
                <key>offset</key>
                <string>{-35,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,87},{596,338}}</string>
                <key>sourceSize</key>
                <string>{950,540}</string>
            </dict>
            <key>gold_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1250,2},{588,272}}</string>
                <key>offset</key>
                <string>{-32,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,172},{588,272}}</string>
                <key>sourceSize</key>
                <string>{950,540}</string>
            </dict>
            <key>gold_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{604,228}}</string>
                <key>offset</key>
                <string>{-23,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,217},{604,228}}</string>
                <key>sourceSize</key>
                <string>{950,540}</string>
            </dict>
            <key>gold_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,2},{640,254}}</string>
                <key>offset</key>
                <string>{-20,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,193},{640,254}}</string>
                <key>sourceSize</key>
                <string>{950,540}</string>
            </dict>
            <key>gold_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,776},{692,270}}</string>
                <key>offset</key>
                <string>{-20,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,202},{692,270}}</string>
                <key>sourceSize</key>
                <string>{950,540}</string>
            </dict>
            <key>gold_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1330},{738,284}}</string>
                <key>offset</key>
                <string>{-15,-78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,206},{738,284}}</string>
                <key>sourceSize</key>
                <string>{950,540}</string>
            </dict>
            <key>gold_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,1352},{820,298}}</string>
                <key>offset</key>
                <string>{-4,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,200},{820,298}}</string>
                <key>sourceSize</key>
                <string>{950,540}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>coinAni.pvr.png</string>
            <key>size</key>
            <string>{1846,2044}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3c61f47b9e3264effd12044b24dd7298:c5ad585bc3d520f6dca2119c685e7272:d8b7b4f9213530c222039ed11d3118a4$</string>
            <key>textureFileName</key>
            <string>coinAni.pvr.png</string>
        </dict>
    </dict>
</plist>
