<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>aim_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,433},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>aim_target_mark.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,416},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>auto_shoot_effect_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,1119},{130,96}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{130,96}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>auto_shoot_effect_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,1088},{130,96}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{130,96}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>auto_shoot_effect_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,1044},{130,106}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{130,106}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>auto_shoot_effect_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,986},{130,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{130,120}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>auto_shoot_effect_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,996},{126,120}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{126,120}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>auto_shoot_effect_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,599},{110,120}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,5},{110,120}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>auto_shoot_effect_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{679,202},{100,120}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,5},{100,120}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>auto_shoot_effect_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,1117},{116,120}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,5},{116,120}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>auto_shoot_effect_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,967},{130,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{130,120}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>boss_coming.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,322},{358,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{358,157}}</string>
                <key>sourceSize</key>
                <string>{362,159}</string>
            </dict>
            <key>bugp_ui_ring.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,1107},{118,118}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{118,118}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>by_effect_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,322},{118,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{118,120}}</string>
                <key>sourceSize</key>
                <string>{126,130}</string>
            </dict>
            <key>by_effect_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,711},{127,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{127,148}}</string>
                <key>sourceSize</key>
                <string>{129,148}</string>
            </dict>
            <key>by_effect_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{679,323},{91,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{91,92}}</string>
                <key>sourceSize</key>
                <string>{91,102}</string>
            </dict>
            <key>by_effect_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{673,497},{74,79}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{74,79}}</string>
                <key>sourceSize</key>
                <string>{82,83}</string>
            </dict>
            <key>by_effect_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,562},{129,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,148}}</string>
                <key>sourceSize</key>
                <string>{129,148}</string>
            </dict>
            <key>cannon_rage.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,863},{140,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{140,132}}</string>
                <key>sourceSize</key>
                <string>{146,140}</string>
            </dict>
            <key>cannon_switch0.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,403},{180,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{180,178}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>cannon_switch1.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,860},{134,125}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{134,125}}</string>
                <key>sourceSize</key>
                <string>{146,135}</string>
            </dict>
            <key>coin_animation_5_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,523},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>coin_animation_5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,628},{40,50}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{40,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>coin_animation_5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,403},{16,50}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{16,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>coin_animation_5_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,675},{44,50}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>coin_animation_5_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,574},{44,50}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{44,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>coin_animation_5_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,454},{12,50}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{12,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>coin_animation_5_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,577},{40,50}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{40,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>fish_com1.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,443},{118,118}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{118,118}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>fish_com12.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,942},{176,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,176}}</string>
                <key>sourceSize</key>
                <string>{176,176}</string>
            </dict>
            <key>fish_coming.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,480},{289,118}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{289,118}}</string>
                <key>sourceSize</key>
                <string>{291,118}</string>
            </dict>
            <key>goldAnimation_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,1073},{62,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,29},{62,10}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>goldAnimation_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,480},{62,42}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,15},{62,42}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>goldAnimation_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,377},{62,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{62,62}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>goldAnimation_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,314},{62,62}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{62,62}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>goldAnimation_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,755},{62,42}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,11},{62,42}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>goldAnimation_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,1062},{62,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,29},{62,10}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>goldAnimation_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,712},{62,42}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,15},{62,42}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>goldAnimation_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,440},{62,60}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{62,60}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>goldAnimation_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,251},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{62,62}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>goldAnimation_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,501},{62,48}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{62,48}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>goldAnimation_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,946},{62,20}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,23},{62,20}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>net_bomb.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,1},{238,249}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,249}}</string>
                <key>sourceSize</key>
                <string>{238,249}</string>
            </dict>
            <key>pillar_coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,658},{31,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,5}}</string>
                <key>sourceSize</key>
                <string>{31,5}</string>
            </dict>
            <key>pillar_roll_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,869},{38,12}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{38,12}}</string>
                <key>sourceSize</key>
                <string>{38,36}</string>
            </dict>
            <key>pillar_roll_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,848},{38,20}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{38,20}}</string>
                <key>sourceSize</key>
                <string>{38,36}</string>
            </dict>
            <key>pillar_roll_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,794},{38,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{38,28}}</string>
                <key>sourceSize</key>
                <string>{38,36}</string>
            </dict>
            <key>pillar_roll_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,625},{38,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,36}}</string>
                <key>sourceSize</key>
                <string>{38,36}</string>
            </dict>
            <key>pillar_roll_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,726},{38,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,36}}</string>
                <key>sourceSize</key>
                <string>{38,36}</string>
            </dict>
            <key>pillar_roll_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,719},{38,34}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{38,34}}</string>
                <key>sourceSize</key>
                <string>{38,36}</string>
            </dict>
            <key>pillar_roll_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,763},{38,30}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{38,30}}</string>
                <key>sourceSize</key>
                <string>{38,36}</string>
            </dict>
            <key>pillar_roll_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,823},{38,24}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{38,24}}</string>
                <key>sourceSize</key>
                <string>{38,36}</string>
            </dict>
            <key>pillar_top_bg_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,907},{75,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,19}}</string>
                <key>sourceSize</key>
                <string>{75,19}</string>
            </dict>
            <key>pillar_top_bg_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,927},{75,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,18}}</string>
                <key>sourceSize</key>
                <string>{75,18}</string>
            </dict>
            <key>s_frozen.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{480,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,320}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>screen_bloody.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,1},{300,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,200}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>screen_frozen.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,1226},{363,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{363,78}}</string>
                <key>sourceSize</key>
                <string>{363,78}</string>
            </dict>
            <key>silvercoin_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,1094},{55,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,25},{55,9}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>silvercoin_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,755},{55,37}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,13},{55,37}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>silvercoin_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,658},{55,53}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{55,53}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>silvercoin_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,577},{55,53}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{55,53}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>silvercoin_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,717},{55,37}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,9},{55,37}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>silvercoin_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,1084},{55,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,25},{55,9}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>silvercoin_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,679},{55,37}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,12},{55,37}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>silvercoin_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,604},{55,53}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{55,53}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>silvercoin_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,550},{55,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{55,53}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>silvercoin_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,631},{55,43}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{55,43}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>silvercoin_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,1044},{55,17}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,20},{55,17}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>tray_BOMP.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,798},{84,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,27}}</string>
                <key>sourceSize</key>
                <string>{84,27}</string>
            </dict>
            <key>tray_DASANYUAN.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,847},{65,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,26}}</string>
                <key>sourceSize</key>
                <string>{65,26}</string>
            </dict>
            <key>tray_DASIXI.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,820},{65,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,26}}</string>
                <key>sourceSize</key>
                <string>{65,26}</string>
            </dict>
            <key>tray_YIWANGDAJIN.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,826},{84,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,26}}</string>
                <key>sourceSize</key>
                <string>{84,26}</string>
            </dict>
            <key>tray_fish_type_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,793},{65,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,26}}</string>
                <key>sourceSize</key>
                <string>{65,26}</string>
            </dict>
            <key>tray_fish_type_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,836},{65,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,26}}</string>
                <key>sourceSize</key>
                <string>{65,26}</string>
            </dict>
            <key>tray_fish_type_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,754},{65,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,27}}</string>
                <key>sourceSize</key>
                <string>{65,27}</string>
            </dict>
            <key>tray_fish_type_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,902},{51,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,27}}</string>
                <key>sourceSize</key>
                <string>{51,27}</string>
            </dict>
            <key>tray_fish_type_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,930},{50,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,26}}</string>
                <key>sourceSize</key>
                <string>{50,26}</string>
            </dict>
            <key>tray_fish_type_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,874},{51,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,27}}</string>
                <key>sourceSize</key>
                <string>{51,27}</string>
            </dict>
            <key>tray_fish_type_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,809},{65,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,26}}</string>
                <key>sourceSize</key>
                <string>{65,26}</string>
            </dict>
            <key>tray_fish_type_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,662},{50,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,27}}</string>
                <key>sourceSize</key>
                <string>{50,27}</string>
            </dict>
            <key>tray_fish_type_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,835},{84,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,27}}</string>
                <key>sourceSize</key>
                <string>{84,27}</string>
            </dict>
            <key>tray_fish_type_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,782},{65,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,26}}</string>
                <key>sourceSize</key>
                <string>{65,26}</string>
            </dict>
            <key>tray_fish_type_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,880},{84,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,26}}</string>
                <key>sourceSize</key>
                <string>{84,26}</string>
            </dict>
            <key>tray_fish_type_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,853},{84,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,26}}</string>
                <key>sourceSize</key>
                <string>{84,26}</string>
            </dict>
            <key>tray_fish_type_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,807},{84,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,27}}</string>
                <key>sourceSize</key>
                <string>{84,27}</string>
            </dict>
            <key>tray_fish_type_59.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,778},{85,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{85,28}}</string>
                <key>sourceSize</key>
                <string>{85,30}</string>
            </dict>
            <key>tray_fish_type_60.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,749},{86,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{86,28}}</string>
                <key>sourceSize</key>
                <string>{86,30}</string>
            </dict>
            <key>tray_fish_type_61.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,720},{86,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{86,28}}</string>
                <key>sourceSize</key>
                <string>{86,30}</string>
            </dict>
            <key>tray_hedan.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,690},{48,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{48,28}}</string>
                <key>sourceSize</key>
                <string>{48,30}</string>
            </dict>
            <key>your_position.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,1151},{138,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,74}}</string>
                <key>sourceSize</key>
                <string>{138,74}</string>
            </dict>
            <key>zp_deng1.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,793},{178,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,179}}</string>
                <key>sourceSize</key>
                <string>{178,179}</string>
            </dict>
            <key>zp_deng2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,959},{178,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,179}}</string>
                <key>sourceSize</key>
                <string>{178,179}</string>
            </dict>
            <key>zp_deng3.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,762},{178,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,179}}</string>
                <key>sourceSize</key>
                <string>{178,179}</string>
            </dict>
            <key>zp_deng4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,779},{178,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,179}}</string>
                <key>sourceSize</key>
                <string>{178,179}</string>
            </dict>
            <key>zp_deng5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,599},{178,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,179}}</string>
                <key>sourceSize</key>
                <string>{178,179}</string>
            </dict>
            <key>zp_deng6.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,582},{178,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,179}}</string>
                <key>sourceSize</key>
                <string>{178,179}</string>
            </dict>
            <key>zp_deng7.png</key>
            <dict>
                <key>frame</key>
                <string>{{757,613},{178,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,179}}</string>
                <key>sourceSize</key>
                <string>{178,179}</string>
            </dict>
            <key>zp_deng8.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,433},{178,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,179}}</string>
                <key>sourceSize</key>
                <string>{178,179}</string>
            </dict>
            <key>zp_di2.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,251},{180,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,181}}</string>
                <key>sourceSize</key>
                <string>{180,181}</string>
            </dict>
            <key>zp_di3.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,973},{198,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,70}}</string>
                <key>sourceSize</key>
                <string>{198,70}</string>
            </dict>
            <key>zp_dizong.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,202},{196,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,200}}</string>
                <key>sourceSize</key>
                <string>{196,200}</string>
            </dict>
            <key>zp_effect_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1139},{175,168}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,12},{175,168}}</string>
                <key>sourceSize</key>
                <string>{181,184}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>common_image1.png</string>
            <key>size</key>
            <string>{1024,1308}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:695623c41f96a2c826f5f439919457e3$</string>
            <key>textureFileName</key>
            <string>common_image1.png</string>
        </dict>
    </dict>
</plist>
