<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>baozi_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,137},{133,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,136}}</string>
                <key>sourceSize</key>
                <string>{133,136}</string>
            </dict>
            <key>baozi_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,137},{133,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,136}}</string>
                <key>sourceSize</key>
                <string>{133,136}</string>
            </dict>
            <key>baozi_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,137},{133,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,136}}</string>
                <key>sourceSize</key>
                <string>{133,136}</string>
            </dict>
            <key>baozi_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,137},{133,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,136}}</string>
                <key>sourceSize</key>
                <string>{133,136}</string>
            </dict>
            <key>baozi_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,87},{108,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,89}}</string>
                <key>sourceSize</key>
                <string>{108,89}</string>
            </dict>
            <key>caishen_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,137},{133,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,136}}</string>
                <key>sourceSize</key>
                <string>{133,136}</string>
            </dict>
            <key>caishen_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,137},{133,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,136}}</string>
                <key>sourceSize</key>
                <string>{133,136}</string>
            </dict>
            <key>caishen_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,137},{133,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,136}}</string>
                <key>sourceSize</key>
                <string>{133,136}</string>
            </dict>
            <key>caishen_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,137},{133,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,136}}</string>
                <key>sourceSize</key>
                <string>{133,136}</string>
            </dict>
            <key>caishen_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,405},{97,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,98}}</string>
                <key>sourceSize</key>
                <string>{97,98}</string>
            </dict>
            <key>cuiyu_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,272},{105,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{105,136}}</string>
                <key>sourceSize</key>
                <string>{133,136}</string>
            </dict>
            <key>cuiyu_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,272},{105,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{105,136}}</string>
                <key>sourceSize</key>
                <string>{133,136}</string>
            </dict>
            <key>cuiyu_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,272},{105,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{105,136}}</string>
                <key>sourceSize</key>
                <string>{133,136}</string>
            </dict>
            <key>cuiyu_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,272},{105,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{105,136}}</string>
                <key>sourceSize</key>
                <string>{133,136}</string>
            </dict>
            <key>cuiyu_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,197},{105,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,89}}</string>
                <key>sourceSize</key>
                <string>{105,89}</string>
            </dict>
            <key>fudai_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,137},{133,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,136}}</string>
                <key>sourceSize</key>
                <string>{133,136}</string>
            </dict>
            <key>fudai_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,137},{133,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,136}}</string>
                <key>sourceSize</key>
                <string>{133,136}</string>
            </dict>
            <key>fudai_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,137},{133,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,136}}</string>
                <key>sourceSize</key>
                <string>{133,136}</string>
            </dict>
            <key>fudai_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,137},{133,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,136}}</string>
                <key>sourceSize</key>
                <string>{133,136}</string>
            </dict>
            <key>fudai_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,615},{97,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,96}}</string>
                <key>sourceSize</key>
                <string>{97,96}</string>
            </dict>
            <key>guanyuan_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,2},{133,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,136}}</string>
                <key>sourceSize</key>
                <string>{133,136}</string>
            </dict>
            <key>guanyuan_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,2},{133,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,136}}</string>
                <key>sourceSize</key>
                <string>{133,136}</string>
            </dict>
            <key>guanyuan_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,2},{133,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,136}}</string>
                <key>sourceSize</key>
                <string>{133,136}</string>
            </dict>
            <key>guanyuan_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,2},{133,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,136}}</string>
                <key>sourceSize</key>
                <string>{133,136}</string>
            </dict>
            <key>guanyuan_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,393},{121,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,119}}</string>
                <key>sourceSize</key>
                <string>{121,119}</string>
            </dict>
            <key>heshang_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,272},{107,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,0},{107,136}}</string>
                <key>sourceSize</key>
                <string>{133,136}</string>
            </dict>
            <key>heshang_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,272},{107,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,0},{107,136}}</string>
                <key>sourceSize</key>
                <string>{133,136}</string>
            </dict>
            <key>heshang_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,272},{107,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,0},{107,136}}</string>
                <key>sourceSize</key>
                <string>{133,136}</string>
            </dict>
            <key>heshang_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,272},{107,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,0},{107,136}}</string>
                <key>sourceSize</key>
                <string>{133,136}</string>
            </dict>
            <key>heshang_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,484},{104,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,96}}</string>
                <key>sourceSize</key>
                <string>{104,96}</string>
            </dict>
            <key>hulu_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,381},{83,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,3},{83,130}}</string>
                <key>sourceSize</key>
                <string>{133,136}</string>
            </dict>
            <key>hulu_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,381},{83,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,3},{83,130}}</string>
                <key>sourceSize</key>
                <string>{133,136}</string>
            </dict>
            <key>hulu_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,381},{83,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,3},{83,130}}</string>
                <key>sourceSize</key>
                <string>{133,136}</string>
            </dict>
            <key>hulu_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,381},{83,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,3},{83,130}}</string>
                <key>sourceSize</key>
                <string>{133,136}</string>
            </dict>
            <key>hulu_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,2},{83,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,90}}</string>
                <key>sourceSize</key>
                <string>{83,90}</string>
            </dict>
            <key>jinyu_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,2},{133,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,136}}</string>
                <key>sourceSize</key>
                <string>{133,136}</string>
            </dict>
            <key>jinyu_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,2},{133,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,136}}</string>
                <key>sourceSize</key>
                <string>{133,136}</string>
            </dict>
            <key>jinyu_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,2},{133,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,136}}</string>
                <key>sourceSize</key>
                <string>{133,136}</string>
            </dict>
            <key>jinyu_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,2},{133,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,136}}</string>
                <key>sourceSize</key>
                <string>{133,136}</string>
            </dict>
            <key>jinyu_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,514},{114,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,99}}</string>
                <key>sourceSize</key>
                <string>{114,99}</string>
            </dict>
            <key>laotou_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{119,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{119,136}}</string>
                <key>sourceSize</key>
                <string>{133,136}</string>
            </dict>
            <key>laotou_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{119,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{119,136}}</string>
                <key>sourceSize</key>
                <string>{133,136}</string>
            </dict>
            <key>laotou_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{119,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{119,136}}</string>
                <key>sourceSize</key>
                <string>{133,136}</string>
            </dict>
            <key>laotou_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{119,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{119,136}}</string>
                <key>sourceSize</key>
                <string>{133,136}</string>
            </dict>
            <key>laotou_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,466},{120,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,108}}</string>
                <key>sourceSize</key>
                <string>{120,108}</string>
            </dict>
            <key>qiaozhong_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{133,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,136}}</string>
                <key>sourceSize</key>
                <string>{133,136}</string>
            </dict>
            <key>qiaozhong_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{133,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,136}}</string>
                <key>sourceSize</key>
                <string>{133,136}</string>
            </dict>
            <key>qiaozhong_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{133,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,136}}</string>
                <key>sourceSize</key>
                <string>{133,136}</string>
            </dict>
            <key>qiaozhong_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{133,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,136}}</string>
                <key>sourceSize</key>
                <string>{133,136}</string>
            </dict>
            <key>qiaozhong_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,576},{103,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,103}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>taozi_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,379},{103,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,2},{103,132}}</string>
                <key>sourceSize</key>
                <string>{133,136}</string>
            </dict>
            <key>taozi_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,379},{103,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,2},{103,132}}</string>
                <key>sourceSize</key>
                <string>{133,136}</string>
            </dict>
            <key>taozi_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,379},{103,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,2},{103,132}}</string>
                <key>sourceSize</key>
                <string>{133,136}</string>
            </dict>
            <key>taozi_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,379},{103,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,2},{103,132}}</string>
                <key>sourceSize</key>
                <string>{133,136}</string>
            </dict>
            <key>taozi_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,304},{99,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,86}}</string>
                <key>sourceSize</key>
                <string>{99,86}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game1_itemJump.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cd71518ffc4d57df650e22058eebb629$</string>
            <key>textureFileName</key>
            <string>game1_itemJump.png</string>
        </dict>
    </dict>
</plist>
