<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cloud_left_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1474,874},{366,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{366,216}}</string>
                <key>sourceSize</key>
                <string>{366,216}</string>
            </dict>
            <key>cloud_left_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1106,874},{366,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{366,216}}</string>
                <key>sourceSize</key>
                <string>{366,216}</string>
            </dict>
            <key>cloud_left_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,874},{366,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{366,216}}</string>
                <key>sourceSize</key>
                <string>{366,216}</string>
            </dict>
            <key>cloud_left_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,874},{366,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{366,216}}</string>
                <key>sourceSize</key>
                <string>{366,216}</string>
            </dict>
            <key>cloud_left_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,874},{366,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{366,216}}</string>
                <key>sourceSize</key>
                <string>{366,216}</string>
            </dict>
            <key>cloud_left_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1474,656},{366,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{366,216}}</string>
                <key>sourceSize</key>
                <string>{366,216}</string>
            </dict>
            <key>cloud_left_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1106,656},{366,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{366,216}}</string>
                <key>sourceSize</key>
                <string>{366,216}</string>
            </dict>
            <key>cloud_left_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,656},{366,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{366,216}}</string>
                <key>sourceSize</key>
                <string>{366,216}</string>
            </dict>
            <key>cloud_left_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,656},{366,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{366,216}}</string>
                <key>sourceSize</key>
                <string>{366,216}</string>
            </dict>
            <key>cloud_left_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,656},{366,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{366,216}}</string>
                <key>sourceSize</key>
                <string>{366,216}</string>
            </dict>
            <key>cloud_left_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1474,438},{366,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{366,216}}</string>
                <key>sourceSize</key>
                <string>{366,216}</string>
            </dict>
            <key>cloud_left_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1106,438},{366,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{366,216}}</string>
                <key>sourceSize</key>
                <string>{366,216}</string>
            </dict>
            <key>cloud_left_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,438},{366,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{366,216}}</string>
                <key>sourceSize</key>
                <string>{366,216}</string>
            </dict>
            <key>cloud_left_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,438},{366,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{366,216}}</string>
                <key>sourceSize</key>
                <string>{366,216}</string>
            </dict>
            <key>cloud_left_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,438},{366,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{366,216}}</string>
                <key>sourceSize</key>
                <string>{366,216}</string>
            </dict>
            <key>cloud_left_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1474,220},{366,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{366,216}}</string>
                <key>sourceSize</key>
                <string>{366,216}</string>
            </dict>
            <key>cloud_left_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1106,220},{366,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{366,216}}</string>
                <key>sourceSize</key>
                <string>{366,216}</string>
            </dict>
            <key>cloud_left_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,220},{366,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{366,216}}</string>
                <key>sourceSize</key>
                <string>{366,216}</string>
            </dict>
            <key>cloud_left_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,220},{366,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{366,216}}</string>
                <key>sourceSize</key>
                <string>{366,216}</string>
            </dict>
            <key>cloud_left_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{366,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{366,216}}</string>
                <key>sourceSize</key>
                <string>{366,216}</string>
            </dict>
            <key>cloud_left_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{1474,2},{366,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{366,216}}</string>
                <key>sourceSize</key>
                <string>{366,216}</string>
            </dict>
            <key>cloud_left_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1106,2},{366,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{366,216}}</string>
                <key>sourceSize</key>
                <string>{366,216}</string>
            </dict>
            <key>cloud_left_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,2},{366,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{366,216}}</string>
                <key>sourceSize</key>
                <string>{366,216}</string>
            </dict>
            <key>cloud_left_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,2},{366,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{366,216}}</string>
                <key>sourceSize</key>
                <string>{366,216}</string>
            </dict>
            <key>cloud_left_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{366,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{366,216}}</string>
                <key>sourceSize</key>
                <string>{366,216}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lhj_cloud_near_left.png</string>
            <key>size</key>
            <string>{1842,1092}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:84b7276aca0a61a389df4e48401684b4:1/1$</string>
            <key>textureFileName</key>
            <string>lhj_cloud_near_left.png</string>
        </dict>
    </dict>
</plist>
