<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cloud_right_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,1730},{456,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{456,286}}</string>
                <key>sourceSize</key>
                <string>{456,286}</string>
            </dict>
            <key>cloud_right_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,1730},{456,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{456,286}}</string>
                <key>sourceSize</key>
                <string>{456,286}</string>
            </dict>
            <key>cloud_right_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1730},{456,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{456,286}}</string>
                <key>sourceSize</key>
                <string>{456,286}</string>
            </dict>
            <key>cloud_right_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1376,1376},{456,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{456,286}}</string>
                <key>sourceSize</key>
                <string>{456,286}</string>
            </dict>
            <key>cloud_right_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,1442},{456,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{456,286}}</string>
                <key>sourceSize</key>
                <string>{456,286}</string>
            </dict>
            <key>cloud_right_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,1442},{456,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{456,286}}</string>
                <key>sourceSize</key>
                <string>{456,286}</string>
            </dict>
            <key>cloud_right_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1442},{456,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{456,286}}</string>
                <key>sourceSize</key>
                <string>{456,286}</string>
            </dict>
            <key>cloud_right_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,1154},{456,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{456,286}}</string>
                <key>sourceSize</key>
                <string>{456,286}</string>
            </dict>
            <key>cloud_right_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,1154},{456,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{456,286}}</string>
                <key>sourceSize</key>
                <string>{456,286}</string>
            </dict>
            <key>cloud_right_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1154},{456,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{456,286}}</string>
                <key>sourceSize</key>
                <string>{456,286}</string>
            </dict>
            <key>cloud_right_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1376,918},{456,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{456,286}}</string>
                <key>sourceSize</key>
                <string>{456,286}</string>
            </dict>
            <key>cloud_right_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,866},{456,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{456,286}}</string>
                <key>sourceSize</key>
                <string>{456,286}</string>
            </dict>
            <key>cloud_right_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,866},{456,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{456,286}}</string>
                <key>sourceSize</key>
                <string>{456,286}</string>
            </dict>
            <key>cloud_right_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,866},{456,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{456,286}}</string>
                <key>sourceSize</key>
                <string>{456,286}</string>
            </dict>
            <key>cloud_right_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1376,460},{456,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{456,286}}</string>
                <key>sourceSize</key>
                <string>{456,286}</string>
            </dict>
            <key>cloud_right_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,578},{456,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{456,286}}</string>
                <key>sourceSize</key>
                <string>{456,286}</string>
            </dict>
            <key>cloud_right_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,578},{456,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{456,286}}</string>
                <key>sourceSize</key>
                <string>{456,286}</string>
            </dict>
            <key>cloud_right_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,578},{456,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{456,286}}</string>
                <key>sourceSize</key>
                <string>{456,286}</string>
            </dict>
            <key>cloud_right_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,290},{456,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{456,286}}</string>
                <key>sourceSize</key>
                <string>{456,286}</string>
            </dict>
            <key>cloud_right_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,290},{456,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{456,286}}</string>
                <key>sourceSize</key>
                <string>{456,286}</string>
            </dict>
            <key>cloud_right_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{456,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{456,286}}</string>
                <key>sourceSize</key>
                <string>{456,286}</string>
            </dict>
            <key>cloud_right_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1376,2},{456,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{456,286}}</string>
                <key>sourceSize</key>
                <string>{456,286}</string>
            </dict>
            <key>cloud_right_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,2},{456,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{456,286}}</string>
                <key>sourceSize</key>
                <string>{456,286}</string>
            </dict>
            <key>cloud_right_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,2},{456,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{456,286}}</string>
                <key>sourceSize</key>
                <string>{456,286}</string>
            </dict>
            <key>cloud_right_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{456,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{456,286}}</string>
                <key>sourceSize</key>
                <string>{456,286}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lhj_cloud_near_right.png</string>
            <key>size</key>
            <string>{1664,2018}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8c5d62f8f10acec48b4b3bedfffac099:1/1$</string>
            <key>textureFileName</key>
            <string>lhj_cloud_near_right.png</string>
        </dict>
    </dict>
</plist>
