<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>slots_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,773},{152,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,17},{152,110}}</string>
                <key>sourceSize</key>
                <string>{270,144}</string>
            </dict>
            <key>slots_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,870},{132,132}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,8},{132,132}}</string>
                <key>sourceSize</key>
                <string>{270,144}</string>
            </dict>
            <key>slots_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,337},{140,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,0},{140,148}}</string>
                <key>sourceSize</key>
                <string>{270,148}</string>
            </dict>
            <key>slots_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,633},{140,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,3},{140,138}}</string>
                <key>sourceSize</key>
                <string>{270,144}</string>
            </dict>
            <key>slots_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,487},{142,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,0},{142,144}}</string>
                <key>sourceSize</key>
                <string>{270,144}</string>
            </dict>
            <key>slots_51_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,436},{266,432}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,432}}</string>
                <key>sourceSize</key>
                <string>{266,432}</string>
            </dict>
            <key>slots_51_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,2},{266,432}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,432}}</string>
                <key>sourceSize</key>
                <string>{266,432}</string>
            </dict>
            <key>slots_51_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,436},{266,432}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,432}}</string>
                <key>sourceSize</key>
                <string>{266,432}</string>
            </dict>
            <key>slots_51_fs_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,2},{266,432}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,432}}</string>
                <key>sourceSize</key>
                <string>{266,432}</string>
            </dict>
            <key>slots_51_fs_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,436},{266,432}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,432}}</string>
                <key>sourceSize</key>
                <string>{266,432}</string>
            </dict>
            <key>slots_51_fs_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{266,432}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,432}}</string>
                <key>sourceSize</key>
                <string>{266,432}</string>
            </dict>
            <key>slots_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,186},{254,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{254,149}}</string>
                <key>sourceSize</key>
                <string>{270,149}</string>
            </dict>
            <key>slots_71.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,2},{270,182}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,182}}</string>
                <key>sourceSize</key>
                <string>{270,208}</string>
            </dict>
            <key>slots_fnt_fs.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,877},{94,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,27}}</string>
                <key>sourceSize</key>
                <string>{94,27}</string>
            </dict>
            <key>slots_fnt_fs_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,879},{94,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,27}}</string>
                <key>sourceSize</key>
                <string>{94,27}</string>
            </dict>
            <key>slots_fnt_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{1039,655},{94,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,26}}</string>
                <key>sourceSize</key>
                <string>{94,26}</string>
            </dict>
            <key>slots_fnt_select_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1049,337},{94,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,26}}</string>
                <key>sourceSize</key>
                <string>{94,26}</string>
            </dict>
            <key>slots_fs_back_dec.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,870},{110,356}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,356}}</string>
                <key>sourceSize</key>
                <string>{110,356}</string>
            </dict>
            <key>slots_fs_btn_again_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,459},{204,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,59}}</string>
                <key>sourceSize</key>
                <string>{204,59}</string>
            </dict>
            <key>slots_fs_btn_again_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,944},{194,57}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{194,57}}</string>
                <key>sourceSize</key>
                <string>{204,59}</string>
            </dict>
            <key>slots_fs_btn_begin_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,954},{204,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,59}}</string>
                <key>sourceSize</key>
                <string>{204,59}</string>
            </dict>
            <key>slots_fs_btn_begin_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,885},{194,57}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{194,57}}</string>
                <key>sourceSize</key>
                <string>{204,59}</string>
            </dict>
            <key>slots_fs_btn_end_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,893},{204,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,59}}</string>
                <key>sourceSize</key>
                <string>{204,59}</string>
            </dict>
            <key>slots_fs_btn_end_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{1011,459},{194,57}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{194,57}}</string>
                <key>sourceSize</key>
                <string>{204,59}</string>
            </dict>
            <key>slots_loadbar.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,870},{266,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,21}}</string>
                <key>sourceSize</key>
                <string>{266,21}</string>
            </dict>
            <key>slots_loadbar_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,982},{308,34}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{308,34}}</string>
                <key>sourceSize</key>
                <string>{308,38}</string>
            </dict>
            <key>slots_ptable_btn_close_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,665},{81,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,81}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>slots_ptable_btn_close_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,748},{77,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{77,77}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>slots_ptable_btn_next_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,827},{50,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,59}}</string>
                <key>sourceSize</key>
                <string>{50,59}</string>
            </dict>
            <key>slots_ptable_btn_next_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{1021,827},{48,57}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{48,57}}</string>
                <key>sourceSize</key>
                <string>{50,59}</string>
            </dict>
            <key>slots_ptable_btn_return_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,893},{204,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,59}}</string>
                <key>sourceSize</key>
                <string>{204,59}</string>
            </dict>
            <key>slots_ptable_btn_return_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{1011,459},{194,57}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{194,57}}</string>
                <key>sourceSize</key>
                <string>{204,59}</string>
            </dict>
            <key>slots_select_flower_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,893},{120,99}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{120,99}}</string>
                <key>sourceSize</key>
                <string>{126,101}</string>
            </dict>
            <key>slots_select_flower_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,337},{120,99}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{120,99}}</string>
                <key>sourceSize</key>
                <string>{126,101}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Slots_ZhouSiZhiNu.png</string>
            <key>size</key>
            <string>{1080,1022}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d243272d454f00084e6a508c6912aee4:1/1$</string>
            <key>textureFileName</key>
            <string>Slots_ZhouSiZhiNu.png</string>
        </dict>
    </dict>
</plist>
