<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>atlas/01_glod_fish/0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,79},{12,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,35}}</string>
                <key>sourceSize</key>
                <string>{12,35}</string>
            </dict>
            <key>atlas/01_glod_fish/0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,116},{12,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,35}}</string>
                <key>sourceSize</key>
                <string>{12,35}</string>
            </dict>
            <key>atlas/01_glod_fish/0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,153},{12,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,35}}</string>
                <key>sourceSize</key>
                <string>{12,35}</string>
            </dict>
            <key>atlas/01_glod_fish/0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,190},{12,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,35}}</string>
                <key>sourceSize</key>
                <string>{12,35}</string>
            </dict>
            <key>atlas/01_glod_fish/0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,227},{12,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,35}}</string>
                <key>sourceSize</key>
                <string>{12,35}</string>
            </dict>
            <key>atlas/01_glod_fish/0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,264},{12,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,35}}</string>
                <key>sourceSize</key>
                <string>{12,35}</string>
            </dict>
            <key>atlas/01_glod_fish/0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,301},{12,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,35}}</string>
                <key>sourceSize</key>
                <string>{12,35}</string>
            </dict>
            <key>atlas/01_glod_fish/0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,338},{12,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,35}}</string>
                <key>sourceSize</key>
                <string>{12,35}</string>
            </dict>
            <key>atlas/01_glod_fish/0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,375},{12,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,35}}</string>
                <key>sourceSize</key>
                <string>{12,35}</string>
            </dict>
            <key>atlas/01_glod_fish/0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,412},{12,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,35}}</string>
                <key>sourceSize</key>
                <string>{12,35}</string>
            </dict>
            <key>atlas/01_glod_fish/0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,449},{12,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,35}}</string>
                <key>sourceSize</key>
                <string>{12,35}</string>
            </dict>
            <key>atlas/01_glod_fish/0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,486},{12,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,35}}</string>
                <key>sourceSize</key>
                <string>{12,35}</string>
            </dict>
            <key>atlas/01_glod_fish/0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{14,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,37}}</string>
                <key>sourceSize</key>
                <string>{14,37}</string>
            </dict>
            <key>atlas/01_glod_fish/0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,40},{14,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,37}}</string>
                <key>sourceSize</key>
                <string>{14,37}</string>
            </dict>
            <key>atlas/01_glod_fish/0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{14,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,37}}</string>
                <key>sourceSize</key>
                <string>{14,37}</string>
            </dict>
            <key>atlas/01_glod_fish/0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,40},{14,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,37}}</string>
                <key>sourceSize</key>
                <string>{14,37}</string>
            </dict>
            <key>atlas/01_glod_fish/0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{14,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,37}}</string>
                <key>sourceSize</key>
                <string>{14,37}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>01_glod_fish_1.png</string>
            <key>size</key>
            <string>{16,522}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f801c53838c954dec54beceb40dfc07f:390060f2589ea435a1594607be11ab4c:d6747b54ca00be4504a2f6a629575092$</string>
            <key>textureFileName</key>
            <string>01_glod_fish_1.png</string>
        </dict>
    </dict>
</plist>
