<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>atlas/01_lblFlatFish/0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,165},{82,95}}</string>
                <key>offset</key>
                <string>{5,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{82,95}}</string>
                <key>sourceSize</key>
                <string>{92,117}</string>
            </dict>
            <key>atlas/01_lblFlatFish/0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,165},{82,95}}</string>
                <key>offset</key>
                <string>{5,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{82,95}}</string>
                <key>sourceSize</key>
                <string>{92,117}</string>
            </dict>
            <key>atlas/01_lblFlatFish/0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,247},{82,95}}</string>
                <key>offset</key>
                <string>{5,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{82,95}}</string>
                <key>sourceSize</key>
                <string>{92,117}</string>
            </dict>
            <key>atlas/01_lblFlatFish/0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,248},{82,95}}</string>
                <key>offset</key>
                <string>{5,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{82,95}}</string>
                <key>sourceSize</key>
                <string>{92,117}</string>
            </dict>
            <key>atlas/01_lblFlatFish/0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,249},{82,95}}</string>
                <key>offset</key>
                <string>{5,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{82,95}}</string>
                <key>sourceSize</key>
                <string>{92,117}</string>
            </dict>
            <key>atlas/01_lblFlatFish/0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,249},{82,95}}</string>
                <key>offset</key>
                <string>{5,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{82,95}}</string>
                <key>sourceSize</key>
                <string>{92,117}</string>
            </dict>
            <key>atlas/01_lblFlatFish/0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,331},{82,93}}</string>
                <key>offset</key>
                <string>{5,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{82,93}}</string>
                <key>sourceSize</key>
                <string>{92,117}</string>
            </dict>
            <key>atlas/01_lblFlatFish/0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,332},{82,93}}</string>
                <key>offset</key>
                <string>{5,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{82,93}}</string>
                <key>sourceSize</key>
                <string>{92,117}</string>
            </dict>
            <key>atlas/01_lblFlatFish/0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,333},{82,93}}</string>
                <key>offset</key>
                <string>{5,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{82,93}}</string>
                <key>sourceSize</key>
                <string>{92,117}</string>
            </dict>
            <key>atlas/01_lblFlatFish/0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,333},{82,93}}</string>
                <key>offset</key>
                <string>{5,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{82,93}}</string>
                <key>sourceSize</key>
                <string>{92,117}</string>
            </dict>
            <key>atlas/01_lblFlatFish/0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,333},{82,93}}</string>
                <key>offset</key>
                <string>{5,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{82,93}}</string>
                <key>sourceSize</key>
                <string>{92,117}</string>
            </dict>
            <key>atlas/01_lblFlatFish/0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,415},{82,93}}</string>
                <key>offset</key>
                <string>{5,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{82,93}}</string>
                <key>sourceSize</key>
                <string>{92,117}</string>
            </dict>
            <key>atlas/01_lblFlatFish/0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,416},{82,93}}</string>
                <key>offset</key>
                <string>{5,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{82,93}}</string>
                <key>sourceSize</key>
                <string>{92,117}</string>
            </dict>
            <key>atlas/01_lblFlatFish/0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,417},{82,93}}</string>
                <key>offset</key>
                <string>{5,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{82,93}}</string>
                <key>sourceSize</key>
                <string>{92,117}</string>
            </dict>
            <key>atlas/01_lblFlatFish/0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,417},{82,93}}</string>
                <key>offset</key>
                <string>{5,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{82,93}}</string>
                <key>sourceSize</key>
                <string>{92,117}</string>
            </dict>
            <key>atlas/01_lblFlatFish/0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,417},{82,93}}</string>
                <key>offset</key>
                <string>{5,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{82,93}}</string>
                <key>sourceSize</key>
                <string>{92,117}</string>
            </dict>
            <key>atlas/01_lblFlatFish/0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,499},{82,93}}</string>
                <key>offset</key>
                <string>{5,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{82,93}}</string>
                <key>sourceSize</key>
                <string>{92,117}</string>
            </dict>
            <key>atlas/01_lblFlatFish/0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,501},{82,95}}</string>
                <key>offset</key>
                <string>{5,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{82,95}}</string>
                <key>sourceSize</key>
                <string>{92,117}</string>
            </dict>
            <key>atlas/01_lblFlatFish/0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,501},{82,95}}</string>
                <key>offset</key>
                <string>{5,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{82,95}}</string>
                <key>sourceSize</key>
                <string>{92,117}</string>
            </dict>
            <key>atlas/01_lblFlatFish/0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,585},{82,95}}</string>
                <key>offset</key>
                <string>{5,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{82,95}}</string>
                <key>sourceSize</key>
                <string>{92,117}</string>
            </dict>
            <key>atlas/01_lblFlatFish/0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,585},{82,95}}</string>
                <key>offset</key>
                <string>{5,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{82,95}}</string>
                <key>sourceSize</key>
                <string>{92,117}</string>
            </dict>
            <key>atlas/01_lblFlatFish/0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,585},{82,95}}</string>
                <key>offset</key>
                <string>{5,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{82,95}}</string>
                <key>sourceSize</key>
                <string>{92,117}</string>
            </dict>
            <key>atlas/01_lblFlatFish/0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,669},{82,95}}</string>
                <key>offset</key>
                <string>{5,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{82,95}}</string>
                <key>sourceSize</key>
                <string>{92,117}</string>
            </dict>
            <key>atlas/01_lblFlatFish/0047.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,500},{82,93}}</string>
                <key>offset</key>
                <string>{5,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{82,93}}</string>
                <key>sourceSize</key>
                <string>{92,117}</string>
            </dict>
            <key>atlas/01_lblFlatFish/0049.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,501},{82,93}}</string>
                <key>offset</key>
                <string>{4,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{82,93}}</string>
                <key>sourceSize</key>
                <string>{90,117}</string>
            </dict>
            <key>atlas/01_lblFlatFish/0051.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,583},{82,92}}</string>
                <key>offset</key>
                <string>{4,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{82,92}}</string>
                <key>sourceSize</key>
                <string>{90,116}</string>
            </dict>
            <key>atlas/01_lblFlatFish/0053.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,249},{82,90}}</string>
                <key>offset</key>
                <string>{4,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{82,90}}</string>
                <key>sourceSize</key>
                <string>{90,114}</string>
            </dict>
            <key>atlas/01_lblFlatFish/0055.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,584},{82,90}}</string>
                <key>offset</key>
                <string>{4,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{82,90}}</string>
                <key>sourceSize</key>
                <string>{90,114}</string>
            </dict>
            <key>atlas/01_lblFlatFish/0057.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,667},{82,90}}</string>
                <key>offset</key>
                <string>{4,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{82,90}}</string>
                <key>sourceSize</key>
                <string>{90,114}</string>
            </dict>
            <key>atlas/01_lblFlatFish/0059.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,669},{82,93}}</string>
                <key>offset</key>
                <string>{4,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{82,93}}</string>
                <key>sourceSize</key>
                <string>{90,119}</string>
            </dict>
            <key>atlas/01_lblFlatFish/0061.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,668},{82,92}}</string>
                <key>offset</key>
                <string>{4,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{82,92}}</string>
                <key>sourceSize</key>
                <string>{90,116}</string>
            </dict>
            <key>atlas/01_lblFlatFish/0063.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,669},{82,90}}</string>
                <key>offset</key>
                <string>{4,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{82,90}}</string>
                <key>sourceSize</key>
                <string>{90,114}</string>
            </dict>
            <key>atlas/01_lblFlatFish/0065.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,1},{80,91}}</string>
                <key>offset</key>
                <string>{4,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,1},{80,91}}</string>
                <key>sourceSize</key>
                <string>{90,117}</string>
            </dict>
            <key>atlas/01_lblFlatFish/0067.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{79,92}}</string>
                <key>offset</key>
                <string>{4,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{79,92}}</string>
                <key>sourceSize</key>
                <string>{87,114}</string>
            </dict>
            <key>atlas/01_lblFlatFish/0069.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,1},{79,92}}</string>
                <key>offset</key>
                <string>{5,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{79,92}}</string>
                <key>sourceSize</key>
                <string>{89,114}</string>
            </dict>
            <key>atlas/01_lblFlatFish/0071.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,753},{82,93}}</string>
                <key>offset</key>
                <string>{5,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{82,93}}</string>
                <key>sourceSize</key>
                <string>{92,119}</string>
            </dict>
            <key>atlas/01_lblFlatFish/0073.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,753},{82,93}}</string>
                <key>offset</key>
                <string>{5,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{82,93}}</string>
                <key>sourceSize</key>
                <string>{92,119}</string>
            </dict>
            <key>atlas/01_lblFlatFish/0075.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,751},{82,90}}</string>
                <key>offset</key>
                <string>{5,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{82,90}}</string>
                <key>sourceSize</key>
                <string>{92,114}</string>
            </dict>
            <key>atlas/01_lblFlatFish/0077.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,752},{82,90}}</string>
                <key>offset</key>
                <string>{4,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{82,90}}</string>
                <key>sourceSize</key>
                <string>{90,114}</string>
            </dict>
            <key>atlas/01_lblFlatFish/0079.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,1},{80,90}}</string>
                <key>offset</key>
                <string>{5,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{80,90}}</string>
                <key>sourceSize</key>
                <string>{92,114}</string>
            </dict>
            <key>atlas/01_lblFlatFish/0081.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,164},{81,90}}</string>
                <key>offset</key>
                <string>{5,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{81,90}}</string>
                <key>sourceSize</key>
                <string>{93,114}</string>
            </dict>
            <key>atlas/01_lblFlatFish/0083.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,753},{82,93}}</string>
                <key>offset</key>
                <string>{5,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{82,93}}</string>
                <key>sourceSize</key>
                <string>{92,119}</string>
            </dict>
            <key>atlas/01_lblFlatFish/0085.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,837},{82,93}}</string>
                <key>offset</key>
                <string>{5,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{82,93}}</string>
                <key>sourceSize</key>
                <string>{92,119}</string>
            </dict>
            <key>atlas/01_lblFlatFish/0087.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,835},{82,90}}</string>
                <key>offset</key>
                <string>{4,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{82,90}}</string>
                <key>sourceSize</key>
                <string>{90,114}</string>
            </dict>
            <key>atlas/01_lblFlatFish/0089.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,82},{80,92}}</string>
                <key>offset</key>
                <string>{5,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{80,92}}</string>
                <key>sourceSize</key>
                <string>{92,116}</string>
            </dict>
            <key>atlas/01_lblFlatFish/0091.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,164},{81,90}}</string>
                <key>offset</key>
                <string>{5,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{81,90}}</string>
                <key>sourceSize</key>
                <string>{93,114}</string>
            </dict>
            <key>atlas/01_lblFlatFish/0093.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,837},{82,92}}</string>
                <key>offset</key>
                <string>{5,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{82,92}}</string>
                <key>sourceSize</key>
                <string>{92,114}</string>
            </dict>
            <key>atlas/01_lblFlatFish/0095.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,837},{82,93}}</string>
                <key>offset</key>
                <string>{4,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{82,93}}</string>
                <key>sourceSize</key>
                <string>{90,119}</string>
            </dict>
            <key>atlas/01_lblFlatFish/0097.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,837},{82,93}}</string>
                <key>offset</key>
                <string>{4,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{82,93}}</string>
                <key>sourceSize</key>
                <string>{90,119}</string>
            </dict>
            <key>atlas/01_lblFlatFish/0099.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,1},{79,90}}</string>
                <key>offset</key>
                <string>{5,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{79,90}}</string>
                <key>sourceSize</key>
                <string>{89,114}</string>
            </dict>
            <key>atlas/01_lblFlatFish/0101.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,82},{80,90}}</string>
                <key>offset</key>
                <string>{5,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{80,90}}</string>
                <key>sourceSize</key>
                <string>{92,114}</string>
            </dict>
            <key>atlas/01_lblFlatFish/0103.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,921},{82,91}}</string>
                <key>offset</key>
                <string>{4,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{82,91}}</string>
                <key>sourceSize</key>
                <string>{90,113}</string>
            </dict>
            <key>atlas/01_lblFlatFish/0105.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,82},{80,90}}</string>
                <key>offset</key>
                <string>{4,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{80,90}}</string>
                <key>sourceSize</key>
                <string>{90,114}</string>
            </dict>
            <key>atlas/01_lblFlatFish/0107.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,165},{81,93}}</string>
                <key>offset</key>
                <string>{4,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{81,93}}</string>
                <key>sourceSize</key>
                <string>{89,119}</string>
            </dict>
            <key>atlas/01_lblFlatFish/0109.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,83},{80,93}}</string>
                <key>offset</key>
                <string>{5,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{80,93}}</string>
                <key>sourceSize</key>
                <string>{90,119}</string>
            </dict>
            <key>atlas/01_lblFlatFish/0111.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,83},{80,92}}</string>
                <key>offset</key>
                <string>{5,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{80,92}}</string>
                <key>sourceSize</key>
                <string>{92,116}</string>
            </dict>
            <key>atlas/01_lblFlatFish/0113.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,921},{82,93}}</string>
                <key>offset</key>
                <string>{4,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{82,93}}</string>
                <key>sourceSize</key>
                <string>{90,119}</string>
            </dict>
            <key>atlas/01_lblFlatFish/0115.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,921},{82,93}}</string>
                <key>offset</key>
                <string>{5,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{82,93}}</string>
                <key>sourceSize</key>
                <string>{92,119}</string>
            </dict>
            <key>atlas/01_lblFlatFish/0117.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,921},{82,93}}</string>
                <key>offset</key>
                <string>{5,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{82,93}}</string>
                <key>sourceSize</key>
                <string>{92,119}</string>
            </dict>
            <key>atlas/01_lblFlatFish/0119.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,921},{82,94}}</string>
                <key>offset</key>
                <string>{5,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{82,94}}</string>
                <key>sourceSize</key>
                <string>{92,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>01_lblFlatFish_1.png</string>
            <key>size</key>
            <string>{480,1004}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0305fe5a8094b3900934fc73b17ab7cb:5890bc002b59aa367bfb206d1dbb98de:316f6a5a205f0e406684568ce25d2fde$</string>
            <key>textureFileName</key>
            <string>01_lblFlatFish_1.png</string>
        </dict>
    </dict>
</plist>
