<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>atlas/02_lblnemo/0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,1},{29,43}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,43}}</string>
                <key>sourceSize</key>
                <string>{29,57}</string>
            </dict>
            <key>atlas/02_lblnemo/0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,1},{27,43}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,43}}</string>
                <key>sourceSize</key>
                <string>{27,57}</string>
            </dict>
            <key>atlas/02_lblnemo/0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,1},{30,43}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{30,43}}</string>
                <key>sourceSize</key>
                <string>{32,57}</string>
            </dict>
            <key>atlas/02_lblnemo/0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,1},{30,43}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,43}}</string>
                <key>sourceSize</key>
                <string>{30,57}</string>
            </dict>
            <key>atlas/02_lblnemo/0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,1},{30,42}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{30,42}}</string>
                <key>sourceSize</key>
                <string>{32,56}</string>
            </dict>
            <key>atlas/02_lblnemo/0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,1},{30,42}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,42}}</string>
                <key>sourceSize</key>
                <string>{30,56}</string>
            </dict>
            <key>atlas/02_lblnemo/0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,1},{30,42}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,42}}</string>
                <key>sourceSize</key>
                <string>{30,56}</string>
            </dict>
            <key>atlas/02_lblnemo/0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,1},{30,41}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{30,41}}</string>
                <key>sourceSize</key>
                <string>{30,57}</string>
            </dict>
            <key>atlas/02_lblnemo/0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{33,43}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,43}}</string>
                <key>sourceSize</key>
                <string>{33,57}</string>
            </dict>
            <key>atlas/02_lblnemo/0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,1},{33,43}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,43}}</string>
                <key>sourceSize</key>
                <string>{33,57}</string>
            </dict>
            <key>atlas/02_lblnemo/0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,1},{30,43}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,43}}</string>
                <key>sourceSize</key>
                <string>{30,57}</string>
            </dict>
            <key>atlas/02_lblnemo/0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,1},{30,41}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{30,41}}</string>
                <key>sourceSize</key>
                <string>{30,57}</string>
            </dict>
            <key>atlas/02_lblnemo/0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,1},{27,42}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,42}}</string>
                <key>sourceSize</key>
                <string>{27,56}</string>
            </dict>
            <key>atlas/02_lblnemo/0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,1},{27,42}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{27,42}}</string>
                <key>sourceSize</key>
                <string>{29,56}</string>
            </dict>
            <key>atlas/02_lblnemo/0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,1},{27,42}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,42}}</string>
                <key>sourceSize</key>
                <string>{27,56}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>02_lblnemo_1.png</string>
            <key>size</key>
            <string>{474,45}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8cad8c0707bed9f14fb9a70dccde2bf4:ce6049a9a981e7b0528b501605084853:eafc0c4074d9b0a3de23cfe0b981982f$</string>
            <key>textureFileName</key>
            <string>02_lblnemo_1.png</string>
        </dict>
    </dict>
</plist>
