<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>atlas/03_lblgurnard/0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1350,1},{17,30}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,30}}</string>
                <key>sourceSize</key>
                <string>{17,48}</string>
            </dict>
            <key>atlas/03_lblgurnard/0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1330,1},{18,30}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{18,30}}</string>
                <key>sourceSize</key>
                <string>{20,48}</string>
            </dict>
            <key>atlas/03_lblgurnard/0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1258,1},{23,30}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,30}}</string>
                <key>sourceSize</key>
                <string>{23,48}</string>
            </dict>
            <key>atlas/03_lblgurnard/0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1202,1},{26,30}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,30}}</string>
                <key>sourceSize</key>
                <string>{26,48}</string>
            </dict>
            <key>atlas/03_lblgurnard/0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1138,1},{30,30}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{32,48}</string>
            </dict>
            <key>atlas/03_lblgurnard/0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1068,1},{33,30}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{33,30}}</string>
                <key>sourceSize</key>
                <string>{35,48}</string>
            </dict>
            <key>atlas/03_lblgurnard/0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,1},{38,30}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,30}}</string>
                <key>sourceSize</key>
                <string>{38,48}</string>
            </dict>
            <key>atlas/03_lblgurnard/0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,1},{42,30}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{42,30}}</string>
                <key>sourceSize</key>
                <string>{44,48}</string>
            </dict>
            <key>atlas/03_lblgurnard/0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,1},{45,30}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{45,30}}</string>
                <key>sourceSize</key>
                <string>{47,48}</string>
            </dict>
            <key>atlas/03_lblgurnard/0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{47,30}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,30}}</string>
                <key>sourceSize</key>
                <string>{47,48}</string>
            </dict>
            <key>atlas/03_lblgurnard/0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,1},{47,30}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,30}}</string>
                <key>sourceSize</key>
                <string>{47,48}</string>
            </dict>
            <key>atlas/03_lblgurnard/0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,1},{47,30}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,30}}</string>
                <key>sourceSize</key>
                <string>{47,48}</string>
            </dict>
            <key>atlas/03_lblgurnard/0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,1},{47,30}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,30}}</string>
                <key>sourceSize</key>
                <string>{47,48}</string>
            </dict>
            <key>atlas/03_lblgurnard/0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,1},{47,30}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,30}}</string>
                <key>sourceSize</key>
                <string>{47,48}</string>
            </dict>
            <key>atlas/03_lblgurnard/0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,1},{47,30}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,30}}</string>
                <key>sourceSize</key>
                <string>{47,48}</string>
            </dict>
            <key>atlas/03_lblgurnard/0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,1},{47,30}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,30}}</string>
                <key>sourceSize</key>
                <string>{47,48}</string>
            </dict>
            <key>atlas/03_lblgurnard/0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,1},{47,30}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,30}}</string>
                <key>sourceSize</key>
                <string>{47,48}</string>
            </dict>
            <key>atlas/03_lblgurnard/0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,1},{47,30}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,30}}</string>
                <key>sourceSize</key>
                <string>{47,48}</string>
            </dict>
            <key>atlas/03_lblgurnard/0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,1},{45,30}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{45,30}}</string>
                <key>sourceSize</key>
                <string>{47,48}</string>
            </dict>
            <key>atlas/03_lblgurnard/0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,1},{45,30}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{45,30}}</string>
                <key>sourceSize</key>
                <string>{47,48}</string>
            </dict>
            <key>atlas/03_lblgurnard/0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,1},{45,30}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{45,30}}</string>
                <key>sourceSize</key>
                <string>{47,48}</string>
            </dict>
            <key>atlas/03_lblgurnard/0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,1},{45,30}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{45,30}}</string>
                <key>sourceSize</key>
                <string>{47,48}</string>
            </dict>
            <key>atlas/03_lblgurnard/0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,1},{44,30}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,30}}</string>
                <key>sourceSize</key>
                <string>{44,48}</string>
            </dict>
            <key>atlas/03_lblgurnard/0047.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,1},{44,30}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,30}}</string>
                <key>sourceSize</key>
                <string>{44,48}</string>
            </dict>
            <key>atlas/03_lblgurnard/0049.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,1},{44,30}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,30}}</string>
                <key>sourceSize</key>
                <string>{44,48}</string>
            </dict>
            <key>atlas/03_lblgurnard/0051.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,1},{44,30}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,30}}</string>
                <key>sourceSize</key>
                <string>{44,48}</string>
            </dict>
            <key>atlas/03_lblgurnard/0053.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,1},{42,30}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{42,30}}</string>
                <key>sourceSize</key>
                <string>{44,48}</string>
            </dict>
            <key>atlas/03_lblgurnard/0055.png</key>
            <dict>
                <key>frame</key>
                <string>{{949,1},{39,30}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{39,30}}</string>
                <key>sourceSize</key>
                <string>{41,48}</string>
            </dict>
            <key>atlas/03_lblgurnard/0057.png</key>
            <dict>
                <key>frame</key>
                <string>{{1030,1},{36,30}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{36,30}}</string>
                <key>sourceSize</key>
                <string>{38,48}</string>
            </dict>
            <key>atlas/03_lblgurnard/0059.png</key>
            <dict>
                <key>frame</key>
                <string>{{1103,1},{33,30}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{33,30}}</string>
                <key>sourceSize</key>
                <string>{35,48}</string>
            </dict>
            <key>atlas/03_lblgurnard/0061.png</key>
            <dict>
                <key>frame</key>
                <string>{{1170,1},{30,30}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{32,48}</string>
            </dict>
            <key>atlas/03_lblgurnard/0063.png</key>
            <dict>
                <key>frame</key>
                <string>{{1230,1},{26,30}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,30}}</string>
                <key>sourceSize</key>
                <string>{26,48}</string>
            </dict>
            <key>atlas/03_lblgurnard/0065.png</key>
            <dict>
                <key>frame</key>
                <string>{{1283,1},{23,30}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,30}}</string>
                <key>sourceSize</key>
                <string>{23,48}</string>
            </dict>
            <key>atlas/03_lblgurnard/0067.png</key>
            <dict>
                <key>frame</key>
                <string>{{1308,1},{20,30}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,30}}</string>
                <key>sourceSize</key>
                <string>{20,48}</string>
            </dict>
            <key>atlas/03_lblgurnard/0069.png</key>
            <dict>
                <key>frame</key>
                <string>{{1369,1},{16,30}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{16,30}}</string>
                <key>sourceSize</key>
                <string>{20,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>03_lblgurnard_1.png</string>
            <key>size</key>
            <string>{1386,32}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f44e0cf3333e5633c1d1e542cef03432:46eea4cde61b455f3220837ef141d26c:c5eea78fe0ac05a89ac87996e057c6c5$</string>
            <key>textureFileName</key>
            <string>03_lblgurnard_1.png</string>
        </dict>
    </dict>
</plist>
