<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>atlas/04_lblbutterfly/0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,407},{26,64}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{26,64}}</string>
                <key>sourceSize</key>
                <string>{32,68}</string>
            </dict>
            <key>atlas/04_lblbutterfly/0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,874},{26,65}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,65}}</string>
                <key>sourceSize</key>
                <string>{26,69}</string>
            </dict>
            <key>atlas/04_lblbutterfly/0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,740},{24,65}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,65}}</string>
                <key>sourceSize</key>
                <string>{24,69}</string>
            </dict>
            <key>atlas/04_lblbutterfly/0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,807},{24,65}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{24,65}}</string>
                <key>sourceSize</key>
                <string>{26,69}</string>
            </dict>
            <key>atlas/04_lblbutterfly/0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,620},{24,64}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,64}}</string>
                <key>sourceSize</key>
                <string>{26,68}</string>
            </dict>
            <key>atlas/04_lblbutterfly/0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,473},{26,64}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,64}}</string>
                <key>sourceSize</key>
                <string>{26,68}</string>
            </dict>
            <key>atlas/04_lblbutterfly/0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,205},{27,62}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,62}}</string>
                <key>sourceSize</key>
                <string>{29,66}</string>
            </dict>
            <key>atlas/04_lblbutterfly/0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,943},{27,61}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,61}}</string>
                <key>sourceSize</key>
                <string>{29,63}</string>
            </dict>
            <key>atlas/04_lblbutterfly/0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,1006},{27,61}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,61}}</string>
                <key>sourceSize</key>
                <string>{29,63}</string>
            </dict>
            <key>atlas/04_lblbutterfly/0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,913},{28,61}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,61}}</string>
                <key>sourceSize</key>
                <string>{30,63}</string>
            </dict>
            <key>atlas/04_lblbutterfly/0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,943},{29,61}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,61}}</string>
                <key>sourceSize</key>
                <string>{33,63}</string>
            </dict>
            <key>atlas/04_lblbutterfly/0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,847},{31,61}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,61}}</string>
                <key>sourceSize</key>
                <string>{35,63}</string>
            </dict>
            <key>atlas/04_lblbutterfly/0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,241},{31,62}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,62}}</string>
                <key>sourceSize</key>
                <string>{35,66}</string>
            </dict>
            <key>atlas/04_lblbutterfly/0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,476},{34,64}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,64}}</string>
                <key>sourceSize</key>
                <string>{38,68}</string>
            </dict>
            <key>atlas/04_lblbutterfly/0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,137},{34,65}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,65}}</string>
                <key>sourceSize</key>
                <string>{38,69}</string>
            </dict>
            <key>atlas/04_lblbutterfly/0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,137},{34,66}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,66}}</string>
                <key>sourceSize</key>
                <string>{38,74}</string>
            </dict>
            <key>atlas/04_lblbutterfly/0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{35,66}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,66}}</string>
                <key>sourceSize</key>
                <string>{41,74}</string>
            </dict>
            <key>atlas/04_lblbutterfly/0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,69},{35,66}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,66}}</string>
                <key>sourceSize</key>
                <string>{39,74}</string>
            </dict>
            <key>atlas/04_lblbutterfly/0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,1},{35,66}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,66}}</string>
                <key>sourceSize</key>
                <string>{41,74}</string>
            </dict>
            <key>atlas/04_lblbutterfly/0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,69},{33,66}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,66}}</string>
                <key>sourceSize</key>
                <string>{39,72}</string>
            </dict>
            <key>atlas/04_lblbutterfly/0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,137},{33,65}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,65}}</string>
                <key>sourceSize</key>
                <string>{39,69}</string>
            </dict>
            <key>atlas/04_lblbutterfly/0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,876},{30,65}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,65}}</string>
                <key>sourceSize</key>
                <string>{36,69}</string>
            </dict>
            <key>atlas/04_lblbutterfly/0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,406},{30,64}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,64}}</string>
                <key>sourceSize</key>
                <string>{36,68}</string>
            </dict>
            <key>atlas/04_lblbutterfly/0047.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,746},{30,64}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,64}}</string>
                <key>sourceSize</key>
                <string>{36,68}</string>
            </dict>
            <key>atlas/04_lblbutterfly/0049.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,943},{30,64}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,64}}</string>
                <key>sourceSize</key>
                <string>{36,68}</string>
            </dict>
            <key>atlas/04_lblbutterfly/0051.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,815},{30,64}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,64}}</string>
                <key>sourceSize</key>
                <string>{36,68}</string>
            </dict>
            <key>atlas/04_lblbutterfly/0053.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,847},{30,64}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,64}}</string>
                <key>sourceSize</key>
                <string>{36,68}</string>
            </dict>
            <key>atlas/04_lblbutterfly/0055.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,274},{32,64}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,64}}</string>
                <key>sourceSize</key>
                <string>{36,68}</string>
            </dict>
            <key>atlas/04_lblbutterfly/0057.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,340},{32,64}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,64}}</string>
                <key>sourceSize</key>
                <string>{38,68}</string>
            </dict>
            <key>atlas/04_lblbutterfly/0059.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,542},{34,64}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,64}}</string>
                <key>sourceSize</key>
                <string>{38,68}</string>
            </dict>
            <key>atlas/04_lblbutterfly/0061.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,406},{31,64}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,64}}</string>
                <key>sourceSize</key>
                <string>{33,68}</string>
            </dict>
            <key>atlas/04_lblbutterfly/0063.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,274},{29,62}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,62}}</string>
                <key>sourceSize</key>
                <string>{29,66}</string>
            </dict>
            <key>atlas/04_lblbutterfly/0065.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,338},{29,62}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,62}}</string>
                <key>sourceSize</key>
                <string>{29,66}</string>
            </dict>
            <key>atlas/04_lblbutterfly/0067.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,504},{28,62}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,62}}</string>
                <key>sourceSize</key>
                <string>{30,66}</string>
            </dict>
            <key>atlas/04_lblbutterfly/0069.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,534},{27,62}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{27,62}}</string>
                <key>sourceSize</key>
                <string>{27,68}</string>
            </dict>
            <key>atlas/04_lblbutterfly/0071.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,563},{27,62}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,62}}</string>
                <key>sourceSize</key>
                <string>{27,66}</string>
            </dict>
            <key>atlas/04_lblbutterfly/0073.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,592},{26,62}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{26,62}}</string>
                <key>sourceSize</key>
                <string>{26,68}</string>
            </dict>
            <key>atlas/04_lblbutterfly/0075.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,539},{26,64}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,64}}</string>
                <key>sourceSize</key>
                <string>{26,68}</string>
            </dict>
            <key>atlas/04_lblbutterfly/0077.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,686},{24,64}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,64}}</string>
                <key>sourceSize</key>
                <string>{24,68}</string>
            </dict>
            <key>atlas/04_lblbutterfly/0079.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,605},{26,64}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,64}}</string>
                <key>sourceSize</key>
                <string>{26,68}</string>
            </dict>
            <key>atlas/04_lblbutterfly/0081.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,671},{26,64}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,64}}</string>
                <key>sourceSize</key>
                <string>{26,68}</string>
            </dict>
            <key>atlas/04_lblbutterfly/0083.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,273},{27,65}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{27,65}}</string>
                <key>sourceSize</key>
                <string>{29,69}</string>
            </dict>
            <key>atlas/04_lblbutterfly/0085.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,340},{27,65}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{27,65}}</string>
                <key>sourceSize</key>
                <string>{29,69}</string>
            </dict>
            <key>atlas/04_lblbutterfly/0087.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,943},{29,65}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,65}}</string>
                <key>sourceSize</key>
                <string>{29,69}</string>
            </dict>
            <key>atlas/04_lblbutterfly/0089.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,740},{30,66}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{30,66}}</string>
                <key>sourceSize</key>
                <string>{32,72}</string>
            </dict>
            <key>atlas/04_lblbutterfly/0091.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,808},{30,66}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{30,66}}</string>
                <key>sourceSize</key>
                <string>{32,72}</string>
            </dict>
            <key>atlas/04_lblbutterfly/0093.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,69},{32,66}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{32,66}}</string>
                <key>sourceSize</key>
                <string>{36,72}</string>
            </dict>
            <key>atlas/04_lblbutterfly/0095.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,273},{32,66}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{32,66}}</string>
                <key>sourceSize</key>
                <string>{38,72}</string>
            </dict>
            <key>atlas/04_lblbutterfly/0097.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,341},{32,66}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{32,66}}</string>
                <key>sourceSize</key>
                <string>{38,72}</string>
            </dict>
            <key>atlas/04_lblbutterfly/0099.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,1},{33,66}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{33,66}}</string>
                <key>sourceSize</key>
                <string>{39,72}</string>
            </dict>
            <key>atlas/04_lblbutterfly/0101.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,205},{33,66}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{33,66}}</string>
                <key>sourceSize</key>
                <string>{41,72}</string>
            </dict>
            <key>atlas/04_lblbutterfly/0103.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,409},{33,65}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{33,65}}</string>
                <key>sourceSize</key>
                <string>{41,69}</string>
            </dict>
            <key>atlas/04_lblbutterfly/0105.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,608},{34,64}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{34,64}}</string>
                <key>sourceSize</key>
                <string>{42,68}</string>
            </dict>
            <key>atlas/04_lblbutterfly/0107.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,674},{34,64}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{34,64}}</string>
                <key>sourceSize</key>
                <string>{42,68}</string>
            </dict>
            <key>atlas/04_lblbutterfly/0109.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,204},{35,62}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{35,62}}</string>
                <key>sourceSize</key>
                <string>{47,66}</string>
            </dict>
            <key>atlas/04_lblbutterfly/0111.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,620},{35,61}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{35,61}}</string>
                <key>sourceSize</key>
                <string>{47,63}</string>
            </dict>
            <key>atlas/04_lblbutterfly/0113.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,683},{34,61}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{34,61}}</string>
                <key>sourceSize</key>
                <string>{44,63}</string>
            </dict>
            <key>atlas/04_lblbutterfly/0115.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,752},{32,61}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{32,61}}</string>
                <key>sourceSize</key>
                <string>{44,63}</string>
            </dict>
            <key>atlas/04_lblbutterfly/0117.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1010},{31,61}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{31,61}}</string>
                <key>sourceSize</key>
                <string>{39,63}</string>
            </dict>
            <key>atlas/04_lblbutterfly/0119.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,472},{30,62}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{30,62}}</string>
                <key>sourceSize</key>
                <string>{38,66}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>04_lblbutterfly_1.png</string>
            <key>size</key>
            <string>{128,1042}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b35e7ce92fbd54a9f9bb918d81d7d99a:7eb29972d5274697a3ec1015666e5ba1:81e8716fb8b1b126f46d279d0025e83e$</string>
            <key>textureFileName</key>
            <string>04_lblbutterfly_1.png</string>
        </dict>
    </dict>
</plist>
