<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>atlas/06_lblsailfish/0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,146},{48,158}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,158}}</string>
                <key>sourceSize</key>
                <string>{48,180}</string>
            </dict>
            <key>atlas/06_lblsailfish/0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,195},{48,158}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,158}}</string>
                <key>sourceSize</key>
                <string>{48,180}</string>
            </dict>
            <key>atlas/06_lblsailfish/0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,348},{51,158}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{51,158}}</string>
                <key>sourceSize</key>
                <string>{53,180}</string>
            </dict>
            <key>atlas/06_lblsailfish/0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,457},{53,158}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,158}}</string>
                <key>sourceSize</key>
                <string>{53,180}</string>
            </dict>
            <key>atlas/06_lblsailfish/0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,734},{56,158}}</string>
                <key>offset</key>
                <string>{1,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{56,158}}</string>
                <key>sourceSize</key>
                <string>{60,180}</string>
            </dict>
            <key>atlas/06_lblsailfish/0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,851},{58,156}}</string>
                <key>offset</key>
                <string>{1,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{58,156}}</string>
                <key>sourceSize</key>
                <string>{60,180}</string>
            </dict>
            <key>atlas/06_lblsailfish/0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,855},{58,156}}</string>
                <key>offset</key>
                <string>{2,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{58,156}}</string>
                <key>sourceSize</key>
                <string>{62,180}</string>
            </dict>
            <key>atlas/06_lblsailfish/0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,679},{55,156}}</string>
                <key>offset</key>
                <string>{2,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{55,156}}</string>
                <key>sourceSize</key>
                <string>{59,180}</string>
            </dict>
            <key>atlas/06_lblsailfish/0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,399},{52,156}}</string>
                <key>offset</key>
                <string>{1,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{52,156}}</string>
                <key>sourceSize</key>
                <string>{54,180}</string>
            </dict>
            <key>atlas/06_lblsailfish/0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,47},{46,155}}</string>
                <key>offset</key>
                <string>{1,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{46,155}}</string>
                <key>sourceSize</key>
                <string>{48,179}</string>
            </dict>
            <key>atlas/06_lblsailfish/0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{44,155}}</string>
                <key>offset</key>
                <string>{1,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{44,155}}</string>
                <key>sourceSize</key>
                <string>{48,179}</string>
            </dict>
            <key>atlas/06_lblsailfish/0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,1},{44,154}}</string>
                <key>offset</key>
                <string>{1,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{44,154}}</string>
                <key>sourceSize</key>
                <string>{48,176}</string>
            </dict>
            <key>atlas/06_lblsailfish/0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,48},{47,154}}</string>
                <key>offset</key>
                <string>{1,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{47,154}}</string>
                <key>sourceSize</key>
                <string>{51,176}</string>
            </dict>
            <key>atlas/06_lblsailfish/0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,403},{52,154}}</string>
                <key>offset</key>
                <string>{1,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{52,154}}</string>
                <key>sourceSize</key>
                <string>{54,176}</string>
            </dict>
            <key>atlas/06_lblsailfish/0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,509},{55,154}}</string>
                <key>offset</key>
                <string>{2,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{55,154}}</string>
                <key>sourceSize</key>
                <string>{59,176}</string>
            </dict>
            <key>atlas/06_lblsailfish/0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,736},{58,154}}</string>
                <key>offset</key>
                <string>{2,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{58,154}}</string>
                <key>sourceSize</key>
                <string>{62,176}</string>
            </dict>
            <key>atlas/06_lblsailfish/0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,971},{59,154}}</string>
                <key>offset</key>
                <string>{2,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{59,154}}</string>
                <key>sourceSize</key>
                <string>{63,176}</string>
            </dict>
            <key>atlas/06_lblsailfish/0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,619},{56,154}}</string>
                <key>offset</key>
                <string>{2,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{56,154}}</string>
                <key>sourceSize</key>
                <string>{62,176}</string>
            </dict>
            <key>atlas/06_lblsailfish/0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,454},{53,154}}</string>
                <key>offset</key>
                <string>{2,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{53,154}}</string>
                <key>sourceSize</key>
                <string>{59,176}</string>
            </dict>
            <key>atlas/06_lblsailfish/0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,453},{52,155}}</string>
                <key>offset</key>
                <string>{1,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{52,155}}</string>
                <key>sourceSize</key>
                <string>{54,177}</string>
            </dict>
            <key>atlas/06_lblsailfish/0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,246},{49,155}}</string>
                <key>offset</key>
                <string>{1,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{49,155}}</string>
                <key>sourceSize</key>
                <string>{51,179}</string>
            </dict>
            <key>atlas/06_lblsailfish/0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,196},{48,157}}</string>
                <key>offset</key>
                <string>{1,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{48,157}}</string>
                <key>sourceSize</key>
                <string>{50,179}</string>
            </dict>
            <key>atlas/06_lblsailfish/0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,295},{49,157}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{49,157}}</string>
                <key>sourceSize</key>
                <string>{51,179}</string>
            </dict>
            <key>atlas/06_lblsailfish/0047.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,346},{51,156}}</string>
                <key>offset</key>
                <string>{1,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{51,156}}</string>
                <key>sourceSize</key>
                <string>{53,180}</string>
            </dict>
            <key>atlas/06_lblsailfish/0049.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,512},{53,156}}</string>
                <key>offset</key>
                <string>{1,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{53,156}}</string>
                <key>sourceSize</key>
                <string>{57,180}</string>
            </dict>
            <key>atlas/06_lblsailfish/0051.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,567},{54,157}}</string>
                <key>offset</key>
                <string>{1,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{54,157}}</string>
                <key>sourceSize</key>
                <string>{56,179}</string>
            </dict>
            <key>atlas/06_lblsailfish/0053.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,856},{58,156}}</string>
                <key>offset</key>
                <string>{1,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{58,156}}</string>
                <key>sourceSize</key>
                <string>{60,180}</string>
            </dict>
            <key>atlas/06_lblsailfish/0055.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,976},{59,158}}</string>
                <key>offset</key>
                <string>{1,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{59,158}}</string>
                <key>sourceSize</key>
                <string>{63,180}</string>
            </dict>
            <key>atlas/06_lblsailfish/0057.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,1037},{59,158}}</string>
                <key>offset</key>
                <string>{1,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{59,158}}</string>
                <key>sourceSize</key>
                <string>{63,180}</string>
            </dict>
            <key>atlas/06_lblsailfish/0059.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,792},{57,158}}</string>
                <key>offset</key>
                <string>{1,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{57,158}}</string>
                <key>sourceSize</key>
                <string>{59,180}</string>
            </dict>
            <key>atlas/06_lblsailfish/0061.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,738},{56,158}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,158}}</string>
                <key>sourceSize</key>
                <string>{56,180}</string>
            </dict>
            <key>atlas/06_lblsailfish/0063.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,567},{53,158}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,158}}</string>
                <key>sourceSize</key>
                <string>{53,180}</string>
            </dict>
            <key>atlas/06_lblsailfish/0065.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,296},{50,158}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,158}}</string>
                <key>sourceSize</key>
                <string>{50,180}</string>
            </dict>
            <key>atlas/06_lblsailfish/0067.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,246},{48,158}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{48,158}}</string>
                <key>sourceSize</key>
                <string>{50,180}</string>
            </dict>
            <key>atlas/06_lblsailfish/0069.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,97},{47,156}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,156}}</string>
                <key>sourceSize</key>
                <string>{47,180}</string>
            </dict>
            <key>atlas/06_lblsailfish/0071.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,1},{45,156}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,156}}</string>
                <key>sourceSize</key>
                <string>{45,180}</string>
            </dict>
            <key>atlas/06_lblsailfish/0073.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,245},{48,157}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,157}}</string>
                <key>sourceSize</key>
                <string>{48,179}</string>
            </dict>
            <key>atlas/06_lblsailfish/0075.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,350},{51,156}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,156}}</string>
                <key>sourceSize</key>
                <string>{51,180}</string>
            </dict>
            <key>atlas/06_lblsailfish/0077.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,622},{54,157}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,157}}</string>
                <key>sourceSize</key>
                <string>{56,179}</string>
            </dict>
            <key>atlas/06_lblsailfish/0079.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,679},{57,155}}</string>
                <key>offset</key>
                <string>{-1,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,155}}</string>
                <key>sourceSize</key>
                <string>{59,179}</string>
            </dict>
            <key>atlas/06_lblsailfish/0081.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,911},{58,155}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,155}}</string>
                <key>sourceSize</key>
                <string>{60,177}</string>
            </dict>
            <key>atlas/06_lblsailfish/0083.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1032},{59,154}}</string>
                <key>offset</key>
                <string>{-2,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,154}}</string>
                <key>sourceSize</key>
                <string>{63,176}</string>
            </dict>
            <key>atlas/06_lblsailfish/0085.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,796},{58,154}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,154}}</string>
                <key>sourceSize</key>
                <string>{60,176}</string>
            </dict>
            <key>atlas/06_lblsailfish/0087.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,562},{55,154}}</string>
                <key>offset</key>
                <string>{-2,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,154}}</string>
                <key>sourceSize</key>
                <string>{59,176}</string>
            </dict>
            <key>atlas/06_lblsailfish/0089.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,507},{53,154}}</string>
                <key>offset</key>
                <string>{-2,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,154}}</string>
                <key>sourceSize</key>
                <string>{57,176}</string>
            </dict>
            <key>atlas/06_lblsailfish/0091.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,144},{49,154}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,154}}</string>
                <key>sourceSize</key>
                <string>{51,176}</string>
            </dict>
            <key>atlas/06_lblsailfish/0093.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,143},{48,154}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,154}}</string>
                <key>sourceSize</key>
                <string>{50,176}</string>
            </dict>
            <key>atlas/06_lblsailfish/0095.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,94},{47,154}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,154}}</string>
                <key>sourceSize</key>
                <string>{47,176}</string>
            </dict>
            <key>atlas/06_lblsailfish/0097.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,47},{45,154}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,154}}</string>
                <key>sourceSize</key>
                <string>{47,176}</string>
            </dict>
            <key>atlas/06_lblsailfish/0099.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,95},{47,154}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,154}}</string>
                <key>sourceSize</key>
                <string>{47,176}</string>
            </dict>
            <key>atlas/06_lblsailfish/0101.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,196},{48,155}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,155}}</string>
                <key>sourceSize</key>
                <string>{50,177}</string>
            </dict>
            <key>atlas/06_lblsailfish/0103.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,297},{51,155}}</string>
                <key>offset</key>
                <string>{-1,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,155}}</string>
                <key>sourceSize</key>
                <string>{53,179}</string>
            </dict>
            <key>atlas/06_lblsailfish/0105.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,623},{54,156}}</string>
                <key>offset</key>
                <string>{-1,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,156}}</string>
                <key>sourceSize</key>
                <string>{56,180}</string>
            </dict>
            <key>atlas/06_lblsailfish/0107.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,915},{58,156}}</string>
                <key>offset</key>
                <string>{-1,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,156}}</string>
                <key>sourceSize</key>
                <string>{60,180}</string>
            </dict>
            <key>atlas/06_lblsailfish/0109.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,916},{58,156}}</string>
                <key>offset</key>
                <string>{-1,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,156}}</string>
                <key>sourceSize</key>
                <string>{60,180}</string>
            </dict>
            <key>atlas/06_lblsailfish/0111.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,1035},{60,156}}</string>
                <key>offset</key>
                <string>{-1,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,156}}</string>
                <key>sourceSize</key>
                <string>{62,180}</string>
            </dict>
            <key>atlas/06_lblsailfish/0113.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,975},{58,156}}</string>
                <key>offset</key>
                <string>{-1,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{58,156}}</string>
                <key>sourceSize</key>
                <string>{62,180}</string>
            </dict>
            <key>atlas/06_lblsailfish/0115.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,796},{57,158}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,158}}</string>
                <key>sourceSize</key>
                <string>{59,180}</string>
            </dict>
            <key>atlas/06_lblsailfish/0117.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,678},{54,158}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,158}}</string>
                <key>sourceSize</key>
                <string>{56,180}</string>
            </dict>
            <key>atlas/06_lblsailfish/0119.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,401},{51,158}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,158}}</string>
                <key>sourceSize</key>
                <string>{53,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>06_lblsailfish_1.png</string>
            <key>size</key>
            <string>{476,1097}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:569baa771654ee55d19cac4d7682c4d6:df00b802fdc28c0e3673f755a703e2e8:f6ffc08884591b6532c49e2487c69878$</string>
            <key>textureFileName</key>
            <string>06_lblsailfish_1.png</string>
        </dict>
    </dict>
</plist>
