<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>atlas/07_lblmantaray/0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,363},{162,179}}</string>
                <key>offset</key>
                <string>{0,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,179}}</string>
                <key>sourceSize</key>
                <string>{162,249}</string>
            </dict>
            <key>atlas/07_lblmantaray/0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,182},{165,179}}</string>
                <key>offset</key>
                <string>{0,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,179}}</string>
                <key>sourceSize</key>
                <string>{165,249}</string>
            </dict>
            <key>atlas/07_lblmantaray/0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1087},{165,179}}</string>
                <key>offset</key>
                <string>{0,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,179}}</string>
                <key>sourceSize</key>
                <string>{165,249}</string>
            </dict>
            <key>atlas/07_lblmantaray/0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,363},{168,179}}</string>
                <key>offset</key>
                <string>{0,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,179}}</string>
                <key>sourceSize</key>
                <string>{168,249}</string>
            </dict>
            <key>atlas/07_lblmantaray/0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,182},{168,179}}</string>
                <key>offset</key>
                <string>{0,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,179}}</string>
                <key>sourceSize</key>
                <string>{168,249}</string>
            </dict>
            <key>atlas/07_lblmantaray/0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,363},{171,179}}</string>
                <key>offset</key>
                <string>{0,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,179}}</string>
                <key>sourceSize</key>
                <string>{171,249}</string>
            </dict>
            <key>atlas/07_lblmantaray/0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,182},{171,179}}</string>
                <key>offset</key>
                <string>{0,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,179}}</string>
                <key>sourceSize</key>
                <string>{171,249}</string>
            </dict>
            <key>atlas/07_lblmantaray/0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{174,179}}</string>
                <key>offset</key>
                <string>{0,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,179}}</string>
                <key>sourceSize</key>
                <string>{174,249}</string>
            </dict>
            <key>atlas/07_lblmantaray/0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,1},{171,179}}</string>
                <key>offset</key>
                <string>{0,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,179}}</string>
                <key>sourceSize</key>
                <string>{171,249}</string>
            </dict>
            <key>atlas/07_lblmantaray/0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,544},{171,179}}</string>
                <key>offset</key>
                <string>{0,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,179}}</string>
                <key>sourceSize</key>
                <string>{171,249}</string>
            </dict>
            <key>atlas/07_lblmantaray/0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,1},{168,179}}</string>
                <key>offset</key>
                <string>{0,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,179}}</string>
                <key>sourceSize</key>
                <string>{168,249}</string>
            </dict>
            <key>atlas/07_lblmantaray/0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,906},{165,179}}</string>
                <key>offset</key>
                <string>{0,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,179}}</string>
                <key>sourceSize</key>
                <string>{165,249}</string>
            </dict>
            <key>atlas/07_lblmantaray/0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,906},{159,179}}</string>
                <key>offset</key>
                <string>{0,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,179}}</string>
                <key>sourceSize</key>
                <string>{159,249}</string>
            </dict>
            <key>atlas/07_lblmantaray/0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,1268},{153,179}}</string>
                <key>offset</key>
                <string>{0,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,179}}</string>
                <key>sourceSize</key>
                <string>{153,249}</string>
            </dict>
            <key>atlas/07_lblmantaray/0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,1449},{144,179}}</string>
                <key>offset</key>
                <string>{0,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,179}}</string>
                <key>sourceSize</key>
                <string>{144,249}</string>
            </dict>
            <key>atlas/07_lblmantaray/0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,363},{138,179}}</string>
                <key>offset</key>
                <string>{0,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,179}}</string>
                <key>sourceSize</key>
                <string>{138,249}</string>
            </dict>
            <key>atlas/07_lblmantaray/0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,1268},{129,179}}</string>
                <key>offset</key>
                <string>{0,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,179}}</string>
                <key>sourceSize</key>
                <string>{129,249}</string>
            </dict>
            <key>atlas/07_lblmantaray/0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,182},{120,179}}</string>
                <key>offset</key>
                <string>{0,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,179}}</string>
                <key>sourceSize</key>
                <string>{120,249}</string>
            </dict>
            <key>atlas/07_lblmantaray/0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,725},{114,179}}</string>
                <key>offset</key>
                <string>{0,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,179}}</string>
                <key>sourceSize</key>
                <string>{114,249}</string>
            </dict>
            <key>atlas/07_lblmantaray/0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,906},{108,179}}</string>
                <key>offset</key>
                <string>{0,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,179}}</string>
                <key>sourceSize</key>
                <string>{108,249}</string>
            </dict>
            <key>atlas/07_lblmantaray/0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,1268},{102,179}}</string>
                <key>offset</key>
                <string>{0,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,179}}</string>
                <key>sourceSize</key>
                <string>{102,249}</string>
            </dict>
            <key>atlas/07_lblmantaray/0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,906},{96,179}}</string>
                <key>offset</key>
                <string>{0,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,179}}</string>
                <key>sourceSize</key>
                <string>{96,249}</string>
            </dict>
            <key>atlas/07_lblmantaray/0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,1449},{93,179}}</string>
                <key>offset</key>
                <string>{0,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,179}}</string>
                <key>sourceSize</key>
                <string>{93,249}</string>
            </dict>
            <key>atlas/07_lblmantaray/0047.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,725},{93,179}}</string>
                <key>offset</key>
                <string>{0,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,179}}</string>
                <key>sourceSize</key>
                <string>{93,249}</string>
            </dict>
            <key>atlas/07_lblmantaray/0049.png</key>
            <dict>
                <key>frame</key>
                <string>{{799,1268},{90,179}}</string>
                <key>offset</key>
                <string>{0,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,179}}</string>
                <key>sourceSize</key>
                <string>{90,249}</string>
            </dict>
            <key>atlas/07_lblmantaray/0051.png</key>
            <dict>
                <key>frame</key>
                <string>{{799,1449},{90,179}}</string>
                <key>offset</key>
                <string>{0,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,179}}</string>
                <key>sourceSize</key>
                <string>{90,249}</string>
            </dict>
            <key>atlas/07_lblmantaray/0053.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,1268},{90,179}}</string>
                <key>offset</key>
                <string>{0,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,179}}</string>
                <key>sourceSize</key>
                <string>{90,249}</string>
            </dict>
            <key>atlas/07_lblmantaray/0055.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,906},{93,179}}</string>
                <key>offset</key>
                <string>{0,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,179}}</string>
                <key>sourceSize</key>
                <string>{93,249}</string>
            </dict>
            <key>atlas/07_lblmantaray/0057.png</key>
            <dict>
                <key>frame</key>
                <string>{{811,1087},{93,179}}</string>
                <key>offset</key>
                <string>{0,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,179}}</string>
                <key>sourceSize</key>
                <string>{93,249}</string>
            </dict>
            <key>atlas/07_lblmantaray/0059.png</key>
            <dict>
                <key>frame</key>
                <string>{{713,1087},{96,179}}</string>
                <key>offset</key>
                <string>{0,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,179}}</string>
                <key>sourceSize</key>
                <string>{96,249}</string>
            </dict>
            <key>atlas/07_lblmantaray/0061.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,1268},{96,179}}</string>
                <key>offset</key>
                <string>{0,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,179}}</string>
                <key>sourceSize</key>
                <string>{96,249}</string>
            </dict>
            <key>atlas/07_lblmantaray/0063.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,725},{99,179}}</string>
                <key>offset</key>
                <string>{0,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,179}}</string>
                <key>sourceSize</key>
                <string>{99,249}</string>
            </dict>
            <key>atlas/07_lblmantaray/0065.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,1449},{102,179}}</string>
                <key>offset</key>
                <string>{0,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,179}}</string>
                <key>sourceSize</key>
                <string>{102,249}</string>
            </dict>
            <key>atlas/07_lblmantaray/0067.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,1087},{108,179}}</string>
                <key>offset</key>
                <string>{0,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,179}}</string>
                <key>sourceSize</key>
                <string>{108,249}</string>
            </dict>
            <key>atlas/07_lblmantaray/0069.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,544},{111,179}}</string>
                <key>offset</key>
                <string>{0,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,179}}</string>
                <key>sourceSize</key>
                <string>{111,249}</string>
            </dict>
            <key>atlas/07_lblmantaray/0071.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,1},{117,179}}</string>
                <key>offset</key>
                <string>{0,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{117,179}}</string>
                <key>sourceSize</key>
                <string>{119,249}</string>
            </dict>
            <key>atlas/07_lblmantaray/0073.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,906},{123,179}}</string>
                <key>offset</key>
                <string>{0,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,179}}</string>
                <key>sourceSize</key>
                <string>{123,249}</string>
            </dict>
            <key>atlas/07_lblmantaray/0075.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,1087},{129,179}}</string>
                <key>offset</key>
                <string>{0,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,179}}</string>
                <key>sourceSize</key>
                <string>{129,249}</string>
            </dict>
            <key>atlas/07_lblmantaray/0077.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,1449},{135,179}}</string>
                <key>offset</key>
                <string>{0,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,179}}</string>
                <key>sourceSize</key>
                <string>{135,249}</string>
            </dict>
            <key>atlas/07_lblmantaray/0079.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,1087},{138,179}}</string>
                <key>offset</key>
                <string>{0,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,179}}</string>
                <key>sourceSize</key>
                <string>{138,249}</string>
            </dict>
            <key>atlas/07_lblmantaray/0081.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,1268},{144,179}}</string>
                <key>offset</key>
                <string>{0,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,179}}</string>
                <key>sourceSize</key>
                <string>{144,249}</string>
            </dict>
            <key>atlas/07_lblmantaray/0083.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,1449},{150,179}}</string>
                <key>offset</key>
                <string>{0,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,179}}</string>
                <key>sourceSize</key>
                <string>{150,249}</string>
            </dict>
            <key>atlas/07_lblmantaray/0085.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,544},{156,179}}</string>
                <key>offset</key>
                <string>{0,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,179}}</string>
                <key>sourceSize</key>
                <string>{156,249}</string>
            </dict>
            <key>atlas/07_lblmantaray/0087.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,725},{159,179}}</string>
                <key>offset</key>
                <string>{0,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,179}}</string>
                <key>sourceSize</key>
                <string>{159,249}</string>
            </dict>
            <key>atlas/07_lblmantaray/0089.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1268},{162,179}}</string>
                <key>offset</key>
                <string>{0,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,179}}</string>
                <key>sourceSize</key>
                <string>{162,249}</string>
            </dict>
            <key>atlas/07_lblmantaray/0091.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,363},{166,179}}</string>
                <key>offset</key>
                <string>{0,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{166,179}}</string>
                <key>sourceSize</key>
                <string>{168,249}</string>
            </dict>
            <key>atlas/07_lblmantaray/0093.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,906},{168,179}}</string>
                <key>offset</key>
                <string>{0,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,179}}</string>
                <key>sourceSize</key>
                <string>{168,249}</string>
            </dict>
            <key>atlas/07_lblmantaray/0095.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,363},{171,179}}</string>
                <key>offset</key>
                <string>{0,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,179}}</string>
                <key>sourceSize</key>
                <string>{171,249}</string>
            </dict>
            <key>atlas/07_lblmantaray/0097.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,182},{171,179}}</string>
                <key>offset</key>
                <string>{0,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,179}}</string>
                <key>sourceSize</key>
                <string>{171,249}</string>
            </dict>
            <key>atlas/07_lblmantaray/0099.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,182},{174,179}}</string>
                <key>offset</key>
                <string>{0,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,179}}</string>
                <key>sourceSize</key>
                <string>{174,249}</string>
            </dict>
            <key>atlas/07_lblmantaray/0101.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,1},{174,179}}</string>
                <key>offset</key>
                <string>{0,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{174,179}}</string>
                <key>sourceSize</key>
                <string>{176,249}</string>
            </dict>
            <key>atlas/07_lblmantaray/0103.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,1},{171,179}}</string>
                <key>offset</key>
                <string>{0,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,179}}</string>
                <key>sourceSize</key>
                <string>{171,249}</string>
            </dict>
            <key>atlas/07_lblmantaray/0105.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,725},{171,179}}</string>
                <key>offset</key>
                <string>{0,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,179}}</string>
                <key>sourceSize</key>
                <string>{171,249}</string>
            </dict>
            <key>atlas/07_lblmantaray/0107.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,544},{171,179}}</string>
                <key>offset</key>
                <string>{0,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{171,179}}</string>
                <key>sourceSize</key>
                <string>{173,249}</string>
            </dict>
            <key>atlas/07_lblmantaray/0109.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,725},{168,179}}</string>
                <key>offset</key>
                <string>{0,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,179}}</string>
                <key>sourceSize</key>
                <string>{168,249}</string>
            </dict>
            <key>atlas/07_lblmantaray/0111.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,544},{168,179}}</string>
                <key>offset</key>
                <string>{0,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,179}}</string>
                <key>sourceSize</key>
                <string>{168,249}</string>
            </dict>
            <key>atlas/07_lblmantaray/0113.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,725},{165,179}}</string>
                <key>offset</key>
                <string>{0,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,179}}</string>
                <key>sourceSize</key>
                <string>{165,249}</string>
            </dict>
            <key>atlas/07_lblmantaray/0115.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,544},{165,179}}</string>
                <key>offset</key>
                <string>{0,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,179}}</string>
                <key>sourceSize</key>
                <string>{165,249}</string>
            </dict>
            <key>atlas/07_lblmantaray/0117.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1449},{162,179}}</string>
                <key>offset</key>
                <string>{0,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,179}}</string>
                <key>sourceSize</key>
                <string>{162,249}</string>
            </dict>
            <key>atlas/07_lblmantaray/0119.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,1087},{162,179}}</string>
                <key>offset</key>
                <string>{0,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,179}}</string>
                <key>sourceSize</key>
                <string>{162,249}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>07_lblmantaray_1.png</string>
            <key>size</key>
            <string>{988,1629}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:31bcdb5273d23578600975935200a757:b204ce4ee18a0ede9a7be71783a56456:d275ce537e1d2c05f6d3e6d07aee4a72$</string>
            <key>textureFileName</key>
            <string>07_lblmantaray_1.png</string>
        </dict>
    </dict>
</plist>
