<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>atlas/10_lblAnglerFish/0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,545},{75,129}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,129}}</string>
                <key>sourceSize</key>
                <string>{75,149}</string>
            </dict>
            <key>atlas/10_lblAnglerFish/0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,392},{74,130}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,130}}</string>
                <key>sourceSize</key>
                <string>{74,150}</string>
            </dict>
            <key>atlas/10_lblAnglerFish/0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,468},{74,130}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,130}}</string>
                <key>sourceSize</key>
                <string>{74,150}</string>
            </dict>
            <key>atlas/10_lblAnglerFish/0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,544},{72,130}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,130}}</string>
                <key>sourceSize</key>
                <string>{74,150}</string>
            </dict>
            <key>atlas/10_lblAnglerFish/0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,238},{75,130}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,130}}</string>
                <key>sourceSize</key>
                <string>{77,150}</string>
            </dict>
            <key>atlas/10_lblAnglerFish/0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,238},{75,130}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,130}}</string>
                <key>sourceSize</key>
                <string>{77,152}</string>
            </dict>
            <key>atlas/10_lblAnglerFish/0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,238},{75,130}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,130}}</string>
                <key>sourceSize</key>
                <string>{77,152}</string>
            </dict>
            <key>atlas/10_lblAnglerFish/0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,545},{76,129}}</string>
                <key>offset</key>
                <string>{-1,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,129}}</string>
                <key>sourceSize</key>
                <string>{78,153}</string>
            </dict>
            <key>atlas/10_lblAnglerFish/0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,773},{76,127}}</string>
                <key>offset</key>
                <string>{-1,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{76,127}}</string>
                <key>sourceSize</key>
                <string>{78,153}</string>
            </dict>
            <key>atlas/10_lblAnglerFish/0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,386},{77,127}}</string>
                <key>offset</key>
                <string>{-2,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{77,127}}</string>
                <key>sourceSize</key>
                <string>{81,153}</string>
            </dict>
            <key>atlas/10_lblAnglerFish/0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,515},{77,127}}</string>
                <key>offset</key>
                <string>{-2,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{77,127}}</string>
                <key>sourceSize</key>
                <string>{81,153}</string>
            </dict>
            <key>atlas/10_lblAnglerFish/0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,644},{77,127}}</string>
                <key>offset</key>
                <string>{-2,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{77,127}}</string>
                <key>sourceSize</key>
                <string>{81,153}</string>
            </dict>
            <key>atlas/10_lblAnglerFish/0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,770},{76,128}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,128}}</string>
                <key>sourceSize</key>
                <string>{78,150}</string>
            </dict>
            <key>atlas/10_lblAnglerFish/0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,700},{76,128}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,128}}</string>
                <key>sourceSize</key>
                <string>{78,150}</string>
            </dict>
            <key>atlas/10_lblAnglerFish/0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,855},{74,128}}</string>
                <key>offset</key>
                <string>{-2,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,128}}</string>
                <key>sourceSize</key>
                <string>{78,150}</string>
            </dict>
            <key>atlas/10_lblAnglerFish/0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,925},{74,128}}</string>
                <key>offset</key>
                <string>{-2,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,128}}</string>
                <key>sourceSize</key>
                <string>{78,150}</string>
            </dict>
            <key>atlas/10_lblAnglerFish/0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,929},{74,128}}</string>
                <key>offset</key>
                <string>{-2,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,128}}</string>
                <key>sourceSize</key>
                <string>{78,150}</string>
            </dict>
            <key>atlas/10_lblAnglerFish/0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,695},{73,129}}</string>
                <key>offset</key>
                <string>{-2,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,129}}</string>
                <key>sourceSize</key>
                <string>{77,153}</string>
            </dict>
            <key>atlas/10_lblAnglerFish/0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,699},{73,129}}</string>
                <key>offset</key>
                <string>{-2,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,129}}</string>
                <key>sourceSize</key>
                <string>{77,153}</string>
            </dict>
            <key>atlas/10_lblAnglerFish/0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,469},{74,130}}</string>
                <key>offset</key>
                <string>{-2,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,130}}</string>
                <key>sourceSize</key>
                <string>{78,152}</string>
            </dict>
            <key>atlas/10_lblAnglerFish/0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,469},{74,130}}</string>
                <key>offset</key>
                <string>{-2,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{74,130}}</string>
                <key>sourceSize</key>
                <string>{80,152}</string>
            </dict>
            <key>atlas/10_lblAnglerFish/0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,774},{76,128}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,128}}</string>
                <key>sourceSize</key>
                <string>{78,150}</string>
            </dict>
            <key>atlas/10_lblAnglerFish/0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,160},{76,130}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,130}}</string>
                <key>sourceSize</key>
                <string>{78,150}</string>
            </dict>
            <key>atlas/10_lblAnglerFish/0047.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,81},{77,130}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,130}}</string>
                <key>sourceSize</key>
                <string>{81,150}</string>
            </dict>
            <key>atlas/10_lblAnglerFish/0049.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,81},{77,130}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,130}}</string>
                <key>sourceSize</key>
                <string>{81,150}</string>
            </dict>
            <key>atlas/10_lblAnglerFish/0051.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,81},{77,130}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,130}}</string>
                <key>sourceSize</key>
                <string>{81,150}</string>
            </dict>
            <key>atlas/10_lblAnglerFish/0053.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{78,130}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,130}}</string>
                <key>sourceSize</key>
                <string>{80,150}</string>
            </dict>
            <key>atlas/10_lblAnglerFish/0055.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,160},{76,130}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,130}}</string>
                <key>sourceSize</key>
                <string>{78,150}</string>
            </dict>
            <key>atlas/10_lblAnglerFish/0057.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,315},{75,130}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,130}}</string>
                <key>sourceSize</key>
                <string>{77,150}</string>
            </dict>
            <key>atlas/10_lblAnglerFish/0059.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,778},{75,128}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,128}}</string>
                <key>sourceSize</key>
                <string>{77,150}</string>
            </dict>
            <key>atlas/10_lblAnglerFish/0061.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,848},{75,128}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,128}}</string>
                <key>sourceSize</key>
                <string>{77,150}</string>
            </dict>
            <key>atlas/10_lblAnglerFish/0063.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,931},{75,127}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,127}}</string>
                <key>sourceSize</key>
                <string>{77,149}</string>
            </dict>
            <key>atlas/10_lblAnglerFish/0065.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,1001},{72,128}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,128}}</string>
                <key>sourceSize</key>
                <string>{74,150}</string>
            </dict>
            <key>atlas/10_lblAnglerFish/0067.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,1160},{74,126}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,126}}</string>
                <key>sourceSize</key>
                <string>{74,150}</string>
            </dict>
            <key>atlas/10_lblAnglerFish/0069.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,1160},{74,126}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,126}}</string>
                <key>sourceSize</key>
                <string>{74,150}</string>
            </dict>
            <key>atlas/10_lblAnglerFish/0071.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1008},{75,126}}</string>
                <key>offset</key>
                <string>{-1,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,126}}</string>
                <key>sourceSize</key>
                <string>{77,152}</string>
            </dict>
            <key>atlas/10_lblAnglerFish/0073.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,1075},{75,126}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,126}}</string>
                <key>sourceSize</key>
                <string>{75,152}</string>
            </dict>
            <key>atlas/10_lblAnglerFish/0075.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,902},{76,126}}</string>
                <key>offset</key>
                <string>{-1,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,126}}</string>
                <key>sourceSize</key>
                <string>{78,152}</string>
            </dict>
            <key>atlas/10_lblAnglerFish/0077.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,1005},{76,126}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{76,126}}</string>
                <key>sourceSize</key>
                <string>{78,152}</string>
            </dict>
            <key>atlas/10_lblAnglerFish/0079.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,1},{78,126}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,126}}</string>
                <key>sourceSize</key>
                <string>{78,152}</string>
            </dict>
            <key>atlas/10_lblAnglerFish/0081.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,129},{78,124}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,124}}</string>
                <key>sourceSize</key>
                <string>{78,150}</string>
            </dict>
            <key>atlas/10_lblAnglerFish/0083.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,1030},{76,124}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{76,124}}</string>
                <key>sourceSize</key>
                <string>{78,150}</string>
            </dict>
            <key>atlas/10_lblAnglerFish/0085.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,1152},{75,124}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,124}}</string>
                <key>sourceSize</key>
                <string>{75,150}</string>
            </dict>
            <key>atlas/10_lblAnglerFish/0087.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,1083},{75,126}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,126}}</string>
                <key>sourceSize</key>
                <string>{75,152}</string>
            </dict>
            <key>atlas/10_lblAnglerFish/0089.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1085},{75,126}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,126}}</string>
                <key>sourceSize</key>
                <string>{75,152}</string>
            </dict>
            <key>atlas/10_lblAnglerFish/0091.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1162},{75,126}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{75,126}}</string>
                <key>sourceSize</key>
                <string>{77,152}</string>
            </dict>
            <key>atlas/10_lblAnglerFish/0093.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,1162},{75,126}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{75,126}}</string>
                <key>sourceSize</key>
                <string>{77,150}</string>
            </dict>
            <key>atlas/10_lblAnglerFish/0095.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,1156},{73,126}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{73,126}}</string>
                <key>sourceSize</key>
                <string>{77,150}</string>
            </dict>
            <key>atlas/10_lblAnglerFish/0097.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,852},{75,128}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{75,128}}</string>
                <key>sourceSize</key>
                <string>{77,150}</string>
            </dict>
            <key>atlas/10_lblAnglerFish/0099.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,618},{75,129}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{75,129}}</string>
                <key>sourceSize</key>
                <string>{77,153}</string>
            </dict>
            <key>atlas/10_lblAnglerFish/0101.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,315},{75,130}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{75,130}}</string>
                <key>sourceSize</key>
                <string>{77,152}</string>
            </dict>
            <key>atlas/10_lblAnglerFish/0103.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,315},{75,130}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{75,130}}</string>
                <key>sourceSize</key>
                <string>{77,152}</string>
            </dict>
            <key>atlas/10_lblAnglerFish/0105.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,392},{75,130}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,130}}</string>
                <key>sourceSize</key>
                <string>{75,152}</string>
            </dict>
            <key>atlas/10_lblAnglerFish/0107.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,392},{75,130}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,130}}</string>
                <key>sourceSize</key>
                <string>{75,150}</string>
            </dict>
            <key>atlas/10_lblAnglerFish/0109.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,160},{76,130}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{76,130}}</string>
                <key>sourceSize</key>
                <string>{78,150}</string>
            </dict>
            <key>atlas/10_lblAnglerFish/0111.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,1},{78,130}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,130}}</string>
                <key>sourceSize</key>
                <string>{78,150}</string>
            </dict>
            <key>atlas/10_lblAnglerFish/0113.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,1},{78,130}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,130}}</string>
                <key>sourceSize</key>
                <string>{78,150}</string>
            </dict>
            <key>atlas/10_lblAnglerFish/0115.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,255},{77,129}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,129}}</string>
                <key>sourceSize</key>
                <string>{77,149}</string>
            </dict>
            <key>atlas/10_lblAnglerFish/0117.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,622},{75,129}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,129}}</string>
                <key>sourceSize</key>
                <string>{75,149}</string>
            </dict>
            <key>atlas/10_lblAnglerFish/0119.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,623},{75,129}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,129}}</string>
                <key>sourceSize</key>
                <string>{77,149}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>10_lblAnglerFish_1.png</string>
            <key>size</key>
            <string>{476,1289}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2ca63bb29c9acc568d645db85b7636ee:777a472430ca5b8ad8c68880e8df13f6:cda88d7b34b17013498dcda91fa678ce$</string>
            <key>textureFileName</key>
            <string>10_lblAnglerFish_1.png</string>
        </dict>
    </dict>
</plist>
