<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>atlas/11_lblPufferFish/0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,181},{45,62}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{45,62}}</string>
                <key>sourceSize</key>
                <string>{47,80}</string>
            </dict>
            <key>atlas/11_lblPufferFish/0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,799},{47,60}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,60}}</string>
                <key>sourceSize</key>
                <string>{47,80}</string>
            </dict>
            <key>atlas/11_lblPufferFish/0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1093},{48,61}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{48,61}}</string>
                <key>sourceSize</key>
                <string>{50,81}</string>
            </dict>
            <key>atlas/11_lblPufferFish/0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,1093},{48,61}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,61}}</string>
                <key>sourceSize</key>
                <string>{48,81}</string>
            </dict>
            <key>atlas/11_lblPufferFish/0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1143},{48,61}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,61}}</string>
                <key>sourceSize</key>
                <string>{48,81}</string>
            </dict>
            <key>atlas/11_lblPufferFish/0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,1143},{48,60}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,60}}</string>
                <key>sourceSize</key>
                <string>{48,80}</string>
            </dict>
            <key>atlas/11_lblPufferFish/0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,181},{45,59}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,59}}</string>
                <key>sourceSize</key>
                <string>{45,77}</string>
            </dict>
            <key>atlas/11_lblPufferFish/0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,228},{45,57}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,57}}</string>
                <key>sourceSize</key>
                <string>{47,75}</string>
            </dict>
            <key>atlas/11_lblPufferFish/0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,228},{45,59}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,59}}</string>
                <key>sourceSize</key>
                <string>{47,77}</string>
            </dict>
            <key>atlas/11_lblPufferFish/0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,799},{47,60}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,60}}</string>
                <key>sourceSize</key>
                <string>{47,80}</string>
            </dict>
            <key>atlas/11_lblPufferFish/0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,848},{47,61}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,61}}</string>
                <key>sourceSize</key>
                <string>{47,81}</string>
            </dict>
            <key>atlas/11_lblPufferFish/0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,848},{47,61}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,61}}</string>
                <key>sourceSize</key>
                <string>{47,81}</string>
            </dict>
            <key>atlas/11_lblPufferFish/0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,275},{45,61}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,61}}</string>
                <key>sourceSize</key>
                <string>{45,81}</string>
            </dict>
            <key>atlas/11_lblPufferFish/0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{42,60}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,60}}</string>
                <key>sourceSize</key>
                <string>{42,80}</string>
            </dict>
            <key>atlas/11_lblPufferFish/0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,89},{44,59}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,59}}</string>
                <key>sourceSize</key>
                <string>{44,77}</string>
            </dict>
            <key>atlas/11_lblPufferFish/0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,89},{44,59}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,59}}</string>
                <key>sourceSize</key>
                <string>{44,77}</string>
            </dict>
            <key>atlas/11_lblPufferFish/0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,1},{42,60}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,60}}</string>
                <key>sourceSize</key>
                <string>{42,80}</string>
            </dict>
            <key>atlas/11_lblPufferFish/0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,275},{45,61}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,61}}</string>
                <key>sourceSize</key>
                <string>{45,81}</string>
            </dict>
            <key>atlas/11_lblPufferFish/0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,897},{47,61}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,61}}</string>
                <key>sourceSize</key>
                <string>{47,81}</string>
            </dict>
            <key>atlas/11_lblPufferFish/0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,897},{47,61}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,61}}</string>
                <key>sourceSize</key>
                <string>{47,81}</string>
            </dict>
            <key>atlas/11_lblPufferFish/0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,946},{47,60}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,60}}</string>
                <key>sourceSize</key>
                <string>{47,80}</string>
            </dict>
            <key>atlas/11_lblPufferFish/0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,322},{45,59}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,59}}</string>
                <key>sourceSize</key>
                <string>{47,77}</string>
            </dict>
            <key>atlas/11_lblPufferFish/0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,322},{45,57}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,57}}</string>
                <key>sourceSize</key>
                <string>{47,75}</string>
            </dict>
            <key>atlas/11_lblPufferFish/0047.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,369},{45,59}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,59}}</string>
                <key>sourceSize</key>
                <string>{45,77}</string>
            </dict>
            <key>atlas/11_lblPufferFish/0049.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1193},{48,60}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,60}}</string>
                <key>sourceSize</key>
                <string>{48,80}</string>
            </dict>
            <key>atlas/11_lblPufferFish/0051.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,1193},{48,61}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,61}}</string>
                <key>sourceSize</key>
                <string>{48,81}</string>
            </dict>
            <key>atlas/11_lblPufferFish/0053.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1243},{48,61}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,61}}</string>
                <key>sourceSize</key>
                <string>{48,81}</string>
            </dict>
            <key>atlas/11_lblPufferFish/0055.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,1243},{48,61}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{48,61}}</string>
                <key>sourceSize</key>
                <string>{50,81}</string>
            </dict>
            <key>atlas/11_lblPufferFish/0057.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,946},{47,60}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,60}}</string>
                <key>sourceSize</key>
                <string>{47,80}</string>
            </dict>
            <key>atlas/11_lblPufferFish/0059.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,369},{45,62}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{45,62}}</string>
                <key>sourceSize</key>
                <string>{47,80}</string>
            </dict>
            <key>atlas/11_lblPufferFish/0061.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,416},{45,60}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{45,60}}</string>
                <key>sourceSize</key>
                <string>{47,80}</string>
            </dict>
            <key>atlas/11_lblPufferFish/0063.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,995},{47,61}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,61}}</string>
                <key>sourceSize</key>
                <string>{47,81}</string>
            </dict>
            <key>atlas/11_lblPufferFish/0065.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1293},{48,61}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{48,61}}</string>
                <key>sourceSize</key>
                <string>{50,81}</string>
            </dict>
            <key>atlas/11_lblPufferFish/0067.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,1293},{48,61}}</string>
                <key>offset</key>
                <string>{1,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{48,61}}</string>
                <key>sourceSize</key>
                <string>{50,81}</string>
            </dict>
            <key>atlas/11_lblPufferFish/0069.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1343},{48,61}}</string>
                <key>offset</key>
                <string>{1,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{48,61}}</string>
                <key>sourceSize</key>
                <string>{50,81}</string>
            </dict>
            <key>atlas/11_lblPufferFish/0071.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,995},{47,60}}</string>
                <key>offset</key>
                <string>{1,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{47,60}}</string>
                <key>sourceSize</key>
                <string>{51,80}</string>
            </dict>
            <key>atlas/11_lblPufferFish/0073.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,463},{46,57}}</string>
                <key>offset</key>
                <string>{1,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{46,57}}</string>
                <key>sourceSize</key>
                <string>{48,75}</string>
            </dict>
            <key>atlas/11_lblPufferFish/0075.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,463},{46,59}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{46,59}}</string>
                <key>sourceSize</key>
                <string>{48,75}</string>
            </dict>
            <key>atlas/11_lblPufferFish/0077.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,511},{46,57}}</string>
                <key>offset</key>
                <string>{1,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{46,57}}</string>
                <key>sourceSize</key>
                <string>{48,75}</string>
            </dict>
            <key>atlas/11_lblPufferFish/0079.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,511},{46,60}}</string>
                <key>offset</key>
                <string>{1,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{46,60}}</string>
                <key>sourceSize</key>
                <string>{48,80}</string>
            </dict>
            <key>atlas/11_lblPufferFish/0081.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,559},{46,61}}</string>
                <key>offset</key>
                <string>{1,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{46,61}}</string>
                <key>sourceSize</key>
                <string>{48,81}</string>
            </dict>
            <key>atlas/11_lblPufferFish/0083.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,559},{46,61}}</string>
                <key>offset</key>
                <string>{1,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{46,61}}</string>
                <key>sourceSize</key>
                <string>{48,81}</string>
            </dict>
            <key>atlas/11_lblPufferFish/0085.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,607},{46,61}}</string>
                <key>offset</key>
                <string>{1,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{46,61}}</string>
                <key>sourceSize</key>
                <string>{48,81}</string>
            </dict>
            <key>atlas/11_lblPufferFish/0087.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,135},{44,61}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,61}}</string>
                <key>sourceSize</key>
                <string>{44,81}</string>
            </dict>
            <key>atlas/11_lblPufferFish/0089.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,45},{42,60}}</string>
                <key>offset</key>
                <string>{1,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{42,60}}</string>
                <key>sourceSize</key>
                <string>{44,80}</string>
            </dict>
            <key>atlas/11_lblPufferFish/0091.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,45},{42,60}}</string>
                <key>offset</key>
                <string>{1,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{42,60}}</string>
                <key>sourceSize</key>
                <string>{44,80}</string>
            </dict>
            <key>atlas/11_lblPufferFish/0093.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,135},{44,61}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,61}}</string>
                <key>sourceSize</key>
                <string>{44,81}</string>
            </dict>
            <key>atlas/11_lblPufferFish/0095.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,607},{46,61}}</string>
                <key>offset</key>
                <string>{1,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{46,61}}</string>
                <key>sourceSize</key>
                <string>{48,81}</string>
            </dict>
            <key>atlas/11_lblPufferFish/0097.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,655},{46,61}}</string>
                <key>offset</key>
                <string>{1,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{46,61}}</string>
                <key>sourceSize</key>
                <string>{48,81}</string>
            </dict>
            <key>atlas/11_lblPufferFish/0099.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,655},{46,61}}</string>
                <key>offset</key>
                <string>{1,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{46,61}}</string>
                <key>sourceSize</key>
                <string>{48,81}</string>
            </dict>
            <key>atlas/11_lblPufferFish/0101.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,703},{46,60}}</string>
                <key>offset</key>
                <string>{1,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{46,60}}</string>
                <key>sourceSize</key>
                <string>{48,80}</string>
            </dict>
            <key>atlas/11_lblPufferFish/0103.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,703},{46,57}}</string>
                <key>offset</key>
                <string>{1,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{46,57}}</string>
                <key>sourceSize</key>
                <string>{48,75}</string>
            </dict>
            <key>atlas/11_lblPufferFish/0105.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,751},{46,57}}</string>
                <key>offset</key>
                <string>{1,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{46,57}}</string>
                <key>sourceSize</key>
                <string>{48,75}</string>
            </dict>
            <key>atlas/11_lblPufferFish/0107.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,751},{46,57}}</string>
                <key>offset</key>
                <string>{1,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{46,57}}</string>
                <key>sourceSize</key>
                <string>{48,75}</string>
            </dict>
            <key>atlas/11_lblPufferFish/0109.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1044},{47,60}}</string>
                <key>offset</key>
                <string>{1,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{47,60}}</string>
                <key>sourceSize</key>
                <string>{51,80}</string>
            </dict>
            <key>atlas/11_lblPufferFish/0111.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,1343},{48,61}}</string>
                <key>offset</key>
                <string>{1,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{48,61}}</string>
                <key>sourceSize</key>
                <string>{50,81}</string>
            </dict>
            <key>atlas/11_lblPufferFish/0113.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1393},{48,61}}</string>
                <key>offset</key>
                <string>{1,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{48,61}}</string>
                <key>sourceSize</key>
                <string>{50,81}</string>
            </dict>
            <key>atlas/11_lblPufferFish/0115.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,1393},{48,61}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{48,61}}</string>
                <key>sourceSize</key>
                <string>{50,81}</string>
            </dict>
            <key>atlas/11_lblPufferFish/0117.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,1044},{47,61}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,61}}</string>
                <key>sourceSize</key>
                <string>{47,81}</string>
            </dict>
            <key>atlas/11_lblPufferFish/0119.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,416},{45,60}}</string>
                <key>offset</key>
                <string>{1,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{45,60}}</string>
                <key>sourceSize</key>
                <string>{47,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>11_lblPufferFish_1.png</string>
            <key>size</key>
            <string>{126,1442}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:98fa374dfb33e2f8dee069030a4184c2:ac8636a942988a379b071aca24289e39:2076722a75230163ab91101ed822c0e9$</string>
            <key>textureFileName</key>
            <string>11_lblPufferFish_1.png</string>
        </dict>
    </dict>
</plist>
