<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>atlas/12_lblOctopus/0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,650},{78,79}}</string>
                <key>offset</key>
                <string>{4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{78,79}}</string>
                <key>sourceSize</key>
                <string>{86,89}</string>
            </dict>
            <key>atlas/12_lblOctopus/0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,676},{79,78}}</string>
                <key>offset</key>
                <string>{4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{79,78}}</string>
                <key>sourceSize</key>
                <string>{87,90}</string>
            </dict>
            <key>atlas/12_lblOctopus/0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,596},{80,78}}</string>
                <key>offset</key>
                <string>{4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{80,78}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>atlas/12_lblOctopus/0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,691},{85,76}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,1},{85,76}}</string>
                <key>sourceSize</key>
                <string>{93,92}</string>
            </dict>
            <key>atlas/12_lblOctopus/0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,613},{87,76}}</string>
                <key>offset</key>
                <string>{4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{87,76}}</string>
                <key>sourceSize</key>
                <string>{95,90}</string>
            </dict>
            <key>atlas/12_lblOctopus/0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,465},{89,74}}</string>
                <key>offset</key>
                <string>{4,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{89,74}}</string>
                <key>sourceSize</key>
                <string>{99,90}</string>
            </dict>
            <key>atlas/12_lblOctopus/0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,538},{92,73}}</string>
                <key>offset</key>
                <string>{4,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{92,73}}</string>
                <key>sourceSize</key>
                <string>{102,89}</string>
            </dict>
            <key>atlas/12_lblOctopus/0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,556},{92,73}}</string>
                <key>offset</key>
                <string>{4,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{92,73}}</string>
                <key>sourceSize</key>
                <string>{102,89}</string>
            </dict>
            <key>atlas/12_lblOctopus/0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,465},{92,71}}</string>
                <key>offset</key>
                <string>{5,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{92,71}}</string>
                <key>sourceSize</key>
                <string>{104,87}</string>
            </dict>
            <key>atlas/12_lblOctopus/0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,252},{91,69}}</string>
                <key>offset</key>
                <string>{5,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{91,69}}</string>
                <key>sourceSize</key>
                <string>{101,87}</string>
            </dict>
            <key>atlas/12_lblOctopus/0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,323},{91,69}}</string>
                <key>offset</key>
                <string>{4,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{91,69}}</string>
                <key>sourceSize</key>
                <string>{101,87}</string>
            </dict>
            <key>atlas/12_lblOctopus/0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,394},{90,69}}</string>
                <key>offset</key>
                <string>{3,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{90,69}}</string>
                <key>sourceSize</key>
                <string>{98,87}</string>
            </dict>
            <key>atlas/12_lblOctopus/0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,239},{84,68}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,68}}</string>
                <key>sourceSize</key>
                <string>{86,80}</string>
            </dict>
            <key>atlas/12_lblOctopus/0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,273},{79,72}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,72}}</string>
                <key>sourceSize</key>
                <string>{83,86}</string>
            </dict>
            <key>atlas/12_lblOctopus/0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,381},{75,77}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,77}}</string>
                <key>sourceSize</key>
                <string>{81,89}</string>
            </dict>
            <key>atlas/12_lblOctopus/0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,309},{70,83}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,83}}</string>
                <key>sourceSize</key>
                <string>{78,93}</string>
            </dict>
            <key>atlas/12_lblOctopus/0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,59},{67,88}}</string>
                <key>offset</key>
                <string>{-5,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,88}}</string>
                <key>sourceSize</key>
                <string>{77,98}</string>
            </dict>
            <key>atlas/12_lblOctopus/0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,128},{60,91}}</string>
                <key>offset</key>
                <string>{-6,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,91}}</string>
                <key>sourceSize</key>
                <string>{72,99}</string>
            </dict>
            <key>atlas/12_lblOctopus/0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,190},{60,92}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,92}}</string>
                <key>sourceSize</key>
                <string>{68,96}</string>
            </dict>
            <key>atlas/12_lblOctopus/0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,59},{57,94}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,94}}</string>
                <key>sourceSize</key>
                <string>{65,96}</string>
            </dict>
            <key>atlas/12_lblOctopus/0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,1},{56,91}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{56,91}}</string>
                <key>sourceSize</key>
                <string>{60,93}</string>
            </dict>
            <key>atlas/12_lblOctopus/0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{56,92}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,92}}</string>
                <key>sourceSize</key>
                <string>{60,92}</string>
            </dict>
            <key>atlas/12_lblOctopus/0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,118},{57,91}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{57,91}}</string>
                <key>sourceSize</key>
                <string>{59,93}</string>
            </dict>
            <key>atlas/12_lblOctopus/0047.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,177},{60,91}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{60,91}}</string>
                <key>sourceSize</key>
                <string>{62,95}</string>
            </dict>
            <key>atlas/12_lblOctopus/0049.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,180},{62,91}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{62,91}}</string>
                <key>sourceSize</key>
                <string>{62,93}</string>
            </dict>
            <key>atlas/12_lblOctopus/0051.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,88},{64,90}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{64,90}}</string>
                <key>sourceSize</key>
                <string>{66,92}</string>
            </dict>
            <key>atlas/12_lblOctopus/0053.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,1},{65,85}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{65,85}}</string>
                <key>sourceSize</key>
                <string>{71,87}</string>
            </dict>
            <key>atlas/12_lblOctopus/0055.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,354},{71,83}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{71,83}}</string>
                <key>sourceSize</key>
                <string>{75,83}</string>
            </dict>
            <key>atlas/12_lblOctopus/0057.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,439},{76,80}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,1},{76,80}}</string>
                <key>sourceSize</key>
                <string>{84,86}</string>
            </dict>
            <key>atlas/12_lblOctopus/0059.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,517},{77,79}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{77,79}}</string>
                <key>sourceSize</key>
                <string>{83,87}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>12_lblOctopus_1.png</string>
            <key>size</key>
            <string>{254,768}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1bb99ee9390a047c146ecac4f8c7b933:50aeea1b1c88ac19dc5520224c9f4cdf:d289c604715bd264955e28b6ba0ae631$</string>
            <key>textureFileName</key>
            <string>12_lblOctopus_1.png</string>
        </dict>
    </dict>
</plist>
