<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>atlas/13_lblShark/0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,1654},{127,241}}</string>
                <key>offset</key>
                <string>{-11,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,241}}</string>
                <key>sourceSize</key>
                <string>{149,249}</string>
            </dict>
            <key>atlas/13_lblShark/0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,1654},{127,240}}</string>
                <key>offset</key>
                <string>{-11,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,240}}</string>
                <key>sourceSize</key>
                <string>{149,246}</string>
            </dict>
            <key>atlas/13_lblShark/0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,253},{125,238}}</string>
                <key>offset</key>
                <string>{-11,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,238}}</string>
                <key>sourceSize</key>
                <string>{147,242}</string>
            </dict>
            <key>atlas/13_lblShark/0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1142},{126,237}}</string>
                <key>offset</key>
                <string>{-10,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,237}}</string>
                <key>sourceSize</key>
                <string>{146,239}</string>
            </dict>
            <key>atlas/13_lblShark/0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1654},{127,234}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,234}}</string>
                <key>sourceSize</key>
                <string>{143,234}</string>
            </dict>
            <key>atlas/13_lblShark/0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,1142},{126,234}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{126,234}}</string>
                <key>sourceSize</key>
                <string>{138,236}</string>
            </dict>
            <key>atlas/13_lblShark/0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,1142},{126,234}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{126,234}}</string>
                <key>sourceSize</key>
                <string>{132,236}</string>
            </dict>
            <key>atlas/13_lblShark/0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,1142},{126,234}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,234}}</string>
                <key>sourceSize</key>
                <string>{128,234}</string>
            </dict>
            <key>atlas/13_lblShark/0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,253},{125,236}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{125,236}}</string>
                <key>sourceSize</key>
                <string>{131,236}</string>
            </dict>
            <key>atlas/13_lblShark/0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,253},{125,238}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{125,238}}</string>
                <key>sourceSize</key>
                <string>{137,240}</string>
            </dict>
            <key>atlas/13_lblShark/0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{124,241}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{124,241}}</string>
                <key>sourceSize</key>
                <string>{138,245}</string>
            </dict>
            <key>atlas/13_lblShark/0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,253},{125,242}}</string>
                <key>offset</key>
                <string>{9,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,0},{125,242}}</string>
                <key>sourceSize</key>
                <string>{143,248}</string>
            </dict>
            <key>atlas/13_lblShark/0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,380},{125,244}}</string>
                <key>offset</key>
                <string>{11,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,0},{125,244}}</string>
                <key>sourceSize</key>
                <string>{147,254}</string>
            </dict>
            <key>atlas/13_lblShark/0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,1},{124,244}}</string>
                <key>offset</key>
                <string>{13,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,0},{124,244}}</string>
                <key>sourceSize</key>
                <string>{150,254}</string>
            </dict>
            <key>atlas/13_lblShark/0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,380},{125,244}}</string>
                <key>offset</key>
                <string>{14,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,0},{125,244}}</string>
                <key>sourceSize</key>
                <string>{153,254}</string>
            </dict>
            <key>atlas/13_lblShark/0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,380},{125,241}}</string>
                <key>offset</key>
                <string>{15,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,0},{125,241}}</string>
                <key>sourceSize</key>
                <string>{155,249}</string>
            </dict>
            <key>atlas/13_lblShark/0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1270},{126,240}}</string>
                <key>offset</key>
                <string>{15,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,0},{126,240}}</string>
                <key>sourceSize</key>
                <string>{158,246}</string>
            </dict>
            <key>atlas/13_lblShark/0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,1270},{126,238}}</string>
                <key>offset</key>
                <string>{15,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,0},{126,238}}</string>
                <key>sourceSize</key>
                <string>{156,242}</string>
            </dict>
            <key>atlas/13_lblShark/0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,380},{125,237}}</string>
                <key>offset</key>
                <string>{14,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,0},{125,237}}</string>
                <key>sourceSize</key>
                <string>{155,239}</string>
            </dict>
            <key>atlas/13_lblShark/0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,1270},{126,234}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,0},{126,234}}</string>
                <key>sourceSize</key>
                <string>{150,234}</string>
            </dict>
            <key>atlas/13_lblShark/0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,1270},{126,234}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,0},{126,234}}</string>
                <key>sourceSize</key>
                <string>{146,234}</string>
            </dict>
            <key>atlas/13_lblShark/0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,1654},{127,234}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,1},{127,234}}</string>
                <key>sourceSize</key>
                <string>{141,236}</string>
            </dict>
            <key>atlas/13_lblShark/0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,507},{125,234}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{125,234}}</string>
                <key>sourceSize</key>
                <string>{137,234}</string>
            </dict>
            <key>atlas/13_lblShark/0047.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,507},{125,236}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{125,236}}</string>
                <key>sourceSize</key>
                <string>{131,236}</string>
            </dict>
            <key>atlas/13_lblShark/0049.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,507},{125,238}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,238}}</string>
                <key>sourceSize</key>
                <string>{125,240}</string>
            </dict>
            <key>atlas/13_lblShark/0051.png</key>
            <dict>
                <key>frame</key>
                <string>{{715,507},{125,241}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,241}}</string>
                <key>sourceSize</key>
                <string>{131,245}</string>
            </dict>
            <key>atlas/13_lblShark/0053.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,634},{125,240}}</string>
                <key>offset</key>
                <string>{-5,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,240}}</string>
                <key>sourceSize</key>
                <string>{135,248}</string>
            </dict>
            <key>atlas/13_lblShark/0055.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,1},{124,242}}</string>
                <key>offset</key>
                <string>{-8,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{124,242}}</string>
                <key>sourceSize</key>
                <string>{140,254}</string>
            </dict>
            <key>atlas/13_lblShark/0057.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,634},{125,244}}</string>
                <key>offset</key>
                <string>{-9,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,244}}</string>
                <key>sourceSize</key>
                <string>{143,254}</string>
            </dict>
            <key>atlas/13_lblShark/0059.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,1},{124,244}}</string>
                <key>offset</key>
                <string>{-11,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,244}}</string>
                <key>sourceSize</key>
                <string>{146,254}</string>
            </dict>
            <key>atlas/13_lblShark/0061.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1783},{127,241}}</string>
                <key>offset</key>
                <string>{-11,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,241}}</string>
                <key>sourceSize</key>
                <string>{149,249}</string>
            </dict>
            <key>atlas/13_lblShark/0063.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,1783},{127,240}}</string>
                <key>offset</key>
                <string>{-11,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,240}}</string>
                <key>sourceSize</key>
                <string>{149,246}</string>
            </dict>
            <key>atlas/13_lblShark/0065.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,634},{125,238}}</string>
                <key>offset</key>
                <string>{-11,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,238}}</string>
                <key>sourceSize</key>
                <string>{147,242}</string>
            </dict>
            <key>atlas/13_lblShark/0067.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1398},{126,237}}</string>
                <key>offset</key>
                <string>{-10,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,237}}</string>
                <key>sourceSize</key>
                <string>{146,239}</string>
            </dict>
            <key>atlas/13_lblShark/0069.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,1783},{127,234}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,234}}</string>
                <key>sourceSize</key>
                <string>{143,234}</string>
            </dict>
            <key>atlas/13_lblShark/0071.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,1398},{126,234}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{126,234}}</string>
                <key>sourceSize</key>
                <string>{138,236}</string>
            </dict>
            <key>atlas/13_lblShark/0073.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,1398},{126,234}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{126,234}}</string>
                <key>sourceSize</key>
                <string>{132,236}</string>
            </dict>
            <key>atlas/13_lblShark/0075.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,1398},{126,234}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,234}}</string>
                <key>sourceSize</key>
                <string>{128,234}</string>
            </dict>
            <key>atlas/13_lblShark/0077.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,634},{125,236}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{125,236}}</string>
                <key>sourceSize</key>
                <string>{131,236}</string>
            </dict>
            <key>atlas/13_lblShark/0079.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,761},{125,238}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{125,238}}</string>
                <key>sourceSize</key>
                <string>{137,240}</string>
            </dict>
            <key>atlas/13_lblShark/0081.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,127},{124,241}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{124,241}}</string>
                <key>sourceSize</key>
                <string>{138,245}</string>
            </dict>
            <key>atlas/13_lblShark/0083.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,761},{125,242}}</string>
                <key>offset</key>
                <string>{9,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,0},{125,242}}</string>
                <key>sourceSize</key>
                <string>{143,248}</string>
            </dict>
            <key>atlas/13_lblShark/0085.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,761},{125,244}}</string>
                <key>offset</key>
                <string>{11,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,0},{125,244}}</string>
                <key>sourceSize</key>
                <string>{147,254}</string>
            </dict>
            <key>atlas/13_lblShark/0087.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,127},{124,244}}</string>
                <key>offset</key>
                <string>{13,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,0},{124,244}}</string>
                <key>sourceSize</key>
                <string>{150,254}</string>
            </dict>
            <key>atlas/13_lblShark/0089.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,761},{125,244}}</string>
                <key>offset</key>
                <string>{14,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,0},{125,244}}</string>
                <key>sourceSize</key>
                <string>{153,254}</string>
            </dict>
            <key>atlas/13_lblShark/0091.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,888},{125,241}}</string>
                <key>offset</key>
                <string>{15,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,0},{125,241}}</string>
                <key>sourceSize</key>
                <string>{155,249}</string>
            </dict>
            <key>atlas/13_lblShark/0093.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1526},{126,240}}</string>
                <key>offset</key>
                <string>{15,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,0},{126,240}}</string>
                <key>sourceSize</key>
                <string>{158,246}</string>
            </dict>
            <key>atlas/13_lblShark/0095.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,1526},{126,238}}</string>
                <key>offset</key>
                <string>{15,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,0},{126,238}}</string>
                <key>sourceSize</key>
                <string>{156,242}</string>
            </dict>
            <key>atlas/13_lblShark/0097.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,888},{125,237}}</string>
                <key>offset</key>
                <string>{14,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,0},{125,237}}</string>
                <key>sourceSize</key>
                <string>{155,239}</string>
            </dict>
            <key>atlas/13_lblShark/0099.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,1526},{126,234}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,0},{126,234}}</string>
                <key>sourceSize</key>
                <string>{150,234}</string>
            </dict>
            <key>atlas/13_lblShark/0101.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,1526},{126,234}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,1},{126,234}}</string>
                <key>sourceSize</key>
                <string>{146,236}</string>
            </dict>
            <key>atlas/13_lblShark/0103.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,1783},{127,234}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,1},{127,234}}</string>
                <key>sourceSize</key>
                <string>{141,236}</string>
            </dict>
            <key>atlas/13_lblShark/0105.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,888},{125,234}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{125,234}}</string>
                <key>sourceSize</key>
                <string>{137,234}</string>
            </dict>
            <key>atlas/13_lblShark/0107.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,888},{125,236}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{125,236}}</string>
                <key>sourceSize</key>
                <string>{131,236}</string>
            </dict>
            <key>atlas/13_lblShark/0109.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1015},{125,238}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,238}}</string>
                <key>sourceSize</key>
                <string>{125,240}</string>
            </dict>
            <key>atlas/13_lblShark/0111.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,1015},{125,241}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,241}}</string>
                <key>sourceSize</key>
                <string>{131,245}</string>
            </dict>
            <key>atlas/13_lblShark/0113.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,1015},{125,240}}</string>
                <key>offset</key>
                <string>{-5,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,240}}</string>
                <key>sourceSize</key>
                <string>{135,248}</string>
            </dict>
            <key>atlas/13_lblShark/0115.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,127},{124,242}}</string>
                <key>offset</key>
                <string>{-8,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{124,242}}</string>
                <key>sourceSize</key>
                <string>{140,254}</string>
            </dict>
            <key>atlas/13_lblShark/0117.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,1015},{125,244}}</string>
                <key>offset</key>
                <string>{-9,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,244}}</string>
                <key>sourceSize</key>
                <string>{143,254}</string>
            </dict>
            <key>atlas/13_lblShark/0119.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,127},{124,244}}</string>
                <key>offset</key>
                <string>{-11,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,244}}</string>
                <key>sourceSize</key>
                <string>{146,254}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>13_lblShark_1.png</string>
            <key>size</key>
            <string>{980,1911}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:690420bfc9a0808522e21f43f0c08ab5:8b28605921d796e15d78dafd8594ef3f:d6b18f713c3e65348781e5e8d08a722c$</string>
            <key>textureFileName</key>
            <string>13_lblShark_1.png</string>
        </dict>
    </dict>
</plist>
