<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>atlas/14_lblLobster/0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1632,1},{63,81}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{63,81}}</string>
                <key>sourceSize</key>
                <string>{63,83}</string>
            </dict>
            <key>atlas/14_lblLobster/0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,1},{66,83}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,83}}</string>
                <key>sourceSize</key>
                <string>{68,83}</string>
            </dict>
            <key>atlas/14_lblLobster/0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{67,83}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,83}}</string>
                <key>sourceSize</key>
                <string>{71,83}</string>
            </dict>
            <key>atlas/14_lblLobster/0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,1},{67,83}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,83}}</string>
                <key>sourceSize</key>
                <string>{71,83}</string>
            </dict>
            <key>atlas/14_lblLobster/0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1091,1},{67,81}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{67,81}}</string>
                <key>sourceSize</key>
                <string>{71,83}</string>
            </dict>
            <key>atlas/14_lblLobster/0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1160,1},{66,81}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{66,81}}</string>
                <key>sourceSize</key>
                <string>{68,83}</string>
            </dict>
            <key>atlas/14_lblLobster/0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1228,1},{66,81}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{66,81}}</string>
                <key>sourceSize</key>
                <string>{66,83}</string>
            </dict>
            <key>atlas/14_lblLobster/0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,1},{65,83}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{65,83}}</string>
                <key>sourceSize</key>
                <string>{69,83}</string>
            </dict>
            <key>atlas/14_lblLobster/0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,1},{67,83}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{67,83}}</string>
                <key>sourceSize</key>
                <string>{71,83}</string>
            </dict>
            <key>atlas/14_lblLobster/0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,1},{66,83}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{66,83}}</string>
                <key>sourceSize</key>
                <string>{72,83}</string>
            </dict>
            <key>atlas/14_lblLobster/0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,1},{66,83}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{66,83}}</string>
                <key>sourceSize</key>
                <string>{72,83}</string>
            </dict>
            <key>atlas/14_lblLobster/0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{1566,1},{64,81}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{64,81}}</string>
                <key>sourceSize</key>
                <string>{66,83}</string>
            </dict>
            <key>atlas/14_lblLobster/0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,1},{65,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,83}}</string>
                <key>sourceSize</key>
                <string>{65,83}</string>
            </dict>
            <key>atlas/14_lblLobster/0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{1024,1},{65,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{65,82}}</string>
                <key>sourceSize</key>
                <string>{65,84}</string>
            </dict>
            <key>atlas/14_lblLobster/0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,1},{65,83}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,83}}</string>
                <key>sourceSize</key>
                <string>{69,83}</string>
            </dict>
            <key>atlas/14_lblLobster/0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,1},{67,83}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,83}}</string>
                <key>sourceSize</key>
                <string>{71,83}</string>
            </dict>
            <key>atlas/14_lblLobster/0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,1},{67,83}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,83}}</string>
                <key>sourceSize</key>
                <string>{71,83}</string>
            </dict>
            <key>atlas/14_lblLobster/0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{957,1},{65,83}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,83}}</string>
                <key>sourceSize</key>
                <string>{69,83}</string>
            </dict>
            <key>atlas/14_lblLobster/0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{1296,1},{66,81}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{66,81}}</string>
                <key>sourceSize</key>
                <string>{68,83}</string>
            </dict>
            <key>atlas/14_lblLobster/0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{1364,1},{66,81}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{66,81}}</string>
                <key>sourceSize</key>
                <string>{68,83}</string>
            </dict>
            <key>atlas/14_lblLobster/0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,1},{67,83}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{67,83}}</string>
                <key>sourceSize</key>
                <string>{69,83}</string>
            </dict>
            <key>atlas/14_lblLobster/0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,1},{67,83}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{67,83}}</string>
                <key>sourceSize</key>
                <string>{71,83}</string>
            </dict>
            <key>atlas/14_lblLobster/0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,1},{66,83}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{66,83}}</string>
                <key>sourceSize</key>
                <string>{72,83}</string>
            </dict>
            <key>atlas/14_lblLobster/0047.png</key>
            <dict>
                <key>frame</key>
                <string>{{1432,1},{65,81}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{65,81}}</string>
                <key>sourceSize</key>
                <string>{71,83}</string>
            </dict>
            <key>atlas/14_lblLobster/0049.png</key>
            <dict>
                <key>frame</key>
                <string>{{1499,1},{65,81}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{65,81}}</string>
                <key>sourceSize</key>
                <string>{69,83}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>14_lblLobster_1.png</string>
            <key>size</key>
            <string>{1696,85}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a710785691863aca4d00dc9e304e1dcb:96a148827dd98ea6a68f09e3ba0fa1bc:c5ff818dc76580726cfc972e58f29930$</string>
            <key>textureFileName</key>
            <string>14_lblLobster_1.png</string>
        </dict>
    </dict>
</plist>
