<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>atlas/17_lblHumpBackWhale/0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1632,1},{316,538}}</string>
                <key>offset</key>
                <string>{1,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{316,538}}</string>
                <key>sourceSize</key>
                <string>{320,662}</string>
            </dict>
            <key>atlas/17_lblHumpBackWhale/0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,292},{316,538}}</string>
                <key>offset</key>
                <string>{1,60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{316,538}}</string>
                <key>sourceSize</key>
                <string>{318,660}</string>
            </dict>
            <key>atlas/17_lblHumpBackWhale/0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1087,299},{312,539}}</string>
                <key>offset</key>
                <string>{3,60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{312,539}}</string>
                <key>sourceSize</key>
                <string>{318,659}</string>
            </dict>
            <key>atlas/17_lblHumpBackWhale/0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,1},{289,539}}</string>
                <key>offset</key>
                <string>{14,59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,0},{289,539}}</string>
                <key>sourceSize</key>
                <string>{317,657}</string>
            </dict>
            <key>atlas/17_lblHumpBackWhale/0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{286,543}}</string>
                <key>offset</key>
                <string>{16,60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,0},{286,543}}</string>
                <key>sourceSize</key>
                <string>{320,663}</string>
            </dict>
            <key>atlas/17_lblHumpBackWhale/0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{1087,1},{296,543}}</string>
                <key>offset</key>
                <string>{11,61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,0},{296,543}}</string>
                <key>sourceSize</key>
                <string>{318,665}</string>
            </dict>
            <key>atlas/17_lblHumpBackWhale/0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,292},{307,544}}</string>
                <key>offset</key>
                <string>{5,61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,1},{307,544}}</string>
                <key>sourceSize</key>
                <string>{317,668}</string>
            </dict>
            <key>atlas/17_lblHumpBackWhale/0049.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,601},{317,543}}</string>
                <key>offset</key>
                <string>{0,62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{317,543}}</string>
                <key>sourceSize</key>
                <string>{317,669}</string>
            </dict>
            <key>atlas/17_lblHumpBackWhale/0053.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,613},{318,542}}</string>
                <key>offset</key>
                <string>{0,62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{318,542}}</string>
                <key>sourceSize</key>
                <string>{318,666}</string>
            </dict>
            <key>atlas/17_lblHumpBackWhale/0055.png</key>
            <dict>
                <key>frame</key>
                <string>{{1090,613},{318,542}}</string>
                <key>offset</key>
                <string>{0,62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{318,542}}</string>
                <key>sourceSize</key>
                <string>{318,666}</string>
            </dict>
            <key>atlas/17_lblHumpBackWhale/0067.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,920},{318,542}}</string>
                <key>offset</key>
                <string>{0,63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{318,542}}</string>
                <key>sourceSize</key>
                <string>{318,668}</string>
            </dict>
            <key>atlas/17_lblHumpBackWhale/0069.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,933},{318,542}}</string>
                <key>offset</key>
                <string>{0,63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{318,542}}</string>
                <key>sourceSize</key>
                <string>{318,668}</string>
            </dict>
            <key>atlas/17_lblHumpBackWhale/0071.png</key>
            <dict>
                <key>frame</key>
                <string>{{1089,933},{318,542}}</string>
                <key>offset</key>
                <string>{0,63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{318,542}}</string>
                <key>sourceSize</key>
                <string>{318,668}</string>
            </dict>
            <key>atlas/17_lblHumpBackWhale/0077.png</key>
            <dict>
                <key>frame</key>
                <string>{{1634,541},{318,540}}</string>
                <key>offset</key>
                <string>{0,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{318,540}}</string>
                <key>sourceSize</key>
                <string>{318,666}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>17_lblHumpBackWhale_3.png</string>
            <key>size</key>
            <string>{1954,1252}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:95f7f42debdf2c364b9be54ea38bc417:40e2d6e09849feb69f12cc51fc6aaa89:51756340fb4431e67fee8f4d8c6d24af$</string>
            <key>textureFileName</key>
            <string>17_lblHumpBackWhale_3.png</string>
        </dict>
    </dict>
</plist>
