<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>atlas/17_lblHumpBackWhale/0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1274,1},{314,539}}</string>
                <key>offset</key>
                <string>{2,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{314,539}}</string>
                <key>sourceSize</key>
                <string>{318,659}</string>
            </dict>
            <key>atlas/17_lblHumpBackWhale/0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1587,542},{309,538}}</string>
                <key>offset</key>
                <string>{4,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{309,538}}</string>
                <key>sourceSize</key>
                <string>{317,654}</string>
            </dict>
            <key>atlas/17_lblHumpBackWhale/0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1590,1},{307,537}}</string>
                <key>offset</key>
                <string>{5,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{307,537}}</string>
                <key>sourceSize</key>
                <string>{317,653}</string>
            </dict>
            <key>atlas/17_lblHumpBackWhale/0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,1092},{279,539}}</string>
                <key>offset</key>
                <string>{19,59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,0},{279,539}}</string>
                <key>sourceSize</key>
                <string>{317,657}</string>
            </dict>
            <key>atlas/17_lblHumpBackWhale/0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{1085,1088},{274,539}}</string>
                <key>offset</key>
                <string>{22,59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,0},{274,539}}</string>
                <key>sourceSize</key>
                <string>{318,657}</string>
            </dict>
            <key>atlas/17_lblHumpBackWhale/0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1094},{278,541}}</string>
                <key>offset</key>
                <string>{20,59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,0},{278,541}}</string>
                <key>sourceSize</key>
                <string>{318,659}</string>
            </dict>
            <key>atlas/17_lblHumpBackWhale/0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,548},{306,544}}</string>
                <key>offset</key>
                <string>{6,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,1},{306,544}}</string>
                <key>sourceSize</key>
                <string>{320,668}</string>
            </dict>
            <key>atlas/17_lblHumpBackWhale/0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{311,545}}</string>
                <key>offset</key>
                <string>{3,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{311,545}}</string>
                <key>sourceSize</key>
                <string>{317,669}</string>
            </dict>
            <key>atlas/17_lblHumpBackWhale/0051.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,548},{318,542}}</string>
                <key>offset</key>
                <string>{0,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{318,542}}</string>
                <key>sourceSize</key>
                <string>{318,666}</string>
            </dict>
            <key>atlas/17_lblHumpBackWhale/0057.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,1},{318,542}}</string>
                <key>offset</key>
                <string>{0,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{318,542}}</string>
                <key>sourceSize</key>
                <string>{318,666}</string>
            </dict>
            <key>atlas/17_lblHumpBackWhale/0065.png</key>
            <dict>
                <key>frame</key>
                <string>{{629,545},{318,542}}</string>
                <key>offset</key>
                <string>{0,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{318,542}}</string>
                <key>sourceSize</key>
                <string>{318,668}</string>
            </dict>
            <key>atlas/17_lblHumpBackWhale/0073.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,1},{318,542}}</string>
                <key>offset</key>
                <string>{0,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{318,542}}</string>
                <key>sourceSize</key>
                <string>{318,668}</string>
            </dict>
            <key>atlas/17_lblHumpBackWhale/0079.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,1},{318,540}}</string>
                <key>offset</key>
                <string>{0,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{318,540}}</string>
                <key>sourceSize</key>
                <string>{318,666}</string>
            </dict>
            <key>atlas/17_lblHumpBackWhale/0081.png</key>
            <dict>
                <key>frame</key>
                <string>{{949,545},{318,541}}</string>
                <key>offset</key>
                <string>{0,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{318,541}}</string>
                <key>sourceSize</key>
                <string>{318,663}</string>
            </dict>
            <key>atlas/17_lblHumpBackWhale/0083.png</key>
            <dict>
                <key>frame</key>
                <string>{{1269,543},{316,540}}</string>
                <key>offset</key>
                <string>{1,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{316,540}}</string>
                <key>sourceSize</key>
                <string>{320,662}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>17_lblHumpBackWhale_2.png</string>
            <key>size</key>
            <string>{1898,1373}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:95f7f42debdf2c364b9be54ea38bc417:40e2d6e09849feb69f12cc51fc6aaa89:51756340fb4431e67fee8f4d8c6d24af$</string>
            <key>textureFileName</key>
            <string>17_lblHumpBackWhale_2.png</string>
        </dict>
    </dict>
</plist>
