<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>atlas_16_lblKillerWhale_0161.png</key>
            <dict>
                <key>frame</key>
                <string>{{1198,1603},{245,330}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,330}}</string>
                <key>sourceSize</key>
                <string>{245,330}</string>
            </dict>
            <key>atlas_16_lblKillerWhale_0163.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,1603},{249,329}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,329}}</string>
                <key>sourceSize</key>
                <string>{249,329}</string>
            </dict>
            <key>atlas_16_lblKillerWhale_0165.png</key>
            <dict>
                <key>frame</key>
                <string>{{1045,1276},{254,327}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,327}}</string>
                <key>sourceSize</key>
                <string>{254,327}</string>
            </dict>
            <key>atlas_16_lblKillerWhale_0167.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1603},{258,327}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,327}}</string>
                <key>sourceSize</key>
                <string>{258,327}</string>
            </dict>
            <key>atlas_16_lblKillerWhale_0169.png</key>
            <dict>
                <key>frame</key>
                <string>{{1299,1276},{263,327}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,327}}</string>
                <key>sourceSize</key>
                <string>{263,327}</string>
            </dict>
            <key>atlas_16_lblKillerWhale_0171.png</key>
            <dict>
                <key>frame</key>
                <string>{{781,1276},{264,326}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,326}}</string>
                <key>sourceSize</key>
                <string>{264,326}</string>
            </dict>
            <key>atlas_16_lblKillerWhale_0173.png</key>
            <dict>
                <key>frame</key>
                <string>{{1562,1276},{269,327}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,327}}</string>
                <key>sourceSize</key>
                <string>{269,327}</string>
            </dict>
            <key>atlas_16_lblKillerWhale_0175.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,1276},{270,324}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,324}}</string>
                <key>sourceSize</key>
                <string>{270,324}</string>
            </dict>
            <key>atlas_16_lblKillerWhale_0177.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,1276},{275,326}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,326}}</string>
                <key>sourceSize</key>
                <string>{275,326}</string>
            </dict>
            <key>atlas_16_lblKillerWhale_0179.png</key>
            <dict>
                <key>frame</key>
                <string>{{1563,630},{276,323}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,323}}</string>
                <key>sourceSize</key>
                <string>{276,323}</string>
            </dict>
            <key>atlas_16_lblKillerWhale_0181.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,953},{278,323}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,323}}</string>
                <key>sourceSize</key>
                <string>{278,323}</string>
            </dict>
            <key>atlas_16_lblKillerWhale_0183.png</key>
            <dict>
                <key>frame</key>
                <string>{{1115,953},{278,323}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,323}}</string>
                <key>sourceSize</key>
                <string>{278,323}</string>
            </dict>
            <key>atlas_16_lblKillerWhale_0185.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,953},{279,323}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{279,323}}</string>
                <key>sourceSize</key>
                <string>{279,323}</string>
            </dict>
            <key>atlas_16_lblKillerWhale_0187.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,953},{279,323}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{279,323}}</string>
                <key>sourceSize</key>
                <string>{279,323}</string>
            </dict>
            <key>atlas_16_lblKillerWhale_0189.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,953},{279,323}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{279,323}}</string>
                <key>sourceSize</key>
                <string>{279,323}</string>
            </dict>
            <key>atlas_16_lblKillerWhale_0191.png</key>
            <dict>
                <key>frame</key>
                <string>{{1393,953},{279,323}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{279,323}}</string>
                <key>sourceSize</key>
                <string>{279,323}</string>
            </dict>
            <key>atlas_16_lblKillerWhale_0193.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,630},{279,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{279,320}}</string>
                <key>sourceSize</key>
                <string>{279,320}</string>
            </dict>
            <key>atlas_16_lblKillerWhale_0195.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,630},{278,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,320}}</string>
                <key>sourceSize</key>
                <string>{278,320}</string>
            </dict>
            <key>atlas_16_lblKillerWhale_0197.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,630},{276,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,320}}</string>
                <key>sourceSize</key>
                <string>{276,320}</string>
            </dict>
            <key>atlas_16_lblKillerWhale_0199.png</key>
            <dict>
                <key>frame</key>
                <string>{{1048,312},{275,317}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,317}}</string>
                <key>sourceSize</key>
                <string>{275,317}</string>
            </dict>
            <key>atlas_16_lblKillerWhale_0201.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,312},{273,314}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{273,314}}</string>
                <key>sourceSize</key>
                <string>{273,314}</string>
            </dict>
            <key>atlas_16_lblKillerWhale_0203.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,312},{272,312}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,312}}</string>
                <key>sourceSize</key>
                <string>{272,312}</string>
            </dict>
            <key>atlas_16_lblKillerWhale_0205.png</key>
            <dict>
                <key>frame</key>
                <string>{{1299,0},{269,312}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,312}}</string>
                <key>sourceSize</key>
                <string>{269,312}</string>
            </dict>
            <key>atlas_16_lblKillerWhale_0207.png</key>
            <dict>
                <key>frame</key>
                <string>{{521,0},{266,309}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,309}}</string>
                <key>sourceSize</key>
                <string>{266,309}</string>
            </dict>
            <key>atlas_16_lblKillerWhale_0209.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{261,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,305}}</string>
                <key>sourceSize</key>
                <string>{261,305}</string>
            </dict>
            <key>atlas_16_lblKillerWhale_0211.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,0},{260,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,305}}</string>
                <key>sourceSize</key>
                <string>{260,305}</string>
            </dict>
            <key>atlas_16_lblKillerWhale_0213.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,0},{257,309}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,309}}</string>
                <key>sourceSize</key>
                <string>{257,309}</string>
            </dict>
            <key>atlas_16_lblKillerWhale_0215.png</key>
            <dict>
                <key>frame</key>
                <string>{{1044,0},{255,311}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,311}}</string>
                <key>sourceSize</key>
                <string>{255,311}</string>
            </dict>
            <key>atlas_16_lblKillerWhale_0217.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,312},{252,315}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,315}}</string>
                <key>sourceSize</key>
                <string>{252,315}</string>
            </dict>
            <key>atlas_16_lblKillerWhale_0219.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,312},{251,317}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,317}}</string>
                <key>sourceSize</key>
                <string>{251,317}</string>
            </dict>
            <key>atlas_16_lblKillerWhale_0221.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,630},{248,318}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,318}}</string>
                <key>sourceSize</key>
                <string>{248,318}</string>
            </dict>
            <key>atlas_16_lblKillerWhale_0223.png</key>
            <dict>
                <key>frame</key>
                <string>{{1568,312},{246,318}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,318}}</string>
                <key>sourceSize</key>
                <string>{246,318}</string>
            </dict>
            <key>atlas_16_lblKillerWhale_0225.png</key>
            <dict>
                <key>frame</key>
                <string>{{1323,312},{245,318}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,318}}</string>
                <key>sourceSize</key>
                <string>{245,318}</string>
            </dict>
            <key>atlas_16_lblKillerWhale_0227.png</key>
            <dict>
                <key>frame</key>
                <string>{{1081,630},{242,321}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,321}}</string>
                <key>sourceSize</key>
                <string>{242,321}</string>
            </dict>
            <key>atlas_16_lblKillerWhale_0229.png</key>
            <dict>
                <key>frame</key>
                <string>{{1323,630},{240,323}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,323}}</string>
                <key>sourceSize</key>
                <string>{240,323}</string>
            </dict>
            <key>atlas_16_lblKillerWhale_0231.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1276},{236,324}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,324}}</string>
                <key>sourceSize</key>
                <string>{236,324}</string>
            </dict>
            <key>atlas_16_lblKillerWhale_0233.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,1603},{233,329}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,329}}</string>
                <key>sourceSize</key>
                <string>{233,329}</string>
            </dict>
            <key>atlas_16_lblKillerWhale_0235.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,1603},{231,329}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,329}}</string>
                <key>sourceSize</key>
                <string>{231,329}</string>
            </dict>
            <key>atlas_16_lblKillerWhale_0237.png</key>
            <dict>
                <key>frame</key>
                <string>{{971,1603},{227,330}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,330}}</string>
                <key>sourceSize</key>
                <string>{227,330}</string>
            </dict>
            <key>atlas_16_lblKillerWhale_0239.png</key>
            <dict>
                <key>frame</key>
                <string>{{1443,1603},{225,333}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,333}}</string>
                <key>sourceSize</key>
                <string>{225,333}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>atlas_16_lblKillerWhale_3.png</string>
            <key>size</key>
            <string>{1839,1936}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a8decaa6e1b9688e6ed692664075d5c9$</string>
            <key>textureFileName</key>
            <string>atlas_16_lblKillerWhale_3.png</string>
        </dict>
    </dict>
</plist>
