<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>atlas_16_lblKillerWhale_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,1289},{219,333}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,333}}</string>
                <key>sourceSize</key>
                <string>{219,333}</string>
            </dict>
            <key>atlas_16_lblKillerWhale_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,1289},{216,333}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,333}}</string>
                <key>sourceSize</key>
                <string>{216,333}</string>
            </dict>
            <key>atlas_16_lblKillerWhale_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1378,1289},{210,335}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,335}}</string>
                <key>sourceSize</key>
                <string>{210,335}</string>
            </dict>
            <key>atlas_16_lblKillerWhale_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1588,1289},{207,335}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,335}}</string>
                <key>sourceSize</key>
                <string>{207,335}</string>
            </dict>
            <key>atlas_16_lblKillerWhale_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1795,1289},{203,335}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,335}}</string>
                <key>sourceSize</key>
                <string>{203,335}</string>
            </dict>
            <key>atlas_16_lblKillerWhale_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,1289},{197,333}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,333}}</string>
                <key>sourceSize</key>
                <string>{197,333}</string>
            </dict>
            <key>atlas_16_lblKillerWhale_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1187,1289},{191,333}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,333}}</string>
                <key>sourceSize</key>
                <string>{191,333}</string>
            </dict>
            <key>atlas_16_lblKillerWhale_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1289},{185,330}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,330}}</string>
                <key>sourceSize</key>
                <string>{185,330}</string>
            </dict>
            <key>atlas_16_lblKillerWhale_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,1289},{182,330}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,330}}</string>
                <key>sourceSize</key>
                <string>{182,330}</string>
            </dict>
            <key>atlas_16_lblKillerWhale_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,1289},{188,330}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,330}}</string>
                <key>sourceSize</key>
                <string>{188,330}</string>
            </dict>
            <key>atlas_16_lblKillerWhale_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,962},{194,326}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,326}}</string>
                <key>sourceSize</key>
                <string>{194,326}</string>
            </dict>
            <key>atlas_16_lblKillerWhale_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{1742,638},{200,324}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,324}}</string>
                <key>sourceSize</key>
                <string>{200,324}</string>
            </dict>
            <key>atlas_16_lblKillerWhale_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{1539,638},{203,323}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,323}}</string>
                <key>sourceSize</key>
                <string>{203,323}</string>
            </dict>
            <key>atlas_16_lblKillerWhale_0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,638},{210,321}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,321}}</string>
                <key>sourceSize</key>
                <string>{210,321}</string>
            </dict>
            <key>atlas_16_lblKillerWhale_0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{1347,0},{213,317}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,317}}</string>
                <key>sourceSize</key>
                <string>{213,317}</string>
            </dict>
            <key>atlas_16_lblKillerWhale_0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{1126,0},{221,317}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,317}}</string>
                <key>sourceSize</key>
                <string>{221,317}</string>
            </dict>
            <key>atlas_16_lblKillerWhale_0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,317},{225,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,320}}</string>
                <key>sourceSize</key>
                <string>{225,320}</string>
            </dict>
            <key>atlas_16_lblKillerWhale_0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,638},{231,321}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,321}}</string>
                <key>sourceSize</key>
                <string>{231,321}</string>
            </dict>
            <key>atlas_16_lblKillerWhale_0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{1634,317},{237,321}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,321}}</string>
                <key>sourceSize</key>
                <string>{237,321}</string>
            </dict>
            <key>atlas_16_lblKillerWhale_0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,962},{242,326}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,326}}</string>
                <key>sourceSize</key>
                <string>{242,326}</string>
            </dict>
            <key>atlas_16_lblKillerWhale_0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,962},{246,326}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,326}}</string>
                <key>sourceSize</key>
                <string>{246,326}</string>
            </dict>
            <key>atlas_16_lblKillerWhale_0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{1730,962},{252,327}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,327}}</string>
                <key>sourceSize</key>
                <string>{252,327}</string>
            </dict>
            <key>atlas_16_lblKillerWhale_0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{1473,962},{257,326}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,326}}</string>
                <key>sourceSize</key>
                <string>{257,326}</string>
            </dict>
            <key>atlas_16_lblKillerWhale_0047.png</key>
            <dict>
                <key>frame</key>
                <string>{{1212,962},{261,326}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,326}}</string>
                <key>sourceSize</key>
                <string>{261,326}</string>
            </dict>
            <key>atlas_16_lblKillerWhale_0049.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,962},{263,326}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,326}}</string>
                <key>sourceSize</key>
                <string>{263,326}</string>
            </dict>
            <key>atlas_16_lblKillerWhale_0051.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,962},{267,324}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{267,324}}</string>
                <key>sourceSize</key>
                <string>{267,324}</string>
            </dict>
            <key>atlas_16_lblKillerWhale_0053.png</key>
            <dict>
                <key>frame</key>
                <string>{{1267,638},{272,323}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,323}}</string>
                <key>sourceSize</key>
                <string>{272,323}</string>
            </dict>
            <key>atlas_16_lblKillerWhale_0055.png</key>
            <dict>
                <key>frame</key>
                <string>{{995,638},{272,321}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,321}}</string>
                <key>sourceSize</key>
                <string>{272,321}</string>
            </dict>
            <key>atlas_16_lblKillerWhale_0057.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,638},{276,321}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,321}}</string>
                <key>sourceSize</key>
                <string>{276,321}</string>
            </dict>
            <key>atlas_16_lblKillerWhale_0059.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,638},{278,321}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,321}}</string>
                <key>sourceSize</key>
                <string>{278,321}</string>
            </dict>
            <key>atlas_16_lblKillerWhale_0061.png</key>
            <dict>
                <key>frame</key>
                <string>{{1356,317},{278,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,320}}</string>
                <key>sourceSize</key>
                <string>{278,320}</string>
            </dict>
            <key>atlas_16_lblKillerWhale_0063.png</key>
            <dict>
                <key>frame</key>
                <string>{{1075,317},{281,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,320}}</string>
                <key>sourceSize</key>
                <string>{281,320}</string>
            </dict>
            <key>atlas_16_lblKillerWhale_0065.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,317},{284,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,320}}</string>
                <key>sourceSize</key>
                <string>{284,320}</string>
            </dict>
            <key>atlas_16_lblKillerWhale_0067.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,317},{282,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,320}}</string>
                <key>sourceSize</key>
                <string>{282,320}</string>
            </dict>
            <key>atlas_16_lblKillerWhale_0069.png</key>
            <dict>
                <key>frame</key>
                <string>{{1560,0},{281,317}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,317}}</string>
                <key>sourceSize</key>
                <string>{281,317}</string>
            </dict>
            <key>atlas_16_lblKillerWhale_0071.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,317},{284,318}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,318}}</string>
                <key>sourceSize</key>
                <string>{284,318}</string>
            </dict>
            <key>atlas_16_lblKillerWhale_0073.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,0},{282,315}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,315}}</string>
                <key>sourceSize</key>
                <string>{282,315}</string>
            </dict>
            <key>atlas_16_lblKillerWhale_0075.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,0},{281,314}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,314}}</string>
                <key>sourceSize</key>
                <string>{281,314}</string>
            </dict>
            <key>atlas_16_lblKillerWhale_0077.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,0},{282,314}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,314}}</string>
                <key>sourceSize</key>
                <string>{282,314}</string>
            </dict>
            <key>atlas_16_lblKillerWhale_0079.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{281,311}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,311}}</string>
                <key>sourceSize</key>
                <string>{281,311}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>atlas_16_lblKillerWhale_1.png</string>
            <key>size</key>
            <string>{1998,1624}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:238bd395cfd12b29f8dc10ad396d64dc$</string>
            <key>textureFileName</key>
            <string>atlas_16_lblKillerWhale_1.png</string>
        </dict>
    </dict>
</plist>
