<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>atlas_16_lblKillerWhale_0081.png</key>
            <dict>
                <key>frame</key>
                <string>{{1315,303},{279,311}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{279,311}}</string>
                <key>sourceSize</key>
                <string>{279,311}</string>
            </dict>
            <key>atlas_16_lblKillerWhale_0083.png</key>
            <dict>
                <key>frame</key>
                <string>{{1039,303},{276,308}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,308}}</string>
                <key>sourceSize</key>
                <string>{276,308}</string>
            </dict>
            <key>atlas_16_lblKillerWhale_0085.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,303},{272,306}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,306}}</string>
                <key>sourceSize</key>
                <string>{272,306}</string>
            </dict>
            <key>atlas_16_lblKillerWhale_0087.png</key>
            <dict>
                <key>frame</key>
                <string>{{1065,0},{270,302}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,302}}</string>
                <key>sourceSize</key>
                <string>{270,302}</string>
            </dict>
            <key>atlas_16_lblKillerWhale_0089.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,0},{270,299}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,299}}</string>
                <key>sourceSize</key>
                <string>{270,299}</string>
            </dict>
            <key>atlas_16_lblKillerWhale_0091.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{266,299}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,299}}</string>
                <key>sourceSize</key>
                <string>{266,299}</string>
            </dict>
            <key>atlas_16_lblKillerWhale_0093.png</key>
            <dict>
                <key>frame</key>
                <string>{{799,0},{266,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,300}}</string>
                <key>sourceSize</key>
                <string>{266,300}</string>
            </dict>
            <key>atlas_16_lblKillerWhale_0095.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,0},{263,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,300}}</string>
                <key>sourceSize</key>
                <string>{263,300}</string>
            </dict>
            <key>atlas_16_lblKillerWhale_0097.png</key>
            <dict>
                <key>frame</key>
                <string>{{1335,0},{261,303}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,303}}</string>
                <key>sourceSize</key>
                <string>{261,303}</string>
            </dict>
            <key>atlas_16_lblKillerWhale_0099.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,303},{258,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,305}}</string>
                <key>sourceSize</key>
                <string>{258,305}</string>
            </dict>
            <key>atlas_16_lblKillerWhale_0101.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,303},{257,306}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,306}}</string>
                <key>sourceSize</key>
                <string>{257,306}</string>
            </dict>
            <key>atlas_16_lblKillerWhale_0103.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,303},{252,308}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,308}}</string>
                <key>sourceSize</key>
                <string>{252,308}</string>
            </dict>
            <key>atlas_16_lblKillerWhale_0105.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,614},{252,312}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,312}}</string>
                <key>sourceSize</key>
                <string>{252,312}</string>
            </dict>
            <key>atlas_16_lblKillerWhale_0107.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,614},{251,317}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,317}}</string>
                <key>sourceSize</key>
                <string>{251,317}</string>
            </dict>
            <key>atlas_16_lblKillerWhale_0109.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,614},{246,318}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,318}}</string>
                <key>sourceSize</key>
                <string>{246,318}</string>
            </dict>
            <key>atlas_16_lblKillerWhale_0111.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,614},{245,323}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,323}}</string>
                <key>sourceSize</key>
                <string>{245,323}</string>
            </dict>
            <key>atlas_16_lblKillerWhale_0113.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,614},{239,323}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,323}}</string>
                <key>sourceSize</key>
                <string>{239,323}</string>
            </dict>
            <key>atlas_16_lblKillerWhale_0115.png</key>
            <dict>
                <key>frame</key>
                <string>{{1233,614},{237,324}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,324}}</string>
                <key>sourceSize</key>
                <string>{237,324}</string>
            </dict>
            <key>atlas_16_lblKillerWhale_0117.png</key>
            <dict>
                <key>frame</key>
                <string>{{1049,938},{236,327}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,327}}</string>
                <key>sourceSize</key>
                <string>{236,327}</string>
            </dict>
            <key>atlas_16_lblKillerWhale_0119.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,1265},{230,329}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,329}}</string>
                <key>sourceSize</key>
                <string>{230,329}</string>
            </dict>
            <key>atlas_16_lblKillerWhale_0121.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,1265},{224,329}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,329}}</string>
                <key>sourceSize</key>
                <string>{224,329}</string>
            </dict>
            <key>atlas_16_lblKillerWhale_0123.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,1595},{221,330}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,330}}</string>
                <key>sourceSize</key>
                <string>{221,330}</string>
            </dict>
            <key>atlas_16_lblKillerWhale_0125.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,1595},{216,330}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,330}}</string>
                <key>sourceSize</key>
                <string>{216,330}</string>
            </dict>
            <key>atlas_16_lblKillerWhale_0127.png</key>
            <dict>
                <key>frame</key>
                <string>{{1408,1595},{213,333}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,333}}</string>
                <key>sourceSize</key>
                <string>{213,333}</string>
            </dict>
            <key>atlas_16_lblKillerWhale_0129.png</key>
            <dict>
                <key>frame</key>
                <string>{{1001,1595},{207,332}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,332}}</string>
                <key>sourceSize</key>
                <string>{207,332}</string>
            </dict>
            <key>atlas_16_lblKillerWhale_0131.png</key>
            <dict>
                <key>frame</key>
                <string>{{1208,1595},{200,332}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,332}}</string>
                <key>sourceSize</key>
                <string>{200,332}</string>
            </dict>
            <key>atlas_16_lblKillerWhale_0133.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,1595},{194,330}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,330}}</string>
                <key>sourceSize</key>
                <string>{194,330}</string>
            </dict>
            <key>atlas_16_lblKillerWhale_0135.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1595},{188,330}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,330}}</string>
                <key>sourceSize</key>
                <string>{188,330}</string>
            </dict>
            <key>atlas_16_lblKillerWhale_0137.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,1595},{182,330}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,330}}</string>
                <key>sourceSize</key>
                <string>{182,330}</string>
            </dict>
            <key>atlas_16_lblKillerWhale_0139.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,1265},{185,329}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,329}}</string>
                <key>sourceSize</key>
                <string>{185,329}</string>
            </dict>
            <key>atlas_16_lblKillerWhale_0141.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1265},{191,329}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,329}}</string>
                <key>sourceSize</key>
                <string>{191,329}</string>
            </dict>
            <key>atlas_16_lblKillerWhale_0143.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,938},{195,327}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,327}}</string>
                <key>sourceSize</key>
                <string>{195,327}</string>
            </dict>
            <key>atlas_16_lblKillerWhale_0145.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,938},{201,327}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,327}}</string>
                <key>sourceSize</key>
                <string>{201,327}</string>
            </dict>
            <key>atlas_16_lblKillerWhale_0147.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,938},{209,324}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,324}}</string>
                <key>sourceSize</key>
                <string>{209,324}</string>
            </dict>
            <key>atlas_16_lblKillerWhale_0149.png</key>
            <dict>
                <key>frame</key>
                <string>{{1285,938},{215,327}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,327}}</string>
                <key>sourceSize</key>
                <string>{215,327}</string>
            </dict>
            <key>atlas_16_lblKillerWhale_0151.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,938},{219,327}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,327}}</string>
                <key>sourceSize</key>
                <string>{219,327}</string>
            </dict>
            <key>atlas_16_lblKillerWhale_0153.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,938},{225,327}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,327}}</string>
                <key>sourceSize</key>
                <string>{225,327}</string>
            </dict>
            <key>atlas_16_lblKillerWhale_0155.png</key>
            <dict>
                <key>frame</key>
                <string>{{1306,1265},{230,330}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,330}}</string>
                <key>sourceSize</key>
                <string>{230,330}</string>
            </dict>
            <key>atlas_16_lblKillerWhale_0157.png</key>
            <dict>
                <key>frame</key>
                <string>{{1070,1265},{236,330}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,330}}</string>
                <key>sourceSize</key>
                <string>{236,330}</string>
            </dict>
            <key>atlas_16_lblKillerWhale_0159.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,1265},{240,330}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,330}}</string>
                <key>sourceSize</key>
                <string>{240,330}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>atlas_16_lblKillerWhale_2.png</string>
            <key>size</key>
            <string>{1621,1928}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ca0a1dfcfc316e9dc0becf081d81e459$</string>
            <key>textureFileName</key>
            <string>atlas_16_lblKillerWhale_2.png</string>
        </dict>
    </dict>
</plist>
