<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>atlas/lbl_King_LblDragon/0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,1867},{77,211}}</string>
                <key>offset</key>
                <string>{-295,82}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,211}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>atlas/lbl_King_LblDragon/0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,1721},{105,259}}</string>
                <key>offset</key>
                <string>{-281,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,259}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>atlas/lbl_King_LblDragon/0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,1453},{133,281}}</string>
                <key>offset</key>
                <string>{-267,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,281}}</string>
                <key>sourceSize</key>
                <string>{667,349}</string>
            </dict>
            <key>atlas/lbl_King_LblDragon/0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,1310},{141,295}}</string>
                <key>offset</key>
                <string>{-263,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,295}}</string>
                <key>sourceSize</key>
                <string>{667,355}</string>
            </dict>
            <key>atlas/lbl_King_LblDragon/0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1775,1},{185,335}}</string>
                <key>offset</key>
                <string>{-241,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,335}}</string>
                <key>sourceSize</key>
                <string>{667,347}</string>
            </dict>
            <key>atlas/lbl_King_LblDragon/0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,1229},{225,361}}</string>
                <key>offset</key>
                <string>{-221,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,361}}</string>
                <key>sourceSize</key>
                <string>{667,361}</string>
            </dict>
            <key>atlas/lbl_King_LblDragon/0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{1086,663},{233,362}}</string>
                <key>offset</key>
                <string>{-217,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,362}}</string>
                <key>sourceSize</key>
                <string>{667,362}</string>
            </dict>
            <key>atlas/lbl_King_LblDragon/0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,342},{233,364}}</string>
                <key>offset</key>
                <string>{-217,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,364}}</string>
                <key>sourceSize</key>
                <string>{667,364}</string>
            </dict>
            <key>atlas/lbl_King_LblDragon/0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,975},{247,359}}</string>
                <key>offset</key>
                <string>{-210,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,359}}</string>
                <key>sourceSize</key>
                <string>{667,359}</string>
            </dict>
            <key>atlas/lbl_King_LblDragon/0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{1646,1203},{253,331}}</string>
                <key>offset</key>
                <string>{-207,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,331}}</string>
                <key>sourceSize</key>
                <string>{667,331}</string>
            </dict>
            <key>atlas/lbl_King_LblDragon/0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1691},{273,289}}</string>
                <key>offset</key>
                <string>{-197,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{273,289}}</string>
                <key>sourceSize</key>
                <string>{667,289}</string>
            </dict>
            <key>atlas/lbl_King_LblDragon/0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,1027},{281,281}}</string>
                <key>offset</key>
                <string>{-193,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,281}}</string>
                <key>sourceSize</key>
                <string>{667,281}</string>
            </dict>
            <key>atlas/lbl_King_LblDragon/0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{1658,926},{305,275}}</string>
                <key>offset</key>
                <string>{-181,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{305,275}}</string>
                <key>sourceSize</key>
                <string>{667,281}</string>
            </dict>
            <key>atlas/lbl_King_LblDragon/0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{1664,673},{307,251}}</string>
                <key>offset</key>
                <string>{-180,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,30},{307,251}}</string>
                <key>sourceSize</key>
                <string>{667,281}</string>
            </dict>
            <key>atlas/lbl_King_LblDragon/0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{1321,922},{335,257}}</string>
                <key>offset</key>
                <string>{-166,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,44},{335,257}}</string>
                <key>sourceSize</key>
                <string>{667,301}</string>
            </dict>
            <key>atlas/lbl_King_LblDragon/0044.png</key>
            <dict>
                <key>frame</key>
                <string>{{1309,1181},{335,257}}</string>
                <key>offset</key>
                <string>{-166,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,46},{335,257}}</string>
                <key>sourceSize</key>
                <string>{667,303}</string>
            </dict>
            <key>atlas/lbl_King_LblDragon/0046.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,1456},{353,263}}</string>
                <key>offset</key>
                <string>{-157,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,54},{353,263}}</string>
                <key>sourceSize</key>
                <string>{667,317}</string>
            </dict>
            <key>atlas/lbl_King_LblDragon/0050.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,708},{377,265}}</string>
                <key>offset</key>
                <string>{-145,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,36},{377,265}}</string>
                <key>sourceSize</key>
                <string>{667,301}</string>
            </dict>
            <key>atlas/lbl_King_LblDragon/0051.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,629},{385,271}}</string>
                <key>offset</key>
                <string>{-141,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{385,271}}</string>
                <key>sourceSize</key>
                <string>{667,293}</string>
            </dict>
            <key>atlas/lbl_King_LblDragon/0057.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,342},{421,285}}</string>
                <key>offset</key>
                <string>{-123,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{421,285}}</string>
                <key>sourceSize</key>
                <string>{667,285}</string>
            </dict>
            <key>atlas/lbl_King_LblDragon/0058.png</key>
            <dict>
                <key>frame</key>
                <string>{{1342,1},{431,285}}</string>
                <key>offset</key>
                <string>{-118,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{431,285}}</string>
                <key>sourceSize</key>
                <string>{667,285}</string>
            </dict>
            <key>atlas/lbl_King_LblDragon/0060.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1242},{447,279}}</string>
                <key>offset</key>
                <string>{-110,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{447,279}}</string>
                <key>sourceSize</key>
                <string>{667,279}</string>
            </dict>
            <key>atlas/lbl_King_LblDragon/0061.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,1},{447,281}}</string>
                <key>offset</key>
                <string>{-110,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{447,281}}</string>
                <key>sourceSize</key>
                <string>{667,281}</string>
            </dict>
            <key>atlas/lbl_King_LblDragon/0062.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,785},{455,281}}</string>
                <key>offset</key>
                <string>{-106,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{455,281}}</string>
                <key>sourceSize</key>
                <string>{667,281}</string>
            </dict>
            <key>atlas/lbl_King_LblDragon/0127.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,326},{457,317}}</string>
                <key>offset</key>
                <string>{105,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,12},{457,317}}</string>
                <key>sourceSize</key>
                <string>{667,329}</string>
            </dict>
            <key>atlas/lbl_King_LblDragon/0128.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{455,323}}</string>
                <key>offset</key>
                <string>{106,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,18},{455,323}}</string>
                <key>sourceSize</key>
                <string>{667,341}</string>
            </dict>
            <key>atlas/lbl_King_LblDragon/0130.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,1},{433,339}}</string>
                <key>offset</key>
                <string>{117,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,36},{433,339}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>atlas/lbl_King_LblDragon/0136.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,902},{379,325}}</string>
                <key>offset</key>
                <string>{144,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{288,50},{379,325}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>atlas/lbl_King_LblDragon/0137.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,284},{377,325}}</string>
                <key>offset</key>
                <string>{145,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{290,50},{377,325}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>atlas/lbl_King_LblDragon/0138.png</key>
            <dict>
                <key>frame</key>
                <string>{{1305,288},{363,321}}</string>
                <key>offset</key>
                <string>{152,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{304,54},{363,321}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>atlas/lbl_King_LblDragon/0140.png</key>
            <dict>
                <key>frame</key>
                <string>{{1321,611},{341,309}}</string>
                <key>offset</key>
                <string>{163,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{326,66},{341,309}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>atlas/lbl_King_LblDragon/0142.png</key>
            <dict>
                <key>frame</key>
                <string>{{1670,338},{333,297}}</string>
                <key>offset</key>
                <string>{167,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{334,78},{333,297}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>atlas/lbl_King_LblDragon/0144.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,1721},{263,281}}</string>
                <key>offset</key>
                <string>{202,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{404,94},{263,281}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>atlas/lbl_King_LblDragon/0145.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,1588},{273,277}}</string>
                <key>offset</key>
                <string>{197,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{394,98},{273,277}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>atlas/lbl_King_LblDragon/0147.png</key>
            <dict>
                <key>frame</key>
                <string>{{1198,1440},{259,265}}</string>
                <key>offset</key>
                <string>{204,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{408,110},{259,265}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>atlas/lbl_King_LblDragon/0148.png</key>
            <dict>
                <key>frame</key>
                <string>{{559,1721},{255,261}}</string>
                <key>offset</key>
                <string>{206,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{412,114},{255,261}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>atlas/lbl_King_LblDragon/0149.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,1458},{255,261}}</string>
                <key>offset</key>
                <string>{206,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{412,114},{255,261}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>atlas/lbl_King_LblDragon/0152.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,1229},{247,227}}</string>
                <key>offset</key>
                <string>{210,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{420,148},{247,227}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>atlas/lbl_King_LblDragon/0153.png</key>
            <dict>
                <key>frame</key>
                <string>{{1198,1707},{247,227}}</string>
                <key>offset</key>
                <string>{210,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{420,148},{247,227}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>atlas/lbl_King_LblDragon/0154.png</key>
            <dict>
                <key>frame</key>
                <string>{{1459,1458},{233,227}}</string>
                <key>offset</key>
                <string>{217,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{434,148},{233,227}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>atlas/lbl_King_LblDragon/0155.png</key>
            <dict>
                <key>frame</key>
                <string>{{1694,1458},{229,229}}</string>
                <key>offset</key>
                <string>{219,-73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{438,146},{229,229}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>atlas/lbl_King_LblDragon/0156.png</key>
            <dict>
                <key>frame</key>
                <string>{{1459,1687},{229,225}}</string>
                <key>offset</key>
                <string>{219,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{438,150},{229,225}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>atlas/lbl_King_LblDragon/0168.png</key>
            <dict>
                <key>frame</key>
                <string>{{1193,1310},{101,101}}</string>
                <key>offset</key>
                <string>{283,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{566,118},{101,101}}</string>
                <key>sourceSize</key>
                <string>{667,219}</string>
            </dict>
            <key>atlas/lbl_King_LblDragon/0170.png</key>
            <dict>
                <key>frame</key>
                <string>{{1690,1689},{87,97}}</string>
                <key>offset</key>
                <string>{290,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{580,114},{87,97}}</string>
                <key>sourceSize</key>
                <string>{667,211}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>lbl_King_LblDragon_5.png</string>
            <key>size</key>
            <string>{1978,1985}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0a8e8eba5b75d849503549125a8763c9:8c26124ba364beb42f814c7619ba02f0:b3872893010073e1ffddcae94ec4ebdd$</string>
            <key>textureFileName</key>
            <string>lbl_King_LblDragon_5.png</string>
        </dict>
    </dict>
</plist>
