<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>atlas/lbl_King_Taco/0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,1357},{280,273}}</string>
                <key>offset</key>
                <string>{58,123}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,0},{280,273}}</string>
                <key>sourceSize</key>
                <string>{396,519}</string>
            </dict>
            <key>atlas/lbl_King_Taco/0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,1370},{273,280}}</string>
                <key>offset</key>
                <string>{51,125}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,0},{273,280}}</string>
                <key>sourceSize</key>
                <string>{377,530}</string>
            </dict>
            <key>atlas/lbl_King_Taco/0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,1119},{259,289}}</string>
                <key>offset</key>
                <string>{32,130}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,0},{259,289}}</string>
                <key>sourceSize</key>
                <string>{323,549}</string>
            </dict>
            <key>atlas/lbl_King_Taco/0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,839},{249,294}}</string>
                <key>offset</key>
                <string>{22,133}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,0},{249,294}}</string>
                <key>sourceSize</key>
                <string>{293,560}</string>
            </dict>
            <key>atlas/lbl_King_Taco/0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,382},{221,305}}</string>
                <key>offset</key>
                <string>{-14,138}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,305}}</string>
                <key>sourceSize</key>
                <string>{249,581}</string>
            </dict>
            <key>atlas/lbl_King_Taco/0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,179},{206,309}}</string>
                <key>offset</key>
                <string>{-65,141}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,309}}</string>
                <key>sourceSize</key>
                <string>{336,591}</string>
            </dict>
            <key>atlas/lbl_King_Taco/0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,391},{223,303}}</string>
                <key>offset</key>
                <string>{-73,138}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,303}}</string>
                <key>sourceSize</key>
                <string>{369,579}</string>
            </dict>
            <key>atlas/lbl_King_Taco/0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,605},{232,301}}</string>
                <key>offset</key>
                <string>{-77,136}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,301}}</string>
                <key>sourceSize</key>
                <string>{386,573}</string>
            </dict>
            <key>atlas/lbl_King_Taco/0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,616},{240,298}}</string>
                <key>offset</key>
                <string>{-81,134}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,298}}</string>
                <key>sourceSize</key>
                <string>{402,566}</string>
            </dict>
            <key>atlas/lbl_King_Taco/0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{1119,865},{252,285}}</string>
                <key>offset</key>
                <string>{-88,129}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,285}}</string>
                <key>sourceSize</key>
                <string>{428,543}</string>
            </dict>
            <key>atlas/lbl_King_Taco/0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,1110},{258,281}}</string>
                <key>offset</key>
                <string>{-91,126}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,281}}</string>
                <key>sourceSize</key>
                <string>{440,533}</string>
            </dict>
            <key>atlas/lbl_King_Taco/0049.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,847},{280,250}}</string>
                <key>offset</key>
                <string>{-101,110}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,250}}</string>
                <key>sourceSize</key>
                <string>{482,470}</string>
            </dict>
            <key>atlas/lbl_King_Taco/0061.png</key>
            <dict>
                <key>frame</key>
                <string>{{1249,188},{282,207}}</string>
                <key>offset</key>
                <string>{-103,90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,207}}</string>
                <key>sourceSize</key>
                <string>{488,387}</string>
            </dict>
            <key>atlas/lbl_King_Taco/0065.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,375},{280,216}}</string>
                <key>offset</key>
                <string>{-100,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,216}}</string>
                <key>sourceSize</key>
                <string>{480,404}</string>
            </dict>
            <key>atlas/lbl_King_Taco/0067.png</key>
            <dict>
                <key>frame</key>
                <string>{{1228,397},{276,223}}</string>
                <key>offset</key>
                <string>{-100,97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,223}}</string>
                <key>sourceSize</key>
                <string>{476,417}</string>
            </dict>
            <key>atlas/lbl_King_Taco/0077.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,839},{251,255}}</string>
                <key>offset</key>
                <string>{-86,114}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,255}}</string>
                <key>sourceSize</key>
                <string>{423,483}</string>
            </dict>
            <key>atlas/lbl_King_Taco/0079.png</key>
            <dict>
                <key>frame</key>
                <string>{{1437,625},{242,261}}</string>
                <key>offset</key>
                <string>{-83,117}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,261}}</string>
                <key>sourceSize</key>
                <string>{408,495}</string>
            </dict>
            <key>atlas/lbl_King_Taco/0083.png</key>
            <dict>
                <key>frame</key>
                <string>{{1506,399},{224,277}}</string>
                <key>offset</key>
                <string>{-72,124}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,277}}</string>
                <key>sourceSize</key>
                <string>{368,525}</string>
            </dict>
            <key>atlas/lbl_King_Taco/0087.png</key>
            <dict>
                <key>frame</key>
                <string>{{1533,188},{209,291}}</string>
                <key>offset</key>
                <string>{-57,132}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,291}}</string>
                <key>sourceSize</key>
                <string>{323,555}</string>
            </dict>
            <key>atlas/lbl_King_Taco/0089.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,177},{203,297}}</string>
                <key>offset</key>
                <string>{-48,135}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,297}}</string>
                <key>sourceSize</key>
                <string>{299,567}</string>
            </dict>
            <key>atlas/lbl_King_Taco/0091.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,174},{199,303}}</string>
                <key>offset</key>
                <string>{-38,138}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,303}}</string>
                <key>sourceSize</key>
                <string>{275,579}</string>
            </dict>
            <key>atlas/lbl_King_Taco/0095.png</key>
            <dict>
                <key>frame</key>
                <string>{{1315,1},{185,316}}</string>
                <key>offset</key>
                <string>{-17,143}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,316}}</string>
                <key>sourceSize</key>
                <string>{219,602}</string>
            </dict>
            <key>atlas/lbl_King_Taco/0097.png</key>
            <dict>
                <key>frame</key>
                <string>{{991,1},{180,322}}</string>
                <key>offset</key>
                <string>{-6,146}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,322}}</string>
                <key>sourceSize</key>
                <string>{192,614}</string>
            </dict>
            <key>atlas/lbl_King_Taco/0099.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,1},{176,325}}</string>
                <key>offset</key>
                <string>{5,148}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{176,325}}</string>
                <key>sourceSize</key>
                <string>{186,621}</string>
            </dict>
            <key>atlas/lbl_King_Taco/0101.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{171,328}}</string>
                <key>offset</key>
                <string>{18,149}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,0},{171,328}}</string>
                <key>sourceSize</key>
                <string>{209,626}</string>
            </dict>
            <key>atlas/lbl_King_Taco/0105.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,1},{174,331}}</string>
                <key>offset</key>
                <string>{36,152}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,0},{174,331}}</string>
                <key>sourceSize</key>
                <string>{248,635}</string>
            </dict>
            <key>atlas/lbl_King_Taco/0107.png</key>
            <dict>
                <key>frame</key>
                <string>{{1633,1},{185,333}}</string>
                <key>offset</key>
                <string>{41,153}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,0},{185,333}}</string>
                <key>sourceSize</key>
                <string>{267,639}</string>
            </dict>
            <key>atlas/lbl_King_Taco/0111.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,183},{206,331}}</string>
                <key>offset</key>
                <string>{53,152}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,0},{206,331}}</string>
                <key>sourceSize</key>
                <string>{314,635}</string>
            </dict>
            <key>atlas/lbl_King_Taco/0113.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,391},{216,331}}</string>
                <key>offset</key>
                <string>{58,151}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,0},{216,331}}</string>
                <key>sourceSize</key>
                <string>{332,633}</string>
            </dict>
            <key>atlas/lbl_King_Taco/0117.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,609},{236,325}}</string>
                <key>offset</key>
                <string>{68,149}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{137,0},{236,325}}</string>
                <key>sourceSize</key>
                <string>{374,623}</string>
            </dict>
            <key>atlas/lbl_King_Taco/0125.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,1380},{272,309}}</string>
                <key>offset</key>
                <string>{83,141}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,0},{272,309}}</string>
                <key>sourceSize</key>
                <string>{438,591}</string>
            </dict>
            <key>atlas/lbl_King_Taco/0127.png</key>
            <dict>
                <key>frame</key>
                <string>{{1458,1419},{277,305}}</string>
                <key>offset</key>
                <string>{85,138}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{170,0},{277,305}}</string>
                <key>sourceSize</key>
                <string>{447,581}</string>
            </dict>
            <key>atlas/lbl_King_Taco/0129.png</key>
            <dict>
                <key>frame</key>
                <string>{{1765,1419},{282,301}}</string>
                <key>offset</key>
                <string>{87,136}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,0},{282,301}}</string>
                <key>sourceSize</key>
                <string>{458,573}</string>
            </dict>
            <key>atlas/lbl_King_Taco/0137.png</key>
            <dict>
                <key>frame</key>
                <string>{{1162,1384},{294,277}}</string>
                <key>offset</key>
                <string>{88,125}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,0},{294,277}}</string>
                <key>sourceSize</key>
                <string>{470,527}</string>
            </dict>
            <key>atlas/lbl_King_Taco/0143.png</key>
            <dict>
                <key>frame</key>
                <string>{{1164,1123},{293,259}}</string>
                <key>offset</key>
                <string>{80,116}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,0},{293,259}}</string>
                <key>sourceSize</key>
                <string>{453,491}</string>
            </dict>
            <key>atlas/lbl_King_Taco/0145.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1090},{290,257}}</string>
                <key>offset</key>
                <string>{77,114}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,0},{290,257}}</string>
                <key>sourceSize</key>
                <string>{446,485}</string>
            </dict>
            <key>atlas/lbl_King_Taco/0147.png</key>
            <dict>
                <key>frame</key>
                <string>{{1755,1156},{287,261}}</string>
                <key>offset</key>
                <string>{71,117}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,0},{287,261}}</string>
                <key>sourceSize</key>
                <string>{429,495}</string>
            </dict>
            <key>atlas/lbl_King_Taco/0149.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1349},{284,267}}</string>
                <key>offset</key>
                <string>{65,120}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,0},{284,267}}</string>
                <key>sourceSize</key>
                <string>{414,507}</string>
            </dict>
            <key>atlas/lbl_King_Taco/0177.png</key>
            <dict>
                <key>frame</key>
                <string>{{1826,188},{219,230}}</string>
                <key>offset</key>
                <string>{58,90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,0},{219,230}}</string>
                <key>sourceSize</key>
                <string>{335,410}</string>
            </dict>
            <key>atlas/lbl_King_Taco/0179.png</key>
            <dict>
                <key>frame</key>
                <string>{{1785,420},{235,235}}</string>
                <key>offset</key>
                <string>{64,92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,0},{235,235}}</string>
                <key>sourceSize</key>
                <string>{363,419}</string>
            </dict>
            <key>atlas/lbl_King_Taco/0181.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,593},{245,238}}</string>
                <key>offset</key>
                <string>{69,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,0},{245,238}}</string>
                <key>sourceSize</key>
                <string>{383,426}</string>
            </dict>
            <key>atlas/lbl_King_Taco/0183.png</key>
            <dict>
                <key>frame</key>
                <string>{{1178,622},{257,241}}</string>
                <key>offset</key>
                <string>{74,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,0},{257,241}}</string>
                <key>sourceSize</key>
                <string>{405,431}</string>
            </dict>
            <key>atlas/lbl_King_Taco/0185.png</key>
            <dict>
                <key>frame</key>
                <string>{{1700,657},{265,242}}</string>
                <key>offset</key>
                <string>{79,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,0},{265,242}}</string>
                <key>sourceSize</key>
                <string>{423,434}</string>
            </dict>
            <key>atlas/lbl_King_Taco/0191.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,858},{285,250}}</string>
                <key>offset</key>
                <string>{87,100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,0},{285,250}}</string>
                <key>sourceSize</key>
                <string>{459,450}</string>
            </dict>
            <key>atlas/lbl_King_Taco/0193.png</key>
            <dict>
                <key>frame</key>
                <string>{{1406,869},{290,252}}</string>
                <key>offset</key>
                <string>{87,102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,0},{290,252}}</string>
                <key>sourceSize</key>
                <string>{464,456}</string>
            </dict>
            <key>atlas/lbl_King_Taco/0199.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,1099},{295,256}}</string>
                <key>offset</key>
                <string>{85,104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,0},{295,256}}</string>
                <key>sourceSize</key>
                <string>{465,464}</string>
            </dict>
            <key>atlas/lbl_King_Taco/0201.png</key>
            <dict>
                <key>frame</key>
                <string>{{1459,1156},{294,259}}</string>
                <key>offset</key>
                <string>{83,104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,0},{294,259}}</string>
                <key>sourceSize</key>
                <string>{462,467}</string>
            </dict>
            <key>atlas/lbl_King_Taco/0203.png</key>
            <dict>
                <key>frame</key>
                <string>{{1698,901},{293,253}}</string>
                <key>offset</key>
                <string>{80,106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,0},{293,253}}</string>
                <key>sourceSize</key>
                <string>{453,465}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>lbl_King_Taco_2.png</string>
            <key>size</key>
            <string>{2048,1721}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c1d0b9ee4ed4d507d721691e6feeb2df:544d44488d027129d239263fa86fd0b0:aef339b9522dd83a9502acd381439287$</string>
            <key>textureFileName</key>
            <string>lbl_King_Taco_2.png</string>
        </dict>
    </dict>
</plist>
