<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>atlas/lbl_King_Lacoste/0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1179,1},{144,522}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,20},{144,522}}</string>
                <key>sourceSize</key>
                <string>{148,544}</string>
            </dict>
            <key>atlas/lbl_King_Lacoste/0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1031,1},{146,524}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,17},{146,524}}</string>
                <key>sourceSize</key>
                <string>{154,542}</string>
            </dict>
            <key>atlas/lbl_King_Lacoste/0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,1},{146,526}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,16},{146,526}}</string>
                <key>sourceSize</key>
                <string>{152,544}</string>
            </dict>
            <key>atlas/lbl_King_Lacoste/0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,1},{146,528}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,13},{146,528}}</string>
                <key>sourceSize</key>
                <string>{152,542}</string>
            </dict>
            <key>atlas/lbl_King_Lacoste/0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,1},{144,532}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,9},{144,532}}</string>
                <key>sourceSize</key>
                <string>{148,542}</string>
            </dict>
            <key>atlas/lbl_King_Lacoste/0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,535},{148,530}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,11},{148,530}}</string>
                <key>sourceSize</key>
                <string>{158,542}</string>
            </dict>
            <key>atlas/lbl_King_Lacoste/0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,533},{152,528}}</string>
                <key>offset</key>
                <string>{6,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,12},{152,528}}</string>
                <key>sourceSize</key>
                <string>{166,540}</string>
            </dict>
            <key>atlas/lbl_King_Lacoste/0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,1},{154,526}}</string>
                <key>offset</key>
                <string>{8,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,15},{154,526}}</string>
                <key>sourceSize</key>
                <string>{174,542}</string>
            </dict>
            <key>atlas/lbl_King_Lacoste/0047.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,1061},{162,514}}</string>
                <key>offset</key>
                <string>{14,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,28},{162,514}}</string>
                <key>sourceSize</key>
                <string>{192,544}</string>
            </dict>
            <key>atlas/lbl_King_Lacoste/0049.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,1063},{162,512}}</string>
                <key>offset</key>
                <string>{12,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,28},{162,512}}</string>
                <key>sourceSize</key>
                <string>{190,540}</string>
            </dict>
            <key>atlas/lbl_King_Lacoste/0075.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,1},{144,530}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{144,530}}</string>
                <key>sourceSize</key>
                <string>{152,542}</string>
            </dict>
            <key>atlas/lbl_King_Lacoste/0079.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,535},{142,532}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{142,532}}</string>
                <key>sourceSize</key>
                <string>{154,540}</string>
            </dict>
            <key>atlas/lbl_King_Lacoste/0083.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{142,534}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{142,534}}</string>
                <key>sourceSize</key>
                <string>{154,542}</string>
            </dict>
            <key>atlas/lbl_King_Lacoste/0085.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,537},{142,534}}</string>
                <key>offset</key>
                <string>{-6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{142,534}}</string>
                <key>sourceSize</key>
                <string>{154,544}</string>
            </dict>
            <key>atlas/lbl_King_Lacoste/0091.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,1},{140,530}}</string>
                <key>offset</key>
                <string>{-5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{140,530}}</string>
                <key>sourceSize</key>
                <string>{150,542}</string>
            </dict>
            <key>atlas/lbl_King_Lacoste/0095.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,531},{146,528}}</string>
                <key>offset</key>
                <string>{-9,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{146,528}}</string>
                <key>sourceSize</key>
                <string>{164,542}</string>
            </dict>
            <key>atlas/lbl_King_Lacoste/0097.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,529},{148,526}}</string>
                <key>offset</key>
                <string>{-10,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{148,526}}</string>
                <key>sourceSize</key>
                <string>{168,544}</string>
            </dict>
            <key>atlas/lbl_King_Lacoste/0103.png</key>
            <dict>
                <key>frame</key>
                <string>{{1135,1051},{154,520}}</string>
                <key>offset</key>
                <string>{-13,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,21},{154,520}}</string>
                <key>sourceSize</key>
                <string>{180,542}</string>
            </dict>
            <key>atlas/lbl_King_Lacoste/0109.png</key>
            <dict>
                <key>frame</key>
                <string>{{1325,1},{152,516}}</string>
                <key>offset</key>
                <string>{-9,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,25},{152,516}}</string>
                <key>sourceSize</key>
                <string>{170,542}</string>
            </dict>
            <key>atlas/lbl_King_Lacoste/0117.png</key>
            <dict>
                <key>frame</key>
                <string>{{1291,1047},{140,516}}</string>
                <key>offset</key>
                <string>{1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,25},{140,516}}</string>
                <key>sourceSize</key>
                <string>{142,542}</string>
            </dict>
            <key>atlas/lbl_King_Lacoste/0121.png</key>
            <dict>
                <key>frame</key>
                <string>{{1479,1},{140,514}}</string>
                <key>offset</key>
                <string>{3,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,19},{140,514}}</string>
                <key>sourceSize</key>
                <string>{148,534}</string>
            </dict>
            <key>atlas/lbl_King_Lacoste/0125.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,529},{142,526}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,18},{142,526}}</string>
                <key>sourceSize</key>
                <string>{152,546}</string>
            </dict>
            <key>atlas/lbl_King_Lacoste/0143.png</key>
            <dict>
                <key>frame</key>
                <string>{{1035,527},{156,522}}</string>
                <key>offset</key>
                <string>{-2,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,37},{156,522}}</string>
                <key>sourceSize</key>
                <string>{160,560}</string>
            </dict>
            <key>atlas/lbl_King_Lacoste/0149.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1073},{166,490}}</string>
                <key>offset</key>
                <string>{-2,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,40},{166,490}}</string>
                <key>sourceSize</key>
                <string>{170,532}</string>
            </dict>
            <key>atlas/lbl_King_Lacoste/0151.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,1069},{170,476}}</string>
                <key>offset</key>
                <string>{-1,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,39},{170,476}}</string>
                <key>sourceSize</key>
                <string>{172,516}</string>
            </dict>
            <key>atlas/lbl_King_Lacoste/0163.png</key>
            <dict>
                <key>frame</key>
                <string>{{1503,637},{176,424}}</string>
                <key>offset</key>
                <string>{3,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,64},{176,424}}</string>
                <key>sourceSize</key>
                <string>{184,488}</string>
            </dict>
            <key>atlas/lbl_King_Lacoste/0165.png</key>
            <dict>
                <key>frame</key>
                <string>{{1503,981},{172,418}}</string>
                <key>offset</key>
                <string>{3,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,68},{172,418}}</string>
                <key>sourceSize</key>
                <string>{178,488}</string>
            </dict>
            <key>atlas/lbl_King_Lacoste/0171.png</key>
            <dict>
                <key>frame</key>
                <string>{{1599,1155},{160,398}}</string>
                <key>offset</key>
                <string>{0,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,75},{160,398}}</string>
                <key>sourceSize</key>
                <string>{160,474}</string>
            </dict>
            <key>atlas/lbl_King_Lacoste/0183.png</key>
            <dict>
                <key>frame</key>
                <string>{{1621,483},{152,372}}</string>
                <key>offset</key>
                <string>{-1,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,82},{152,372}}</string>
                <key>sourceSize</key>
                <string>{154,454}</string>
            </dict>
            <key>atlas/lbl_King_Lacoste/0185.png</key>
            <dict>
                <key>frame</key>
                <string>{{1621,327},{154,372}}</string>
                <key>offset</key>
                <string>{-2,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,83},{154,372}}</string>
                <key>sourceSize</key>
                <string>{158,456}</string>
            </dict>
            <key>atlas/lbl_King_Lacoste/0189.png</key>
            <dict>
                <key>frame</key>
                <string>{{1599,1317},{156,370}}</string>
                <key>offset</key>
                <string>{-1,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,85},{156,370}}</string>
                <key>sourceSize</key>
                <string>{158,456}</string>
            </dict>
            <key>atlas/lbl_King_Lacoste/0199.png</key>
            <dict>
                <key>frame</key>
                <string>{{1621,1},{160,386}}</string>
                <key>offset</key>
                <string>{-3,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,88},{160,386}}</string>
                <key>sourceSize</key>
                <string>{166,476}</string>
            </dict>
            <key>atlas/lbl_King_Lacoste/0203.png</key>
            <dict>
                <key>frame</key>
                <string>{{1621,163},{162,378}}</string>
                <key>offset</key>
                <string>{-3,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,67},{162,378}}</string>
                <key>sourceSize</key>
                <string>{170,446}</string>
            </dict>
            <key>atlas/lbl_King_Lacoste/0207.png</key>
            <dict>
                <key>frame</key>
                <string>{{1433,1155},{164,398}}</string>
                <key>offset</key>
                <string>{-3,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,67},{164,398}}</string>
                <key>sourceSize</key>
                <string>{170,466}</string>
            </dict>
            <key>atlas/lbl_King_Lacoste/0211.png</key>
            <dict>
                <key>frame</key>
                <string>{{1503,815},{164,420}}</string>
                <key>offset</key>
                <string>{-3,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,69},{164,420}}</string>
                <key>sourceSize</key>
                <string>{170,490}</string>
            </dict>
            <key>atlas/lbl_King_Lacoste/0223.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,1067},{160,508}}</string>
                <key>offset</key>
                <string>{-8,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,89},{160,508}}</string>
                <key>sourceSize</key>
                <string>{176,598}</string>
            </dict>
            <key>atlas/lbl_King_Lacoste/0225.png</key>
            <dict>
                <key>frame</key>
                <string>{{1343,519},{158,514}}</string>
                <key>offset</key>
                <string>{-9,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,86},{158,514}}</string>
                <key>sourceSize</key>
                <string>{176,602}</string>
            </dict>
            <key>atlas/lbl_King_Lacoste/0227.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,1057},{154,518}}</string>
                <key>offset</key>
                <string>{-9,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,80},{154,518}}</string>
                <key>sourceSize</key>
                <string>{174,600}</string>
            </dict>
            <key>atlas/lbl_King_Lacoste/0231.png</key>
            <dict>
                <key>frame</key>
                <string>{{1193,525},{148,520}}</string>
                <key>offset</key>
                <string>{-7,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,62},{148,520}}</string>
                <key>sourceSize</key>
                <string>{162,582}</string>
            </dict>
            <key>atlas/lbl_King_Lacoste/0233.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,1057},{146,518}}</string>
                <key>offset</key>
                <string>{-5,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,53},{146,518}}</string>
                <key>sourceSize</key>
                <string>{156,572}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>lbl_King_Lacoste_3.png</string>
            <key>size</key>
            <string>{2008,1576}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1cbbd335371a2826ad5db9a735a8292d:aaeeda7ee3f7f6f5b32f3b4dd9a09b9e:3af6afa200a64a885693c25bcd4a2f26$</string>
            <key>textureFileName</key>
            <string>lbl_King_Lacoste_3.png</string>
        </dict>
    </dict>
</plist>
