<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>atlas/lbl_Big_PufferFish/0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,134},{134,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,182}}</string>
                <key>sourceSize</key>
                <string>{134,182}</string>
            </dict>
            <key>atlas/lbl_Big_PufferFish/0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,540},{138,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{138,183}}</string>
                <key>sourceSize</key>
                <string>{140,183}</string>
            </dict>
            <key>atlas/lbl_Big_PufferFish/0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,969},{141,187}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,187}}</string>
                <key>sourceSize</key>
                <string>{141,189}</string>
            </dict>
            <key>atlas/lbl_Big_PufferFish/0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{567,1551},{146,187}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,187}}</string>
                <key>sourceSize</key>
                <string>{146,189}</string>
            </dict>
            <key>atlas/lbl_Big_PufferFish/0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,1403},{145,186}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,186}}</string>
                <key>sourceSize</key>
                <string>{147,188}</string>
            </dict>
            <key>atlas/lbl_Big_PufferFish/0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,1115},{142,183}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{142,183}}</string>
                <key>sourceSize</key>
                <string>{146,185}</string>
            </dict>
            <key>atlas/lbl_Big_PufferFish/0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,685},{139,179}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{139,179}}</string>
                <key>sourceSize</key>
                <string>{143,185}</string>
            </dict>
            <key>atlas/lbl_Big_PufferFish/0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,265},{135,179}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{135,179}}</string>
                <key>sourceSize</key>
                <string>{141,183}</string>
            </dict>
            <key>atlas/lbl_Big_PufferFish/0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,400},{137,179}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{137,179}}</string>
                <key>sourceSize</key>
                <string>{143,185}</string>
            </dict>
            <key>atlas/lbl_Big_PufferFish/0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,687},{140,183}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{140,183}}</string>
                <key>sourceSize</key>
                <string>{146,185}</string>
            </dict>
            <key>atlas/lbl_Big_PufferFish/0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,971},{141,186}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,186}}</string>
                <key>sourceSize</key>
                <string>{147,188}</string>
            </dict>
            <key>atlas/lbl_Big_PufferFish/0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1255},{142,187}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,187}}</string>
                <key>sourceSize</key>
                <string>{146,189}</string>
            </dict>
            <key>atlas/lbl_Big_PufferFish/0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,270},{136,186}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,186}}</string>
                <key>sourceSize</key>
                <string>{138,188}</string>
            </dict>
            <key>atlas/lbl_Big_PufferFish/0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,131},{132,183}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{132,183}}</string>
                <key>sourceSize</key>
                <string>{134,185}</string>
            </dict>
            <key>atlas/lbl_Big_PufferFish/0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{128,181}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{128,181}}</string>
                <key>sourceSize</key>
                <string>{128,183}</string>
            </dict>
            <key>atlas/lbl_Big_PufferFish/0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,1},{128,181}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{128,181}}</string>
                <key>sourceSize</key>
                <string>{128,183}</string>
            </dict>
            <key>atlas/lbl_Big_PufferFish/0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,131},{132,183}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{132,183}}</string>
                <key>sourceSize</key>
                <string>{134,185}</string>
            </dict>
            <key>atlas/lbl_Big_PufferFish/0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,402},{136,186}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,186}}</string>
                <key>sourceSize</key>
                <string>{138,188}</string>
            </dict>
            <key>atlas/lbl_Big_PufferFish/0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,1258},{142,187}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,187}}</string>
                <key>sourceSize</key>
                <string>{146,189}</string>
            </dict>
            <key>atlas/lbl_Big_PufferFish/0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{559,972},{141,186}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,186}}</string>
                <key>sourceSize</key>
                <string>{147,188}</string>
            </dict>
            <key>atlas/lbl_Big_PufferFish/0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,826},{140,183}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{140,183}}</string>
                <key>sourceSize</key>
                <string>{146,185}</string>
            </dict>
            <key>atlas/lbl_Big_PufferFish/0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,539},{138,179}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{138,179}}</string>
                <key>sourceSize</key>
                <string>{144,185}</string>
            </dict>
            <key>atlas/lbl_Big_PufferFish/0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,265},{135,179}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{135,179}}</string>
                <key>sourceSize</key>
                <string>{141,183}</string>
            </dict>
            <key>atlas/lbl_Big_PufferFish/0047.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,686},{139,179}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{139,179}}</string>
                <key>sourceSize</key>
                <string>{143,185}</string>
            </dict>
            <key>atlas/lbl_Big_PufferFish/0049.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,1257},{142,183}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{142,183}}</string>
                <key>sourceSize</key>
                <string>{144,185}</string>
            </dict>
            <key>atlas/lbl_Big_PufferFish/0051.png</key>
            <dict>
                <key>frame</key>
                <string>{{567,1404},{145,186}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,186}}</string>
                <key>sourceSize</key>
                <string>{147,188}</string>
            </dict>
            <key>atlas/lbl_Big_PufferFish/0053.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,1551},{146,187}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,187}}</string>
                <key>sourceSize</key>
                <string>{146,189}</string>
            </dict>
            <key>atlas/lbl_Big_PufferFish/0055.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,972},{141,187}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,187}}</string>
                <key>sourceSize</key>
                <string>{141,189}</string>
            </dict>
            <key>atlas/lbl_Big_PufferFish/0057.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,545},{138,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{138,183}}</string>
                <key>sourceSize</key>
                <string>{140,183}</string>
            </dict>
            <key>atlas/lbl_Big_PufferFish/0059.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,134},{134,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,182}}</string>
                <key>sourceSize</key>
                <string>{134,182}</string>
            </dict>
            <key>atlas/lbl_Big_PufferFish/0061.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,264},{134,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,182}}</string>
                <key>sourceSize</key>
                <string>{134,182}</string>
            </dict>
            <key>atlas/lbl_Big_PufferFish/0063.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,546},{138,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{138,183}}</string>
                <key>sourceSize</key>
                <string>{140,183}</string>
            </dict>
            <key>atlas/lbl_Big_PufferFish/0065.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1399},{143,187}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,187}}</string>
                <key>sourceSize</key>
                <string>{143,189}</string>
            </dict>
            <key>atlas/lbl_Big_PufferFish/0067.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1544},{145,187}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{145,187}}</string>
                <key>sourceSize</key>
                <string>{147,189}</string>
            </dict>
            <key>atlas/lbl_Big_PufferFish/0069.png</key>
            <dict>
                <key>frame</key>
                <string>{{755,1404},{145,186}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{145,186}}</string>
                <key>sourceSize</key>
                <string>{149,188}</string>
            </dict>
            <key>atlas/lbl_Big_PufferFish/0071.png</key>
            <dict>
                <key>frame</key>
                <string>{{751,1259},{143,182}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{143,182}}</string>
                <key>sourceSize</key>
                <string>{147,182}</string>
            </dict>
            <key>atlas/lbl_Big_PufferFish/0073.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,547},{138,179}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{138,179}}</string>
                <key>sourceSize</key>
                <string>{144,183}</string>
            </dict>
            <key>atlas/lbl_Big_PufferFish/0075.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,408},{137,177}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,7},{137,177}}</string>
                <key>sourceSize</key>
                <string>{141,185}</string>
            </dict>
            <key>atlas/lbl_Big_PufferFish/0077.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,679},{138,179}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,4},{138,179}}</string>
                <key>sourceSize</key>
                <string>{146,183}</string>
            </dict>
            <key>atlas/lbl_Big_PufferFish/0079.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,827},{140,182}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{140,182}}</string>
                <key>sourceSize</key>
                <string>{150,182}</string>
            </dict>
            <key>atlas/lbl_Big_PufferFish/0081.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,1259},{142,185}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{142,185}}</string>
                <key>sourceSize</key>
                <string>{150,185}</string>
            </dict>
            <key>atlas/lbl_Big_PufferFish/0083.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1112},{141,187}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{141,187}}</string>
                <key>sourceSize</key>
                <string>{149,189}</string>
            </dict>
            <key>atlas/lbl_Big_PufferFish/0085.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,407},{136,187}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{136,187}}</string>
                <key>sourceSize</key>
                <string>{140,189}</string>
            </dict>
            <key>atlas/lbl_Big_PufferFish/0087.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,1},{131,185}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{131,185}}</string>
                <key>sourceSize</key>
                <string>{135,185}</string>
            </dict>
            <key>atlas/lbl_Big_PufferFish/0089.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,1},{128,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{128,183}}</string>
                <key>sourceSize</key>
                <string>{128,185}</string>
            </dict>
            <key>atlas/lbl_Big_PufferFish/0091.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,1},{128,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{128,183}}</string>
                <key>sourceSize</key>
                <string>{128,185}</string>
            </dict>
            <key>atlas/lbl_Big_PufferFish/0093.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,131},{131,185}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{131,185}}</string>
                <key>sourceSize</key>
                <string>{135,185}</string>
            </dict>
            <key>atlas/lbl_Big_PufferFish/0095.png</key>
            <dict>
                <key>frame</key>
                <string>{{559,408},{136,187}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{136,187}}</string>
                <key>sourceSize</key>
                <string>{140,189}</string>
            </dict>
            <key>atlas/lbl_Big_PufferFish/0097.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,1114},{141,187}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{141,187}}</string>
                <key>sourceSize</key>
                <string>{149,189}</string>
            </dict>
            <key>atlas/lbl_Big_PufferFish/0099.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,1115},{141,185}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{141,185}}</string>
                <key>sourceSize</key>
                <string>{149,185}</string>
            </dict>
            <key>atlas/lbl_Big_PufferFish/0101.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,829},{141,182}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{141,182}}</string>
                <key>sourceSize</key>
                <string>{149,182}</string>
            </dict>
            <key>atlas/lbl_Big_PufferFish/0103.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,819},{140,179}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{140,179}}</string>
                <key>sourceSize</key>
                <string>{146,183}</string>
            </dict>
            <key>atlas/lbl_Big_PufferFish/0105.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,680},{138,177}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,7},{138,177}}</string>
                <key>sourceSize</key>
                <string>{144,185}</string>
            </dict>
            <key>atlas/lbl_Big_PufferFish/0107.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,961},{141,179}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{141,179}}</string>
                <key>sourceSize</key>
                <string>{147,183}</string>
            </dict>
            <key>atlas/lbl_Big_PufferFish/0109.png</key>
            <dict>
                <key>frame</key>
                <string>{{751,1115},{142,182}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{142,182}}</string>
                <key>sourceSize</key>
                <string>{146,182}</string>
            </dict>
            <key>atlas/lbl_Big_PufferFish/0111.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,1547},{145,186}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{145,186}}</string>
                <key>sourceSize</key>
                <string>{149,188}</string>
            </dict>
            <key>atlas/lbl_Big_PufferFish/0113.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,1550},{145,187}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{145,187}}</string>
                <key>sourceSize</key>
                <string>{147,189}</string>
            </dict>
            <key>atlas/lbl_Big_PufferFish/0115.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,1402},{143,187}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,187}}</string>
                <key>sourceSize</key>
                <string>{143,189}</string>
            </dict>
            <key>atlas/lbl_Big_PufferFish/0117.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,829},{140,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,183}}</string>
                <key>sourceSize</key>
                <string>{140,183}</string>
            </dict>
            <key>atlas/lbl_Big_PufferFish/0119.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,270},{135,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{135,182}}</string>
                <key>sourceSize</key>
                <string>{137,182}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>lbl_Big_PufferFish_1.png</string>
            <key>size</key>
            <string>{944,1698}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0014b63554d8473019a7025072ba2beb:f54271a73029b06c4089fdeac69841b3:2c5797a8bb50b3c80340d7a01c11e38e$</string>
            <key>textureFileName</key>
            <string>lbl_Big_PufferFish_1.png</string>
        </dict>
    </dict>
</plist>
