<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>atlas/lbl_King_AnglerFish/0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,1072},{320,325}}</string>
                <key>offset</key>
                <string>{-57,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,15},{320,325}}</string>
                <key>sourceSize</key>
                <string>{434,341}</string>
            </dict>
            <key>atlas/lbl_King_AnglerFish/0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1523,768},{307,330}}</string>
                <key>offset</key>
                <string>{-52,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,17},{307,330}}</string>
                <key>sourceSize</key>
                <string>{411,348}</string>
            </dict>
            <key>atlas/lbl_King_AnglerFish/0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,486},{281,352}}</string>
                <key>offset</key>
                <string>{-41,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,32},{281,352}}</string>
                <key>sourceSize</key>
                <string>{363,386}</string>
            </dict>
            <key>atlas/lbl_King_AnglerFish/0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1203,236},{260,373}}</string>
                <key>offset</key>
                <string>{-29,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,43},{260,373}}</string>
                <key>sourceSize</key>
                <string>{320,417}</string>
            </dict>
            <key>atlas/lbl_King_AnglerFish/0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,1},{224,412}}</string>
                <key>offset</key>
                <string>{-9,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,74},{224,412}}</string>
                <key>sourceSize</key>
                <string>{242,488}</string>
            </dict>
            <key>atlas/lbl_King_AnglerFish/0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{1634,1},{235,413}}</string>
                <key>offset</key>
                <string>{-4,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,74},{235,413}}</string>
                <key>sourceSize</key>
                <string>{243,489}</string>
            </dict>
            <key>atlas/lbl_King_AnglerFish/0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,228},{256,410}}</string>
                <key>offset</key>
                <string>{7,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,70},{256,410}}</string>
                <key>sourceSize</key>
                <string>{272,480}</string>
            </dict>
            <key>atlas/lbl_King_AnglerFish/0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,481},{274,399}}</string>
                <key>offset</key>
                <string>{18,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,66},{274,399}}</string>
                <key>sourceSize</key>
                <string>{312,465}</string>
            </dict>
            <key>atlas/lbl_King_AnglerFish/0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,757},{286,394}}</string>
                <key>offset</key>
                <string>{22,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,61},{286,394}}</string>
                <key>sourceSize</key>
                <string>{332,456}</string>
            </dict>
            <key>atlas/lbl_King_AnglerFish/0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{1116,784},{303,377}}</string>
                <key>offset</key>
                <string>{31,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,53},{303,377}}</string>
                <key>sourceSize</key>
                <string>{365,431}</string>
            </dict>
            <key>atlas/lbl_King_AnglerFish/0047.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,1059},{319,360}}</string>
                <key>offset</key>
                <string>{38,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,43},{319,360}}</string>
                <key>sourceSize</key>
                <string>{395,404}</string>
            </dict>
            <key>atlas/lbl_King_AnglerFish/0049.png</key>
            <dict>
                <key>frame</key>
                <string>{{1022,1089},{323,353}}</string>
                <key>offset</key>
                <string>{41,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,36},{323,353}}</string>
                <key>sourceSize</key>
                <string>{407,389}</string>
            </dict>
            <key>atlas/lbl_King_AnglerFish/0051.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,1380},{329,344}}</string>
                <key>offset</key>
                <string>{43,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,33},{329,344}}</string>
                <key>sourceSize</key>
                <string>{419,378}</string>
            </dict>
            <key>atlas/lbl_King_AnglerFish/0053.png</key>
            <dict>
                <key>frame</key>
                <string>{{1377,1400},{331,338}}</string>
                <key>offset</key>
                <string>{45,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,28},{331,338}}</string>
                <key>sourceSize</key>
                <string>{423,368}</string>
            </dict>
            <key>atlas/lbl_King_AnglerFish/0055.png</key>
            <dict>
                <key>frame</key>
                <string>{{1010,1414},{332,331}}</string>
                <key>offset</key>
                <string>{47,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,24},{332,331}}</string>
                <key>sourceSize</key>
                <string>{426,357}</string>
            </dict>
            <key>atlas/lbl_King_AnglerFish/0061.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1354},{323,325}}</string>
                <key>offset</key>
                <string>{48,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,15},{323,325}}</string>
                <key>sourceSize</key>
                <string>{419,341}</string>
            </dict>
            <key>atlas/lbl_King_AnglerFish/0065.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1045},{307,330}}</string>
                <key>offset</key>
                <string>{45,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,17},{307,330}}</string>
                <key>sourceSize</key>
                <string>{399,348}</string>
            </dict>
            <key>atlas/lbl_King_AnglerFish/0067.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,757},{300,335}}</string>
                <key>offset</key>
                <string>{42,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,21},{300,335}}</string>
                <key>sourceSize</key>
                <string>{384,357}</string>
            </dict>
            <key>atlas/lbl_King_AnglerFish/0071.png</key>
            <dict>
                <key>frame</key>
                <string>{{1578,416},{284,350}}</string>
                <key>offset</key>
                <string>{32,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,33},{284,350}}</string>
                <key>sourceSize</key>
                <string>{348,384}</string>
            </dict>
            <key>atlas/lbl_King_AnglerFish/0075.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,479},{263,369}}</string>
                <key>offset</key>
                <string>{21,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,47},{263,369}}</string>
                <key>sourceSize</key>
                <string>{305,417}</string>
            </dict>
            <key>atlas/lbl_King_AnglerFish/0077.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,226},{251,378}}</string>
                <key>offset</key>
                <string>{15,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,55},{251,378}}</string>
                <key>sourceSize</key>
                <string>{281,434}</string>
            </dict>
            <key>atlas/lbl_King_AnglerFish/0081.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,1},{225,395}}</string>
                <key>offset</key>
                <string>{3,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,66},{225,395}}</string>
                <key>sourceSize</key>
                <string>{233,461}</string>
            </dict>
            <key>atlas/lbl_King_AnglerFish/0087.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{223,408}}</string>
                <key>offset</key>
                <string>{1,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,77},{223,408}}</string>
                <key>sourceSize</key>
                <string>{225,486}</string>
            </dict>
            <key>atlas/lbl_King_AnglerFish/0089.png</key>
            <dict>
                <key>frame</key>
                <string>{{1222,1},{233,410}}</string>
                <key>offset</key>
                <string>{-4,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,76},{233,410}}</string>
                <key>sourceSize</key>
                <string>{243,486}</string>
            </dict>
            <key>atlas/lbl_King_AnglerFish/0093.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,227},{252,408}}</string>
                <key>offset</key>
                <string>{-15,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,73},{252,408}}</string>
                <key>sourceSize</key>
                <string>{282,482}</string>
            </dict>
            <key>atlas/lbl_King_AnglerFish/0099.png</key>
            <dict>
                <key>frame</key>
                <string>{{1127,498},{284,394}}</string>
                <key>offset</key>
                <string>{-29,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,62},{284,394}}</string>
                <key>sourceSize</key>
                <string>{342,458}</string>
            </dict>
            <key>atlas/lbl_King_AnglerFish/0103.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,769},{301,380}}</string>
                <key>offset</key>
                <string>{-38,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,50},{301,380}}</string>
                <key>sourceSize</key>
                <string>{377,432}</string>
            </dict>
            <key>atlas/lbl_King_AnglerFish/0109.png</key>
            <dict>
                <key>frame</key>
                <string>{{1495,1077},{321,355}}</string>
                <key>offset</key>
                <string>{-48,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,34},{321,355}}</string>
                <key>sourceSize</key>
                <string>{417,389}</string>
            </dict>
            <key>atlas/lbl_King_AnglerFish/0115.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,1394},{330,334}}</string>
                <key>offset</key>
                <string>{-55,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{330,334}}</string>
                <key>sourceSize</key>
                <string>{440,354}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>lbl_King_AnglerFish_2.png</string>
            <key>size</key>
            <string>{1870,1746}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:78126c05bc85641d802752b6fb91d7c5:9e67e7988be9fd468dc1ee1a8baaf2c4:21a29500c24ef382824fd5c7a1044050$</string>
            <key>textureFileName</key>
            <string>lbl_King_AnglerFish_2.png</string>
        </dict>
    </dict>
</plist>
