<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>atlas/lbl_King_Turtle/0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1572,1074},{136,148}}</string>
                <key>offset</key>
                <string>{-6,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,9},{136,148}}</string>
                <key>sourceSize</key>
                <string>{194,194}</string>
            </dict>
            <key>atlas/lbl_King_Turtle/0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1708,910},{135,161}}</string>
                <key>offset</key>
                <string>{-6,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,3},{135,161}}</string>
                <key>sourceSize</key>
                <string>{197,197}</string>
            </dict>
            <key>atlas/lbl_King_Turtle/0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{1710,1073},{135,161}}</string>
                <key>offset</key>
                <string>{-7,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,8},{135,161}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>atlas/lbl_King_Turtle/0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1572,910},{134,162}}</string>
                <key>offset</key>
                <string>{-7,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,5},{134,162}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>atlas/lbl_King_Turtle/0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{1298,1037},{135,163}}</string>
                <key>offset</key>
                <string>{-8,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,7},{135,163}}</string>
                <key>sourceSize</key>
                <string>{207,207}</string>
            </dict>
            <key>atlas/lbl_King_Turtle/0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{1515,518},{135,163}}</string>
                <key>offset</key>
                <string>{-8,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,7},{135,163}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>atlas/lbl_King_Turtle/0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{1515,655},{135,163}}</string>
                <key>offset</key>
                <string>{-8,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,9},{135,163}}</string>
                <key>sourceSize</key>
                <string>{209,209}</string>
            </dict>
            <key>atlas/lbl_King_Turtle/0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{1680,773},{135,163}}</string>
                <key>offset</key>
                <string>{-8,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,7},{135,163}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>atlas/lbl_King_Turtle/0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{1434,792},{135,163}}</string>
                <key>offset</key>
                <string>{-8,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,5},{135,163}}</string>
                <key>sourceSize</key>
                <string>{203,203}</string>
            </dict>
            <key>atlas/lbl_King_Turtle/0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{1435,957},{135,163}}</string>
                <key>offset</key>
                <string>{-8,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,9},{135,163}}</string>
                <key>sourceSize</key>
                <string>{209,209}</string>
            </dict>
            <key>atlas/lbl_King_Turtle/0066.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,521},{217,257}}</string>
                <key>offset</key>
                <string>{-11,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,27},{217,257}}</string>
                <key>sourceSize</key>
                <string>{299,299}</string>
            </dict>
            <key>atlas/lbl_King_Turtle/0067.png</key>
            <dict>
                <key>frame</key>
                <string>{{1149,519},{197,257}}</string>
                <key>offset</key>
                <string>{-7,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,35},{197,257}}</string>
                <key>sourceSize</key>
                <string>{317,317}</string>
            </dict>
            <key>atlas/lbl_King_Turtle/0069.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,1},{188,258}}</string>
                <key>offset</key>
                <string>{-9,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,22},{188,258}}</string>
                <key>sourceSize</key>
                <string>{292,292}</string>
            </dict>
            <key>atlas/lbl_King_Turtle/0071.png</key>
            <dict>
                <key>frame</key>
                <string>{{1451,1},{191,257}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,28},{191,257}}</string>
                <key>sourceSize</key>
                <string>{305,305}</string>
            </dict>
            <key>atlas/lbl_King_Turtle/0072.png</key>
            <dict>
                <key>frame</key>
                <string>{{1289,260},{195,257}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,31},{195,257}}</string>
                <key>sourceSize</key>
                <string>{311,311}</string>
            </dict>
            <key>atlas/lbl_King_Turtle/0073.png</key>
            <dict>
                <key>frame</key>
                <string>{{1033,1},{213,257}}</string>
                <key>offset</key>
                <string>{8,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,25},{213,257}}</string>
                <key>sourceSize</key>
                <string>{299,299}</string>
            </dict>
            <key>atlas/lbl_King_Turtle/0089.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,261},{217,257}}</string>
                <key>offset</key>
                <string>{20,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,37},{217,257}}</string>
                <key>sourceSize</key>
                <string>{323,323}</string>
            </dict>
            <key>atlas/lbl_King_Turtle/0090.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,523},{220,258}}</string>
                <key>offset</key>
                <string>{20,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,35},{220,258}}</string>
                <key>sourceSize</key>
                <string>{322,322}</string>
            </dict>
            <key>atlas/lbl_King_Turtle/0095.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{169,259}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,33},{169,259}}</string>
                <key>sourceSize</key>
                <string>{317,317}</string>
            </dict>
            <key>atlas/lbl_King_Turtle/0098.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,262},{167,259}}</string>
                <key>offset</key>
                <string>{-6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,32},{167,259}}</string>
                <key>sourceSize</key>
                <string>{315,315}</string>
            </dict>
            <key>atlas/lbl_King_Turtle/0099.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1045},{166,258}}</string>
                <key>offset</key>
                <string>{-6,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,40},{166,258}}</string>
                <key>sourceSize</key>
                <string>{328,328}</string>
            </dict>
            <key>atlas/lbl_King_Turtle/0101.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,523},{165,259}}</string>
                <key>offset</key>
                <string>{-6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,31},{165,259}}</string>
                <key>sourceSize</key>
                <string>{313,313}</string>
            </dict>
            <key>atlas/lbl_King_Turtle/0102.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,784},{165,259}}</string>
                <key>offset</key>
                <string>{-6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,27},{165,259}}</string>
                <key>sourceSize</key>
                <string>{305,305}</string>
            </dict>
            <key>atlas/lbl_King_Turtle/0103.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,1045},{166,258}}</string>
                <key>offset</key>
                <string>{-7,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,24},{166,258}}</string>
                <key>sourceSize</key>
                <string>{296,296}</string>
            </dict>
            <key>atlas/lbl_King_Turtle/0104.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,523},{165,259}}</string>
                <key>offset</key>
                <string>{-7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,21},{165,259}}</string>
                <key>sourceSize</key>
                <string>{293,293}</string>
            </dict>
            <key>atlas/lbl_King_Turtle/0106.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,262},{165,259}}</string>
                <key>offset</key>
                <string>{-6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,22},{165,259}}</string>
                <key>sourceSize</key>
                <string>{295,295}</string>
            </dict>
            <key>atlas/lbl_King_Turtle/0107.png</key>
            <dict>
                <key>frame</key>
                <string>{{529,1},{166,258}}</string>
                <key>offset</key>
                <string>{-7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,19},{166,258}}</string>
                <key>sourceSize</key>
                <string>{290,290}</string>
            </dict>
            <key>atlas/lbl_King_Turtle/0108.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,1041},{181,257}}</string>
                <key>offset</key>
                <string>{-14,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,26},{181,257}}</string>
                <key>sourceSize</key>
                <string>{301,301}</string>
            </dict>
            <key>atlas/lbl_King_Turtle/0109.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,262},{192,258}}</string>
                <key>offset</key>
                <string>{-20,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,20},{192,258}}</string>
                <key>sourceSize</key>
                <string>{292,292}</string>
            </dict>
            <key>atlas/lbl_King_Turtle/0110.png</key>
            <dict>
                <key>frame</key>
                <string>{{1044,779},{199,257}}</string>
                <key>offset</key>
                <string>{-23,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,19},{199,257}}</string>
                <key>sourceSize</key>
                <string>{287,287}</string>
            </dict>
            <key>atlas/lbl_King_Turtle/0124.png</key>
            <dict>
                <key>frame</key>
                <string>{{1486,260},{216,256}}</string>
                <key>offset</key>
                <string>{-32,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,36},{216,256}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>atlas/lbl_King_Turtle/0125.png</key>
            <dict>
                <key>frame</key>
                <string>{{1704,259},{205,255}}</string>
                <key>offset</key>
                <string>{-27,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,31},{205,255}}</string>
                <key>sourceSize</key>
                <string>{309,309}</string>
            </dict>
            <key>atlas/lbl_King_Turtle/0126.png</key>
            <dict>
                <key>frame</key>
                <string>{{1704,516},{201,255}}</string>
                <key>offset</key>
                <string>{-25,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,22},{201,255}}</string>
                <key>sourceSize</key>
                <string>{291,291}</string>
            </dict>
            <key>atlas/lbl_King_Turtle/0127.png</key>
            <dict>
                <key>frame</key>
                <string>{{1644,1},{198,256}}</string>
                <key>offset</key>
                <string>{-23,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,23},{198,256}}</string>
                <key>sourceSize</key>
                <string>{292,292}</string>
            </dict>
            <key>atlas/lbl_King_Turtle/0128.png</key>
            <dict>
                <key>frame</key>
                <string>{{1086,260},{201,257}}</string>
                <key>offset</key>
                <string>{-24,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,19},{201,257}}</string>
                <key>sourceSize</key>
                <string>{287,287}</string>
            </dict>
            <key>atlas/lbl_King_Turtle/0129.png</key>
            <dict>
                <key>frame</key>
                <string>{{1248,1},{201,257}}</string>
                <key>offset</key>
                <string>{-25,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,24},{201,257}}</string>
                <key>sourceSize</key>
                <string>{297,297}</string>
            </dict>
            <key>atlas/lbl_King_Turtle/0130.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,780},{203,257}}</string>
                <key>offset</key>
                <string>{-25,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,20},{203,257}}</string>
                <key>sourceSize</key>
                <string>{287,287}</string>
            </dict>
            <key>atlas/lbl_King_Turtle/0131.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,261},{166,258}}</string>
                <key>offset</key>
                <string>{-7,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,21},{166,258}}</string>
                <key>sourceSize</key>
                <string>{290,290}</string>
            </dict>
            <key>atlas/lbl_King_Turtle/0132.png</key>
            <dict>
                <key>frame</key>
                <string>{{1039,1039},{165,257}}</string>
                <key>offset</key>
                <string>{-7,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,20},{165,257}}</string>
                <key>sourceSize</key>
                <string>{287,287}</string>
            </dict>
            <key>atlas/lbl_King_Turtle/0133.png</key>
            <dict>
                <key>frame</key>
                <string>{{697,1},{166,258}}</string>
                <key>offset</key>
                <string>{-7,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,24},{166,258}}</string>
                <key>sourceSize</key>
                <string>{296,296}</string>
            </dict>
            <key>atlas/lbl_King_Turtle/0134.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,783},{166,258}}</string>
                <key>offset</key>
                <string>{-7,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,24},{166,258}}</string>
                <key>sourceSize</key>
                <string>{296,296}</string>
            </dict>
            <key>atlas/lbl_King_Turtle/0135.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,783},{166,258}}</string>
                <key>offset</key>
                <string>{-7,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,24},{166,258}}</string>
                <key>sourceSize</key>
                <string>{296,296}</string>
            </dict>
            <key>atlas/lbl_King_Turtle/0136.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,521},{166,258}}</string>
                <key>offset</key>
                <string>{-7,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,20},{166,258}}</string>
                <key>sourceSize</key>
                <string>{288,288}</string>
            </dict>
            <key>atlas/lbl_King_Turtle/0137.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,261},{166,258}}</string>
                <key>offset</key>
                <string>{-7,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,24},{166,258}}</string>
                <key>sourceSize</key>
                <string>{296,296}</string>
            </dict>
            <key>atlas/lbl_King_Turtle/0139.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,1},{166,258}}</string>
                <key>offset</key>
                <string>{-7,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,25},{166,258}}</string>
                <key>sourceSize</key>
                <string>{298,298}</string>
            </dict>
            <key>atlas/lbl_King_Turtle/0140.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,781},{166,258}}</string>
                <key>offset</key>
                <string>{-7,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,21},{166,258}}</string>
                <key>sourceSize</key>
                <string>{290,290}</string>
            </dict>
            <key>atlas/lbl_King_Turtle/0141.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,1},{165,259}}</string>
                <key>offset</key>
                <string>{-6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,21},{165,259}}</string>
                <key>sourceSize</key>
                <string>{293,293}</string>
            </dict>
            <key>atlas/lbl_King_Turtle/0142.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,784},{165,259}}</string>
                <key>offset</key>
                <string>{-7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,23},{165,259}}</string>
                <key>sourceSize</key>
                <string>{299,299}</string>
            </dict>
            <key>atlas/lbl_King_Turtle/0143.png</key>
            <dict>
                <key>frame</key>
                <string>{{1348,519},{165,257}}</string>
                <key>offset</key>
                <string>{-7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,23},{165,257}}</string>
                <key>sourceSize</key>
                <string>{297,297}</string>
            </dict>
            <key>atlas/lbl_King_Turtle/0144.png</key>
            <dict>
                <key>frame</key>
                <string>{{521,1043},{179,257}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,20},{179,257}}</string>
                <key>sourceSize</key>
                <string>{289,289}</string>
            </dict>
            <key>atlas/lbl_King_Turtle/0145.png</key>
            <dict>
                <key>frame</key>
                <string>{{1245,778},{187,257}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,20},{187,257}}</string>
                <key>sourceSize</key>
                <string>{289,289}</string>
            </dict>
            <key>atlas/lbl_King_Turtle/0146.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,520},{203,257}}</string>
                <key>offset</key>
                <string>{13,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,23},{203,257}}</string>
                <key>sourceSize</key>
                <string>{295,295}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>lbl_King_Turtle_3.png</string>
            <key>size</key>
            <string>{1910,1223}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b90d3ebbdff2f070b66d62d993568663:eb67e00756e5805a9e2bd70ecc1c0b28:12687565d68d913b68c6c0f038a045a3$</string>
            <key>textureFileName</key>
            <string>lbl_King_Turtle_3.png</string>
        </dict>
    </dict>
</plist>
