<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>atlas/lbl_King_SpiderCrab/0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,1},{315,222}}</string>
                <key>offset</key>
                <string>{3,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,121},{315,222}}</string>
                <key>sourceSize</key>
                <string>{321,344}</string>
            </dict>
            <key>atlas/lbl_King_SpiderCrab/0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,439},{308,220}}</string>
                <key>offset</key>
                <string>{5,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,121},{308,220}}</string>
                <key>sourceSize</key>
                <string>{320,342}</string>
            </dict>
            <key>atlas/lbl_King_SpiderCrab/0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,661},{303,216}}</string>
                <key>offset</key>
                <string>{6,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,115},{303,216}}</string>
                <key>sourceSize</key>
                <string>{317,332}</string>
            </dict>
            <key>atlas/lbl_King_SpiderCrab/0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1313},{295,210}}</string>
                <key>offset</key>
                <string>{7,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,109},{295,210}}</string>
                <key>sourceSize</key>
                <string>{309,320}</string>
            </dict>
            <key>atlas/lbl_King_SpiderCrab/0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1097},{285,211}}</string>
                <key>offset</key>
                <string>{5,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,106},{285,211}}</string>
                <key>sourceSize</key>
                <string>{297,317}</string>
            </dict>
            <key>atlas/lbl_King_SpiderCrab/0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,877},{280,209}}</string>
                <key>offset</key>
                <string>{-4,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,107},{280,209}}</string>
                <key>sourceSize</key>
                <string>{288,317}</string>
            </dict>
            <key>atlas/lbl_King_SpiderCrab/0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,1313},{289,208}}</string>
                <key>offset</key>
                <string>{-5,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,110},{289,208}}</string>
                <key>sourceSize</key>
                <string>{299,320}</string>
            </dict>
            <key>atlas/lbl_King_SpiderCrab/0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,1313},{293,209}}</string>
                <key>offset</key>
                <string>{-4,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,112},{293,209}}</string>
                <key>sourceSize</key>
                <string>{303,321}</string>
            </dict>
            <key>atlas/lbl_King_SpiderCrab/0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,1095},{298,212}}</string>
                <key>offset</key>
                <string>{-2,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,114},{298,212}}</string>
                <key>sourceSize</key>
                <string>{302,326}</string>
            </dict>
            <key>atlas/lbl_King_SpiderCrab/0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,879},{298,214}}</string>
                <key>offset</key>
                <string>{2,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,117},{298,214}}</string>
                <key>sourceSize</key>
                <string>{306,332}</string>
            </dict>
            <key>atlas/lbl_King_SpiderCrab/0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,871},{299,224}}</string>
                <key>offset</key>
                <string>{7,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,114},{299,224}}</string>
                <key>sourceSize</key>
                <string>{315,338}</string>
            </dict>
            <key>atlas/lbl_King_SpiderCrab/0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,578},{297,231}}</string>
                <key>offset</key>
                <string>{9,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,116},{297,231}}</string>
                <key>sourceSize</key>
                <string>{317,347}</string>
            </dict>
            <key>atlas/lbl_King_SpiderCrab/0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,1},{290,233}}</string>
                <key>offset</key>
                <string>{10,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,117},{290,233}}</string>
                <key>sourceSize</key>
                <string>{312,351}</string>
            </dict>
            <key>atlas/lbl_King_SpiderCrab/0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,293},{283,232}}</string>
                <key>offset</key>
                <string>{9,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,112},{283,232}}</string>
                <key>sourceSize</key>
                <string>{303,344}</string>
            </dict>
            <key>atlas/lbl_King_SpiderCrab/0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,1088},{290,223}}</string>
                <key>offset</key>
                <string>{1,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,106},{290,223}}</string>
                <key>sourceSize</key>
                <string>{294,329}</string>
            </dict>
            <key>atlas/lbl_King_SpiderCrab/0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,653},{305,216}}</string>
                <key>offset</key>
                <string>{1,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,104},{305,216}}</string>
                <key>sourceSize</key>
                <string>{309,320}</string>
            </dict>
            <key>atlas/lbl_King_SpiderCrab/0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,437},{313,214}}</string>
                <key>offset</key>
                <string>{1,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,110},{313,214}}</string>
                <key>sourceSize</key>
                <string>{315,324}</string>
            </dict>
            <key>atlas/lbl_King_SpiderCrab/0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,225},{315,212}}</string>
                <key>offset</key>
                <string>{1,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,119},{315,212}}</string>
                <key>sourceSize</key>
                <string>{317,332}</string>
            </dict>
            <key>atlas/lbl_King_SpiderCrab/0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,221},{315,214}}</string>
                <key>offset</key>
                <string>{-1,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,121},{315,214}}</string>
                <key>sourceSize</key>
                <string>{317,336}</string>
            </dict>
            <key>atlas/lbl_King_SpiderCrab/0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{316,218}}</string>
                <key>offset</key>
                <string>{0,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,120},{316,218}}</string>
                <key>sourceSize</key>
                <string>{318,338}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>lbl_King_SpiderCrab_1.png</string>
            <key>size</key>
            <string>{894,1524}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2accc11edbc0ceb327455cbf3c205ede:f0374f3f6fd93cfb5565aac0253cfd3c:0427a3bffb8617ac43cc7fe676ec3128$</string>
            <key>textureFileName</key>
            <string>lbl_King_SpiderCrab_1.png</string>
        </dict>
    </dict>
</plist>
