<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>atlas/lbl_King_LblDragon/0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,1601},{58,159}}</string>
                <key>offset</key>
                <string>{-221,61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,159}}</string>
                <key>sourceSize</key>
                <string>{500,281}</string>
            </dict>
            <key>atlas/lbl_King_LblDragon/0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{811,1570},{86,203}}</string>
                <key>offset</key>
                <string>{-207,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,203}}</string>
                <key>sourceSize</key>
                <string>{500,281}</string>
            </dict>
            <key>atlas/lbl_King_LblDragon/0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,1416},{132,243}}</string>
                <key>offset</key>
                <string>{-184,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,243}}</string>
                <key>sourceSize</key>
                <string>{500,257}</string>
            </dict>
            <key>atlas/lbl_King_LblDragon/0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1203,1105},{138,252}}</string>
                <key>offset</key>
                <string>{-181,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,252}}</string>
                <key>sourceSize</key>
                <string>{500,260}</string>
            </dict>
            <key>atlas/lbl_King_LblDragon/0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1885,928},{144,255}}</string>
                <key>offset</key>
                <string>{-178,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,255}}</string>
                <key>sourceSize</key>
                <string>{500,257}</string>
            </dict>
            <key>atlas/lbl_King_LblDragon/0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{1141,1360},{150,254}}</string>
                <key>offset</key>
                <string>{-175,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,254}}</string>
                <key>sourceSize</key>
                <string>{500,254}</string>
            </dict>
            <key>atlas/lbl_King_LblDragon/0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{1623,928},{156,260}}</string>
                <key>offset</key>
                <string>{-172,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,260}}</string>
                <key>sourceSize</key>
                <string>{500,260}</string>
            </dict>
            <key>atlas/lbl_King_LblDragon/0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{1638,758},{168,271}}</string>
                <key>offset</key>
                <string>{-166,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,271}}</string>
                <key>sourceSize</key>
                <string>{500,271}</string>
            </dict>
            <key>atlas/lbl_King_LblDragon/0042.png</key>
            <dict>
                <key>frame</key>
                <string>{{1343,1085},{246,192}}</string>
                <key>offset</key>
                <string>{-127,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,34},{246,192}}</string>
                <key>sourceSize</key>
                <string>{500,226}</string>
            </dict>
            <key>atlas/lbl_King_LblDragon/0059.png</key>
            <dict>
                <key>frame</key>
                <string>{{811,1360},{328,208}}</string>
                <key>offset</key>
                <string>{-86,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{328,208}}</string>
                <key>sourceSize</key>
                <string>{500,208}</string>
            </dict>
            <key>atlas/lbl_King_LblDragon/0060.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,1390},{336,209}}</string>
                <key>offset</key>
                <string>{-82,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,209}}</string>
                <key>sourceSize</key>
                <string>{500,209}</string>
            </dict>
            <key>atlas/lbl_King_LblDragon/0061.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1416},{336,211}}</string>
                <key>offset</key>
                <string>{-82,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,211}}</string>
                <key>sourceSize</key>
                <string>{500,211}</string>
            </dict>
            <key>atlas/lbl_King_LblDragon/0071.png</key>
            <dict>
                <key>frame</key>
                <string>{{1643,1},{382,253}}</string>
                <key>offset</key>
                <string>{-59,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{382,253}}</string>
                <key>sourceSize</key>
                <string>{500,253}</string>
            </dict>
            <key>atlas/lbl_King_LblDragon/0072.png</key>
            <dict>
                <key>frame</key>
                <string>{{1639,503},{388,253}}</string>
                <key>offset</key>
                <string>{-56,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{388,253}}</string>
                <key>sourceSize</key>
                <string>{500,253}</string>
            </dict>
            <key>atlas/lbl_King_LblDragon/0073.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,1105},{394,253}}</string>
                <key>offset</key>
                <string>{-53,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{394,253}}</string>
                <key>sourceSize</key>
                <string>{500,253}</string>
            </dict>
            <key>atlas/lbl_King_LblDragon/0074.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,850},{398,271}}</string>
                <key>offset</key>
                <string>{-51,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{398,271}}</string>
                <key>sourceSize</key>
                <string>{500,271}</string>
            </dict>
            <key>atlas/lbl_King_LblDragon/0075.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1133},{398,281}}</string>
                <key>offset</key>
                <string>{-51,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{398,281}}</string>
                <key>sourceSize</key>
                <string>{500,281}</string>
            </dict>
            <key>atlas/lbl_King_LblDragon/0076.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,284},{404,281}}</string>
                <key>offset</key>
                <string>{-48,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{404,281}}</string>
                <key>sourceSize</key>
                <string>{500,281}</string>
            </dict>
            <key>atlas/lbl_King_LblDragon/0078.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{416,281}}</string>
                <key>offset</key>
                <string>{-42,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{416,281}}</string>
                <key>sourceSize</key>
                <string>{500,281}</string>
            </dict>
            <key>atlas/lbl_King_LblDragon/0079.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,284},{416,281}}</string>
                <key>offset</key>
                <string>{-42,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{416,281}}</string>
                <key>sourceSize</key>
                <string>{500,281}</string>
            </dict>
            <key>atlas/lbl_King_LblDragon/0097.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,567},{408,269}}</string>
                <key>offset</key>
                <string>{16,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,0},{408,269}}</string>
                <key>sourceSize</key>
                <string>{440,269}</string>
            </dict>
            <key>atlas/lbl_King_LblDragon/0098.png</key>
            <dict>
                <key>frame</key>
                <string>{{1227,551},{409,262}}</string>
                <key>offset</key>
                <string>{23,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,0},{409,262}}</string>
                <key>sourceSize</key>
                <string>{455,262}</string>
            </dict>
            <key>atlas/lbl_King_LblDragon/0099.png</key>
            <dict>
                <key>frame</key>
                <string>{{1227,284},{410,265}}</string>
                <key>offset</key>
                <string>{30,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,0},{410,265}}</string>
                <key>sourceSize</key>
                <string>{470,265}</string>
            </dict>
            <key>atlas/lbl_King_LblDragon/0102.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,1},{414,281}}</string>
                <key>offset</key>
                <string>{43,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,0},{414,281}}</string>
                <key>sourceSize</key>
                <string>{500,281}</string>
            </dict>
            <key>atlas/lbl_King_LblDragon/0103.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,1},{404,281}}</string>
                <key>offset</key>
                <string>{48,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,0},{404,281}}</string>
                <key>sourceSize</key>
                <string>{500,281}</string>
            </dict>
            <key>atlas/lbl_King_LblDragon/0104.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,850},{404,281}}</string>
                <key>offset</key>
                <string>{48,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,0},{404,281}}</string>
                <key>sourceSize</key>
                <string>{500,281}</string>
            </dict>
            <key>atlas/lbl_King_LblDragon/0105.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,567},{404,281}}</string>
                <key>offset</key>
                <string>{48,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,0},{404,281}}</string>
                <key>sourceSize</key>
                <string>{500,281}</string>
            </dict>
            <key>atlas/lbl_King_LblDragon/0106.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,567},{406,281}}</string>
                <key>offset</key>
                <string>{47,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,0},{406,281}}</string>
                <key>sourceSize</key>
                <string>{500,281}</string>
            </dict>
            <key>atlas/lbl_King_LblDragon/0107.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,284},{400,281}}</string>
                <key>offset</key>
                <string>{50,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,0},{400,281}}</string>
                <key>sourceSize</key>
                <string>{500,281}</string>
            </dict>
            <key>atlas/lbl_King_LblDragon/0108.png</key>
            <dict>
                <key>frame</key>
                <string>{{1241,1},{400,281}}</string>
                <key>offset</key>
                <string>{50,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,0},{400,281}}</string>
                <key>sourceSize</key>
                <string>{500,281}</string>
            </dict>
            <key>atlas/lbl_King_LblDragon/0109.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,838},{396,265}}</string>
                <key>offset</key>
                <string>{52,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,0},{396,265}}</string>
                <key>sourceSize</key>
                <string>{500,265}</string>
            </dict>
            <key>atlas/lbl_King_LblDragon/0110.png</key>
            <dict>
                <key>frame</key>
                <string>{{1225,815},{396,268}}</string>
                <key>offset</key>
                <string>{52,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,0},{396,268}}</string>
                <key>sourceSize</key>
                <string>{500,268}</string>
            </dict>
            <key>atlas/lbl_King_LblDragon/0111.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,1123},{392,265}}</string>
                <key>offset</key>
                <string>{54,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,0},{392,265}}</string>
                <key>sourceSize</key>
                <string>{500,265}</string>
            </dict>
            <key>atlas/lbl_King_LblDragon/0112.png</key>
            <dict>
                <key>frame</key>
                <string>{{1643,256},{384,245}}</string>
                <key>offset</key>
                <string>{58,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,0},{384,245}}</string>
                <key>sourceSize</key>
                <string>{500,245}</string>
            </dict>
            <key>atlas/lbl_King_LblDragon/0143.png</key>
            <dict>
                <key>frame</key>
                <string>{{1591,1086},{200,217}}</string>
                <key>offset</key>
                <string>{150,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{300,64},{200,217}}</string>
                <key>sourceSize</key>
                <string>{500,281}</string>
            </dict>
            <key>atlas/lbl_King_LblDragon/0146.png</key>
            <dict>
                <key>frame</key>
                <string>{{1343,1279},{196,203}}</string>
                <key>offset</key>
                <string>{152,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{304,78},{196,203}}</string>
                <key>sourceSize</key>
                <string>{500,281}</string>
            </dict>
            <key>atlas/lbl_King_LblDragon/0153.png</key>
            <dict>
                <key>frame</key>
                <string>{{1548,1288},{186,171}}</string>
                <key>offset</key>
                <string>{157,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{314,110},{186,171}}</string>
                <key>sourceSize</key>
                <string>{500,281}</string>
            </dict>
            <key>atlas/lbl_King_LblDragon/0154.png</key>
            <dict>
                <key>frame</key>
                <string>{{1293,1477},{174,171}}</string>
                <key>offset</key>
                <string>{163,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{326,110},{174,171}}</string>
                <key>sourceSize</key>
                <string>{500,281}</string>
            </dict>
            <key>atlas/lbl_King_LblDragon/0155.png</key>
            <dict>
                <key>frame</key>
                <string>{{1628,1461},{172,171}}</string>
                <key>offset</key>
                <string>{164,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{328,110},{172,171}}</string>
                <key>sourceSize</key>
                <string>{500,281}</string>
            </dict>
            <key>atlas/lbl_King_LblDragon/0156.png</key>
            <dict>
                <key>frame</key>
                <string>{{1736,1288},{172,169}}</string>
                <key>offset</key>
                <string>{164,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{328,112},{172,169}}</string>
                <key>sourceSize</key>
                <string>{500,281}</string>
            </dict>
            <key>atlas/lbl_King_LblDragon/0157.png</key>
            <dict>
                <key>frame</key>
                <string>{{1469,1477},{172,157}}</string>
                <key>offset</key>
                <string>{164,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{328,124},{172,157}}</string>
                <key>sourceSize</key>
                <string>{500,281}</string>
            </dict>
            <key>atlas/lbl_King_LblDragon/0158.png</key>
            <dict>
                <key>frame</key>
                <string>{{1801,1459},{158,157}}</string>
                <key>offset</key>
                <string>{171,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{342,124},{158,157}}</string>
                <key>sourceSize</key>
                <string>{500,281}</string>
            </dict>
            <key>atlas/lbl_King_LblDragon/0162.png</key>
            <dict>
                <key>frame</key>
                <string>{{1911,758},{96,88}}</string>
                <key>offset</key>
                <string>{202,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{404,82},{96,88}}</string>
                <key>sourceSize</key>
                <string>{500,170}</string>
            </dict>
            <key>atlas/lbl_King_LblDragon/0163.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,1570},{92,85}}</string>
                <key>offset</key>
                <string>{204,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{408,82},{92,85}}</string>
                <key>sourceSize</key>
                <string>{500,167}</string>
            </dict>
            <key>atlas/lbl_King_LblDragon/0164.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,1570},{92,85}}</string>
                <key>offset</key>
                <string>{204,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{408,82},{92,85}}</string>
                <key>sourceSize</key>
                <string>{500,167}</string>
            </dict>
            <key>atlas/lbl_King_LblDragon/0165.png</key>
            <dict>
                <key>frame</key>
                <string>{{1810,1185},{86,83}}</string>
                <key>offset</key>
                <string>{207,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{414,84},{86,83}}</string>
                <key>sourceSize</key>
                <string>{500,167}</string>
            </dict>
            <key>atlas/lbl_King_LblDragon/0166.png</key>
            <dict>
                <key>frame</key>
                <string>{{1898,1185},{80,81}}</string>
                <key>offset</key>
                <string>{210,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{420,86},{80,81}}</string>
                <key>sourceSize</key>
                <string>{500,167}</string>
            </dict>
            <key>atlas/lbl_King_LblDragon/0169.png</key>
            <dict>
                <key>frame</key>
                <string>{{1810,1086},{70,74}}</string>
                <key>offset</key>
                <string>{215,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{430,86},{70,74}}</string>
                <key>sourceSize</key>
                <string>{500,160}</string>
            </dict>
            <key>atlas/lbl_King_LblDragon/0170.png</key>
            <dict>
                <key>frame</key>
                <string>{{1911,848},{66,72}}</string>
                <key>offset</key>
                <string>{217,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{434,86},{66,72}}</string>
                <key>sourceSize</key>
                <string>{500,158}</string>
            </dict>
            <key>atlas/lbl_King_LblDragon/0174.png</key>
            <dict>
                <key>frame</key>
                <string>{{1801,1619},{40,49}}</string>
                <key>offset</key>
                <string>{230,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{460,90},{40,49}}</string>
                <key>sourceSize</key>
                <string>{500,139}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>lbl_King_LblDragon_2.png</string>
            <key>size</key>
            <string>{2030,1660}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cc5465577c60a2afc15cd186ae0a7edf:8c26124ba364beb42f814c7619ba02f0:ec9dbcc5a749088592325ec2cde12b22$</string>
            <key>textureFileName</key>
            <string>lbl_King_LblDragon_2.png</string>
        </dict>
    </dict>
</plist>
