<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>atlas/lbl_King_Lacoste/0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1265,227},{110,395}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,12},{110,395}}</string>
                <key>sourceSize</key>
                <string>{116,407}</string>
            </dict>
            <key>atlas/lbl_King_Lacoste/0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1276,115},{110,396}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,11},{110,396}}</string>
                <key>sourceSize</key>
                <string>{114,408}</string>
            </dict>
            <key>atlas/lbl_King_Lacoste/0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,398},{112,397}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{112,397}}</string>
                <key>sourceSize</key>
                <string>{114,407}</string>
            </dict>
            <key>atlas/lbl_King_Lacoste/0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,475},{112,397}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,8},{112,397}}</string>
                <key>sourceSize</key>
                <string>{116,405}</string>
            </dict>
            <key>atlas/lbl_King_Lacoste/0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1281,1},{112,399}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,8},{112,399}}</string>
                <key>sourceSize</key>
                <string>{116,407}</string>
            </dict>
            <key>atlas/lbl_King_Lacoste/0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,1},{110,401}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{110,401}}</string>
                <key>sourceSize</key>
                <string>{116,405}</string>
            </dict>
            <key>atlas/lbl_King_Lacoste/0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,1},{113,399}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,8},{113,399}}</string>
                <key>sourceSize</key>
                <string>{119,407}</string>
            </dict>
            <key>atlas/lbl_King_Lacoste/0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,1},{118,395}}</string>
                <key>offset</key>
                <string>{8,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,10},{118,395}}</string>
                <key>sourceSize</key>
                <string>{134,405}</string>
            </dict>
            <key>atlas/lbl_King_Lacoste/0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,1},{123,390}}</string>
                <key>offset</key>
                <string>{11,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,17},{123,390}}</string>
                <key>sourceSize</key>
                <string>{147,408}</string>
            </dict>
            <key>atlas/lbl_King_Lacoste/0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,116},{123,389}}</string>
                <key>offset</key>
                <string>{12,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,16},{123,389}}</string>
                <key>sourceSize</key>
                <string>{147,405}</string>
            </dict>
            <key>atlas/lbl_King_Lacoste/0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,241},{125,387}}</string>
                <key>offset</key>
                <string>{11,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,20},{125,387}}</string>
                <key>sourceSize</key>
                <string>{147,407}</string>
            </dict>
            <key>atlas/lbl_King_Lacoste/0049.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,589},{123,385}}</string>
                <key>offset</key>
                <string>{9,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,20},{123,385}}</string>
                <key>sourceSize</key>
                <string>{143,405}</string>
            </dict>
            <key>atlas/lbl_King_Lacoste/0051.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,333},{121,385}}</string>
                <key>offset</key>
                <string>{8,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,20},{121,385}}</string>
                <key>sourceSize</key>
                <string>{137,405}</string>
            </dict>
            <key>atlas/lbl_King_Lacoste/0055.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,456},{116,385}}</string>
                <key>offset</key>
                <string>{3,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,20},{116,385}}</string>
                <key>sourceSize</key>
                <string>{122,405}</string>
            </dict>
            <key>atlas/lbl_King_Lacoste/0057.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,1022},{112,386}}</string>
                <key>offset</key>
                <string>{1,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,21},{112,386}}</string>
                <key>sourceSize</key>
                <string>{114,408}</string>
            </dict>
            <key>atlas/lbl_King_Lacoste/0059.png</key>
            <dict>
                <key>frame</key>
                <string>{{1264,675},{109,387}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{109,387}}</string>
                <key>sourceSize</key>
                <string>{111,407}</string>
            </dict>
            <key>atlas/lbl_King_Lacoste/0061.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,714},{106,389}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{106,389}}</string>
                <key>sourceSize</key>
                <string>{110,405}</string>
            </dict>
            <key>atlas/lbl_King_Lacoste/0063.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,817},{107,391}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{107,391}}</string>
                <key>sourceSize</key>
                <string>{111,407}</string>
            </dict>
            <key>atlas/lbl_King_Lacoste/0065.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,1181},{108,391}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{108,391}}</string>
                <key>sourceSize</key>
                <string>{114,405}</string>
            </dict>
            <key>atlas/lbl_King_Lacoste/0067.png</key>
            <dict>
                <key>frame</key>
                <string>{{1265,565},{108,393}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{108,393}}</string>
                <key>sourceSize</key>
                <string>{114,407}</string>
            </dict>
            <key>atlas/lbl_King_Lacoste/0069.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,223},{108,395}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{108,395}}</string>
                <key>sourceSize</key>
                <string>{114,405}</string>
            </dict>
            <key>atlas/lbl_King_Lacoste/0071.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,411},{108,397}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{108,397}}</string>
                <key>sourceSize</key>
                <string>{114,407}</string>
            </dict>
            <key>atlas/lbl_King_Lacoste/0073.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,408},{108,397}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{108,397}}</string>
                <key>sourceSize</key>
                <string>{114,405}</string>
            </dict>
            <key>atlas/lbl_King_Lacoste/0085.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,817},{108,402}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{108,402}}</string>
                <key>sourceSize</key>
                <string>{116,408}</string>
            </dict>
            <key>atlas/lbl_King_Lacoste/0091.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,368},{105,399}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{105,399}}</string>
                <key>sourceSize</key>
                <string>{113,407}</string>
            </dict>
            <key>atlas/lbl_King_Lacoste/0101.png</key>
            <dict>
                <key>frame</key>
                <string>{{1265,339},{114,392}}</string>
                <key>offset</key>
                <string>{-9,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,15},{114,392}}</string>
                <key>sourceSize</key>
                <string>{132,408}</string>
            </dict>
            <key>atlas/lbl_King_Lacoste/0107.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,807},{116,389}}</string>
                <key>offset</key>
                <string>{-8,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{116,389}}</string>
                <key>sourceSize</key>
                <string>{132,405}</string>
            </dict>
            <key>atlas/lbl_King_Lacoste/0109.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,1063},{116,389}}</string>
                <key>offset</key>
                <string>{-6,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,18},{116,389}}</string>
                <key>sourceSize</key>
                <string>{128,407}</string>
            </dict>
            <key>atlas/lbl_King_Lacoste/0115.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,574},{108,389}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,18},{108,389}}</string>
                <key>sourceSize</key>
                <string>{110,407}</string>
            </dict>
            <key>atlas/lbl_King_Lacoste/0119.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,911},{109,388}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,19},{109,388}}</string>
                <key>sourceSize</key>
                <string>{111,408}</string>
            </dict>
            <key>atlas/lbl_King_Lacoste/0123.png</key>
            <dict>
                <key>frame</key>
                <string>{{1265,455},{108,392}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,12},{108,392}}</string>
                <key>sourceSize</key>
                <string>{114,404}</string>
            </dict>
            <key>atlas/lbl_King_Lacoste/0125.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,113},{108,396}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,13},{108,396}}</string>
                <key>sourceSize</key>
                <string>{114,410}</string>
            </dict>
            <key>atlas/lbl_King_Lacoste/0129.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,411},{109,404}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,12},{109,404}}</string>
                <key>sourceSize</key>
                <string>{113,416}</string>
            </dict>
            <key>atlas/lbl_King_Lacoste/0135.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{113,408}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{113,408}}</string>
                <key>sourceSize</key>
                <string>{113,426}</string>
            </dict>
            <key>atlas/lbl_King_Lacoste/0137.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,1},{114,405}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{114,405}}</string>
                <key>sourceSize</key>
                <string>{114,425}</string>
            </dict>
            <key>atlas/lbl_King_Lacoste/0149.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,1136},{126,369}}</string>
                <key>offset</key>
                <string>{-1,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,29},{126,369}}</string>
                <key>sourceSize</key>
                <string>{128,399}</string>
            </dict>
            <key>atlas/lbl_King_Lacoste/0159.png</key>
            <dict>
                <key>frame</key>
                <string>{{1659,375},{133,331}}</string>
                <key>offset</key>
                <string>{2,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,40},{133,331}}</string>
                <key>sourceSize</key>
                <string>{137,371}</string>
            </dict>
            <key>atlas/lbl_King_Lacoste/0161.png</key>
            <dict>
                <key>frame</key>
                <string>{{1660,510},{133,325}}</string>
                <key>offset</key>
                <string>{2,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,44},{133,325}}</string>
                <key>sourceSize</key>
                <string>{137,369}</string>
            </dict>
            <key>atlas/lbl_King_Lacoste/0163.png</key>
            <dict>
                <key>frame</key>
                <string>{{1660,645},{134,320}}</string>
                <key>offset</key>
                <string>{2,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,46},{134,320}}</string>
                <key>sourceSize</key>
                <string>{138,366}</string>
            </dict>
            <key>atlas/lbl_King_Lacoste/0171.png</key>
            <dict>
                <key>frame</key>
                <string>{{1682,1},{120,300}}</string>
                <key>offset</key>
                <string>{0,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,56},{120,300}}</string>
                <key>sourceSize</key>
                <string>{120,356}</string>
            </dict>
            <key>atlas/lbl_King_Lacoste/0177.png</key>
            <dict>
                <key>frame</key>
                <string>{{1228,1020},{117,289}}</string>
                <key>offset</key>
                <string>{0,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,58},{117,289}}</string>
                <key>sourceSize</key>
                <string>{117,347}</string>
            </dict>
            <key>atlas/lbl_King_Lacoste/0179.png</key>
            <dict>
                <key>frame</key>
                <string>{{1210,1139},{116,287}}</string>
                <key>offset</key>
                <string>{0,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,58},{116,287}}</string>
                <key>sourceSize</key>
                <string>{116,345}</string>
            </dict>
            <key>atlas/lbl_King_Lacoste/0181.png</key>
            <dict>
                <key>frame</key>
                <string>{{1526,907},{116,282}}</string>
                <key>offset</key>
                <string>{0,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,61},{116,282}}</string>
                <key>sourceSize</key>
                <string>{116,344}</string>
            </dict>
            <key>atlas/lbl_King_Lacoste/0183.png</key>
            <dict>
                <key>frame</key>
                <string>{{1519,1025},{116,281}}</string>
                <key>offset</key>
                <string>{0,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,60},{116,281}}</string>
                <key>sourceSize</key>
                <string>{116,341}</string>
            </dict>
            <key>atlas/lbl_King_Lacoste/0185.png</key>
            <dict>
                <key>frame</key>
                <string>{{1502,1143},{117,280}}</string>
                <key>offset</key>
                <string>{-1,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,62},{117,280}}</string>
                <key>sourceSize</key>
                <string>{119,342}</string>
            </dict>
            <key>atlas/lbl_King_Lacoste/0187.png</key>
            <dict>
                <key>frame</key>
                <string>{{1502,1262},{117,280}}</string>
                <key>offset</key>
                <string>{-1,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,62},{117,280}}</string>
                <key>sourceSize</key>
                <string>{119,342}</string>
            </dict>
            <key>atlas/lbl_King_Lacoste/0189.png</key>
            <dict>
                <key>frame</key>
                <string>{{1810,907},{117,280}}</string>
                <key>offset</key>
                <string>{-1,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,62},{117,280}}</string>
                <key>sourceSize</key>
                <string>{119,342}</string>
            </dict>
            <key>atlas/lbl_King_Lacoste/0195.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,1291},{121,285}}</string>
                <key>offset</key>
                <string>{-1,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,66},{121,285}}</string>
                <key>sourceSize</key>
                <string>{123,351}</string>
            </dict>
            <key>atlas/lbl_King_Lacoste/0197.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,1291},{121,290}}</string>
                <key>offset</key>
                <string>{-1,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,70},{121,290}}</string>
                <key>sourceSize</key>
                <string>{123,360}</string>
            </dict>
            <key>atlas/lbl_King_Lacoste/0199.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1291},{121,291}}</string>
                <key>offset</key>
                <string>{-2,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,65},{121,291}}</string>
                <key>sourceSize</key>
                <string>{125,357}</string>
            </dict>
            <key>atlas/lbl_King_Lacoste/0201.png</key>
            <dict>
                <key>frame</key>
                <string>{{1653,781},{124,287}}</string>
                <key>offset</key>
                <string>{-2,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,59},{124,287}}</string>
                <key>sourceSize</key>
                <string>{128,347}</string>
            </dict>
            <key>atlas/lbl_King_Lacoste/0203.png</key>
            <dict>
                <key>frame</key>
                <string>{{1215,1257},{124,285}}</string>
                <key>offset</key>
                <string>{-2,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,50},{124,285}}</string>
                <key>sourceSize</key>
                <string>{128,335}</string>
            </dict>
            <key>atlas/lbl_King_Lacoste/0205.png</key>
            <dict>
                <key>frame</key>
                <string>{{1231,894},{124,293}}</string>
                <key>offset</key>
                <string>{-2,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,48},{124,293}}</string>
                <key>sourceSize</key>
                <string>{128,341}</string>
            </dict>
            <key>atlas/lbl_King_Lacoste/0211.png</key>
            <dict>
                <key>frame</key>
                <string>{{1674,123},{124,316}}</string>
                <key>offset</key>
                <string>{-2,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,52},{124,316}}</string>
                <key>sourceSize</key>
                <string>{128,368}</string>
            </dict>
            <key>atlas/lbl_King_Lacoste/0213.png</key>
            <dict>
                <key>frame</key>
                <string>{{1662,249},{124,327}}</string>
                <key>offset</key>
                <string>{-2,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,54},{124,327}}</string>
                <key>sourceSize</key>
                <string>{128,381}</string>
            </dict>
            <key>atlas/lbl_King_Lacoste/0215.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,1264},{124,340}}</string>
                <key>offset</key>
                <string>{-2,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,56},{124,340}}</string>
                <key>sourceSize</key>
                <string>{128,396}</string>
            </dict>
            <key>atlas/lbl_King_Lacoste/0225.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,941},{120,386}}</string>
                <key>offset</key>
                <string>{-6,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,65},{120,386}}</string>
                <key>sourceSize</key>
                <string>{132,452}</string>
            </dict>
            <key>atlas/lbl_King_Lacoste/0227.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,822},{117,390}}</string>
                <key>offset</key>
                <string>{-7,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,59},{117,390}}</string>
                <key>sourceSize</key>
                <string>{131,450}</string>
            </dict>
            <key>atlas/lbl_King_Lacoste/0231.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,684},{112,391}}</string>
                <key>offset</key>
                <string>{-5,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,46},{112,391}}</string>
                <key>sourceSize</key>
                <string>{122,437}</string>
            </dict>
            <key>atlas/lbl_King_Lacoste/0233.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,798},{111,391}}</string>
                <key>offset</key>
                <string>{-3,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,38},{111,391}}</string>
                <key>sourceSize</key>
                <string>{117,429}</string>
            </dict>
            <key>atlas/lbl_King_Lacoste/0237.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,822},{106,389}}</string>
                <key>offset</key>
                <string>{1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,22},{106,389}}</string>
                <key>sourceSize</key>
                <string>{108,411}</string>
            </dict>
            <key>atlas/lbl_King_Lacoste/0239.png</key>
            <dict>
                <key>frame</key>
                <string>{{1231,786},{106,385}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,16},{106,385}}</string>
                <key>sourceSize</key>
                <string>{110,401}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>lbl_King_Lacoste_1.png</string>
            <key>size</key>
            <string>{1992,1413}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e4f51f757c58827a21cb0ee6cf8a4e67:aaeeda7ee3f7f6f5b32f3b4dd9a09b9e:8534ab82261fdada14ce9b04f388fa89$</string>
            <key>textureFileName</key>
            <string>lbl_King_Lacoste_1.png</string>
        </dict>
    </dict>
</plist>
