<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>atlas/lbl_King_AnglerFish/0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1531,437},{374,468}}</string>
                <key>offset</key>
                <string>{-55,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,44},{374,468}}</string>
                <key>sourceSize</key>
                <string>{484,514}</string>
            </dict>
            <key>atlas/lbl_King_AnglerFish/0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,303},{346,496}}</string>
                <key>offset</key>
                <string>{-40,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,59},{346,496}}</string>
                <key>sourceSize</key>
                <string>{426,556}</string>
            </dict>
            <key>atlas/lbl_King_AnglerFish/0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{300,548}}</string>
                <key>offset</key>
                <string>{-11,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,100},{300,548}}</string>
                <key>sourceSize</key>
                <string>{322,650}</string>
            </dict>
            <key>atlas/lbl_King_AnglerFish/0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,665},{394,514}}</string>
                <key>offset</key>
                <string>{35,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,78},{394,514}}</string>
                <key>sourceSize</key>
                <string>{464,594}</string>
            </dict>
            <key>atlas/lbl_King_AnglerFish/0057.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1045},{440,436}}</string>
                <key>offset</key>
                <string>{64,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,26},{440,436}}</string>
                <key>sourceSize</key>
                <string>{570,462}</string>
            </dict>
            <key>atlas/lbl_King_AnglerFish/0063.png</key>
            <dict>
                <key>frame</key>
                <string>{{1623,1},{420,434}}</string>
                <key>offset</key>
                <string>{63,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,22},{420,434}}</string>
                <key>sourceSize</key>
                <string>{548,458}</string>
            </dict>
            <key>atlas/lbl_King_AnglerFish/0065.png</key>
            <dict>
                <key>frame</key>
                <string>{{1035,665},{410,438}}</string>
                <key>offset</key>
                <string>{60,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,25},{410,438}}</string>
                <key>sourceSize</key>
                <string>{532,464}</string>
            </dict>
            <key>atlas/lbl_King_AnglerFish/0075.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,303},{348,490}}</string>
                <key>offset</key>
                <string>{29,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,65},{348,490}}</string>
                <key>sourceSize</key>
                <string>{406,556}</string>
            </dict>
            <key>atlas/lbl_King_AnglerFish/0081.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,1},{300,524}}</string>
                <key>offset</key>
                <string>{4,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,90},{300,524}}</string>
                <key>sourceSize</key>
                <string>{310,614}</string>
            </dict>
            <key>atlas/lbl_King_AnglerFish/0089.png</key>
            <dict>
                <key>frame</key>
                <string>{{1077,1},{310,544}}</string>
                <key>offset</key>
                <string>{-6,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,104},{310,544}}</string>
                <key>sourceSize</key>
                <string>{324,648}</string>
            </dict>
            <key>atlas/lbl_King_AnglerFish/0095.png</key>
            <dict>
                <key>frame</key>
                <string>{{991,313},{350,538}}</string>
                <key>offset</key>
                <string>{-28,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,95},{350,538}}</string>
                <key>sourceSize</key>
                <string>{406,634}</string>
            </dict>
            <key>atlas/lbl_King_AnglerFish/0101.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,653},{390,516}}</string>
                <key>offset</key>
                <string>{-45,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,74},{390,516}}</string>
                <key>sourceSize</key>
                <string>{480,590}</string>
            </dict>
            <key>atlas/lbl_King_AnglerFish/0107.png</key>
            <dict>
                <key>frame</key>
                <string>{{1475,813},{420,484}}</string>
                <key>offset</key>
                <string>{-61,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,52},{420,484}}</string>
                <key>sourceSize</key>
                <string>{542,536}</string>
            </dict>
            <key>atlas/lbl_King_AnglerFish/0113.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,1061},{436,452}}</string>
                <key>offset</key>
                <string>{-71,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,34},{436,452}}</string>
                <key>sourceSize</key>
                <string>{578,486}</string>
            </dict>
            <key>atlas/lbl_King_AnglerFish/0115.png</key>
            <dict>
                <key>frame</key>
                <string>{{897,1077},{438,444}}</string>
                <key>offset</key>
                <string>{-74,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,28},{438,444}}</string>
                <key>sourceSize</key>
                <string>{586,472}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>lbl_King_AnglerFish_3.png</string>
            <key>size</key>
            <string>{2044,1516}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:84a842e17c0b19ae02e731c6ea305cb9:9e67e7988be9fd468dc1ee1a8baaf2c4:062e8901ac695c05fa6c4d14cea80eaa$</string>
            <key>textureFileName</key>
            <string>lbl_King_AnglerFish_3.png</string>
        </dict>
    </dict>
</plist>
