<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>atlas/lbl_Big_Butterfly/0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,180},{94,244}}</string>
                <key>offset</key>
                <string>{7,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,26},{94,244}}</string>
                <key>sourceSize</key>
                <string>{108,270}</string>
            </dict>
            <key>atlas/lbl_Big_Butterfly/0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,88},{87,248}}</string>
                <key>offset</key>
                <string>{2,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,22},{87,248}}</string>
                <key>sourceSize</key>
                <string>{93,270}</string>
            </dict>
            <key>atlas/lbl_Big_Butterfly/0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{81,247}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,22},{81,247}}</string>
                <key>sourceSize</key>
                <string>{83,269}</string>
            </dict>
            <key>atlas/lbl_Big_Butterfly/0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,1},{85,247}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,22},{85,247}}</string>
                <key>sourceSize</key>
                <string>{87,269}</string>
            </dict>
            <key>atlas/lbl_Big_Butterfly/0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,1},{86,243}}</string>
                <key>offset</key>
                <string>{-2,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,24},{86,243}}</string>
                <key>sourceSize</key>
                <string>{92,267}</string>
            </dict>
            <key>atlas/lbl_Big_Butterfly/0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,177},{91,239}}</string>
                <key>offset</key>
                <string>{-2,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,27},{91,239}}</string>
                <key>sourceSize</key>
                <string>{95,267}</string>
            </dict>
            <key>atlas/lbl_Big_Butterfly/0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,264},{95,236}}</string>
                <key>offset</key>
                <string>{-3,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,28},{95,236}}</string>
                <key>sourceSize</key>
                <string>{101,264}</string>
            </dict>
            <key>atlas/lbl_Big_Butterfly/0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,274},{97,234}}</string>
                <key>offset</key>
                <string>{-4,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,32},{97,234}}</string>
                <key>sourceSize</key>
                <string>{105,266}</string>
            </dict>
            <key>atlas/lbl_Big_Butterfly/0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,361},{100,234}}</string>
                <key>offset</key>
                <string>{-4,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,32},{100,234}}</string>
                <key>sourceSize</key>
                <string>{108,266}</string>
            </dict>
            <key>atlas/lbl_Big_Butterfly/0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,367},{102,235}}</string>
                <key>offset</key>
                <string>{-6,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,31},{102,235}}</string>
                <key>sourceSize</key>
                <string>{114,267}</string>
            </dict>
            <key>atlas/lbl_Big_Butterfly/0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,482},{106,235}}</string>
                <key>offset</key>
                <string>{-7,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,32},{106,235}}</string>
                <key>sourceSize</key>
                <string>{120,267}</string>
            </dict>
            <key>atlas/lbl_Big_Butterfly/0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,576},{107,236}}</string>
                <key>offset</key>
                <string>{-8,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,33},{107,236}}</string>
                <key>sourceSize</key>
                <string>{123,270}</string>
            </dict>
            <key>atlas/lbl_Big_Butterfly/0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,928},{115,240}}</string>
                <key>offset</key>
                <string>{-8,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,29},{115,240}}</string>
                <key>sourceSize</key>
                <string>{131,270}</string>
            </dict>
            <key>atlas/lbl_Big_Butterfly/0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1034},{118,243}}</string>
                <key>offset</key>
                <string>{-8,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,26},{118,243}}</string>
                <key>sourceSize</key>
                <string>{134,269}</string>
            </dict>
            <key>atlas/lbl_Big_Butterfly/0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,1290},{123,250}}</string>
                <key>offset</key>
                <string>{-9,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{123,250}}</string>
                <key>sourceSize</key>
                <string>{141,270}</string>
            </dict>
            <key>atlas/lbl_Big_Butterfly/0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,1415},{126,254}}</string>
                <key>offset</key>
                <string>{-10,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{126,254}}</string>
                <key>sourceSize</key>
                <string>{146,270}</string>
            </dict>
            <key>atlas/lbl_Big_Butterfly/0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,1416},{127,256}}</string>
                <key>offset</key>
                <string>{-10,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{127,256}}</string>
                <key>sourceSize</key>
                <string>{147,270}</string>
            </dict>
            <key>atlas/lbl_Big_Butterfly/0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,1543},{127,256}}</string>
                <key>offset</key>
                <string>{-11,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,13},{127,256}}</string>
                <key>sourceSize</key>
                <string>{149,270}</string>
            </dict>
            <key>atlas/lbl_Big_Butterfly/0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,1545},{127,253}}</string>
                <key>offset</key>
                <string>{-13,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{127,253}}</string>
                <key>sourceSize</key>
                <string>{153,267}</string>
            </dict>
            <key>atlas/lbl_Big_Butterfly/0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,1290},{124,251}}</string>
                <key>offset</key>
                <string>{-14,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{124,251}}</string>
                <key>sourceSize</key>
                <string>{152,267}</string>
            </dict>
            <key>atlas/lbl_Big_Butterfly/0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,1047},{118,248}}</string>
                <key>offset</key>
                <string>{-13,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,18},{118,248}}</string>
                <key>sourceSize</key>
                <string>{144,266}</string>
            </dict>
            <key>atlas/lbl_Big_Butterfly/0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,814},{114,244}}</string>
                <key>offset</key>
                <string>{-13,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{114,244}}</string>
                <key>sourceSize</key>
                <string>{140,264}</string>
            </dict>
            <key>atlas/lbl_Big_Butterfly/0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,701},{111,244}}</string>
                <key>offset</key>
                <string>{-12,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,22},{111,244}}</string>
                <key>sourceSize</key>
                <string>{135,266}</string>
            </dict>
            <key>atlas/lbl_Big_Butterfly/0047.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,590},{109,244}}</string>
                <key>offset</key>
                <string>{-11,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,22},{109,244}}</string>
                <key>sourceSize</key>
                <string>{131,266}</string>
            </dict>
            <key>atlas/lbl_Big_Butterfly/0049.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,590},{109,243}}</string>
                <key>offset</key>
                <string>{-11,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,23},{109,243}}</string>
                <key>sourceSize</key>
                <string>{131,267}</string>
            </dict>
            <key>atlas/lbl_Big_Butterfly/0051.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,584},{108,244}}</string>
                <key>offset</key>
                <string>{-12,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,22},{108,244}}</string>
                <key>sourceSize</key>
                <string>{132,266}</string>
            </dict>
            <key>atlas/lbl_Big_Butterfly/0053.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,805},{111,246}}</string>
                <key>offset</key>
                <string>{-12,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,23},{111,246}}</string>
                <key>sourceSize</key>
                <string>{135,270}</string>
            </dict>
            <key>atlas/lbl_Big_Butterfly/0055.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,918},{114,246}}</string>
                <key>offset</key>
                <string>{-12,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,25},{114,246}}</string>
                <key>sourceSize</key>
                <string>{138,272}</string>
            </dict>
            <key>atlas/lbl_Big_Butterfly/0057.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,1049},{118,245}}</string>
                <key>offset</key>
                <string>{-11,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,24},{118,245}}</string>
                <key>sourceSize</key>
                <string>{140,269}</string>
            </dict>
            <key>atlas/lbl_Big_Butterfly/0059.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,929},{116,242}}</string>
                <key>offset</key>
                <string>{-9,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,29},{116,242}}</string>
                <key>sourceSize</key>
                <string>{134,272}</string>
            </dict>
            <key>atlas/lbl_Big_Butterfly/0061.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,813},{113,242}}</string>
                <key>offset</key>
                <string>{-6,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,28},{113,242}}</string>
                <key>sourceSize</key>
                <string>{125,270}</string>
            </dict>
            <key>atlas/lbl_Big_Butterfly/0063.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,377},{103,240}}</string>
                <key>offset</key>
                <string>{-3,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,30},{103,240}}</string>
                <key>sourceSize</key>
                <string>{111,270}</string>
            </dict>
            <key>atlas/lbl_Big_Butterfly/0065.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,482},{106,240}}</string>
                <key>offset</key>
                <string>{-2,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,29},{106,240}}</string>
                <key>sourceSize</key>
                <string>{110,270}</string>
            </dict>
            <key>atlas/lbl_Big_Butterfly/0067.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,471},{103,241}}</string>
                <key>offset</key>
                <string>{-1,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,28},{103,241}}</string>
                <key>sourceSize</key>
                <string>{105,269}</string>
            </dict>
            <key>atlas/lbl_Big_Butterfly/0069.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,276},{99,239}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,29},{99,239}}</string>
                <key>sourceSize</key>
                <string>{99,269}</string>
            </dict>
            <key>atlas/lbl_Big_Butterfly/0071.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,270},{95,239}}</string>
                <key>offset</key>
                <string>{1,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,28},{95,239}}</string>
                <key>sourceSize</key>
                <string>{99,269}</string>
            </dict>
            <key>atlas/lbl_Big_Butterfly/0073.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,172},{90,238}}</string>
                <key>offset</key>
                <string>{2,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,26},{90,238}}</string>
                <key>sourceSize</key>
                <string>{96,264}</string>
            </dict>
            <key>atlas/lbl_Big_Butterfly/0075.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,89},{88,238}}</string>
                <key>offset</key>
                <string>{1,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,26},{88,238}}</string>
                <key>sourceSize</key>
                <string>{90,264}</string>
            </dict>
            <key>atlas/lbl_Big_Butterfly/0077.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,1},{86,240}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,26},{86,240}}</string>
                <key>sourceSize</key>
                <string>{86,266}</string>
            </dict>
            <key>atlas/lbl_Big_Butterfly/0079.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,84},{86,243}}</string>
                <key>offset</key>
                <string>{1,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,25},{86,243}}</string>
                <key>sourceSize</key>
                <string>{90,269}</string>
            </dict>
            <key>atlas/lbl_Big_Butterfly/0081.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,89},{89,243}}</string>
                <key>offset</key>
                <string>{2,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,24},{89,243}}</string>
                <key>sourceSize</key>
                <string>{95,267}</string>
            </dict>
            <key>atlas/lbl_Big_Butterfly/0083.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,179},{93,247}}</string>
                <key>offset</key>
                <string>{2,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,22},{93,247}}</string>
                <key>sourceSize</key>
                <string>{99,269}</string>
            </dict>
            <key>atlas/lbl_Big_Butterfly/0085.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,377},{99,248}}</string>
                <key>offset</key>
                <string>{2,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,23},{99,248}}</string>
                <key>sourceSize</key>
                <string>{105,272}</string>
            </dict>
            <key>atlas/lbl_Big_Butterfly/0087.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,478},{104,250}}</string>
                <key>offset</key>
                <string>{2,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,20},{104,250}}</string>
                <key>sourceSize</key>
                <string>{108,270}</string>
            </dict>
            <key>atlas/lbl_Big_Butterfly/0089.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,701},{110,250}}</string>
                <key>offset</key>
                <string>{3,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,20},{110,250}}</string>
                <key>sourceSize</key>
                <string>{116,270}</string>
            </dict>
            <key>atlas/lbl_Big_Butterfly/0091.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,814},{113,250}}</string>
                <key>offset</key>
                <string>{4,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,20},{113,250}}</string>
                <key>sourceSize</key>
                <string>{123,270}</string>
            </dict>
            <key>atlas/lbl_Big_Butterfly/0093.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,930},{117,251}}</string>
                <key>offset</key>
                <string>{5,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,18},{117,251}}</string>
                <key>sourceSize</key>
                <string>{129,269}</string>
            </dict>
            <key>atlas/lbl_Big_Butterfly/0095.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,1167},{118,252}}</string>
                <key>offset</key>
                <string>{7,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,19},{118,252}}</string>
                <key>sourceSize</key>
                <string>{132,272}</string>
            </dict>
            <key>atlas/lbl_Big_Butterfly/0097.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,1169},{119,252}}</string>
                <key>offset</key>
                <string>{9,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,17},{119,252}}</string>
                <key>sourceSize</key>
                <string>{137,270}</string>
            </dict>
            <key>atlas/lbl_Big_Butterfly/0099.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1287},{119,251}}</string>
                <key>offset</key>
                <string>{11,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,16},{119,251}}</string>
                <key>sourceSize</key>
                <string>{141,267}</string>
            </dict>
            <key>atlas/lbl_Big_Butterfly/0101.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,1169},{118,249}}</string>
                <key>offset</key>
                <string>{13,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,19},{118,249}}</string>
                <key>sourceSize</key>
                <string>{144,269}</string>
            </dict>
            <key>atlas/lbl_Big_Butterfly/0103.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,1289},{120,245}}</string>
                <key>offset</key>
                <string>{15,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,21},{120,245}}</string>
                <key>sourceSize</key>
                <string>{150,267}</string>
            </dict>
            <key>atlas/lbl_Big_Butterfly/0105.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1408},{124,243}}</string>
                <key>offset</key>
                <string>{16,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,23},{124,243}}</string>
                <key>sourceSize</key>
                <string>{156,267}</string>
            </dict>
            <key>atlas/lbl_Big_Butterfly/0107.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,1411},{126,240}}</string>
                <key>offset</key>
                <string>{18,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,26},{126,240}}</string>
                <key>sourceSize</key>
                <string>{162,266}</string>
            </dict>
            <key>atlas/lbl_Big_Butterfly/0109.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1534},{128,237}}</string>
                <key>offset</key>
                <string>{19,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,29},{128,237}}</string>
                <key>sourceSize</key>
                <string>{168,267}</string>
            </dict>
            <key>atlas/lbl_Big_Butterfly/0111.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,1539},{128,236}}</string>
                <key>offset</key>
                <string>{20,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,30},{128,236}}</string>
                <key>sourceSize</key>
                <string>{170,266}</string>
            </dict>
            <key>atlas/lbl_Big_Butterfly/0113.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1154},{124,235}}</string>
                <key>offset</key>
                <string>{20,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,32},{124,235}}</string>
                <key>sourceSize</key>
                <string>{168,267}</string>
            </dict>
            <key>atlas/lbl_Big_Butterfly/0115.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,1045},{119,235}}</string>
                <key>offset</key>
                <string>{20,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,32},{119,235}}</string>
                <key>sourceSize</key>
                <string>{159,267}</string>
            </dict>
            <key>atlas/lbl_Big_Butterfly/0117.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,685},{115,236}}</string>
                <key>offset</key>
                <string>{17,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,35},{115,236}}</string>
                <key>sourceSize</key>
                <string>{149,272}</string>
            </dict>
            <key>atlas/lbl_Big_Butterfly/0119.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,694},{109,237}}</string>
                <key>offset</key>
                <string>{13,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,32},{109,237}}</string>
                <key>sourceSize</key>
                <string>{137,269}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>lbl_Big_Butterfly_1.png</string>
            <key>size</key>
            <string>{1006,1673}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6400e3306feb2f2ab65fc55fb32528d8:ed90f973f12eafa3452ae86d669afdfb:2ae91793885e343dad00e3102b67ba79$</string>
            <key>textureFileName</key>
            <string>lbl_Big_Butterfly_1.png</string>
        </dict>
    </dict>
</plist>
