<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>atlas/lbl_King_Turtle/0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1871,1636},{136,154}}</string>
                <key>offset</key>
                <string>{-6,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,4},{136,154}}</string>
                <key>sourceSize</key>
                <string>{194,194}</string>
            </dict>
            <key>atlas/lbl_King_Turtle/0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1832,1498},{136,156}}</string>
                <key>offset</key>
                <string>{-6,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,4},{136,156}}</string>
                <key>sourceSize</key>
                <string>{194,194}</string>
            </dict>
            <key>atlas/lbl_King_Turtle/0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1832,1339},{135,157}}</string>
                <key>offset</key>
                <string>{-6,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,8},{135,157}}</string>
                <key>sourceSize</key>
                <string>{203,203}</string>
            </dict>
            <key>atlas/lbl_King_Turtle/0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{1799,1109},{222,228}}</string>
                <key>offset</key>
                <string>{-17,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,48},{222,228}}</string>
                <key>sourceSize</key>
                <string>{286,286}</string>
            </dict>
            <key>atlas/lbl_King_Turtle/0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{1442,563},{268,282}}</string>
                <key>offset</key>
                <string>{-21,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,42},{268,282}}</string>
                <key>sourceSize</key>
                <string>{334,334}</string>
            </dict>
            <key>atlas/lbl_King_Turtle/0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,317},{283,311}}</string>
                <key>offset</key>
                <string>{-16,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,27},{283,311}}</string>
                <key>sourceSize</key>
                <string>{353,353}</string>
            </dict>
            <key>atlas/lbl_King_Turtle/0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,1},{300,314}}</string>
                <key>offset</key>
                <string>{-10,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,31},{300,314}}</string>
                <key>sourceSize</key>
                <string>{368,368}</string>
            </dict>
            <key>atlas/lbl_King_Turtle/0060.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{318,314}}</string>
                <key>offset</key>
                <string>{-11,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,20},{318,314}}</string>
                <key>sourceSize</key>
                <string>{348,348}</string>
            </dict>
            <key>atlas/lbl_King_Turtle/0061.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,317},{316,312}}</string>
                <key>offset</key>
                <string>{-12,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,21},{316,312}}</string>
                <key>sourceSize</key>
                <string>{348,348}</string>
            </dict>
            <key>atlas/lbl_King_Turtle/0063.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,285},{244,286}}</string>
                <key>offset</key>
                <string>{-13,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,28},{244,286}}</string>
                <key>sourceSize</key>
                <string>{340,340}</string>
            </dict>
            <key>atlas/lbl_King_Turtle/0064.png</key>
            <dict>
                <key>frame</key>
                <string>{{1131,1134},{242,272}}</string>
                <key>offset</key>
                <string>{-12,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,22},{242,272}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>atlas/lbl_King_Turtle/0065.png</key>
            <dict>
                <key>frame</key>
                <string>{{1397,855},{237,261}}</string>
                <key>offset</key>
                <string>{-11,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,27},{237,261}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>atlas/lbl_King_Turtle/0068.png</key>
            <dict>
                <key>frame</key>
                <string>{{1392,1551},{189,259}}</string>
                <key>offset</key>
                <string>{-7,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,25},{189,259}}</string>
                <key>sourceSize</key>
                <string>{299,299}</string>
            </dict>
            <key>atlas/lbl_King_Turtle/0070.png</key>
            <dict>
                <key>frame</key>
                <string>{{1653,1379},{177,259}}</string>
                <key>offset</key>
                <string>{-12,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,28},{177,259}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>atlas/lbl_King_Turtle/0074.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,1122},{267,277}}</string>
                <key>offset</key>
                <string>{19,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,28},{267,277}}</string>
                <key>sourceSize</key>
                <string>{305,305}</string>
            </dict>
            <key>atlas/lbl_King_Turtle/0075.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,565},{274,286}}</string>
                <key>offset</key>
                <string>{23,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,34},{274,286}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>atlas/lbl_King_Turtle/0076.png</key>
            <dict>
                <key>frame</key>
                <string>{{623,285},{278,290}}</string>
                <key>offset</key>
                <string>{25,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,38},{278,290}}</string>
                <key>sourceSize</key>
                <string>{328,328}</string>
            </dict>
            <key>atlas/lbl_King_Turtle/0077.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,860},{266,278}}</string>
                <key>offset</key>
                <string>{19,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,26},{266,278}}</string>
                <key>sourceSize</key>
                <string>{304,304}</string>
            </dict>
            <key>atlas/lbl_King_Turtle/0078.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,1128},{266,276}}</string>
                <key>offset</key>
                <string>{18,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,26},{266,276}}</string>
                <key>sourceSize</key>
                <string>{302,302}</string>
            </dict>
            <key>atlas/lbl_King_Turtle/0079.png</key>
            <dict>
                <key>frame</key>
                <string>{{1712,560},{268,280}}</string>
                <key>offset</key>
                <string>{20,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,28},{268,280}}</string>
                <key>sourceSize</key>
                <string>{308,308}</string>
            </dict>
            <key>atlas/lbl_King_Turtle/0080.png</key>
            <dict>
                <key>frame</key>
                <string>{{1436,279},{270,282}}</string>
                <key>offset</key>
                <string>{22,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,32},{270,282}}</string>
                <key>sourceSize</key>
                <string>{314,314}</string>
            </dict>
            <key>atlas/lbl_King_Turtle/0081.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,573},{273,285}}</string>
                <key>offset</key>
                <string>{22,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,32},{273,285}}</string>
                <key>sourceSize</key>
                <string>{317,317}</string>
            </dict>
            <key>atlas/lbl_King_Turtle/0082.png</key>
            <dict>
                <key>frame</key>
                <string>{{1161,281},{273,285}}</string>
                <key>offset</key>
                <string>{22,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,32},{273,285}}</string>
                <key>sourceSize</key>
                <string>{317,317}</string>
            </dict>
            <key>atlas/lbl_King_Turtle/0083.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,916},{268,280}}</string>
                <key>offset</key>
                <string>{20,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,28},{268,280}}</string>
                <key>sourceSize</key>
                <string>{308,308}</string>
            </dict>
            <key>atlas/lbl_King_Turtle/0084.png</key>
            <dict>
                <key>frame</key>
                <string>{{1167,568},{273,285}}</string>
                <key>offset</key>
                <string>{23,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,34},{273,285}}</string>
                <key>sourceSize</key>
                <string>{319,319}</string>
            </dict>
            <key>atlas/lbl_King_Turtle/0085.png</key>
            <dict>
                <key>frame</key>
                <string>{{1405,1118},{223,259}}</string>
                <key>offset</key>
                <string>{21,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,28},{223,259}}</string>
                <key>sourceSize</key>
                <string>{311,311}</string>
            </dict>
            <key>atlas/lbl_King_Turtle/0091.png</key>
            <dict>
                <key>frame</key>
                <string>{{1125,1714},{221,257}}</string>
                <key>offset</key>
                <string>{21,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,46},{221,257}}</string>
                <key>sourceSize</key>
                <string>{341,341}</string>
            </dict>
            <key>atlas/lbl_King_Turtle/0092.png</key>
            <dict>
                <key>frame</key>
                <string>{{1384,1742},{214,258}}</string>
                <key>offset</key>
                <string>{17,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,37},{214,258}}</string>
                <key>sourceSize</key>
                <string>{326,326}</string>
            </dict>
            <key>atlas/lbl_King_Turtle/0093.png</key>
            <dict>
                <key>frame</key>
                <string>{{1804,842},{213,259}}</string>
                <key>offset</key>
                <string>{17,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,34},{213,259}}</string>
                <key>sourceSize</key>
                <string>{319,319}</string>
            </dict>
            <key>atlas/lbl_King_Turtle/0094.png</key>
            <dict>
                <key>frame</key>
                <string>{{1853,1},{170,258}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,30},{170,258}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>atlas/lbl_King_Turtle/0096.png</key>
            <dict>
                <key>frame</key>
                <string>{{1393,1379},{170,258}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,33},{170,258}}</string>
                <key>sourceSize</key>
                <string>{316,316}</string>
            </dict>
            <key>atlas/lbl_King_Turtle/0097.png</key>
            <dict>
                <key>frame</key>
                <string>{{1630,1118},{167,259}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,27},{167,259}}</string>
                <key>sourceSize</key>
                <string>{305,305}</string>
            </dict>
            <key>atlas/lbl_King_Turtle/0100.png</key>
            <dict>
                <key>frame</key>
                <string>{{1636,847},{166,260}}</string>
                <key>offset</key>
                <string>{-7,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,33},{166,260}}</string>
                <key>sourceSize</key>
                <string>{316,316}</string>
            </dict>
            <key>atlas/lbl_King_Turtle/0105.png</key>
            <dict>
                <key>frame</key>
                <string>{{1131,1378},{166,260}}</string>
                <key>offset</key>
                <string>{-7,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,22},{166,260}}</string>
                <key>sourceSize</key>
                <string>{296,296}</string>
            </dict>
            <key>atlas/lbl_King_Turtle/0111.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1199},{306,278}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{306,278}}</string>
                <key>sourceSize</key>
                <string>{306,306}</string>
            </dict>
            <key>atlas/lbl_King_Turtle/0112.png</key>
            <dict>
                <key>frame</key>
                <string>{{939,1},{308,278}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,30},{308,278}}</string>
                <key>sourceSize</key>
                <string>{308,308}</string>
            </dict>
            <key>atlas/lbl_King_Turtle/0113.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,916},{311,281}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,30},{311,281}}</string>
                <key>sourceSize</key>
                <string>{311,311}</string>
            </dict>
            <key>atlas/lbl_King_Turtle/0114.png</key>
            <dict>
                <key>frame</key>
                <string>{{623,1},{314,282}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,32},{314,282}}</string>
                <key>sourceSize</key>
                <string>{314,314}</string>
            </dict>
            <key>atlas/lbl_King_Turtle/0115.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,1756},{293,273}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{293,273}}</string>
                <key>sourceSize</key>
                <string>{293,293}</string>
            </dict>
            <key>atlas/lbl_King_Turtle/0116.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1479},{299,275}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{299,275}}</string>
                <key>sourceSize</key>
                <string>{299,299}</string>
            </dict>
            <key>atlas/lbl_King_Turtle/0117.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1756},{295,273}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{295,273}}</string>
                <key>sourceSize</key>
                <string>{295,295}</string>
            </dict>
            <key>atlas/lbl_King_Turtle/0118.png</key>
            <dict>
                <key>frame</key>
                <string>{{1553,1},{298,274}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{298,274}}</string>
                <key>sourceSize</key>
                <string>{298,298}</string>
            </dict>
            <key>atlas/lbl_King_Turtle/0119.png</key>
            <dict>
                <key>frame</key>
                <string>{{1249,1},{302,276}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{302,276}}</string>
                <key>sourceSize</key>
                <string>{302,302}</string>
            </dict>
            <key>atlas/lbl_King_Turtle/0120.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,631},{315,283}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,32},{315,283}}</string>
                <key>sourceSize</key>
                <string>{315,315}</string>
            </dict>
            <key>atlas/lbl_King_Turtle/0122.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,631},{214,256}}</string>
                <key>offset</key>
                <string>{-31,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,27},{214,256}}</string>
                <key>sourceSize</key>
                <string>{302,302}</string>
            </dict>
            <key>atlas/lbl_King_Turtle/0123.png</key>
            <dict>
                <key>frame</key>
                <string>{{1653,1640},{216,256}}</string>
                <key>offset</key>
                <string>{-32,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,28},{216,256}}</string>
                <key>sourceSize</key>
                <string>{306,306}</string>
            </dict>
            <key>atlas/lbl_King_Turtle/0138.png</key>
            <dict>
                <key>frame</key>
                <string>{{1130,1546},{166,260}}</string>
                <key>offset</key>
                <string>{-7,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,19},{166,260}}</string>
                <key>sourceSize</key>
                <string>{290,290}</string>
            </dict>
            <key>atlas/lbl_King_Turtle/0147.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,1401},{266,276}}</string>
                <key>offset</key>
                <string>{18,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,26},{266,276}}</string>
                <key>sourceSize</key>
                <string>{302,302}</string>
            </dict>
            <key>atlas/lbl_King_Turtle/0148.png</key>
            <dict>
                <key>frame</key>
                <string>{{1708,277},{269,281}}</string>
                <key>offset</key>
                <string>{21,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,30},{269,281}}</string>
                <key>sourceSize</key>
                <string>{311,311}</string>
            </dict>
            <key>atlas/lbl_King_Turtle/0149.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,841},{267,279}}</string>
                <key>offset</key>
                <string>{20,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,28},{267,279}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>atlas/lbl_King_Turtle/0150.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,1396},{266,276}}</string>
                <key>offset</key>
                <string>{18,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,26},{266,276}}</string>
                <key>sourceSize</key>
                <string>{302,302}</string>
            </dict>
            <key>atlas/lbl_King_Turtle/0151.png</key>
            <dict>
                <key>frame</key>
                <string>{{1133,860},{262,272}}</string>
                <key>offset</key>
                <string>{16,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,22},{262,272}}</string>
                <key>sourceSize</key>
                <string>{294,294}</string>
            </dict>
            <key>atlas/lbl_King_Turtle/0152.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,1669},{266,276}}</string>
                <key>offset</key>
                <string>{18,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,26},{266,276}}</string>
                <key>sourceSize</key>
                <string>{302,302}</string>
            </dict>
            <key>atlas/lbl_King_Turtle/0153.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,1198},{258,268}}</string>
                <key>offset</key>
                <string>{14,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,18},{258,268}}</string>
                <key>sourceSize</key>
                <string>{286,286}</string>
            </dict>
            <key>atlas/lbl_King_Turtle/0154.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,1458},{261,273}}</string>
                <key>offset</key>
                <string>{16,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,20},{261,273}}</string>
                <key>sourceSize</key>
                <string>{293,293}</string>
            </dict>
            <key>atlas/lbl_King_Turtle/0155.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,1674},{262,274}}</string>
                <key>offset</key>
                <string>{17,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,22},{262,274}}</string>
                <key>sourceSize</key>
                <string>{296,296}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>lbl_King_Turtle_2.png</string>
            <key>size</key>
            <string>{2024,2030}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b90d3ebbdff2f070b66d62d993568663:eb67e00756e5805a9e2bd70ecc1c0b28:12687565d68d913b68c6c0f038a045a3$</string>
            <key>textureFileName</key>
            <string>lbl_King_Turtle_2.png</string>
        </dict>
    </dict>
</plist>
