<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>2056P/a_bet_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{976,312},{50,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,47}</string>
			</dict>
			<key>2056P/a_bet_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{976,364},{50,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,47}</string>
			</dict>
			<key>2056P/a_bet_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{976,416},{50,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,47}</string>
			</dict>
			<key>2056P/auto_spin_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{777,1},{151,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{151,47}</string>
			</dict>
			<key>2056P/auto_spin_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{930,1},{151,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{151,47}</string>
			</dict>
			<key>2056P/auto_spin_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{777,50},{151,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{151,47}</string>
			</dict>
			<key>2056P/auto_stop_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{573,56},{151,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{151,47}</string>
			</dict>
			<key>2056P/auto_stop_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{726,56},{151,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{151,47}</string>
			</dict>
			<key>2056P/auto_stop_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{573,105},{151,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{151,47}</string>
			</dict>
			<key>2056P/bet_textrue_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{775,295},{118,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,47}</string>
			</dict>
			<key>2056P/bet_textrue_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{927,307},{118,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{118,47}</string>
			</dict>
			<key>2056P/free_show_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{979,104},{94,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{94,33}</string>
			</dict>
			<key>2056P/i_logo.png</key>
			<dict>
				<key>frame</key>
				<string>{{573,1},{202,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{202,53}</string>
			</dict>
			<key>2056P/j_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{570,282}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{570,282}</string>
			</dict>
			<key>2056P/line_btn_01_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{977,200},{46,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,14}</string>
			</dict>
			<key>2056P/line_btn_01_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{977,216},{46,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,14}</string>
			</dict>
			<key>2056P/line_btn_02_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{977,232},{46,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,14}</string>
			</dict>
			<key>2056P/line_btn_02_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{977,248},{46,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,14}</string>
			</dict>
			<key>2056P/line_btn_03_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{977,264},{46,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,14}</string>
			</dict>
			<key>2056P/line_btn_03_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{977,280},{46,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,14}</string>
			</dict>
			<key>2056P/line_btn_04_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{977,296},{46,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,14}</string>
			</dict>
			<key>2056P/line_btn_04_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{895,295},{46,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{46,14}</string>
			</dict>
			<key>2056P/line_btn_05_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{911,295},{46,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{46,14}</string>
			</dict>
			<key>2056P/line_btn_05_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{895,343},{46,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{46,14}</string>
			</dict>
			<key>2056P/line_btn_06_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{911,343},{46,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{46,14}</string>
			</dict>
			<key>2056P/line_btn_06_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{879,344},{46,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{46,14}</string>
			</dict>
			<key>2056P/line_btn_07_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{895,391},{46,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{46,14}</string>
			</dict>
			<key>2056P/line_btn_07_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{879,392},{46,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{46,14}</string>
			</dict>
			<key>2056P/line_btn_08_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{911,391},{46,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{46,14}</string>
			</dict>
			<key>2056P/line_btn_08_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{895,439},{46,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{46,14}</string>
			</dict>
			<key>2056P/line_btn_09_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{911,439},{46,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{46,14}</string>
			</dict>
			<key>2056P/line_btn_09_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{976,468},{46,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,14}</string>
			</dict>
			<key>2056P/line_btn_10_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{927,479},{46,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,14}</string>
			</dict>
			<key>2056P/line_btn_10_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{975,484},{46,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,14}</string>
			</dict>
			<key>2056P/line_btn_11_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,285},{46,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,14}</string>
			</dict>
			<key>2056P/line_btn_11_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{49,285},{46,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,14}</string>
			</dict>
			<key>2056P/line_btn_12_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{97,285},{46,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,14}</string>
			</dict>
			<key>2056P/line_btn_12_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{145,285},{46,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,14}</string>
			</dict>
			<key>2056P/line_btn_13_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{193,285},{46,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,14}</string>
			</dict>
			<key>2056P/line_btn_13_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{241,285},{46,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,14}</string>
			</dict>
			<key>2056P/line_btn_14_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{289,285},{46,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,14}</string>
			</dict>
			<key>2056P/line_btn_14_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{337,285},{46,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,14}</string>
			</dict>
			<key>2056P/line_btn_15_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{385,285},{46,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,14}</string>
			</dict>
			<key>2056P/line_btn_15_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{433,285},{46,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,14}</string>
			</dict>
			<key>2056P/line_btn_16_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{481,285},{46,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,14}</string>
			</dict>
			<key>2056P/line_btn_16_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{529,285},{46,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{46,14}</string>
			</dict>
			<key>2056P/line_btn_17_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{545,285},{46,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{46,14}</string>
			</dict>
			<key>2056P/line_btn_17_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{561,301},{46,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,14}</string>
			</dict>
			<key>2056P/line_btn_18_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{609,301},{46,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,14}</string>
			</dict>
			<key>2056P/line_btn_18_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{657,301},{46,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,14}</string>
			</dict>
			<key>2056P/line_btn_19_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{705,301},{46,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{46,14}</string>
			</dict>
			<key>2056P/line_btn_19_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{561,317},{46,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,14}</string>
			</dict>
			<key>2056P/line_btn_20_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{609,317},{46,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,14}</string>
			</dict>
			<key>2056P/line_btn_20_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{657,317},{46,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,14}</string>
			</dict>
			<key>2056P/line_btn_21_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,301},{46,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,14}</string>
			</dict>
			<key>2056P/line_btn_21_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{49,301},{46,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,14}</string>
			</dict>
			<key>2056P/line_btn_22_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{97,301},{46,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,14}</string>
			</dict>
			<key>2056P/line_btn_22_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{145,301},{46,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,14}</string>
			</dict>
			<key>2056P/line_btn_23_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{193,301},{46,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,14}</string>
			</dict>
			<key>2056P/line_btn_23_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{241,301},{46,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,14}</string>
			</dict>
			<key>2056P/line_btn_24_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{289,301},{46,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,14}</string>
			</dict>
			<key>2056P/line_btn_24_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{337,301},{46,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,14}</string>
			</dict>
			<key>2056P/line_btn_25_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{385,301},{46,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,14}</string>
			</dict>
			<key>2056P/line_btn_25_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{433,301},{46,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,14}</string>
			</dict>
			<key>2056P/line_btn_26_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{481,301},{46,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,14}</string>
			</dict>
			<key>2056P/line_btn_26_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,317},{46,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,14}</string>
			</dict>
			<key>2056P/line_btn_27_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{49,317},{46,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,14}</string>
			</dict>
			<key>2056P/line_btn_27_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{97,317},{46,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,14}</string>
			</dict>
			<key>2056P/line_btn_28_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{145,317},{46,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,14}</string>
			</dict>
			<key>2056P/line_btn_28_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{193,317},{46,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,14}</string>
			</dict>
			<key>2056P/line_btn_29_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{241,317},{46,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,14}</string>
			</dict>
			<key>2056P/line_btn_29_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{289,317},{46,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,14}</string>
			</dict>
			<key>2056P/line_btn_30_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{337,317},{46,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,14}</string>
			</dict>
			<key>2056P/line_btn_30_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{385,317},{46,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,14}</string>
			</dict>
			<key>2056P/line_btn_31_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{433,317},{46,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,14}</string>
			</dict>
			<key>2056P/line_btn_31_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{481,317},{46,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,14}</string>
			</dict>
			<key>2056P/line_btn_32_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,333},{46,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{46,14}</string>
			</dict>
			<key>2056P/line_btn_32_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{17,333},{46,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,14}</string>
			</dict>
			<key>2056P/line_btn_33_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{65,333},{46,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,14}</string>
			</dict>
			<key>2056P/line_btn_33_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{113,333},{46,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,14}</string>
			</dict>
			<key>2056P/line_btn_34_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{161,333},{46,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,14}</string>
			</dict>
			<key>2056P/line_btn_34_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{209,333},{46,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,14}</string>
			</dict>
			<key>2056P/line_btn_35_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{257,333},{46,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,14}</string>
			</dict>
			<key>2056P/line_btn_35_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{305,333},{46,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,14}</string>
			</dict>
			<key>2056P/line_btn_36_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{353,333},{46,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,14}</string>
			</dict>
			<key>2056P/line_btn_36_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{401,333},{46,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,14}</string>
			</dict>
			<key>2056P/line_btn_37_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{449,333},{46,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,14}</string>
			</dict>
			<key>2056P/line_btn_37_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{497,333},{46,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,14}</string>
			</dict>
			<key>2056P/line_btn_38_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{545,333},{46,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,14}</string>
			</dict>
			<key>2056P/line_btn_38_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{593,333},{46,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,14}</string>
			</dict>
			<key>2056P/line_btn_39_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{641,333},{46,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,14}</string>
			</dict>
			<key>2056P/line_btn_39_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{689,333},{46,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{46,14}</string>
			</dict>
			<key>2056P/line_btn_40_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{705,349},{46,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{46,14}</string>
			</dict>
			<key>2056P/line_btn_40_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{721,362},{46,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,14}</string>
			</dict>
			<key>2056P/line_btn_41_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{721,378},{46,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,14}</string>
			</dict>
			<key>2056P/line_btn_41_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{769,393},{46,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,14}</string>
			</dict>
			<key>2056P/line_btn_42_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{721,394},{46,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,14}</string>
			</dict>
			<key>2056P/line_btn_42_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{817,393},{46,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,14}</string>
			</dict>
			<key>2056P/line_btn_43_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{769,409},{46,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,14}</string>
			</dict>
			<key>2056P/line_btn_43_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{817,409},{46,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,14}</string>
			</dict>
			<key>2056P/line_btn_44_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,397},{46,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{46,14}</string>
			</dict>
			<key>2056P/line_btn_44_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,381},{46,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,14}</string>
			</dict>
			<key>2056P/line_btn_45_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{17,349},{46,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,14}</string>
			</dict>
			<key>2056P/line_btn_45_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{17,365},{46,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,14}</string>
			</dict>
			<key>2056P/line_btn_46_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{65,349},{46,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,14}</string>
			</dict>
			<key>2056P/line_btn_46_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{113,349},{46,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,14}</string>
			</dict>
			<key>2056P/line_btn_47_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{161,349},{46,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,14}</string>
			</dict>
			<key>2056P/line_btn_47_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{209,349},{46,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,14}</string>
			</dict>
			<key>2056P/line_btn_48_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{257,349},{46,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,14}</string>
			</dict>
			<key>2056P/line_btn_48_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{305,349},{46,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,14}</string>
			</dict>
			<key>2056P/line_btn_49_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{353,349},{46,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,14}</string>
			</dict>
			<key>2056P/line_btn_49_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{401,349},{46,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,14}</string>
			</dict>
			<key>2056P/line_btn_50_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{449,349},{46,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,14}</string>
			</dict>
			<key>2056P/line_btn_50_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{497,349},{46,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,14}</string>
			</dict>
			<key>2056P/return_game_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{573,154},{151,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{151,47}</string>
			</dict>
			<key>2056P/return_game_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{573,203},{151,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{151,47}</string>
			</dict>
			<key>2056P/return_game_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{775,99},{151,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{151,47}</string>
			</dict>
			<key>2056P/s_bet_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{775,344},{50,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,47}</string>
			</dict>
			<key>2056P/s_bet_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{827,344},{50,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,47}</string>
			</dict>
			<key>2056P/s_bet_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{927,427},{50,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,47}</string>
			</dict>
			<key>2056P/spin_i_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{775,148},{151,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{151,47}</string>
			</dict>
			<key>2056P/spin_i_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{928,154},{151,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{151,47}</string>
			</dict>
			<key>2056P/spin_i_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{775,197},{151,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{151,47}</string>
			</dict>
			<key>2056P/stop_i_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{726,209},{151,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{151,47}</string>
			</dict>
			<key>2056P/stop_i_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{573,252},{151,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{151,47}</string>
			</dict>
			<key>2056P/stop_i_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{775,246},{151,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{151,47}</string>
			</dict>
			<key>2056P/xbet_p.png</key>
			<dict>
				<key>frame</key>
				<string>{{979,1},{101,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{101,35}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>2056plist.png</string>
			<key>realTextureFileName</key>
			<string>2056plist.png</string>
			<key>size</key>
			<string>{1024,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>