<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>slots_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,265},{128,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,33},{128,111}}</string>
                <key>sourceSize</key>
                <string>{270,177}</string>
            </dict>
            <key>slots_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,171},{204,173}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,0},{204,173}}</string>
                <key>sourceSize</key>
                <string>{270,177}</string>
            </dict>
            <key>slots_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,83},{180,141}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,18},{180,141}}</string>
                <key>sourceSize</key>
                <string>{270,177}</string>
            </dict>
            <key>slots_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,2},{226,167}}</string>
                <key>offset</key>
                <string>{15,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,10},{226,167}}</string>
                <key>sourceSize</key>
                <string>{270,177}</string>
            </dict>
            <key>slots_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,175},{176,167}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,10},{176,167}}</string>
                <key>sourceSize</key>
                <string>{270,177}</string>
            </dict>
            <key>slots_51_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{266,432}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,432}}</string>
                <key>sourceSize</key>
                <string>{266,432}</string>
            </dict>
            <key>slots_51_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{266,432}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,432}}</string>
                <key>sourceSize</key>
                <string>{266,432}</string>
            </dict>
            <key>slots_51_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{266,432}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,432}}</string>
                <key>sourceSize</key>
                <string>{266,432}</string>
            </dict>
            <key>slots_51_fs_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{266,432}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,432}}</string>
                <key>sourceSize</key>
                <string>{266,432}</string>
            </dict>
            <key>slots_51_fs_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{266,432}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,432}}</string>
                <key>sourceSize</key>
                <string>{266,432}</string>
            </dict>
            <key>slots_51_fs_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{266,432}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,432}}</string>
                <key>sourceSize</key>
                <string>{266,432}</string>
            </dict>
            <key>slots_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,2},{218,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,3},{218,171}}</string>
                <key>sourceSize</key>
                <string>{270,177}</string>
            </dict>
            <key>slots_71.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,83},{236,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,202}}</string>
                <key>sourceSize</key>
                <string>{236,202}</string>
            </dict>
            <key>slots_fnt_fs.png</key>
            <dict>
                <key>frame</key>
                <string>{{1103,168},{94,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,27}}</string>
                <key>sourceSize</key>
                <string>{94,27}</string>
            </dict>
            <key>slots_fnt_fs_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1103,168},{94,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,27}}</string>
                <key>sourceSize</key>
                <string>{94,27}</string>
            </dict>
            <key>slots_fnt_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,483},{94,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,26}}</string>
                <key>sourceSize</key>
                <string>{94,26}</string>
            </dict>
            <key>slots_fnt_select_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,483},{94,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,26}}</string>
                <key>sourceSize</key>
                <string>{94,26}</string>
            </dict>
            <key>slots_fs_back_dec.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,287},{150,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,242}}</string>
                <key>sourceSize</key>
                <string>{150,242}</string>
            </dict>
            <key>slots_fs_btn_again_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,439},{208,70}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{208,70}}</string>
                <key>sourceSize</key>
                <string>{208,76}</string>
            </dict>
            <key>slots_fs_btn_again_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,415},{198,66}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{198,66}}</string>
                <key>sourceSize</key>
                <string>{208,76}</string>
            </dict>
            <key>slots_fs_btn_begin_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,436},{208,71}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{208,71}}</string>
                <key>sourceSize</key>
                <string>{208,77}</string>
            </dict>
            <key>slots_fs_btn_begin_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,346},{198,67}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{198,67}}</string>
                <key>sourceSize</key>
                <string>{208,77}</string>
            </dict>
            <key>slots_fs_btn_end_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,439},{208,70}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{208,70}}</string>
                <key>sourceSize</key>
                <string>{208,76}</string>
            </dict>
            <key>slots_fs_btn_end_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{1035,175},{198,66}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,8},{198,66}}</string>
                <key>sourceSize</key>
                <string>{208,76}</string>
            </dict>
            <key>slots_jackpot_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,2},{382,79}}</string>
                <key>offset</key>
                <string>{3,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,13},{382,79}}</string>
                <key>sourceSize</key>
                <string>{388,129}</string>
            </dict>
            <key>slots_jackpot_bar_fs.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,2},{382,79}}</string>
                <key>offset</key>
                <string>{3,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,13},{382,79}}</string>
                <key>sourceSize</key>
                <string>{388,129}</string>
            </dict>
            <key>slots_jackpot_medium.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,476},{80,32}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{80,32}}</string>
                <key>sourceSize</key>
                <string>{86,36}</string>
            </dict>
            <key>slots_jackpot_mega.png</key>
            <dict>
                <key>frame</key>
                <string>{{1102,2},{82,32}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{82,32}}</string>
                <key>sourceSize</key>
                <string>{86,36}</string>
            </dict>
            <key>slots_jackpot_minor.png</key>
            <dict>
                <key>frame</key>
                <string>{{1102,86},{80,32}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{80,32}}</string>
                <key>sourceSize</key>
                <string>{86,36}</string>
            </dict>
            <key>slots_ptable_btn_close_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,415},{89,94}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{89,94}}</string>
                <key>sourceSize</key>
                <string>{91,100}</string>
            </dict>
            <key>slots_ptable_btn_close_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,344},{85,90}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{85,90}}</string>
                <key>sourceSize</key>
                <string>{91,100}</string>
            </dict>
            <key>slots_ptable_btn_next_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,378},{58,69}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{58,69}}</string>
                <key>sourceSize</key>
                <string>{58,75}</string>
            </dict>
            <key>slots_ptable_btn_next_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,346},{56,65}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{56,65}}</string>
                <key>sourceSize</key>
                <string>{58,75}</string>
            </dict>
            <key>slots_ptable_btn_return_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,439},{208,70}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{208,70}}</string>
                <key>sourceSize</key>
                <string>{208,76}</string>
            </dict>
            <key>slots_ptable_btn_return_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{1035,175},{198,66}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,8},{198,66}}</string>
                <key>sourceSize</key>
                <string>{208,76}</string>
            </dict>
            <key>slots_select_flower_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,436},{68,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,0},{68,101}}</string>
                <key>sourceSize</key>
                <string>{126,101}</string>
            </dict>
            <key>slots_select_flower_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,436},{68,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,0},{68,101}}</string>
                <key>sourceSize</key>
                <string>{126,101}</string>
            </dict>
            <key>slots_select_flower_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,436},{68,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,0},{68,101}}</string>
                <key>sourceSize</key>
                <string>{126,101}</string>
            </dict>
            <key>slots_select_flower_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,375},{68,99}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,2},{68,99}}</string>
                <key>sourceSize</key>
                <string>{126,101}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Slots_HongLouChunMeng.png</string>
            <key>size</key>
            <string>{1136,511}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:500ab5e004ea33804cc980652a5fc29f:1/1$</string>
            <key>textureFileName</key>
            <string>Slots_HongLouChunMeng.png</string>
        </dict>
    </dict>
</plist>
