<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>slots_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,1010},{84,98}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,31},{84,98}}</string>
                <key>sourceSize</key>
                <string>{270,144}</string>
            </dict>
            <key>slots_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,287},{108,116}}</string>
                <key>offset</key>
                <string>{14,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,20},{108,116}}</string>
                <key>sourceSize</key>
                <string>{270,144}</string>
            </dict>
            <key>slots_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,870},{182,116}}</string>
                <key>offset</key>
                <string>{6,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,22},{182,116}}</string>
                <key>sourceSize</key>
                <string>{270,144}</string>
            </dict>
            <key>slots_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,397},{152,110}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,20},{152,110}}</string>
                <key>sourceSize</key>
                <string>{270,144}</string>
            </dict>
            <key>slots_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,870},{150,138}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,6},{150,138}}</string>
                <key>sourceSize</key>
                <string>{270,144}</string>
            </dict>
            <key>slots_51_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,436},{266,432}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,432}}</string>
                <key>sourceSize</key>
                <string>{266,432}</string>
            </dict>
            <key>slots_51_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,2},{266,432}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,432}}</string>
                <key>sourceSize</key>
                <string>{266,432}</string>
            </dict>
            <key>slots_51_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,436},{266,432}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,432}}</string>
                <key>sourceSize</key>
                <string>{266,432}</string>
            </dict>
            <key>slots_51_fs_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,2},{266,432}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,432}}</string>
                <key>sourceSize</key>
                <string>{266,432}</string>
            </dict>
            <key>slots_51_fs_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,436},{266,432}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,432}}</string>
                <key>sourceSize</key>
                <string>{266,432}</string>
            </dict>
            <key>slots_51_fs_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{266,432}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,432}}</string>
                <key>sourceSize</key>
                <string>{266,432}</string>
            </dict>
            <key>slots_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,2},{180,142}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,2},{180,142}}</string>
                <key>sourceSize</key>
                <string>{270,144}</string>
            </dict>
            <key>slots_71.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,870},{253,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,173}}</string>
                <key>sourceSize</key>
                <string>{253,173}</string>
            </dict>
            <key>slots_fnt_fs.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1045},{94,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,27}}</string>
                <key>sourceSize</key>
                <string>{94,27}</string>
            </dict>
            <key>slots_fnt_fs_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1045},{94,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,27}}</string>
                <key>sourceSize</key>
                <string>{94,27}</string>
            </dict>
            <key>slots_fnt_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{799,870},{94,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,26}}</string>
                <key>sourceSize</key>
                <string>{94,26}</string>
            </dict>
            <key>slots_fnt_select_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,1045},{94,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,26}}</string>
                <key>sourceSize</key>
                <string>{94,26}</string>
            </dict>
            <key>slots_fs_back_dec.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,870},{147,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,204}}</string>
                <key>sourceSize</key>
                <string>{147,204}</string>
            </dict>
            <key>slots_fs_btn_again_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,1019},{208,70}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{208,70}}</string>
                <key>sourceSize</key>
                <string>{208,76}</string>
            </dict>
            <key>slots_fs_btn_again_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,1010},{198,66}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{198,66}}</string>
                <key>sourceSize</key>
                <string>{208,76}</string>
            </dict>
            <key>slots_fs_btn_begin_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,574},{208,71}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{208,71}}</string>
                <key>sourceSize</key>
                <string>{208,77}</string>
            </dict>
            <key>slots_fs_btn_begin_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,551},{198,67}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,8},{198,67}}</string>
                <key>sourceSize</key>
                <string>{208,77}</string>
            </dict>
            <key>slots_fs_btn_end_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,306},{208,70}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{208,70}}</string>
                <key>sourceSize</key>
                <string>{208,76}</string>
            </dict>
            <key>slots_fs_btn_end_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,551},{198,66}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,8},{198,66}}</string>
                <key>sourceSize</key>
                <string>{208,76}</string>
            </dict>
            <key>slots_loadbar.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,306},{266,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,21}}</string>
                <key>sourceSize</key>
                <string>{266,21}</string>
            </dict>
            <key>slots_loadbar_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,2},{302,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{302,60}}</string>
                <key>sourceSize</key>
                <string>{302,60}</string>
            </dict>
            <key>slots_ptable_btn_close_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{827,855},{89,94}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{89,94}}</string>
                <key>sourceSize</key>
                <string>{91,100}</string>
            </dict>
            <key>slots_ptable_btn_close_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,854},{85,90}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{85,90}}</string>
                <key>sourceSize</key>
                <string>{91,100}</string>
            </dict>
            <key>slots_ptable_btn_next_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,784},{58,69}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{58,69}}</string>
                <key>sourceSize</key>
                <string>{58,75}</string>
            </dict>
            <key>slots_ptable_btn_next_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{827,951},{56,65}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,8},{56,65}}</string>
                <key>sourceSize</key>
                <string>{58,75}</string>
            </dict>
            <key>slots_ptable_btn_return_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,306},{208,70}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{208,70}}</string>
                <key>sourceSize</key>
                <string>{208,76}</string>
            </dict>
            <key>slots_ptable_btn_return_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,551},{198,66}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,8},{198,66}}</string>
                <key>sourceSize</key>
                <string>{208,76}</string>
            </dict>
            <key>slots_select_flower_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,751},{126,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,101}}</string>
                <key>sourceSize</key>
                <string>{126,101}</string>
            </dict>
            <key>slots_select_flower_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,988},{126,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,101}}</string>
                <key>sourceSize</key>
                <string>{126,101}</string>
            </dict>
            <key>slots_select_flower_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,988},{126,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,101}}</string>
                <key>sourceSize</key>
                <string>{126,101}</string>
            </dict>
            <key>slots_select_flower_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,184},{126,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,101}}</string>
                <key>sourceSize</key>
                <string>{126,101}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Slots_YiJiHuiYiLu.png</string>
            <key>size</key>
            <string>{1019,1096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:50b55f1dff6ef98871d7053d8cdcdd99:1/1$</string>
            <key>textureFileName</key>
            <string>Slots_YiJiHuiYiLu.png</string>
        </dict>
    </dict>
</plist>
