<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>blue_btn_showpanel.png</key>
			<dict>
				<key>frame</key>
				<string>{{1550,1229},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1550,1229},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>blue_btn_close.png</key>
			<dict>
				<key>frame</key>
				<string>{{1945,1342},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1945,1342},{70,70}}</string>
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>blue_menu_bank.png</key>
			<dict>
				<key>frame</key>
				<string>{{1849,1097},{146,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1849,1097},{146,62}}</string>
				<key>sourceSize</key>
				<string>{146,62}</string>
			</dict>
			<key>blue_btn_off.png</key>
			<dict>
				<key>frame</key>
				<string>{{1430,993},{131,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1430,993},{131,57}}</string>
				<key>sourceSize</key>
				<string>{131,57}</string>
			</dict>
			<key>blue_menu_record.png</key>
			<dict>
				<key>frame</key>
				<string>{{836,1027},{146,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{836,1027},{146,60}}</string>
				<key>sourceSize</key>
				<string>{146,60}</string>
			</dict>
			<key>blue_menu_setting.png</key>
			<dict>
				<key>frame</key>
				<string>{{1061,1035},{144,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1061,1035},{144,61}}</string>
				<key>sourceSize</key>
				<string>{144,61}</string>
			</dict>
			<key>blue_label_setting.png</key>
			<dict>
				<key>frame</key>
				<string>{{1137,1277},{202,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1137,1277},{202,55}}</string>
				<key>sourceSize</key>
				<string>{202,55}</string>
			</dict>
			<key>blue_menu_rule.png</key>
			<dict>
				<key>frame</key>
				<string>{{1283,1046},{145,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1283,1046},{145,60}}</string>
				<key>sourceSize</key>
				<string>{145,60}</string>
			</dict>
			<key>blue_bg_menu.png</key>
			<dict>
				<key>frame</key>
				<string>{{1705,1554},{250,494}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1705,1554},{250,494}}</string>
				<key>sourceSize</key>
				<string>{250,494}</string>
			</dict>
			<key>blue_menu_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{1706,1103},{141,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1706,1103},{141,50}}</string>
				<key>sourceSize</key>
				<string>{141,50}</string>
			</dict>
			<key>blue_bg_setting.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1011},{689,528}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1011},{689,528}}</string>
				<key>sourceSize</key>
				<string>{689,528}</string>
			</dict>
			<key>blue_btn_hidepanel.png</key>
			<dict>
				<key>frame</key>
				<string>{{1336,1357},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1336,1357},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>blue_btn_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{1906,1039},{131,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1906,1039},{131,57}}</string>
				<key>sourceSize</key>
				<string>{131,57}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>common.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>common.png</string>
		</dict>
	</dict>
</plist>
