<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>lineColor8.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,995},{1172,254}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,995},{1172,254}}</string>
				<key>sourceSize</key>
				<string>{1172,254}</string>
			</dict>
			<key>left_l_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1176,1777},{66,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1176,1777},{66,51}}</string>
				<key>sourceSize</key>
				<string>{66,51}</string>
			</dict>
			<key>lineColor1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,427},{1172,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,427},{1172,26}}</string>
				<key>sourceSize</key>
				<string>{1172,26}</string>
			</dict>
			<key>lineColor7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,457},{1172,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,457},{1172,137}}</string>
				<key>sourceSize</key>
				<string>{1172,137}</string>
			</dict>
			<key>left_l_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1316,1942},{66,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1316,1942},{66,51}}</string>
				<key>sourceSize</key>
				<string>{66,51}</string>
			</dict>
			<key>left_l_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1176,1887},{66,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1176,1887},{66,51}}</string>
				<key>sourceSize</key>
				<string>{66,51}</string>
			</dict>
			<key>right_l_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1176,1722},{66,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1176,1722},{66,51}}</string>
				<key>sourceSize</key>
				<string>{66,51}</string>
			</dict>
			<key>lineColor4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1652},{1172,396}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1652},{1172,396}}</string>
				<key>sourceSize</key>
				<string>{1172,396}</string>
			</dict>
			<key>lineColor2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,397},{1172,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,397},{1172,26}}</string>
				<key>sourceSize</key>
				<string>{1172,26}</string>
			</dict>
			<key>lineColor5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1253},{1172,395}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1253},{1172,395}}</string>
				<key>sourceSize</key>
				<string>{1172,395}</string>
			</dict>
			<key>right_l_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,312},{66,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,312},{66,51}}</string>
				<key>sourceSize</key>
				<string>{66,51}</string>
			</dict>
			<key>lineColor3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,367},{1172,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,367},{1172,26}}</string>
				<key>sourceSize</key>
				<string>{1172,26}</string>
			</dict>
			<key>right_l_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1246,1832},{66,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1246,1832},{66,51}}</string>
				<key>sourceSize</key>
				<string>{66,51}</string>
			</dict>
			<key>left_l_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1246,1887},{66,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1246,1887},{66,51}}</string>
				<key>sourceSize</key>
				<string>{66,51}</string>
			</dict>
			<key>left_l_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{70,312},{66,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{70,312},{66,51}}</string>
				<key>sourceSize</key>
				<string>{66,51}</string>
			</dict>
			<key>left_l_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1246,1942},{66,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1246,1942},{66,51}}</string>
				<key>sourceSize</key>
				<string>{66,51}</string>
			</dict>
			<key>lineColor6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,598},{1172,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,598},{1172,138}}</string>
				<key>sourceSize</key>
				<string>{1172,138}</string>
			</dict>
			<key>left_l_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1386,1997},{66,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1386,1997},{66,51}}</string>
				<key>sourceSize</key>
				<string>{66,51}</string>
			</dict>
			<key>right_l_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1316,1887},{66,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1316,1887},{66,51}}</string>
				<key>sourceSize</key>
				<string>{66,51}</string>
			</dict>
			<key>right_l_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1316,1997},{66,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1316,1997},{66,51}}</string>
				<key>sourceSize</key>
				<string>{66,51}</string>
			</dict>
			<key>lineColor9.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,740},{1172,251}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,740},{1172,251}}</string>
				<key>sourceSize</key>
				<string>{1172,251}</string>
			</dict>
			<key>left_l_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1176,1997},{66,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1176,1997},{66,51}}</string>
				<key>sourceSize</key>
				<string>{66,51}</string>
			</dict>
			<key>right_l_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,257},{66,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,257},{66,51}}</string>
				<key>sourceSize</key>
				<string>{66,51}</string>
			</dict>
			<key>left_l_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1246,1997},{66,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1246,1997},{66,51}}</string>
				<key>sourceSize</key>
				<string>{66,51}</string>
			</dict>
			<key>right_l_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1176,1832},{66,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1176,1832},{66,51}}</string>
				<key>sourceSize</key>
				<string>{66,51}</string>
			</dict>
			<key>right_l_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1176,1942},{66,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1176,1942},{66,51}}</string>
				<key>sourceSize</key>
				<string>{66,51}</string>
			</dict>
			<key>right_l_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1176,1667},{66,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1176,1667},{66,51}}</string>
				<key>sourceSize</key>
				<string>{66,51}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>sactx-2048x2048-ETC2-Lines-045f6644.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>sactx-2048x2048-ETC2-Lines-045f6644.png</string>
		</dict>
	</dict>
</plist>
