<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>sdbgj_icon_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{567,356},{165,155}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{567,356},{165,155}}</string>
				<key>sourceSize</key>
				<string>{165,155}</string>
			</dict>
			<key>sdbgj_icon_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{196,44},{165,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{196,44},{165,137}}</string>
				<key>sourceSize</key>
				<string>{165,137}</string>
			</dict>
			<key>sdbgj_icon_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{9,49},{166,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,49},{166,138}}</string>
				<key>sourceSize</key>
				<string>{166,138}</string>
			</dict>
			<key>sdbgj_icon_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{380,202},{164,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{380,202},{164,138}}</string>
				<key>sourceSize</key>
				<string>{164,138}</string>
			</dict>
			<key>sdbgj_icon_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{13,213},{161,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{13,213},{161,124}}</string>
				<key>sourceSize</key>
				<string>{161,124}</string>
			</dict>
			<key>sdbgj_icon_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{771,370},{129,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{771,370},{129,133}}</string>
				<key>sourceSize</key>
				<string>{129,133}</string>
			</dict>
			<key>sdbgj_icon_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{377,52},{170,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{377,52},{170,143}}</string>
				<key>sourceSize</key>
				<string>{170,143}</string>
			</dict>
			<key>sdbgj_icon_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{192,355},{169,157}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{192,355},{169,157}}</string>
				<key>sourceSize</key>
				<string>{169,157}</string>
			</dict>
			<key>sdbgj_icon_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{197,205},{163,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{197,205},{163,133}}</string>
				<key>sourceSize</key>
				<string>{163,133}</string>
			</dict>
			<key>sdbgj_icon_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{17,359},{149,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{17,359},{149,149}}</string>
				<key>sourceSize</key>
				<string>{149,149}</string>
			</dict>
			<key>sdbgj_icon_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{381,360},{164,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{381,360},{164,137}}</string>
				<key>sourceSize</key>
				<string>{164,137}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>sbbgj_icon.png</string>
			<key>size</key>
			<string>{1024,512}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>sbbgj_icon.png</string>
		</dict>
	</dict>
</plist>
