<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>sdbgj_icon_05_86.png</key>
			<dict>
				<key>frame</key>
				<string>{{197,477},{163,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{197,477},{163,133}}</string>
				<key>sourceSize</key>
				<string>{163,133}</string>
			</dict>
			<key>sdbgj_icon_05_48.png</key>
			<dict>
				<key>frame</key>
				<string>{{1492,1109},{163,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1492,1109},{163,133}}</string>
				<key>sourceSize</key>
				<string>{163,133}</string>
			</dict>
			<key>sdbgj_icon_05_54.png</key>
			<dict>
				<key>frame</key>
				<string>{{1307,1741},{163,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1307,1741},{163,133}}</string>
				<key>sourceSize</key>
				<string>{163,133}</string>
			</dict>
			<key>sdbgj_icon_05_32.png</key>
			<dict>
				<key>frame</key>
				<string>{{752,793},{163,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{752,793},{163,133}}</string>
				<key>sourceSize</key>
				<string>{163,133}</string>
			</dict>
			<key>sdbgj_icon_05_34.png</key>
			<dict>
				<key>frame</key>
				<string>{{1862,1109},{163,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1862,1109},{163,133}}</string>
				<key>sourceSize</key>
				<string>{163,133}</string>
			</dict>
			<key>sdbgj_icon_05_89.png</key>
			<dict>
				<key>frame</key>
				<string>{{567,1583},{163,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{567,1583},{163,133}}</string>
				<key>sourceSize</key>
				<string>{163,133}</string>
			</dict>
			<key>sdbgj_icon_05_55.png</key>
			<dict>
				<key>frame</key>
				<string>{{1122,1741},{163,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1122,1741},{163,133}}</string>
				<key>sourceSize</key>
				<string>{163,133}</string>
			</dict>
			<key>sdbgj_icon_05_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{1307,951},{163,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1307,951},{163,133}}</string>
				<key>sourceSize</key>
				<string>{163,133}</string>
			</dict>
			<key>sdbgj_icon_05_47.png</key>
			<dict>
				<key>frame</key>
				<string>{{382,1425},{163,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{382,1425},{163,133}}</string>
				<key>sourceSize</key>
				<string>{163,133}</string>
			</dict>
			<key>sdbgj_icon_05_74.png</key>
			<dict>
				<key>frame</key>
				<string>{{12,1267},{163,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{12,1267},{163,133}}</string>
				<key>sourceSize</key>
				<string>{163,133}</string>
			</dict>
			<key>sdbgj_icon_05_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{1492,1267},{163,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1492,1267},{163,133}}</string>
				<key>sourceSize</key>
				<string>{163,133}</string>
			</dict>
			<key>sdbgj_icon_05_44.png</key>
			<dict>
				<key>frame</key>
				<string>{{567,635},{163,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{567,635},{163,133}}</string>
				<key>sourceSize</key>
				<string>{163,133}</string>
			</dict>
			<key>sdbgj_icon_05_31.png</key>
			<dict>
				<key>frame</key>
				<string>{{752,635},{163,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{752,635},{163,133}}</string>
				<key>sourceSize</key>
				<string>{163,133}</string>
			</dict>
			<key>sdbgj_icon_05_29.png</key>
			<dict>
				<key>frame</key>
				<string>{{752,319},{163,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{752,319},{163,133}}</string>
				<key>sourceSize</key>
				<string>{163,133}</string>
			</dict>
			<key>sdbgj_icon_05_101.png</key>
			<dict>
				<key>frame</key>
				<string>{{382,951},{163,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{382,951},{163,133}}</string>
				<key>sourceSize</key>
				<string>{163,133}</string>
			</dict>
			<key>sdbgj_icon_05_64.png</key>
			<dict>
				<key>frame</key>
				<string>{{1492,1899},{163,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1492,1899},{163,133}}</string>
				<key>sourceSize</key>
				<string>{163,133}</string>
			</dict>
			<key>sdbgj_icon_05_98.png</key>
			<dict>
				<key>frame</key>
				<string>{{197,319},{163,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{197,319},{163,133}}</string>
				<key>sourceSize</key>
				<string>{163,133}</string>
			</dict>
			<key>sdbgj_icon_05_35.png</key>
			<dict>
				<key>frame</key>
				<string>{{1492,951},{163,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1492,951},{163,133}}</string>
				<key>sourceSize</key>
				<string>{163,133}</string>
			</dict>
			<key>sdbgj_icon_05_90.png</key>
			<dict>
				<key>frame</key>
				<string>{{382,1583},{163,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{382,1583},{163,133}}</string>
				<key>sourceSize</key>
				<string>{163,133}</string>
			</dict>
			<key>sdbgj_icon_05_56.png</key>
			<dict>
				<key>frame</key>
				<string>{{937,1741},{163,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{937,1741},{163,133}}</string>
				<key>sourceSize</key>
				<string>{163,133}</string>
			</dict>
			<key>sdbgj_icon_05_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{937,1425},{163,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{937,1425},{163,133}}</string>
				<key>sourceSize</key>
				<string>{163,133}</string>
			</dict>
			<key>sdbgj_icon_05_99.png</key>
			<dict>
				<key>frame</key>
				<string>{{1677,951},{163,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1677,951},{163,133}}</string>
				<key>sourceSize</key>
				<string>{163,133}</string>
			</dict>
			<key>sdbgj_icon_05_42.png</key>
			<dict>
				<key>frame</key>
				<string>{{567,319},{163,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{567,319},{163,133}}</string>
				<key>sourceSize</key>
				<string>{163,133}</string>
			</dict>
			<key>sdbgj_icon_05_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{752,1425},{163,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{752,1425},{163,133}}</string>
				<key>sourceSize</key>
				<string>{163,133}</string>
			</dict>
			<key>sdbgj_icon_05_96.png</key>
			<dict>
				<key>frame</key>
				<string>{{12,793},{163,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{12,793},{163,133}}</string>
				<key>sourceSize</key>
				<string>{163,133}</string>
			</dict>
			<key>sdbgj_icon_05_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{1677,1267},{163,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1677,1267},{163,133}}</string>
				<key>sourceSize</key>
				<string>{163,133}</string>
			</dict>
			<key>sdbgj_icon_05_37.png</key>
			<dict>
				<key>frame</key>
				<string>{{1307,1109},{163,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1307,1109},{163,133}}</string>
				<key>sourceSize</key>
				<string>{163,133}</string>
			</dict>
			<key>sdbgj_icon_05_69.png</key>
			<dict>
				<key>frame</key>
				<string>{{567,1899},{163,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{567,1899},{163,133}}</string>
				<key>sourceSize</key>
				<string>{163,133}</string>
			</dict>
			<key>sdbgj_icon_05_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{382,161},{163,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{382,161},{163,133}}</string>
				<key>sourceSize</key>
				<string>{163,133}</string>
			</dict>
			<key>sdbgj_icon_05_94.png</key>
			<dict>
				<key>frame</key>
				<string>{{12,477},{163,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{12,477},{163,133}}</string>
				<key>sourceSize</key>
				<string>{163,133}</string>
			</dict>
			<key>sdbgj_icon_05_77.png</key>
			<dict>
				<key>frame</key>
				<string>{{197,793},{163,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{197,793},{163,133}}</string>
				<key>sourceSize</key>
				<string>{163,133}</string>
			</dict>
			<key>sdbgj_icon_05_83.png</key>
			<dict>
				<key>frame</key>
				<string>{{1677,1583},{163,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1677,1583},{163,133}}</string>
				<key>sourceSize</key>
				<string>{163,133}</string>
			</dict>
			<key>sdbgj_icon_05_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{382,319},{163,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{382,319},{163,133}}</string>
				<key>sourceSize</key>
				<string>{163,133}</string>
			</dict>
			<key>sdbgj_icon_05_67.png</key>
			<dict>
				<key>frame</key>
				<string>{{937,1899},{163,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{937,1899},{163,133}}</string>
				<key>sourceSize</key>
				<string>{163,133}</string>
			</dict>
			<key>sdbgj_icon_05_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1307,1267},{163,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1307,1267},{163,133}}</string>
				<key>sourceSize</key>
				<string>{163,133}</string>
			</dict>
			<key>sdbgj_icon_05_27.png</key>
			<dict>
				<key>frame</key>
				<string>{{937,951},{163,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{937,951},{163,133}}</string>
				<key>sourceSize</key>
				<string>{163,133}</string>
			</dict>
			<key>sdbgj_icon_05_41.png</key>
			<dict>
				<key>frame</key>
				<string>{{567,161},{163,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{567,161},{163,133}}</string>
				<key>sourceSize</key>
				<string>{163,133}</string>
			</dict>
			<key>sdbgj_icon_05_84.png</key>
			<dict>
				<key>frame</key>
				<string>{{1492,1583},{163,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1492,1583},{163,133}}</string>
				<key>sourceSize</key>
				<string>{163,133}</string>
			</dict>
			<key>sdbgj_icon_05_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{567,1109},{163,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{567,1109},{163,133}}</string>
				<key>sourceSize</key>
				<string>{163,133}</string>
			</dict>
			<key>sdbgj_icon_05_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{567,1267},{163,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{567,1267},{163,133}}</string>
				<key>sourceSize</key>
				<string>{163,133}</string>
			</dict>
			<key>sdbgj_icon_05_28.png</key>
			<dict>
				<key>frame</key>
				<string>{{752,161},{163,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{752,161},{163,133}}</string>
				<key>sourceSize</key>
				<string>{163,133}</string>
			</dict>
			<key>sdbgj_icon_05_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{1862,1267},{163,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1862,1267},{163,133}}</string>
				<key>sourceSize</key>
				<string>{163,133}</string>
			</dict>
			<key>sdbgj_icon_05_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{382,477},{163,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{382,477},{163,133}}</string>
				<key>sourceSize</key>
				<string>{163,133}</string>
			</dict>
			<key>sdbgj_icon_05_92.png</key>
			<dict>
				<key>frame</key>
				<string>{{12,161},{163,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{12,161},{163,133}}</string>
				<key>sourceSize</key>
				<string>{163,133}</string>
			</dict>
			<key>sdbgj_icon_05_62.png</key>
			<dict>
				<key>frame</key>
				<string>{{1862,1899},{163,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1862,1899},{163,133}}</string>
				<key>sourceSize</key>
				<string>{163,133}</string>
			</dict>
			<key>sdbgj_icon_05_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{937,1267},{163,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{937,1267},{163,133}}</string>
				<key>sourceSize</key>
				<string>{163,133}</string>
			</dict>
			<key>sdbgj_icon_05_59.png</key>
			<dict>
				<key>frame</key>
				<string>{{382,1741},{163,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{382,1741},{163,133}}</string>
				<key>sourceSize</key>
				<string>{163,133}</string>
			</dict>
			<key>sdbgj_icon_05_63.png</key>
			<dict>
				<key>frame</key>
				<string>{{1677,1899},{163,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1677,1899},{163,133}}</string>
				<key>sourceSize</key>
				<string>{163,133}</string>
			</dict>
			<key>sdbgj_icon_05_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{382,1267},{163,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{382,1267},{163,133}}</string>
				<key>sourceSize</key>
				<string>{163,133}</string>
			</dict>
			<key>sdbgj_icon_05_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{12,1899},{163,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{12,1899},{163,133}}</string>
				<key>sourceSize</key>
				<string>{163,133}</string>
			</dict>
			<key>sdbgj_icon_05_82.png</key>
			<dict>
				<key>frame</key>
				<string>{{1862,1583},{163,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1862,1583},{163,133}}</string>
				<key>sourceSize</key>
				<string>{163,133}</string>
			</dict>
			<key>sdbgj_icon_05_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{567,1425},{163,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{567,1425},{163,133}}</string>
				<key>sourceSize</key>
				<string>{163,133}</string>
			</dict>
			<key>sdbgj_icon_05_76.png</key>
			<dict>
				<key>frame</key>
				<string>{{197,635},{163,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{197,635},{163,133}}</string>
				<key>sourceSize</key>
				<string>{163,133}</string>
			</dict>
			<key>sdbgj_icon_05_100.png</key>
			<dict>
				<key>frame</key>
				<string>{{382,793},{163,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{382,793},{163,133}}</string>
				<key>sourceSize</key>
				<string>{163,133}</string>
			</dict>
			<key>sdbgj_icon_05_66.png</key>
			<dict>
				<key>frame</key>
				<string>{{1122,1899},{163,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1122,1899},{163,133}}</string>
				<key>sourceSize</key>
				<string>{163,133}</string>
			</dict>
			<key>sdbgj_icon_05_36.png</key>
			<dict>
				<key>frame</key>
				<string>{{1677,1109},{163,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1677,1109},{163,133}}</string>
				<key>sourceSize</key>
				<string>{163,133}</string>
			</dict>
			<key>sdbgj_icon_05_45.png</key>
			<dict>
				<key>frame</key>
				<string>{{567,793},{163,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{567,793},{163,133}}</string>
				<key>sourceSize</key>
				<string>{163,133}</string>
			</dict>
			<key>sdbgj_icon_05_97.png</key>
			<dict>
				<key>frame</key>
				<string>{{12,951},{163,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{12,951},{163,133}}</string>
				<key>sourceSize</key>
				<string>{163,133}</string>
			</dict>
			<key>sdbgj_icon_05_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{752,1267},{163,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{752,1267},{163,133}}</string>
				<key>sourceSize</key>
				<string>{163,133}</string>
			</dict>
			<key>sdbgj_icon_05_51.png</key>
			<dict>
				<key>frame</key>
				<string>{{1862,1741},{163,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1862,1741},{163,133}}</string>
				<key>sourceSize</key>
				<string>{163,133}</string>
			</dict>
			<key>sdbgj_icon_05_33.png</key>
			<dict>
				<key>frame</key>
				<string>{{752,951},{163,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{752,951},{163,133}}</string>
				<key>sourceSize</key>
				<string>{163,133}</string>
			</dict>
			<key>sdbgj_icon_05_43.png</key>
			<dict>
				<key>frame</key>
				<string>{{567,477},{163,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{567,477},{163,133}}</string>
				<key>sourceSize</key>
				<string>{163,133}</string>
			</dict>
			<key>sdbgj_icon_05_95.png</key>
			<dict>
				<key>frame</key>
				<string>{{12,635},{163,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{12,635},{163,133}}</string>
				<key>sourceSize</key>
				<string>{163,133}</string>
			</dict>
			<key>sdbgj_icon_05_87.png</key>
			<dict>
				<key>frame</key>
				<string>{{1122,1583},{163,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1122,1583},{163,133}}</string>
				<key>sourceSize</key>
				<string>{163,133}</string>
			</dict>
			<key>sdbgj_icon_05_61.png</key>
			<dict>
				<key>frame</key>
				<string>{{12,1741},{163,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{12,1741},{163,133}}</string>
				<key>sourceSize</key>
				<string>{163,133}</string>
			</dict>
			<key>sdbgj_icon_05_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{382,635},{163,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{382,635},{163,133}}</string>
				<key>sourceSize</key>
				<string>{163,133}</string>
			</dict>
			<key>sdbgj_icon_05_46.png</key>
			<dict>
				<key>frame</key>
				<string>{{567,951},{163,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{567,951},{163,133}}</string>
				<key>sourceSize</key>
				<string>{163,133}</string>
			</dict>
			<key>sdbgj_icon_05_50.png</key>
			<dict>
				<key>frame</key>
				<string>{{937,1583},{163,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{937,1583},{163,133}}</string>
				<key>sourceSize</key>
				<string>{163,133}</string>
			</dict>
			<key>sdbgj_icon_05_58.png</key>
			<dict>
				<key>frame</key>
				<string>{{567,1741},{163,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{567,1741},{163,133}}</string>
				<key>sourceSize</key>
				<string>{163,133}</string>
			</dict>
			<key>sdbgj_icon_05_60.png</key>
			<dict>
				<key>frame</key>
				<string>{{197,1741},{163,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{197,1741},{163,133}}</string>
				<key>sourceSize</key>
				<string>{163,133}</string>
			</dict>
			<key>sdbgj_icon_05_30.png</key>
			<dict>
				<key>frame</key>
				<string>{{752,477},{163,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{752,477},{163,133}}</string>
				<key>sourceSize</key>
				<string>{163,133}</string>
			</dict>
			<key>sdbgj_icon_05_49.png</key>
			<dict>
				<key>frame</key>
				<string>{{197,161},{163,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{197,161},{163,133}}</string>
				<key>sourceSize</key>
				<string>{163,133}</string>
			</dict>
			<key>sdbgj_icon_05_80.png</key>
			<dict>
				<key>frame</key>
				<string>{{197,1267},{163,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{197,1267},{163,133}}</string>
				<key>sourceSize</key>
				<string>{163,133}</string>
			</dict>
			<key>sdbgj_icon_05_73.png</key>
			<dict>
				<key>frame</key>
				<string>{{12,1425},{163,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{12,1425},{163,133}}</string>
				<key>sourceSize</key>
				<string>{163,133}</string>
			</dict>
			<key>sdbgj_icon_05_93.png</key>
			<dict>
				<key>frame</key>
				<string>{{12,319},{163,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{12,319},{163,133}}</string>
				<key>sourceSize</key>
				<string>{163,133}</string>
			</dict>
			<key>sdbgj_icon_05_52.png</key>
			<dict>
				<key>frame</key>
				<string>{{1677,1741},{163,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1677,1741},{163,133}}</string>
				<key>sourceSize</key>
				<string>{163,133}</string>
			</dict>
			<key>sdbgj_icon_05_57.png</key>
			<dict>
				<key>frame</key>
				<string>{{752,1741},{163,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{752,1741},{163,133}}</string>
				<key>sourceSize</key>
				<string>{163,133}</string>
			</dict>
			<key>sdbgj_icon_05_79.png</key>
			<dict>
				<key>frame</key>
				<string>{{197,1109},{163,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{197,1109},{163,133}}</string>
				<key>sourceSize</key>
				<string>{163,133}</string>
			</dict>
			<key>sdbgj_icon_05_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{1122,951},{163,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1122,951},{163,133}}</string>
				<key>sourceSize</key>
				<string>{163,133}</string>
			</dict>
			<key>sdbgj_icon_05_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{1122,1425},{163,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1122,1425},{163,133}}</string>
				<key>sourceSize</key>
				<string>{163,133}</string>
			</dict>
			<key>sdbgj_icon_05_72.png</key>
			<dict>
				<key>frame</key>
				<string>{{12,1583},{163,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{12,1583},{163,133}}</string>
				<key>sourceSize</key>
				<string>{163,133}</string>
			</dict>
			<key>sdbgj_icon_05_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1677,1425},{163,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1677,1425},{163,133}}</string>
				<key>sourceSize</key>
				<string>{163,133}</string>
			</dict>
			<key>sdbgj_icon_05_85.png</key>
			<dict>
				<key>frame</key>
				<string>{{1307,1583},{163,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1307,1583},{163,133}}</string>
				<key>sourceSize</key>
				<string>{163,133}</string>
			</dict>
			<key>sdbgj_icon_05_88.png</key>
			<dict>
				<key>frame</key>
				<string>{{752,1583},{163,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{752,1583},{163,133}}</string>
				<key>sourceSize</key>
				<string>{163,133}</string>
			</dict>
			<key>sdbgj_icon_05_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{1307,1425},{163,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1307,1425},{163,133}}</string>
				<key>sourceSize</key>
				<string>{163,133}</string>
			</dict>
			<key>sdbgj_icon_05_38.png</key>
			<dict>
				<key>frame</key>
				<string>{{1122,1109},{163,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1122,1109},{163,133}}</string>
				<key>sourceSize</key>
				<string>{163,133}</string>
			</dict>
			<key>sdbgj_icon_05_91.png</key>
			<dict>
				<key>frame</key>
				<string>{{197,1583},{163,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{197,1583},{163,133}}</string>
				<key>sourceSize</key>
				<string>{163,133}</string>
			</dict>
			<key>sdbgj_icon_05_75.png</key>
			<dict>
				<key>frame</key>
				<string>{{12,1109},{163,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{12,1109},{163,133}}</string>
				<key>sourceSize</key>
				<string>{163,133}</string>
			</dict>
			<key>sdbgj_icon_05_81.png</key>
			<dict>
				<key>frame</key>
				<string>{{197,1425},{163,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{197,1425},{163,133}}</string>
				<key>sourceSize</key>
				<string>{163,133}</string>
			</dict>
			<key>sdbgj_icon_05_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{382,1109},{163,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{382,1109},{163,133}}</string>
				<key>sourceSize</key>
				<string>{163,133}</string>
			</dict>
			<key>sdbgj_icon_05_71.png</key>
			<dict>
				<key>frame</key>
				<string>{{197,1899},{163,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{197,1899},{163,133}}</string>
				<key>sourceSize</key>
				<string>{163,133}</string>
			</dict>
			<key>sdbgj_icon_05_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1862,1425},{163,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1862,1425},{163,133}}</string>
				<key>sourceSize</key>
				<string>{163,133}</string>
			</dict>
			<key>sdbgj_icon_05_39.png</key>
			<dict>
				<key>frame</key>
				<string>{{937,1109},{163,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{937,1109},{163,133}}</string>
				<key>sourceSize</key>
				<string>{163,133}</string>
			</dict>
			<key>sdbgj_icon_05_53.png</key>
			<dict>
				<key>frame</key>
				<string>{{1492,1741},{163,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1492,1741},{163,133}}</string>
				<key>sourceSize</key>
				<string>{163,133}</string>
			</dict>
			<key>sdbgj_icon_05_65.png</key>
			<dict>
				<key>frame</key>
				<string>{{1307,1899},{163,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1307,1899},{163,133}}</string>
				<key>sourceSize</key>
				<string>{163,133}</string>
			</dict>
			<key>sdbgj_icon_05_70.png</key>
			<dict>
				<key>frame</key>
				<string>{{382,1899},{163,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{382,1899},{163,133}}</string>
				<key>sourceSize</key>
				<string>{163,133}</string>
			</dict>
			<key>sdbgj_icon_05_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1122,1267},{163,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1122,1267},{163,133}}</string>
				<key>sourceSize</key>
				<string>{163,133}</string>
			</dict>
			<key>sdbgj_icon_05_40.png</key>
			<dict>
				<key>frame</key>
				<string>{{752,1109},{163,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{752,1109},{163,133}}</string>
				<key>sourceSize</key>
				<string>{163,133}</string>
			</dict>
			<key>sdbgj_icon_05_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1492,1425},{163,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1492,1425},{163,133}}</string>
				<key>sourceSize</key>
				<string>{163,133}</string>
			</dict>
			<key>sdbgj_icon_05_68.png</key>
			<dict>
				<key>frame</key>
				<string>{{752,1899},{163,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{752,1899},{163,133}}</string>
				<key>sourceSize</key>
				<string>{163,133}</string>
			</dict>
			<key>sdbgj_icon_05_78.png</key>
			<dict>
				<key>frame</key>
				<string>{{197,951},{163,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{197,951},{163,133}}</string>
				<key>sourceSize</key>
				<string>{163,133}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>sdbgj_icon_05.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>sdbgj_icon_05.png</string>
		</dict>
	</dict>
</plist>
