<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>sdbgj_top_bar_effect_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{629,923},{548,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{629,923},{548,50}}</string>
				<key>sourceSize</key>
				<string>{548,50}</string>
			</dict>
			<key>sdbgj_top_bar_effect_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{28,719},{548,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{28,719},{548,50}}</string>
				<key>sourceSize</key>
				<string>{548,50}</string>
			</dict>
			<key>sdbgj_top_bar_effect_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{1231,668},{546,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1231,668},{546,50}}</string>
				<key>sourceSize</key>
				<string>{546,50}</string>
			</dict>
			<key>sdbgj_top_bar_effect_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1229,719},{549,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1229,719},{549,50}}</string>
				<key>sourceSize</key>
				<string>{549,50}</string>
			</dict>
			<key>sdbgj_top_bar_effect_27.png</key>
			<dict>
				<key>frame</key>
				<string>{{1230,566},{547,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1230,566},{547,50}}</string>
				<key>sourceSize</key>
				<string>{547,50}</string>
			</dict>
			<key>sdbgj_top_bar_effect_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{629,719},{548,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{629,719},{548,50}}</string>
				<key>sourceSize</key>
				<string>{548,50}</string>
			</dict>
			<key>sdbgj_top_bar_effect_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{1229,821},{549,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1229,821},{549,50}}</string>
				<key>sourceSize</key>
				<string>{549,50}</string>
			</dict>
			<key>sdbgj_top_bar_effect_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{629,770},{548,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{629,770},{548,50}}</string>
				<key>sourceSize</key>
				<string>{548,50}</string>
			</dict>
			<key>sdbgj_top_bar_effect_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1230,770},{548,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1230,770},{548,50}}</string>
				<key>sourceSize</key>
				<string>{548,50}</string>
			</dict>
			<key>sdbgj_top_bar_effect_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1231,617},{547,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1231,617},{547,50}}</string>
				<key>sourceSize</key>
				<string>{547,50}</string>
			</dict>
			<key>sdbgj_top_bar_effect_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{629,668},{547,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{629,668},{547,50}}</string>
				<key>sourceSize</key>
				<string>{547,50}</string>
			</dict>
			<key>sdbgj_top_bar_effect_28.png</key>
			<dict>
				<key>frame</key>
				<string>{{28,515},{546,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{28,515},{546,50}}</string>
				<key>sourceSize</key>
				<string>{546,50}</string>
			</dict>
			<key>sdbgj_top_bar_effect_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{1229,872},{549,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1229,872},{549,50}}</string>
				<key>sourceSize</key>
				<string>{549,50}</string>
			</dict>
			<key>sdbgj_top_bar_effect_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{29,974},{546,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{29,974},{546,50}}</string>
				<key>sourceSize</key>
				<string>{546,50}</string>
			</dict>
			<key>sdbgj_top_bar_effect_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{28,923},{548,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{28,923},{548,50}}</string>
				<key>sourceSize</key>
				<string>{548,50}</string>
			</dict>
			<key>sdbgj_top_bar_effect_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{628,821},{549,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{628,821},{549,50}}</string>
				<key>sourceSize</key>
				<string>{549,50}</string>
			</dict>
			<key>sdbgj_top_bar_effect_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{28,668},{547,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{28,668},{547,50}}</string>
				<key>sourceSize</key>
				<string>{547,50}</string>
			</dict>
			<key>sdbgj_top_bar_effect_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{29,566},{546,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{29,566},{546,50}}</string>
				<key>sourceSize</key>
				<string>{546,50}</string>
			</dict>
			<key>sdbgj_top_bar_effect_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{1230,923},{548,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1230,923},{548,50}}</string>
				<key>sourceSize</key>
				<string>{548,50}</string>
			</dict>
			<key>sdbgj_top_bar_effect_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{630,617},{546,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{630,617},{546,50}}</string>
				<key>sourceSize</key>
				<string>{546,50}</string>
			</dict>
			<key>sdbgj_top_bar_effect_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{28,770},{548,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{28,770},{548,50}}</string>
				<key>sourceSize</key>
				<string>{548,50}</string>
			</dict>
			<key>sdbgj_top_bar_effect_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{28,617},{547,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{28,617},{547,50}}</string>
				<key>sourceSize</key>
				<string>{547,50}</string>
			</dict>
			<key>sdbgj_top_bar_effect_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{630,566},{546,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{630,566},{546,50}}</string>
				<key>sourceSize</key>
				<string>{546,50}</string>
			</dict>
			<key>sdbgj_top_bar_effect_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{27,821},{549,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{27,821},{549,50}}</string>
				<key>sourceSize</key>
				<string>{549,50}</string>
			</dict>
			<key>sdbgj_top_bar_effect_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{629,872},{548,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{629,872},{548,50}}</string>
				<key>sourceSize</key>
				<string>{548,50}</string>
			</dict>
			<key>sdbgj_top_bar_effect_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{1230,974},{547,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1230,974},{547,50}}</string>
				<key>sourceSize</key>
				<string>{547,50}</string>
			</dict>
			<key>sdbgj_top_bar_effect_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{629,974},{547,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{629,974},{547,50}}</string>
				<key>sourceSize</key>
				<string>{547,50}</string>
			</dict>
			<key>sdbgj_top_bar_effect_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{28,872},{548,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{28,872},{548,50}}</string>
				<key>sourceSize</key>
				<string>{548,50}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>sdbgj_top_bar_effect.png</string>
			<key>size</key>
			<string>{2048,1024}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>sdbgj_top_bar_effect.png</string>
		</dict>
	</dict>
</plist>
