<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>sdbgj_icon_06_101.png</key>
			<dict>
				<key>frame</key>
				<string>{{381,948},{165,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{381,948},{165,137}}</string>
				<key>sourceSize</key>
				<string>{165,137}</string>
			</dict>
			<key>sdbgj_icon_06_40.png</key>
			<dict>
				<key>frame</key>
				<string>{{751,1106},{165,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{751,1106},{165,137}}</string>
				<key>sourceSize</key>
				<string>{165,137}</string>
			</dict>
			<key>sdbgj_icon_06_88.png</key>
			<dict>
				<key>frame</key>
				<string>{{751,1582},{165,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{751,1582},{165,135}}</string>
				<key>sourceSize</key>
				<string>{165,135}</string>
			</dict>
			<key>sdbgj_icon_06_93.png</key>
			<dict>
				<key>frame</key>
				<string>{{11,316},{165,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{11,316},{165,137}}</string>
				<key>sourceSize</key>
				<string>{165,137}</string>
			</dict>
			<key>sdbgj_icon_06_92.png</key>
			<dict>
				<key>frame</key>
				<string>{{11,158},{165,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{11,158},{165,137}}</string>
				<key>sourceSize</key>
				<string>{165,137}</string>
			</dict>
			<key>sdbgj_icon_06_58.png</key>
			<dict>
				<key>frame</key>
				<string>{{566,1738},{165,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{566,1738},{165,137}}</string>
				<key>sourceSize</key>
				<string>{165,137}</string>
			</dict>
			<key>sdbgj_icon_06_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{381,632},{165,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{381,632},{165,137}}</string>
				<key>sourceSize</key>
				<string>{165,137}</string>
			</dict>
			<key>sdbgj_icon_06_34.png</key>
			<dict>
				<key>frame</key>
				<string>{{1861,1107},{165,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1861,1107},{165,136}}</string>
				<key>sourceSize</key>
				<string>{165,136}</string>
			</dict>
			<key>sdbgj_icon_06_89.png</key>
			<dict>
				<key>frame</key>
				<string>{{566,1581},{165,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{566,1581},{165,136}}</string>
				<key>sourceSize</key>
				<string>{165,136}</string>
			</dict>
			<key>sdbgj_icon_06_82.png</key>
			<dict>
				<key>frame</key>
				<string>{{1861,1598},{165,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1861,1598},{165,119}}</string>
				<key>sourceSize</key>
				<string>{165,119}</string>
			</dict>
			<key>sdbgj_icon_06_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{1121,1442},{165,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1121,1442},{165,117}}</string>
				<key>sourceSize</key>
				<string>{165,117}</string>
			</dict>
			<key>sdbgj_icon_06_66.png</key>
			<dict>
				<key>frame</key>
				<string>{{1121,1900},{165,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1121,1900},{165,133}}</string>
				<key>sourceSize</key>
				<string>{165,133}</string>
			</dict>
			<key>sdbgj_icon_06_67.png</key>
			<dict>
				<key>frame</key>
				<string>{{936,1902},{165,131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{936,1902},{165,131}}</string>
				<key>sourceSize</key>
				<string>{165,131}</string>
			</dict>
			<key>sdbgj_icon_06_48.png</key>
			<dict>
				<key>frame</key>
				<string>{{1491,1106},{165,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1491,1106},{165,137}}</string>
				<key>sourceSize</key>
				<string>{165,137}</string>
			</dict>
			<key>sdbgj_icon_06_43.png</key>
			<dict>
				<key>frame</key>
				<string>{{566,474},{165,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{566,474},{165,137}}</string>
				<key>sourceSize</key>
				<string>{165,137}</string>
			</dict>
			<key>sdbgj_icon_06_36.png</key>
			<dict>
				<key>frame</key>
				<string>{{1676,1106},{165,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1676,1106},{165,137}}</string>
				<key>sourceSize</key>
				<string>{165,137}</string>
			</dict>
			<key>sdbgj_icon_06_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{381,1265},{165,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{381,1265},{165,136}}</string>
				<key>sourceSize</key>
				<string>{165,136}</string>
			</dict>
			<key>sdbgj_icon_06_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1861,1424},{165,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1861,1424},{165,135}}</string>
				<key>sourceSize</key>
				<string>{165,135}</string>
			</dict>
			<key>sdbgj_icon_06_51.png</key>
			<dict>
				<key>frame</key>
				<string>{{1861,1738},{165,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1861,1738},{165,137}}</string>
				<key>sourceSize</key>
				<string>{165,137}</string>
			</dict>
			<key>sdbgj_icon_06_65.png</key>
			<dict>
				<key>frame</key>
				<string>{{1306,1898},{165,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1306,1898},{165,135}}</string>
				<key>sourceSize</key>
				<string>{165,135}</string>
			</dict>
			<key>sdbgj_icon_06_29.png</key>
			<dict>
				<key>frame</key>
				<string>{{751,325},{165,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{751,325},{165,128}}</string>
				<key>sourceSize</key>
				<string>{165,128}</string>
			</dict>
			<key>sdbgj_icon_06_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{751,1264},{165,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{751,1264},{165,137}}</string>
				<key>sourceSize</key>
				<string>{165,137}</string>
			</dict>
			<key>sdbgj_icon_06_47.png</key>
			<dict>
				<key>frame</key>
				<string>{{381,1422},{165,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{381,1422},{165,137}}</string>
				<key>sourceSize</key>
				<string>{165,137}</string>
			</dict>
			<key>sdbgj_icon_06_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{381,316},{165,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{381,316},{165,137}}</string>
				<key>sourceSize</key>
				<string>{165,137}</string>
			</dict>
			<key>sdbgj_icon_06_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{566,1130},{165,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{566,1130},{165,113}}</string>
				<key>sourceSize</key>
				<string>{165,113}</string>
			</dict>
			<key>sdbgj_icon_06_64.png</key>
			<dict>
				<key>frame</key>
				<string>{{1491,1897},{165,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1491,1897},{165,136}}</string>
				<key>sourceSize</key>
				<string>{165,136}</string>
			</dict>
			<key>sdbgj_icon_06_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{1121,965},{165,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1121,965},{165,120}}</string>
				<key>sourceSize</key>
				<string>{165,120}</string>
			</dict>
			<key>sdbgj_icon_06_84.png</key>
			<dict>
				<key>frame</key>
				<string>{{1491,1591},{165,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1491,1591},{165,126}}</string>
				<key>sourceSize</key>
				<string>{165,126}</string>
			</dict>
			<key>sdbgj_icon_06_55.png</key>
			<dict>
				<key>frame</key>
				<string>{{1121,1738},{165,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1121,1738},{165,137}}</string>
				<key>sourceSize</key>
				<string>{165,137}</string>
			</dict>
			<key>sdbgj_icon_06_50.png</key>
			<dict>
				<key>frame</key>
				<string>{{936,1580},{165,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{936,1580},{165,137}}</string>
				<key>sourceSize</key>
				<string>{165,137}</string>
			</dict>
			<key>sdbgj_icon_06_53.png</key>
			<dict>
				<key>frame</key>
				<string>{{1491,1738},{165,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1491,1738},{165,137}}</string>
				<key>sourceSize</key>
				<string>{165,137}</string>
			</dict>
			<key>sdbgj_icon_06_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{936,1448},{165,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{936,1448},{165,111}}</string>
				<key>sourceSize</key>
				<string>{165,111}</string>
			</dict>
			<key>sdbgj_icon_06_96.png</key>
			<dict>
				<key>frame</key>
				<string>{{11,790},{165,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{11,790},{165,137}}</string>
				<key>sourceSize</key>
				<string>{165,137}</string>
			</dict>
			<key>sdbgj_icon_06_100.png</key>
			<dict>
				<key>frame</key>
				<string>{{381,790},{165,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{381,790},{165,137}}</string>
				<key>sourceSize</key>
				<string>{165,137}</string>
			</dict>
			<key>sdbgj_icon_06_59.png</key>
			<dict>
				<key>frame</key>
				<string>{{381,1738},{165,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{381,1738},{165,137}}</string>
				<key>sourceSize</key>
				<string>{165,137}</string>
			</dict>
			<key>sdbgj_icon_06_72.png</key>
			<dict>
				<key>frame</key>
				<string>{{11,1599},{165,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{11,1599},{165,118}}</string>
				<key>sourceSize</key>
				<string>{165,118}</string>
			</dict>
			<key>sdbgj_icon_06_75.png</key>
			<dict>
				<key>frame</key>
				<string>{{11,1131},{165,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{11,1131},{165,112}}</string>
				<key>sourceSize</key>
				<string>{165,112}</string>
			</dict>
			<key>sdbgj_icon_06_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{381,1106},{165,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{381,1106},{165,137}}</string>
				<key>sourceSize</key>
				<string>{165,137}</string>
			</dict>
			<key>sdbgj_icon_06_35.png</key>
			<dict>
				<key>frame</key>
				<string>{{1491,948},{165,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1491,948},{165,137}}</string>
				<key>sourceSize</key>
				<string>{165,137}</string>
			</dict>
			<key>sdbgj_icon_06_69.png</key>
			<dict>
				<key>frame</key>
				<string>{{566,1907},{165,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{566,1907},{165,126}}</string>
				<key>sourceSize</key>
				<string>{165,126}</string>
			</dict>
			<key>sdbgj_icon_06_70.png</key>
			<dict>
				<key>frame</key>
				<string>{{381,1911},{165,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{381,1911},{165,122}}</string>
				<key>sourceSize</key>
				<string>{165,122}</string>
			</dict>
			<key>sdbgj_icon_06_77.png</key>
			<dict>
				<key>frame</key>
				<string>{{196,816},{165,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{196,816},{165,111}}</string>
				<key>sourceSize</key>
				<string>{165,111}</string>
			</dict>
			<key>sdbgj_icon_06_83.png</key>
			<dict>
				<key>frame</key>
				<string>{{1676,1594},{165,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1676,1594},{165,123}}</string>
				<key>sourceSize</key>
				<string>{165,123}</string>
			</dict>
			<key>sdbgj_icon_06_41.png</key>
			<dict>
				<key>frame</key>
				<string>{{566,158},{165,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{566,158},{165,137}}</string>
				<key>sourceSize</key>
				<string>{165,137}</string>
			</dict>
			<key>sdbgj_icon_06_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{1861,1290},{165,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1861,1290},{165,111}}</string>
				<key>sourceSize</key>
				<string>{165,111}</string>
			</dict>
			<key>sdbgj_icon_06_38.png</key>
			<dict>
				<key>frame</key>
				<string>{{1121,1106},{165,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1121,1106},{165,137}}</string>
				<key>sourceSize</key>
				<string>{165,137}</string>
			</dict>
			<key>sdbgj_icon_06_91.png</key>
			<dict>
				<key>frame</key>
				<string>{{196,1580},{165,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{196,1580},{165,137}}</string>
				<key>sourceSize</key>
				<string>{165,137}</string>
			</dict>
			<key>sdbgj_icon_06_97.png</key>
			<dict>
				<key>frame</key>
				<string>{{11,948},{165,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{11,948},{165,137}}</string>
				<key>sourceSize</key>
				<string>{165,137}</string>
			</dict>
			<key>sdbgj_icon_06_33.png</key>
			<dict>
				<key>frame</key>
				<string>{{751,949},{165,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{751,949},{165,136}}</string>
				<key>sourceSize</key>
				<string>{165,136}</string>
			</dict>
			<key>sdbgj_icon_06_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{566,1264},{165,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{566,1264},{165,137}}</string>
				<key>sourceSize</key>
				<string>{165,137}</string>
			</dict>
			<key>sdbgj_icon_06_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{751,1448},{165,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{751,1448},{165,111}}</string>
				<key>sourceSize</key>
				<string>{165,111}</string>
			</dict>
			<key>sdbgj_icon_06_28.png</key>
			<dict>
				<key>frame</key>
				<string>{{751,169},{165,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{751,169},{165,126}}</string>
				<key>sourceSize</key>
				<string>{165,126}</string>
			</dict>
			<key>sdbgj_icon_06_42.png</key>
			<dict>
				<key>frame</key>
				<string>{{566,316},{165,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{566,316},{165,137}}</string>
				<key>sourceSize</key>
				<string>{165,137}</string>
			</dict>
			<key>sdbgj_icon_06_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{381,158},{165,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{381,158},{165,137}}</string>
				<key>sourceSize</key>
				<string>{165,137}</string>
			</dict>
			<key>sdbgj_icon_06_63.png</key>
			<dict>
				<key>frame</key>
				<string>{{1676,1896},{165,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1676,1896},{165,137}}</string>
				<key>sourceSize</key>
				<string>{165,137}</string>
			</dict>
			<key>sdbgj_icon_06_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{1676,1290},{165,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1676,1290},{165,111}}</string>
				<key>sourceSize</key>
				<string>{165,111}</string>
			</dict>
			<key>sdbgj_icon_06_74.png</key>
			<dict>
				<key>frame</key>
				<string>{{11,1287},{165,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{11,1287},{165,114}}</string>
				<key>sourceSize</key>
				<string>{165,114}</string>
			</dict>
			<key>sdbgj_icon_06_45.png</key>
			<dict>
				<key>frame</key>
				<string>{{566,790},{165,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{566,790},{165,137}}</string>
				<key>sourceSize</key>
				<string>{165,137}</string>
			</dict>
			<key>sdbgj_icon_06_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{1491,1290},{165,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1491,1290},{165,111}}</string>
				<key>sourceSize</key>
				<string>{165,111}</string>
			</dict>
			<key>sdbgj_icon_06_81.png</key>
			<dict>
				<key>frame</key>
				<string>{{196,1442},{165,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{196,1442},{165,117}}</string>
				<key>sourceSize</key>
				<string>{165,117}</string>
			</dict>
			<key>sdbgj_icon_06_37.png</key>
			<dict>
				<key>frame</key>
				<string>{{1306,1106},{165,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1306,1106},{165,137}}</string>
				<key>sourceSize</key>
				<string>{165,137}</string>
			</dict>
			<key>sdbgj_icon_06_57.png</key>
			<dict>
				<key>frame</key>
				<string>{{751,1738},{165,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{751,1738},{165,137}}</string>
				<key>sourceSize</key>
				<string>{165,137}</string>
			</dict>
			<key>sdbgj_icon_06_71.png</key>
			<dict>
				<key>frame</key>
				<string>{{196,1913},{165,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{196,1913},{165,120}}</string>
				<key>sourceSize</key>
				<string>{165,120}</string>
			</dict>
			<key>sdbgj_icon_06_95.png</key>
			<dict>
				<key>frame</key>
				<string>{{11,632},{165,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{11,632},{165,137}}</string>
				<key>sourceSize</key>
				<string>{165,137}</string>
			</dict>
			<key>sdbgj_icon_06_80.png</key>
			<dict>
				<key>frame</key>
				<string>{{196,1287},{165,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{196,1287},{165,114}}</string>
				<key>sourceSize</key>
				<string>{165,114}</string>
			</dict>
			<key>sdbgj_icon_06_76.png</key>
			<dict>
				<key>frame</key>
				<string>{{196,658},{165,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{196,658},{165,111}}</string>
				<key>sourceSize</key>
				<string>{165,111}</string>
			</dict>
			<key>sdbgj_icon_06_31.png</key>
			<dict>
				<key>frame</key>
				<string>{{751,637},{165,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{751,637},{165,132}}</string>
				<key>sourceSize</key>
				<string>{165,132}</string>
			</dict>
			<key>sdbgj_icon_06_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{11,1896},{165,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{11,1896},{165,137}}</string>
				<key>sourceSize</key>
				<string>{165,137}</string>
			</dict>
			<key>sdbgj_icon_06_87.png</key>
			<dict>
				<key>frame</key>
				<string>{{1121,1584},{165,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1121,1584},{165,133}}</string>
				<key>sourceSize</key>
				<string>{165,133}</string>
			</dict>
			<key>sdbgj_icon_06_78.png</key>
			<dict>
				<key>frame</key>
				<string>{{196,974},{165,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{196,974},{165,111}}</string>
				<key>sourceSize</key>
				<string>{165,111}</string>
			</dict>
			<key>sdbgj_icon_06_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{936,1264},{165,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{936,1264},{165,137}}</string>
				<key>sourceSize</key>
				<string>{165,137}</string>
			</dict>
			<key>sdbgj_icon_06_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{1306,1436},{165,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1306,1436},{165,123}}</string>
				<key>sourceSize</key>
				<string>{165,123}</string>
			</dict>
			<key>sdbgj_icon_06_32.png</key>
			<dict>
				<key>frame</key>
				<string>{{751,793},{165,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{751,793},{165,134}}</string>
				<key>sourceSize</key>
				<string>{165,134}</string>
			</dict>
			<key>sdbgj_icon_06_85.png</key>
			<dict>
				<key>frame</key>
				<string>{{1306,1588},{165,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1306,1588},{165,129}}</string>
				<key>sourceSize</key>
				<string>{165,129}</string>
			</dict>
			<key>sdbgj_icon_06_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1676,1427},{165,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1676,1427},{165,132}}</string>
				<key>sourceSize</key>
				<string>{165,132}</string>
			</dict>
			<key>sdbgj_icon_06_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1306,1264},{165,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1306,1264},{165,137}}</string>
				<key>sourceSize</key>
				<string>{165,137}</string>
			</dict>
			<key>sdbgj_icon_06_73.png</key>
			<dict>
				<key>frame</key>
				<string>{{11,1444},{165,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{11,1444},{165,115}}</string>
				<key>sourceSize</key>
				<string>{165,115}</string>
			</dict>
			<key>sdbgj_icon_06_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{381,474},{165,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{381,474},{165,137}}</string>
				<key>sourceSize</key>
				<string>{165,137}</string>
			</dict>
			<key>sdbgj_icon_06_56.png</key>
			<dict>
				<key>frame</key>
				<string>{{936,1738},{165,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{936,1738},{165,137}}</string>
				<key>sourceSize</key>
				<string>{165,137}</string>
			</dict>
			<key>sdbgj_icon_06_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{566,1448},{165,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{566,1448},{165,111}}</string>
				<key>sourceSize</key>
				<string>{165,111}</string>
			</dict>
			<key>sdbgj_icon_06_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1491,1430},{165,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1491,1430},{165,129}}</string>
				<key>sourceSize</key>
				<string>{165,129}</string>
			</dict>
			<key>sdbgj_icon_06_98.png</key>
			<dict>
				<key>frame</key>
				<string>{{196,316},{165,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{196,316},{165,137}}</string>
				<key>sourceSize</key>
				<string>{165,137}</string>
			</dict>
			<key>sdbgj_icon_06_44.png</key>
			<dict>
				<key>frame</key>
				<string>{{566,632},{165,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{566,632},{165,137}}</string>
				<key>sourceSize</key>
				<string>{165,137}</string>
			</dict>
			<key>sdbgj_icon_06_46.png</key>
			<dict>
				<key>frame</key>
				<string>{{566,948},{165,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{566,948},{165,137}}</string>
				<key>sourceSize</key>
				<string>{165,137}</string>
			</dict>
			<key>sdbgj_icon_06_60.png</key>
			<dict>
				<key>frame</key>
				<string>{{196,1738},{165,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{196,1738},{165,137}}</string>
				<key>sourceSize</key>
				<string>{165,137}</string>
			</dict>
			<key>sdbgj_icon_06_54.png</key>
			<dict>
				<key>frame</key>
				<string>{{1306,1738},{165,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1306,1738},{165,137}}</string>
				<key>sourceSize</key>
				<string>{165,137}</string>
			</dict>
			<key>sdbgj_icon_06_86.png</key>
			<dict>
				<key>frame</key>
				<string>{{196,480},{165,131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{196,480},{165,131}}</string>
				<key>sourceSize</key>
				<string>{165,131}</string>
			</dict>
			<key>sdbgj_icon_06_68.png</key>
			<dict>
				<key>frame</key>
				<string>{{751,1905},{165,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{751,1905},{165,128}}</string>
				<key>sourceSize</key>
				<string>{165,128}</string>
			</dict>
			<key>sdbgj_icon_06_27.png</key>
			<dict>
				<key>frame</key>
				<string>{{936,962},{165,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{936,962},{165,123}}</string>
				<key>sourceSize</key>
				<string>{165,123}</string>
			</dict>
			<key>sdbgj_icon_06_39.png</key>
			<dict>
				<key>frame</key>
				<string>{{936,1106},{165,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{936,1106},{165,137}}</string>
				<key>sourceSize</key>
				<string>{165,137}</string>
			</dict>
			<key>sdbgj_icon_06_62.png</key>
			<dict>
				<key>frame</key>
				<string>{{1861,1896},{165,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1861,1896},{165,137}}</string>
				<key>sourceSize</key>
				<string>{165,137}</string>
			</dict>
			<key>sdbgj_icon_06_90.png</key>
			<dict>
				<key>frame</key>
				<string>{{381,1580},{165,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{381,1580},{165,137}}</string>
				<key>sourceSize</key>
				<string>{165,137}</string>
			</dict>
			<key>sdbgj_icon_06_79.png</key>
			<dict>
				<key>frame</key>
				<string>{{196,1131},{165,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{196,1131},{165,112}}</string>
				<key>sourceSize</key>
				<string>{165,112}</string>
			</dict>
			<key>sdbgj_icon_06_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{1306,968},{165,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1306,968},{165,117}}</string>
				<key>sourceSize</key>
				<string>{165,117}</string>
			</dict>
			<key>sdbgj_icon_06_30.png</key>
			<dict>
				<key>frame</key>
				<string>{{751,480},{165,131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{751,480},{165,131}}</string>
				<key>sourceSize</key>
				<string>{165,131}</string>
			</dict>
			<key>sdbgj_icon_06_49.png</key>
			<dict>
				<key>frame</key>
				<string>{{196,158},{165,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{196,158},{165,137}}</string>
				<key>sourceSize</key>
				<string>{165,137}</string>
			</dict>
			<key>sdbgj_icon_06_94.png</key>
			<dict>
				<key>frame</key>
				<string>{{11,474},{165,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{11,474},{165,137}}</string>
				<key>sourceSize</key>
				<string>{165,137}</string>
			</dict>
			<key>sdbgj_icon_06_61.png</key>
			<dict>
				<key>frame</key>
				<string>{{11,1738},{165,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{11,1738},{165,137}}</string>
				<key>sourceSize</key>
				<string>{165,137}</string>
			</dict>
			<key>sdbgj_icon_06_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1121,1264},{165,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1121,1264},{165,137}}</string>
				<key>sourceSize</key>
				<string>{165,137}</string>
			</dict>
			<key>sdbgj_icon_06_52.png</key>
			<dict>
				<key>frame</key>
				<string>{{1676,1738},{165,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1676,1738},{165,137}}</string>
				<key>sourceSize</key>
				<string>{165,137}</string>
			</dict>
			<key>sdbgj_icon_06_99.png</key>
			<dict>
				<key>frame</key>
				<string>{{1676,948},{165,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1676,948},{165,137}}</string>
				<key>sourceSize</key>
				<string>{165,137}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>sdbgj_icon_06.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>sdbgj_icon_06.png</string>
		</dict>
	</dict>
</plist>
