<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>sdbgj_coin_effect_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{850,436},{83,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{850,436},{83,170}}</string>
				<key>sourceSize</key>
				<string>{83,170}</string>
			</dict>
			<key>sdbgj_coin_effect_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{886,840},{48,167}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{886,840},{48,167}}</string>
				<key>sourceSize</key>
				<string>{48,167}</string>
			</dict>
			<key>sdbgj_coin_effect_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{418,840},{146,169}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{418,840},{146,169}}</string>
				<key>sourceSize</key>
				<string>{146,169}</string>
			</dict>
			<key>sdbgj_coin_effect_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{417,439},{163,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{417,439},{163,168}}</string>
				<key>sourceSize</key>
				<string>{163,168}</string>
			</dict>
			<key>sdbgj_coin_effect_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{17,841},{165,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{17,841},{165,165}}</string>
				<key>sourceSize</key>
				<string>{165,165}</string>
			</dict>
			<key>sdbgj_coin_effect_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{873,639},{48,167}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{873,639},{48,167}}</string>
				<key>sourceSize</key>
				<string>{48,167}</string>
			</dict>
			<key>sdbgj_coin_effect_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{249,437},{81,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{249,437},{81,170}}</string>
				<key>sourceSize</key>
				<string>{81,170}</string>
			</dict>
			<key>sdbgj_coin_effect_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{632,840},{154,169}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{632,840},{154,169}}</string>
				<key>sourceSize</key>
				<string>{154,169}</string>
			</dict>
			<key>sdbgj_coin_effect_27.png</key>
			<dict>
				<key>frame</key>
				<string>{{46,438},{131,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{46,438},{131,168}}</string>
				<key>sourceSize</key>
				<string>{131,168}</string>
			</dict>
			<key>sdbgj_coin_effect_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{423,36},{163,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{423,36},{163,166}}</string>
				<key>sourceSize</key>
				<string>{163,166}</string>
			</dict>
			<key>sdbgj_coin_effect_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{231,236},{110,169}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{231,236},{110,169}}</string>
				<key>sourceSize</key>
				<string>{110,169}</string>
			</dict>
			<key>sdbgj_coin_effect_28.png</key>
			<dict>
				<key>frame</key>
				<string>{{37,637},{148,169}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{37,637},{148,169}}</string>
				<key>sourceSize</key>
				<string>{148,169}</string>
			</dict>
			<key>sdbgj_coin_effect_29.png</key>
			<dict>
				<key>frame</key>
				<string>{{1034,237},{154,169}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1034,237},{154,169}}</string>
				<key>sourceSize</key>
				<string>{154,169}</string>
			</dict>
			<key>sdbgj_coin_effect_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1020,436},{163,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1020,436},{163,168}}</string>
				<key>sourceSize</key>
				<string>{163,168}</string>
			</dict>
			<key>sdbgj_coin_effect_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{419,238},{165,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{419,238},{165,165}}</string>
				<key>sourceSize</key>
				<string>{165,165}</string>
			</dict>
			<key>sdbgj_coin_effect_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{673,34},{81,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{673,34},{81,170}}</string>
				<key>sourceSize</key>
				<string>{81,170}</string>
			</dict>
			<key>sdbgj_coin_effect_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{70,35},{81,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{70,35},{81,170}}</string>
				<key>sourceSize</key>
				<string>{81,170}</string>
			</dict>
			<key>sdbgj_coin_effect_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{836,236},{108,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{836,236},{108,170}}</string>
				<key>sourceSize</key>
				<string>{108,170}</string>
			</dict>
			<key>sdbgj_coin_effect_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{418,639},{154,169}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{418,639},{154,169}}</string>
				<key>sourceSize</key>
				<string>{154,169}</string>
			</dict>
			<key>sdbgj_coin_effect_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{270,639},{48,167}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{270,639},{48,167}}</string>
				<key>sourceSize</key>
				<string>{48,167}</string>
			</dict>
			<key>sdbgj_coin_effect_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{662,236},{110,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{662,236},{110,170}}</string>
				<key>sourceSize</key>
				<string>{110,170}</string>
			</dict>
			<key>sdbgj_coin_effect_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1021,838},{146,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1021,838},{146,171}}</string>
				<key>sourceSize</key>
				<string>{146,171}</string>
			</dict>
			<key>sdbgj_coin_effect_30.png</key>
			<dict>
				<key>frame</key>
				<string>{{1026,37},{163,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1026,37},{163,166}}</string>
				<key>sourceSize</key>
				<string>{163,166}</string>
			</dict>
			<key>sdbgj_coin_effect_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{640,637},{146,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{640,637},{146,171}}</string>
				<key>sourceSize</key>
				<string>{146,171}</string>
			</dict>
			<key>sdbgj_coin_effect_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{283,840},{48,167}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{283,840},{48,167}}</string>
				<key>sourceSize</key>
				<string>{48,167}</string>
			</dict>
			<key>sdbgj_coin_effect_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{223,36},{131,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{223,36},{131,168}}</string>
				<key>sourceSize</key>
				<string>{131,168}</string>
			</dict>
			<key>sdbgj_coin_effect_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{826,35},{131,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{826,35},{131,170}}</string>
				<key>sourceSize</key>
				<string>{131,170}</string>
			</dict>
			<key>sdbgj_coin_effect_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1021,637},{154,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1021,637},{154,171}}</string>
				<key>sourceSize</key>
				<string>{154,171}</string>
			</dict>
			<key>sdbgj_coin_effect_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{649,437},{131,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{649,437},{131,168}}</string>
				<key>sourceSize</key>
				<string>{131,168}</string>
			</dict>
			<key>sdbgj_coin_effect_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{59,236},{110,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{59,236},{110,170}}</string>
				<key>sourceSize</key>
				<string>{110,170}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>sdbgj_coin_effect.png</string>
			<key>size</key>
			<string>{2048,1024}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>sdbgj_coin_effect.png</string>
		</dict>
	</dict>
</plist>
