<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>sdbgj_icon_07_37.png</key>
			<dict>
				<key>frame</key>
				<string>{{1306,1106},{164,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1306,1106},{164,137}}</string>
				<key>sourceSize</key>
				<string>{164,137}</string>
			</dict>
			<key>sdbgj_icon_07_59.png</key>
			<dict>
				<key>frame</key>
				<string>{{381,1738},{164,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{381,1738},{164,137}}</string>
				<key>sourceSize</key>
				<string>{164,137}</string>
			</dict>
			<key>sdbgj_icon_07_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1306,1264},{164,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1306,1264},{164,137}}</string>
				<key>sourceSize</key>
				<string>{164,137}</string>
			</dict>
			<key>sdbgj_icon_07_81.png</key>
			<dict>
				<key>frame</key>
				<string>{{196,1422},{164,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{196,1422},{164,137}}</string>
				<key>sourceSize</key>
				<string>{164,137}</string>
			</dict>
			<key>sdbgj_icon_07_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{936,1264},{164,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{936,1264},{164,137}}</string>
				<key>sourceSize</key>
				<string>{164,137}</string>
			</dict>
			<key>sdbgj_icon_07_41.png</key>
			<dict>
				<key>frame</key>
				<string>{{566,158},{164,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{566,158},{164,137}}</string>
				<key>sourceSize</key>
				<string>{164,137}</string>
			</dict>
			<key>sdbgj_icon_07_45.png</key>
			<dict>
				<key>frame</key>
				<string>{{566,790},{164,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{566,790},{164,137}}</string>
				<key>sourceSize</key>
				<string>{164,137}</string>
			</dict>
			<key>sdbgj_icon_07_74.png</key>
			<dict>
				<key>frame</key>
				<string>{{11,1264},{164,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{11,1264},{164,137}}</string>
				<key>sourceSize</key>
				<string>{164,137}</string>
			</dict>
			<key>sdbgj_icon_07_98.png</key>
			<dict>
				<key>frame</key>
				<string>{{196,316},{164,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{196,316},{164,137}}</string>
				<key>sourceSize</key>
				<string>{164,137}</string>
			</dict>
			<key>sdbgj_icon_07_84.png</key>
			<dict>
				<key>frame</key>
				<string>{{1491,1580},{164,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1491,1580},{164,137}}</string>
				<key>sourceSize</key>
				<string>{164,137}</string>
			</dict>
			<key>sdbgj_icon_07_93.png</key>
			<dict>
				<key>frame</key>
				<string>{{11,316},{164,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{11,316},{164,137}}</string>
				<key>sourceSize</key>
				<string>{164,137}</string>
			</dict>
			<key>sdbgj_icon_07_42.png</key>
			<dict>
				<key>frame</key>
				<string>{{566,316},{164,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{566,316},{164,137}}</string>
				<key>sourceSize</key>
				<string>{164,137}</string>
			</dict>
			<key>sdbgj_icon_07_83.png</key>
			<dict>
				<key>frame</key>
				<string>{{1676,1580},{164,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1676,1580},{164,137}}</string>
				<key>sourceSize</key>
				<string>{164,137}</string>
			</dict>
			<key>sdbgj_icon_07_67.png</key>
			<dict>
				<key>frame</key>
				<string>{{936,1896},{164,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{936,1896},{164,137}}</string>
				<key>sourceSize</key>
				<string>{164,137}</string>
			</dict>
			<key>sdbgj_icon_07_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1491,1422},{164,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1491,1422},{164,137}}</string>
				<key>sourceSize</key>
				<string>{164,137}</string>
			</dict>
			<key>sdbgj_icon_07_97.png</key>
			<dict>
				<key>frame</key>
				<string>{{11,948},{164,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{11,948},{164,137}}</string>
				<key>sourceSize</key>
				<string>{164,137}</string>
			</dict>
			<key>sdbgj_icon_07_73.png</key>
			<dict>
				<key>frame</key>
				<string>{{11,1422},{164,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{11,1422},{164,137}}</string>
				<key>sourceSize</key>
				<string>{164,137}</string>
			</dict>
			<key>sdbgj_icon_07_53.png</key>
			<dict>
				<key>frame</key>
				<string>{{1491,1738},{164,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1491,1738},{164,137}}</string>
				<key>sourceSize</key>
				<string>{164,137}</string>
			</dict>
			<key>sdbgj_icon_07_46.png</key>
			<dict>
				<key>frame</key>
				<string>{{566,948},{164,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{566,948},{164,137}}</string>
				<key>sourceSize</key>
				<string>{164,137}</string>
			</dict>
			<key>sdbgj_icon_07_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{1306,1422},{164,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1306,1422},{164,137}}</string>
				<key>sourceSize</key>
				<string>{164,137}</string>
			</dict>
			<key>sdbgj_icon_07_95.png</key>
			<dict>
				<key>frame</key>
				<string>{{11,632},{164,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{11,632},{164,137}}</string>
				<key>sourceSize</key>
				<string>{164,137}</string>
			</dict>
			<key>sdbgj_icon_07_30.png</key>
			<dict>
				<key>frame</key>
				<string>{{751,474},{164,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{751,474},{164,137}}</string>
				<key>sourceSize</key>
				<string>{164,137}</string>
			</dict>
			<key>sdbgj_icon_07_61.png</key>
			<dict>
				<key>frame</key>
				<string>{{11,1738},{164,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{11,1738},{164,137}}</string>
				<key>sourceSize</key>
				<string>{164,137}</string>
			</dict>
			<key>sdbgj_icon_07_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{1491,1264},{164,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1491,1264},{164,137}}</string>
				<key>sourceSize</key>
				<string>{164,137}</string>
			</dict>
			<key>sdbgj_icon_07_40.png</key>
			<dict>
				<key>frame</key>
				<string>{{751,1106},{164,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{751,1106},{164,137}}</string>
				<key>sourceSize</key>
				<string>{164,137}</string>
			</dict>
			<key>sdbgj_icon_07_58.png</key>
			<dict>
				<key>frame</key>
				<string>{{566,1738},{164,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{566,1738},{164,137}}</string>
				<key>sourceSize</key>
				<string>{164,137}</string>
			</dict>
			<key>sdbgj_icon_07_72.png</key>
			<dict>
				<key>frame</key>
				<string>{{11,1580},{164,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{11,1580},{164,137}}</string>
				<key>sourceSize</key>
				<string>{164,137}</string>
			</dict>
			<key>sdbgj_icon_07_35.png</key>
			<dict>
				<key>frame</key>
				<string>{{1491,948},{164,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1491,948},{164,137}}</string>
				<key>sourceSize</key>
				<string>{164,137}</string>
			</dict>
			<key>sdbgj_icon_07_80.png</key>
			<dict>
				<key>frame</key>
				<string>{{196,1264},{164,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{196,1264},{164,137}}</string>
				<key>sourceSize</key>
				<string>{164,137}</string>
			</dict>
			<key>sdbgj_icon_07_51.png</key>
			<dict>
				<key>frame</key>
				<string>{{1861,1738},{164,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1861,1738},{164,137}}</string>
				<key>sourceSize</key>
				<string>{164,137}</string>
			</dict>
			<key>sdbgj_icon_07_66.png</key>
			<dict>
				<key>frame</key>
				<string>{{1121,1896},{164,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1121,1896},{164,137}}</string>
				<key>sourceSize</key>
				<string>{164,137}</string>
			</dict>
			<key>sdbgj_icon_07_38.png</key>
			<dict>
				<key>frame</key>
				<string>{{1121,1106},{164,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1121,1106},{164,137}}</string>
				<key>sourceSize</key>
				<string>{164,137}</string>
			</dict>
			<key>sdbgj_icon_07_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{381,632},{164,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{381,632},{164,137}}</string>
				<key>sourceSize</key>
				<string>{164,137}</string>
			</dict>
			<key>sdbgj_icon_07_44.png</key>
			<dict>
				<key>frame</key>
				<string>{{566,632},{164,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{566,632},{164,137}}</string>
				<key>sourceSize</key>
				<string>{164,137}</string>
			</dict>
			<key>sdbgj_icon_07_94.png</key>
			<dict>
				<key>frame</key>
				<string>{{11,474},{164,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{11,474},{164,137}}</string>
				<key>sourceSize</key>
				<string>{164,137}</string>
			</dict>
			<key>sdbgj_icon_07_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{751,1264},{164,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{751,1264},{164,137}}</string>
				<key>sourceSize</key>
				<string>{164,137}</string>
			</dict>
			<key>sdbgj_icon_07_52.png</key>
			<dict>
				<key>frame</key>
				<string>{{1676,1738},{164,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1676,1738},{164,137}}</string>
				<key>sourceSize</key>
				<string>{164,137}</string>
			</dict>
			<key>sdbgj_icon_07_86.png</key>
			<dict>
				<key>frame</key>
				<string>{{196,474},{164,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{196,474},{164,137}}</string>
				<key>sourceSize</key>
				<string>{164,137}</string>
			</dict>
			<key>sdbgj_icon_07_48.png</key>
			<dict>
				<key>frame</key>
				<string>{{1491,1106},{164,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1491,1106},{164,137}}</string>
				<key>sourceSize</key>
				<string>{164,137}</string>
			</dict>
			<key>sdbgj_icon_07_55.png</key>
			<dict>
				<key>frame</key>
				<string>{{1121,1738},{164,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1121,1738},{164,137}}</string>
				<key>sourceSize</key>
				<string>{164,137}</string>
			</dict>
			<key>sdbgj_icon_07_49.png</key>
			<dict>
				<key>frame</key>
				<string>{{196,158},{164,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{196,158},{164,137}}</string>
				<key>sourceSize</key>
				<string>{164,137}</string>
			</dict>
			<key>sdbgj_icon_07_88.png</key>
			<dict>
				<key>frame</key>
				<string>{{751,1580},{164,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{751,1580},{164,137}}</string>
				<key>sourceSize</key>
				<string>{164,137}</string>
			</dict>
			<key>sdbgj_icon_07_82.png</key>
			<dict>
				<key>frame</key>
				<string>{{1861,1580},{164,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1861,1580},{164,137}}</string>
				<key>sourceSize</key>
				<string>{164,137}</string>
			</dict>
			<key>sdbgj_icon_07_63.png</key>
			<dict>
				<key>frame</key>
				<string>{{1676,1896},{164,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1676,1896},{164,137}}</string>
				<key>sourceSize</key>
				<string>{164,137}</string>
			</dict>
			<key>sdbgj_icon_07_29.png</key>
			<dict>
				<key>frame</key>
				<string>{{751,316},{164,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{751,316},{164,137}}</string>
				<key>sourceSize</key>
				<string>{164,137}</string>
			</dict>
			<key>sdbgj_icon_07_69.png</key>
			<dict>
				<key>frame</key>
				<string>{{566,1896},{164,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{566,1896},{164,137}}</string>
				<key>sourceSize</key>
				<string>{164,137}</string>
			</dict>
			<key>sdbgj_icon_07_90.png</key>
			<dict>
				<key>frame</key>
				<string>{{381,1580},{164,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{381,1580},{164,137}}</string>
				<key>sourceSize</key>
				<string>{164,137}</string>
			</dict>
			<key>sdbgj_icon_07_79.png</key>
			<dict>
				<key>frame</key>
				<string>{{196,1106},{164,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{196,1106},{164,137}}</string>
				<key>sourceSize</key>
				<string>{164,137}</string>
			</dict>
			<key>sdbgj_icon_07_91.png</key>
			<dict>
				<key>frame</key>
				<string>{{196,1580},{164,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{196,1580},{164,137}}</string>
				<key>sourceSize</key>
				<string>{164,137}</string>
			</dict>
			<key>sdbgj_icon_07_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{1861,1264},{164,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1861,1264},{164,137}}</string>
				<key>sourceSize</key>
				<string>{164,137}</string>
			</dict>
			<key>sdbgj_icon_07_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1121,1264},{164,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1121,1264},{164,137}}</string>
				<key>sourceSize</key>
				<string>{164,137}</string>
			</dict>
			<key>sdbgj_icon_07_100.png</key>
			<dict>
				<key>frame</key>
				<string>{{381,790},{164,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{381,790},{164,137}}</string>
				<key>sourceSize</key>
				<string>{164,137}</string>
			</dict>
			<key>sdbgj_icon_07_36.png</key>
			<dict>
				<key>frame</key>
				<string>{{1676,1106},{164,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1676,1106},{164,137}}</string>
				<key>sourceSize</key>
				<string>{164,137}</string>
			</dict>
			<key>sdbgj_icon_07_71.png</key>
			<dict>
				<key>frame</key>
				<string>{{196,1896},{164,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{196,1896},{164,137}}</string>
				<key>sourceSize</key>
				<string>{164,137}</string>
			</dict>
			<key>sdbgj_icon_07_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{936,1422},{164,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{936,1422},{164,137}}</string>
				<key>sourceSize</key>
				<string>{164,137}</string>
			</dict>
			<key>sdbgj_icon_07_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{1121,948},{164,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1121,948},{164,137}}</string>
				<key>sourceSize</key>
				<string>{164,137}</string>
			</dict>
			<key>sdbgj_icon_07_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{381,474},{164,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{381,474},{164,137}}</string>
				<key>sourceSize</key>
				<string>{164,137}</string>
			</dict>
			<key>sdbgj_icon_07_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{381,316},{164,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{381,316},{164,137}}</string>
				<key>sourceSize</key>
				<string>{164,137}</string>
			</dict>
			<key>sdbgj_icon_07_62.png</key>
			<dict>
				<key>frame</key>
				<string>{{1861,1896},{164,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1861,1896},{164,137}}</string>
				<key>sourceSize</key>
				<string>{164,137}</string>
			</dict>
			<key>sdbgj_icon_07_39.png</key>
			<dict>
				<key>frame</key>
				<string>{{936,1106},{164,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{936,1106},{164,137}}</string>
				<key>sourceSize</key>
				<string>{164,137}</string>
			</dict>
			<key>sdbgj_icon_07_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{381,1264},{164,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{381,1264},{164,137}}</string>
				<key>sourceSize</key>
				<string>{164,137}</string>
			</dict>
			<key>sdbgj_icon_07_89.png</key>
			<dict>
				<key>frame</key>
				<string>{{566,1580},{164,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{566,1580},{164,137}}</string>
				<key>sourceSize</key>
				<string>{164,137}</string>
			</dict>
			<key>sdbgj_icon_07_34.png</key>
			<dict>
				<key>frame</key>
				<string>{{1861,1106},{164,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1861,1106},{164,137}}</string>
				<key>sourceSize</key>
				<string>{164,137}</string>
			</dict>
			<key>sdbgj_icon_07_75.png</key>
			<dict>
				<key>frame</key>
				<string>{{11,1106},{164,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{11,1106},{164,137}}</string>
				<key>sourceSize</key>
				<string>{164,137}</string>
			</dict>
			<key>sdbgj_icon_07_68.png</key>
			<dict>
				<key>frame</key>
				<string>{{751,1896},{164,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{751,1896},{164,137}}</string>
				<key>sourceSize</key>
				<string>{164,137}</string>
			</dict>
			<key>sdbgj_icon_07_85.png</key>
			<dict>
				<key>frame</key>
				<string>{{1306,1580},{164,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1306,1580},{164,137}}</string>
				<key>sourceSize</key>
				<string>{164,137}</string>
			</dict>
			<key>sdbgj_icon_07_87.png</key>
			<dict>
				<key>frame</key>
				<string>{{1121,1580},{164,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1121,1580},{164,137}}</string>
				<key>sourceSize</key>
				<string>{164,137}</string>
			</dict>
			<key>sdbgj_icon_07_27.png</key>
			<dict>
				<key>frame</key>
				<string>{{936,948},{164,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{936,948},{164,137}}</string>
				<key>sourceSize</key>
				<string>{164,137}</string>
			</dict>
			<key>sdbgj_icon_07_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{566,1264},{164,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{566,1264},{164,137}}</string>
				<key>sourceSize</key>
				<string>{164,137}</string>
			</dict>
			<key>sdbgj_icon_07_47.png</key>
			<dict>
				<key>frame</key>
				<string>{{381,1422},{164,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{381,1422},{164,137}}</string>
				<key>sourceSize</key>
				<string>{164,137}</string>
			</dict>
			<key>sdbgj_icon_07_65.png</key>
			<dict>
				<key>frame</key>
				<string>{{1306,1896},{164,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1306,1896},{164,137}}</string>
				<key>sourceSize</key>
				<string>{164,137}</string>
			</dict>
			<key>sdbgj_icon_07_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{381,158},{164,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{381,158},{164,137}}</string>
				<key>sourceSize</key>
				<string>{164,137}</string>
			</dict>
			<key>sdbgj_icon_07_33.png</key>
			<dict>
				<key>frame</key>
				<string>{{751,948},{164,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{751,948},{164,137}}</string>
				<key>sourceSize</key>
				<string>{164,137}</string>
			</dict>
			<key>sdbgj_icon_07_64.png</key>
			<dict>
				<key>frame</key>
				<string>{{1491,1896},{164,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1491,1896},{164,137}}</string>
				<key>sourceSize</key>
				<string>{164,137}</string>
			</dict>
			<key>sdbgj_icon_07_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{566,1106},{164,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{566,1106},{164,137}}</string>
				<key>sourceSize</key>
				<string>{164,137}</string>
			</dict>
			<key>sdbgj_icon_07_50.png</key>
			<dict>
				<key>frame</key>
				<string>{{936,1580},{164,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{936,1580},{164,137}}</string>
				<key>sourceSize</key>
				<string>{164,137}</string>
			</dict>
			<key>sdbgj_icon_07_43.png</key>
			<dict>
				<key>frame</key>
				<string>{{566,474},{164,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{566,474},{164,137}}</string>
				<key>sourceSize</key>
				<string>{164,137}</string>
			</dict>
			<key>sdbgj_icon_07_28.png</key>
			<dict>
				<key>frame</key>
				<string>{{751,158},{164,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{751,158},{164,137}}</string>
				<key>sourceSize</key>
				<string>{164,137}</string>
			</dict>
			<key>sdbgj_icon_07_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1861,1422},{164,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1861,1422},{164,137}}</string>
				<key>sourceSize</key>
				<string>{164,137}</string>
			</dict>
			<key>sdbgj_icon_07_99.png</key>
			<dict>
				<key>frame</key>
				<string>{{1676,948},{164,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1676,948},{164,137}}</string>
				<key>sourceSize</key>
				<string>{164,137}</string>
			</dict>
			<key>sdbgj_icon_07_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1676,1422},{164,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1676,1422},{164,137}}</string>
				<key>sourceSize</key>
				<string>{164,137}</string>
			</dict>
			<key>sdbgj_icon_07_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{751,1422},{164,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{751,1422},{164,137}}</string>
				<key>sourceSize</key>
				<string>{164,137}</string>
			</dict>
			<key>sdbgj_icon_07_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{381,1106},{164,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{381,1106},{164,137}}</string>
				<key>sourceSize</key>
				<string>{164,137}</string>
			</dict>
			<key>sdbgj_icon_07_70.png</key>
			<dict>
				<key>frame</key>
				<string>{{381,1896},{164,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{381,1896},{164,137}}</string>
				<key>sourceSize</key>
				<string>{164,137}</string>
			</dict>
			<key>sdbgj_icon_07_77.png</key>
			<dict>
				<key>frame</key>
				<string>{{196,790},{164,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{196,790},{164,137}}</string>
				<key>sourceSize</key>
				<string>{164,137}</string>
			</dict>
			<key>sdbgj_icon_07_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{1121,1422},{164,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1121,1422},{164,137}}</string>
				<key>sourceSize</key>
				<string>{164,137}</string>
			</dict>
			<key>sdbgj_icon_07_60.png</key>
			<dict>
				<key>frame</key>
				<string>{{196,1738},{164,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{196,1738},{164,137}}</string>
				<key>sourceSize</key>
				<string>{164,137}</string>
			</dict>
			<key>sdbgj_icon_07_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{1306,948},{164,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1306,948},{164,137}}</string>
				<key>sourceSize</key>
				<string>{164,137}</string>
			</dict>
			<key>sdbgj_icon_07_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{11,1896},{164,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{11,1896},{164,137}}</string>
				<key>sourceSize</key>
				<string>{164,137}</string>
			</dict>
			<key>sdbgj_icon_07_32.png</key>
			<dict>
				<key>frame</key>
				<string>{{751,790},{164,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{751,790},{164,137}}</string>
				<key>sourceSize</key>
				<string>{164,137}</string>
			</dict>
			<key>sdbgj_icon_07_54.png</key>
			<dict>
				<key>frame</key>
				<string>{{1306,1738},{164,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1306,1738},{164,137}}</string>
				<key>sourceSize</key>
				<string>{164,137}</string>
			</dict>
			<key>sdbgj_icon_07_57.png</key>
			<dict>
				<key>frame</key>
				<string>{{751,1738},{164,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{751,1738},{164,137}}</string>
				<key>sourceSize</key>
				<string>{164,137}</string>
			</dict>
			<key>sdbgj_icon_07_101.png</key>
			<dict>
				<key>frame</key>
				<string>{{381,948},{164,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{381,948},{164,137}}</string>
				<key>sourceSize</key>
				<string>{164,137}</string>
			</dict>
			<key>sdbgj_icon_07_78.png</key>
			<dict>
				<key>frame</key>
				<string>{{196,948},{164,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{196,948},{164,137}}</string>
				<key>sourceSize</key>
				<string>{164,137}</string>
			</dict>
			<key>sdbgj_icon_07_56.png</key>
			<dict>
				<key>frame</key>
				<string>{{936,1738},{164,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{936,1738},{164,137}}</string>
				<key>sourceSize</key>
				<string>{164,137}</string>
			</dict>
			<key>sdbgj_icon_07_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{566,1422},{164,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{566,1422},{164,137}}</string>
				<key>sourceSize</key>
				<string>{164,137}</string>
			</dict>
			<key>sdbgj_icon_07_76.png</key>
			<dict>
				<key>frame</key>
				<string>{{196,632},{164,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{196,632},{164,137}}</string>
				<key>sourceSize</key>
				<string>{164,137}</string>
			</dict>
			<key>sdbgj_icon_07_92.png</key>
			<dict>
				<key>frame</key>
				<string>{{11,158},{164,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{11,158},{164,137}}</string>
				<key>sourceSize</key>
				<string>{164,137}</string>
			</dict>
			<key>sdbgj_icon_07_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{1676,1264},{164,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1676,1264},{164,137}}</string>
				<key>sourceSize</key>
				<string>{164,137}</string>
			</dict>
			<key>sdbgj_icon_07_31.png</key>
			<dict>
				<key>frame</key>
				<string>{{751,632},{164,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{751,632},{164,137}}</string>
				<key>sourceSize</key>
				<string>{164,137}</string>
			</dict>
			<key>sdbgj_icon_07_96.png</key>
			<dict>
				<key>frame</key>
				<string>{{11,790},{164,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{11,790},{164,137}}</string>
				<key>sourceSize</key>
				<string>{164,137}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>sdbgj_icon_07_d1.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>sdbgj_icon_07_d1.png</string>
		</dict>
	</dict>
</plist>
