<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>sdbgj_icon_08_45.png</key>
			<dict>
				<key>frame</key>
				<string>{{565,790},{164,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{565,790},{164,138}}</string>
				<key>sourceSize</key>
				<string>{164,138}</string>
			</dict>
			<key>sdbgj_icon_08_32.png</key>
			<dict>
				<key>frame</key>
				<string>{{750,790},{166,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{750,790},{166,138}}</string>
				<key>sourceSize</key>
				<string>{166,138}</string>
			</dict>
			<key>sdbgj_icon_08_39.png</key>
			<dict>
				<key>frame</key>
				<string>{{935,1106},{165,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{935,1106},{165,138}}</string>
				<key>sourceSize</key>
				<string>{165,138}</string>
			</dict>
			<key>sdbgj_icon_08_48.png</key>
			<dict>
				<key>frame</key>
				<string>{{1490,1106},{164,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1490,1106},{164,138}}</string>
				<key>sourceSize</key>
				<string>{164,138}</string>
			</dict>
			<key>sdbgj_icon_08_74.png</key>
			<dict>
				<key>frame</key>
				<string>{{10,1264},{165,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{10,1264},{165,138}}</string>
				<key>sourceSize</key>
				<string>{165,138}</string>
			</dict>
			<key>sdbgj_icon_08_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{380,316},{165,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{380,316},{165,138}}</string>
				<key>sourceSize</key>
				<string>{165,138}</string>
			</dict>
			<key>sdbgj_icon_08_68.png</key>
			<dict>
				<key>frame</key>
				<string>{{750,1896},{165,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{750,1896},{165,138}}</string>
				<key>sourceSize</key>
				<string>{165,138}</string>
			</dict>
			<key>sdbgj_icon_08_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{1120,1422},{165,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1120,1422},{165,138}}</string>
				<key>sourceSize</key>
				<string>{165,138}</string>
			</dict>
			<key>sdbgj_icon_08_99.png</key>
			<dict>
				<key>frame</key>
				<string>{{1675,948},{164,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1675,948},{164,138}}</string>
				<key>sourceSize</key>
				<string>{164,138}</string>
			</dict>
			<key>sdbgj_icon_08_76.png</key>
			<dict>
				<key>frame</key>
				<string>{{195,632},{165,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{195,632},{165,138}}</string>
				<key>sourceSize</key>
				<string>{165,138}</string>
			</dict>
			<key>sdbgj_icon_08_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{935,1422},{165,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{935,1422},{165,138}}</string>
				<key>sourceSize</key>
				<string>{165,138}</string>
			</dict>
			<key>sdbgj_icon_08_34.png</key>
			<dict>
				<key>frame</key>
				<string>{{1860,1106},{165,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1860,1106},{165,138}}</string>
				<key>sourceSize</key>
				<string>{165,138}</string>
			</dict>
			<key>sdbgj_icon_08_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{1675,1264},{166,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1675,1264},{166,138}}</string>
				<key>sourceSize</key>
				<string>{166,138}</string>
			</dict>
			<key>sdbgj_icon_08_50.png</key>
			<dict>
				<key>frame</key>
				<string>{{935,1580},{164,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{935,1580},{164,138}}</string>
				<key>sourceSize</key>
				<string>{164,138}</string>
			</dict>
			<key>sdbgj_icon_08_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{380,632},{165,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{380,632},{165,138}}</string>
				<key>sourceSize</key>
				<string>{165,138}</string>
			</dict>
			<key>sdbgj_icon_08_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{1120,948},{166,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1120,948},{166,138}}</string>
				<key>sourceSize</key>
				<string>{166,138}</string>
			</dict>
			<key>sdbgj_icon_08_54.png</key>
			<dict>
				<key>frame</key>
				<string>{{1305,1738},{164,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1305,1738},{164,138}}</string>
				<key>sourceSize</key>
				<string>{164,138}</string>
			</dict>
			<key>sdbgj_icon_08_30.png</key>
			<dict>
				<key>frame</key>
				<string>{{750,474},{166,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{750,474},{166,138}}</string>
				<key>sourceSize</key>
				<string>{166,138}</string>
			</dict>
			<key>sdbgj_icon_08_65.png</key>
			<dict>
				<key>frame</key>
				<string>{{1305,1896},{165,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1305,1896},{165,138}}</string>
				<key>sourceSize</key>
				<string>{165,138}</string>
			</dict>
			<key>sdbgj_icon_08_35.png</key>
			<dict>
				<key>frame</key>
				<string>{{1490,948},{165,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1490,948},{165,138}}</string>
				<key>sourceSize</key>
				<string>{165,138}</string>
			</dict>
			<key>sdbgj_icon_08_43.png</key>
			<dict>
				<key>frame</key>
				<string>{{565,474},{164,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{565,474},{164,138}}</string>
				<key>sourceSize</key>
				<string>{164,138}</string>
			</dict>
			<key>sdbgj_icon_08_82.png</key>
			<dict>
				<key>frame</key>
				<string>{{1860,1580},{165,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1860,1580},{165,138}}</string>
				<key>sourceSize</key>
				<string>{165,138}</string>
			</dict>
			<key>sdbgj_icon_08_64.png</key>
			<dict>
				<key>frame</key>
				<string>{{1490,1896},{165,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1490,1896},{165,138}}</string>
				<key>sourceSize</key>
				<string>{165,138}</string>
			</dict>
			<key>sdbgj_icon_08_84.png</key>
			<dict>
				<key>frame</key>
				<string>{{1490,1580},{165,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1490,1580},{165,138}}</string>
				<key>sourceSize</key>
				<string>{165,138}</string>
			</dict>
			<key>sdbgj_icon_08_56.png</key>
			<dict>
				<key>frame</key>
				<string>{{935,1738},{164,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{935,1738},{164,138}}</string>
				<key>sourceSize</key>
				<string>{164,138}</string>
			</dict>
			<key>sdbgj_icon_08_67.png</key>
			<dict>
				<key>frame</key>
				<string>{{935,1896},{165,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{935,1896},{165,138}}</string>
				<key>sourceSize</key>
				<string>{165,138}</string>
			</dict>
			<key>sdbgj_icon_08_71.png</key>
			<dict>
				<key>frame</key>
				<string>{{195,1896},{165,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{195,1896},{165,138}}</string>
				<key>sourceSize</key>
				<string>{165,138}</string>
			</dict>
			<key>sdbgj_icon_08_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1490,1422},{165,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1490,1422},{165,138}}</string>
				<key>sourceSize</key>
				<string>{165,138}</string>
			</dict>
			<key>sdbgj_icon_08_41.png</key>
			<dict>
				<key>frame</key>
				<string>{{565,158},{165,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{565,158},{165,138}}</string>
				<key>sourceSize</key>
				<string>{165,138}</string>
			</dict>
			<key>sdbgj_icon_08_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{10,1896},{164,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{10,1896},{164,138}}</string>
				<key>sourceSize</key>
				<string>{164,138}</string>
			</dict>
			<key>sdbgj_icon_08_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{935,1264},{164,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{935,1264},{164,138}}</string>
				<key>sourceSize</key>
				<string>{164,138}</string>
			</dict>
			<key>sdbgj_icon_08_85.png</key>
			<dict>
				<key>frame</key>
				<string>{{1305,1580},{165,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1305,1580},{165,138}}</string>
				<key>sourceSize</key>
				<string>{165,138}</string>
			</dict>
			<key>sdbgj_icon_08_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{380,474},{165,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{380,474},{165,138}}</string>
				<key>sourceSize</key>
				<string>{165,138}</string>
			</dict>
			<key>sdbgj_icon_08_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{565,1106},{166,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{565,1106},{166,138}}</string>
				<key>sourceSize</key>
				<string>{166,138}</string>
			</dict>
			<key>sdbgj_icon_08_87.png</key>
			<dict>
				<key>frame</key>
				<string>{{1120,1580},{165,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1120,1580},{165,138}}</string>
				<key>sourceSize</key>
				<string>{165,138}</string>
			</dict>
			<key>sdbgj_icon_08_73.png</key>
			<dict>
				<key>frame</key>
				<string>{{10,1422},{165,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{10,1422},{165,138}}</string>
				<key>sourceSize</key>
				<string>{165,138}</string>
			</dict>
			<key>sdbgj_icon_08_63.png</key>
			<dict>
				<key>frame</key>
				<string>{{1675,1896},{165,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1675,1896},{165,138}}</string>
				<key>sourceSize</key>
				<string>{165,138}</string>
			</dict>
			<key>sdbgj_icon_08_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{1305,948},{166,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1305,948},{166,138}}</string>
				<key>sourceSize</key>
				<string>{166,138}</string>
			</dict>
			<key>sdbgj_icon_08_86.png</key>
			<dict>
				<key>frame</key>
				<string>{{195,474},{165,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{195,474},{165,138}}</string>
				<key>sourceSize</key>
				<string>{165,138}</string>
			</dict>
			<key>sdbgj_icon_08_75.png</key>
			<dict>
				<key>frame</key>
				<string>{{10,1106},{165,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{10,1106},{165,138}}</string>
				<key>sourceSize</key>
				<string>{165,138}</string>
			</dict>
			<key>sdbgj_icon_08_70.png</key>
			<dict>
				<key>frame</key>
				<string>{{380,1896},{165,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{380,1896},{165,138}}</string>
				<key>sourceSize</key>
				<string>{165,138}</string>
			</dict>
			<key>sdbgj_icon_08_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{750,1264},{164,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{750,1264},{164,138}}</string>
				<key>sourceSize</key>
				<string>{164,138}</string>
			</dict>
			<key>sdbgj_icon_08_51.png</key>
			<dict>
				<key>frame</key>
				<string>{{1860,1738},{164,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1860,1738},{164,138}}</string>
				<key>sourceSize</key>
				<string>{164,138}</string>
			</dict>
			<key>sdbgj_icon_08_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{565,1264},{164,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{565,1264},{164,138}}</string>
				<key>sourceSize</key>
				<string>{164,138}</string>
			</dict>
			<key>sdbgj_icon_08_72.png</key>
			<dict>
				<key>frame</key>
				<string>{{10,1580},{165,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{10,1580},{165,138}}</string>
				<key>sourceSize</key>
				<string>{165,138}</string>
			</dict>
			<key>sdbgj_icon_08_94.png</key>
			<dict>
				<key>frame</key>
				<string>{{10,474},{164,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{10,474},{164,138}}</string>
				<key>sourceSize</key>
				<string>{164,138}</string>
			</dict>
			<key>sdbgj_icon_08_96.png</key>
			<dict>
				<key>frame</key>
				<string>{{10,790},{164,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{10,790},{164,138}}</string>
				<key>sourceSize</key>
				<string>{164,138}</string>
			</dict>
			<key>sdbgj_icon_08_83.png</key>
			<dict>
				<key>frame</key>
				<string>{{1675,1580},{165,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1675,1580},{165,138}}</string>
				<key>sourceSize</key>
				<string>{165,138}</string>
			</dict>
			<key>sdbgj_icon_08_31.png</key>
			<dict>
				<key>frame</key>
				<string>{{750,632},{166,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{750,632},{166,138}}</string>
				<key>sourceSize</key>
				<string>{166,138}</string>
			</dict>
			<key>sdbgj_icon_08_27.png</key>
			<dict>
				<key>frame</key>
				<string>{{935,948},{166,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{935,948},{166,138}}</string>
				<key>sourceSize</key>
				<string>{166,138}</string>
			</dict>
			<key>sdbgj_icon_08_80.png</key>
			<dict>
				<key>frame</key>
				<string>{{195,1264},{165,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{195,1264},{165,138}}</string>
				<key>sourceSize</key>
				<string>{165,138}</string>
			</dict>
			<key>sdbgj_icon_08_88.png</key>
			<dict>
				<key>frame</key>
				<string>{{750,1580},{165,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{750,1580},{165,138}}</string>
				<key>sourceSize</key>
				<string>{165,138}</string>
			</dict>
			<key>sdbgj_icon_08_100.png</key>
			<dict>
				<key>frame</key>
				<string>{{380,790},{164,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{380,790},{164,138}}</string>
				<key>sourceSize</key>
				<string>{164,138}</string>
			</dict>
			<key>sdbgj_icon_08_53.png</key>
			<dict>
				<key>frame</key>
				<string>{{1490,1738},{164,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1490,1738},{164,138}}</string>
				<key>sourceSize</key>
				<string>{164,138}</string>
			</dict>
			<key>sdbgj_icon_08_61.png</key>
			<dict>
				<key>frame</key>
				<string>{{10,1738},{165,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{10,1738},{165,138}}</string>
				<key>sourceSize</key>
				<string>{165,138}</string>
			</dict>
			<key>sdbgj_icon_08_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{1490,1264},{166,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1490,1264},{166,138}}</string>
				<key>sourceSize</key>
				<string>{166,138}</string>
			</dict>
			<key>sdbgj_icon_08_55.png</key>
			<dict>
				<key>frame</key>
				<string>{{1120,1738},{164,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1120,1738},{164,138}}</string>
				<key>sourceSize</key>
				<string>{164,138}</string>
			</dict>
			<key>sdbgj_icon_08_33.png</key>
			<dict>
				<key>frame</key>
				<string>{{750,948},{166,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{750,948},{166,138}}</string>
				<key>sourceSize</key>
				<string>{166,138}</string>
			</dict>
			<key>sdbgj_icon_08_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1120,1264},{164,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1120,1264},{164,138}}</string>
				<key>sourceSize</key>
				<string>{164,138}</string>
			</dict>
			<key>sdbgj_icon_08_28.png</key>
			<dict>
				<key>frame</key>
				<string>{{750,158},{166,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{750,158},{166,138}}</string>
				<key>sourceSize</key>
				<string>{166,138}</string>
			</dict>
			<key>sdbgj_icon_08_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{380,158},{164,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{380,158},{164,138}}</string>
				<key>sourceSize</key>
				<string>{164,138}</string>
			</dict>
			<key>sdbgj_icon_08_44.png</key>
			<dict>
				<key>frame</key>
				<string>{{565,632},{164,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{565,632},{164,138}}</string>
				<key>sourceSize</key>
				<string>{164,138}</string>
			</dict>
			<key>sdbgj_icon_08_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{380,1106},{165,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{380,1106},{165,138}}</string>
				<key>sourceSize</key>
				<string>{165,138}</string>
			</dict>
			<key>sdbgj_icon_08_69.png</key>
			<dict>
				<key>frame</key>
				<string>{{565,1896},{165,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{565,1896},{165,138}}</string>
				<key>sourceSize</key>
				<string>{165,138}</string>
			</dict>
			<key>sdbgj_icon_08_42.png</key>
			<dict>
				<key>frame</key>
				<string>{{565,316},{165,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{565,316},{165,138}}</string>
				<key>sourceSize</key>
				<string>{165,138}</string>
			</dict>
			<key>sdbgj_icon_08_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{380,1264},{165,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{380,1264},{165,138}}</string>
				<key>sourceSize</key>
				<string>{165,138}</string>
			</dict>
			<key>sdbgj_icon_08_29.png</key>
			<dict>
				<key>frame</key>
				<string>{{750,316},{166,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{750,316},{166,138}}</string>
				<key>sourceSize</key>
				<string>{166,138}</string>
			</dict>
			<key>sdbgj_icon_08_57.png</key>
			<dict>
				<key>frame</key>
				<string>{{750,1738},{164,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{750,1738},{164,138}}</string>
				<key>sourceSize</key>
				<string>{164,138}</string>
			</dict>
			<key>sdbgj_icon_08_101.png</key>
			<dict>
				<key>frame</key>
				<string>{{380,948},{164,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{380,948},{164,138}}</string>
				<key>sourceSize</key>
				<string>{164,138}</string>
			</dict>
			<key>sdbgj_icon_08_37.png</key>
			<dict>
				<key>frame</key>
				<string>{{1305,1106},{165,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1305,1106},{165,138}}</string>
				<key>sourceSize</key>
				<string>{165,138}</string>
			</dict>
			<key>sdbgj_icon_08_59.png</key>
			<dict>
				<key>frame</key>
				<string>{{380,1738},{164,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{380,1738},{164,138}}</string>
				<key>sourceSize</key>
				<string>{164,138}</string>
			</dict>
			<key>sdbgj_icon_08_81.png</key>
			<dict>
				<key>frame</key>
				<string>{{195,1422},{165,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{195,1422},{165,138}}</string>
				<key>sourceSize</key>
				<string>{165,138}</string>
			</dict>
			<key>sdbgj_icon_08_40.png</key>
			<dict>
				<key>frame</key>
				<string>{{750,1106},{165,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{750,1106},{165,138}}</string>
				<key>sourceSize</key>
				<string>{165,138}</string>
			</dict>
			<key>sdbgj_icon_08_77.png</key>
			<dict>
				<key>frame</key>
				<string>{{195,790},{165,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{195,790},{165,138}}</string>
				<key>sourceSize</key>
				<string>{165,138}</string>
			</dict>
			<key>sdbgj_icon_08_66.png</key>
			<dict>
				<key>frame</key>
				<string>{{1120,1896},{165,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1120,1896},{165,138}}</string>
				<key>sourceSize</key>
				<string>{165,138}</string>
			</dict>
			<key>sdbgj_icon_08_52.png</key>
			<dict>
				<key>frame</key>
				<string>{{1675,1738},{164,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1675,1738},{164,138}}</string>
				<key>sourceSize</key>
				<string>{164,138}</string>
			</dict>
			<key>sdbgj_icon_08_47.png</key>
			<dict>
				<key>frame</key>
				<string>{{380,1422},{164,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{380,1422},{164,138}}</string>
				<key>sourceSize</key>
				<string>{164,138}</string>
			</dict>
			<key>sdbgj_icon_08_79.png</key>
			<dict>
				<key>frame</key>
				<string>{{195,1106},{165,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{195,1106},{165,138}}</string>
				<key>sourceSize</key>
				<string>{165,138}</string>
			</dict>
			<key>sdbgj_icon_08_91.png</key>
			<dict>
				<key>frame</key>
				<string>{{195,1580},{165,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{195,1580},{165,138}}</string>
				<key>sourceSize</key>
				<string>{165,138}</string>
			</dict>
			<key>sdbgj_icon_08_36.png</key>
			<dict>
				<key>frame</key>
				<string>{{1675,1106},{165,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1675,1106},{165,138}}</string>
				<key>sourceSize</key>
				<string>{165,138}</string>
			</dict>
			<key>sdbgj_icon_08_78.png</key>
			<dict>
				<key>frame</key>
				<string>{{195,948},{165,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{195,948},{165,138}}</string>
				<key>sourceSize</key>
				<string>{165,138}</string>
			</dict>
			<key>sdbgj_icon_08_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1305,1264},{164,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1305,1264},{164,138}}</string>
				<key>sourceSize</key>
				<string>{164,138}</string>
			</dict>
			<key>sdbgj_icon_08_46.png</key>
			<dict>
				<key>frame</key>
				<string>{{565,948},{164,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{565,948},{164,138}}</string>
				<key>sourceSize</key>
				<string>{164,138}</string>
			</dict>
			<key>sdbgj_icon_08_92.png</key>
			<dict>
				<key>frame</key>
				<string>{{10,158},{165,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{10,158},{165,138}}</string>
				<key>sourceSize</key>
				<string>{165,138}</string>
			</dict>
			<key>sdbgj_icon_08_60.png</key>
			<dict>
				<key>frame</key>
				<string>{{195,1738},{165,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{195,1738},{165,138}}</string>
				<key>sourceSize</key>
				<string>{165,138}</string>
			</dict>
			<key>sdbgj_icon_08_58.png</key>
			<dict>
				<key>frame</key>
				<string>{{565,1738},{164,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{565,1738},{164,138}}</string>
				<key>sourceSize</key>
				<string>{164,138}</string>
			</dict>
			<key>sdbgj_icon_08_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{750,1422},{166,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{750,1422},{166,138}}</string>
				<key>sourceSize</key>
				<string>{166,138}</string>
			</dict>
			<key>sdbgj_icon_08_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1675,1422},{165,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1675,1422},{165,138}}</string>
				<key>sourceSize</key>
				<string>{165,138}</string>
			</dict>
			<key>sdbgj_icon_08_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{1860,1264},{166,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1860,1264},{166,138}}</string>
				<key>sourceSize</key>
				<string>{166,138}</string>
			</dict>
			<key>sdbgj_icon_08_90.png</key>
			<dict>
				<key>frame</key>
				<string>{{380,1580},{165,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{380,1580},{165,138}}</string>
				<key>sourceSize</key>
				<string>{165,138}</string>
			</dict>
			<key>sdbgj_icon_08_49.png</key>
			<dict>
				<key>frame</key>
				<string>{{195,158},{164,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{195,158},{164,138}}</string>
				<key>sourceSize</key>
				<string>{164,138}</string>
			</dict>
			<key>sdbgj_icon_08_89.png</key>
			<dict>
				<key>frame</key>
				<string>{{565,1580},{165,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{565,1580},{165,138}}</string>
				<key>sourceSize</key>
				<string>{165,138}</string>
			</dict>
			<key>sdbgj_icon_08_38.png</key>
			<dict>
				<key>frame</key>
				<string>{{1120,1106},{165,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1120,1106},{165,138}}</string>
				<key>sourceSize</key>
				<string>{165,138}</string>
			</dict>
			<key>sdbgj_icon_08_93.png</key>
			<dict>
				<key>frame</key>
				<string>{{10,316},{165,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{10,316},{165,138}}</string>
				<key>sourceSize</key>
				<string>{165,138}</string>
			</dict>
			<key>sdbgj_icon_08_95.png</key>
			<dict>
				<key>frame</key>
				<string>{{10,632},{164,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{10,632},{164,138}}</string>
				<key>sourceSize</key>
				<string>{164,138}</string>
			</dict>
			<key>sdbgj_icon_08_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{565,1422},{166,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{565,1422},{166,138}}</string>
				<key>sourceSize</key>
				<string>{166,138}</string>
			</dict>
			<key>sdbgj_icon_08_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{1305,1422},{165,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1305,1422},{165,138}}</string>
				<key>sourceSize</key>
				<string>{165,138}</string>
			</dict>
			<key>sdbgj_icon_08_98.png</key>
			<dict>
				<key>frame</key>
				<string>{{195,316},{164,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{195,316},{164,138}}</string>
				<key>sourceSize</key>
				<string>{164,138}</string>
			</dict>
			<key>sdbgj_icon_08_97.png</key>
			<dict>
				<key>frame</key>
				<string>{{10,948},{164,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{10,948},{164,138}}</string>
				<key>sourceSize</key>
				<string>{164,138}</string>
			</dict>
			<key>sdbgj_icon_08_62.png</key>
			<dict>
				<key>frame</key>
				<string>{{1860,1896},{165,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1860,1896},{165,138}}</string>
				<key>sourceSize</key>
				<string>{165,138}</string>
			</dict>
			<key>sdbgj_icon_08_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1860,1422},{165,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1860,1422},{165,138}}</string>
				<key>sourceSize</key>
				<string>{165,138}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>sdbgj_icon_08_d1.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>sdbgj_icon_08_d1.png</string>
		</dict>
	</dict>
</plist>
