<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>sdbgj_button_load_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1755,324},{348,261}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1755,324},{348,261}}</string>
				<key>sourceSize</key>
				<string>{348,261}</string>
			</dict>
			<key>sdbgj_button_load_40.png</key>
			<dict>
				<key>frame</key>
				<string>{{711,1381},{247,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{711,1381},{247,256}}</string>
				<key>sourceSize</key>
				<string>{247,256}</string>
			</dict>
			<key>sdbgj_button_load_41.png</key>
			<dict>
				<key>frame</key>
				<string>{{713,1035},{245,251}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{713,1035},{245,251}}</string>
				<key>sourceSize</key>
				<string>{245,251}</string>
			</dict>
			<key>sdbgj_button_load_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{2468,321},{338,285}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2468,321},{338,285}}</string>
				<key>sourceSize</key>
				<string>{338,285}</string>
			</dict>
			<key>sdbgj_button_load_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{12,1744},{12,12}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{12,1744},{12,12}}</string>
				<key>sourceSize</key>
				<string>{12,12}</string>
			</dict>
			<key>sdbgj_button_load_32.png</key>
			<dict>
				<key>frame</key>
				<string>{{9,681},{333,272}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,681},{333,272}}</string>
				<key>sourceSize</key>
				<string>{333,272}</string>
			</dict>
			<key>sdbgj_button_load_37.png</key>
			<dict>
				<key>frame</key>
				<string>{{359,678},{248,269}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{359,678},{248,269}}</string>
				<key>sourceSize</key>
				<string>{248,269}</string>
			</dict>
			<key>sdbgj_button_load_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{3519,1003},{340,287}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3519,1003},{340,287}}</string>
				<key>sourceSize</key>
				<string>{340,287}</string>
			</dict>
			<key>sdbgj_button_load_36.png</key>
			<dict>
				<key>frame</key>
				<string>{{351,1029},{315,281}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{351,1029},{315,281}}</string>
				<key>sourceSize</key>
				<string>{315,281}</string>
			</dict>
			<key>sdbgj_button_load_29.png</key>
			<dict>
				<key>frame</key>
				<string>{{1413,317},{334,267}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1413,317},{334,267}}</string>
				<key>sourceSize</key>
				<string>{334,267}</string>
			</dict>
			<key>sdbgj_button_load_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{2808,1347},{341,350}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2808,1347},{341,350}}</string>
				<key>sourceSize</key>
				<string>{341,350}</string>
			</dict>
			<key>sdbgj_button_load_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{2460,1024},{346,301}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2460,1024},{346,301}}</string>
				<key>sourceSize</key>
				<string>{346,301}</string>
			</dict>
			<key>sdbgj_button_load_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{2106,645},{337,350}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2106,645},{337,350}}</string>
				<key>sourceSize</key>
				<string>{337,350}</string>
			</dict>
			<key>sdbgj_button_load_50.png</key>
			<dict>
				<key>frame</key>
				<string>{{1444,1418},{217,217}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1444,1418},{217,217}}</string>
				<key>sourceSize</key>
				<string>{217,217}</string>
			</dict>
			<key>sdbgj_button_load_49.png</key>
			<dict>
				<key>frame</key>
				<string>{{1442,1773},{219,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1442,1773},{219,215}}</string>
				<key>sourceSize</key>
				<string>{219,215}</string>
			</dict>
			<key>sdbgj_button_load_47.png</key>
			<dict>
				<key>frame</key>
				<string>{{1077,698},{251,251}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1077,698},{251,251}}</string>
				<key>sourceSize</key>
				<string>{251,251}</string>
			</dict>
			<key>sdbgj_button_load_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{2825,1025},{332,274}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2825,1025},{332,274}}</string>
				<key>sourceSize</key>
				<string>{332,274}</string>
			</dict>
			<key>sdbgj_button_load_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{2106,1347},{344,350}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2106,1347},{344,350}}</string>
				<key>sourceSize</key>
				<string>{344,350}</string>
			</dict>
			<key>sdbgj_button_load_38.png</key>
			<dict>
				<key>frame</key>
				<string>{{361,331},{246,254}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{361,331},{246,254}}</string>
				<key>sourceSize</key>
				<string>{246,254}</string>
			</dict>
			<key>sdbgj_button_load_35.png</key>
			<dict>
				<key>frame</key>
				<string>{{354,1374},{307,296}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{354,1374},{307,296}}</string>
				<key>sourceSize</key>
				<string>{307,296}</string>
			</dict>
			<key>sdbgj_button_load_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{2106,1728},{347,319}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2106,1728},{347,319}}</string>
				<key>sourceSize</key>
				<string>{347,319}</string>
			</dict>
			<key>sdbgj_button_load_42.png</key>
			<dict>
				<key>frame</key>
				<string>{{720,700},{238,235}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{720,700},{238,235}}</string>
				<key>sourceSize</key>
				<string>{238,235}</string>
			</dict>
			<key>sdbgj_button_load_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{1764,1011},{337,281}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1764,1011},{337,281}}</string>
				<key>sourceSize</key>
				<string>{337,281}</string>
			</dict>
			<key>sdbgj_button_load_54.png</key>
			<dict>
				<key>frame</key>
				<string>{{3185,349},{247,247}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3185,349},{247,247}}</string>
				<key>sourceSize</key>
				<string>{247,247}</string>
			</dict>
			<key>sdbgj_button_load_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{3510,1698},{339,350}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3510,1698},{339,350}}</string>
				<key>sourceSize</key>
				<string>{339,350}</string>
			</dict>
			<key>sdbgj_button_load_27.png</key>
			<dict>
				<key>frame</key>
				<string>{{1765,1366},{339,283}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1765,1366},{339,283}}</string>
				<key>sourceSize</key>
				<string>{339,283}</string>
			</dict>
			<key>sdbgj_button_load_39.png</key>
			<dict>
				<key>frame</key>
				<string>{{717,1730},{241,258}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{717,1730},{241,258}}</string>
				<key>sourceSize</key>
				<string>{241,258}</string>
			</dict>
			<key>sdbgj_button_load_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{3159,1351},{350,337}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3159,1351},{350,337}}</string>
				<key>sourceSize</key>
				<string>{350,337}</string>
			</dict>
			<key>sdbgj_button_load_53.png</key>
			<dict>
				<key>frame</key>
				<string>{{2486,1405},{241,241}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2486,1405},{241,241}}</string>
				<key>sourceSize</key>
				<string>{241,241}</string>
			</dict>
			<key>sdbgj_button_load_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{3510,645},{348,348}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3510,645},{348,348}}</string>
				<key>sourceSize</key>
				<string>{348,348}</string>
			</dict>
			<key>sdbgj_button_load_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{2810,650},{344,288}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2810,650},{344,288}}</string>
				<key>sourceSize</key>
				<string>{344,288}</string>
			</dict>
			<key>sdbgj_button_load_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{3159,656},{348,291}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3159,656},{348,291}}</string>
				<key>sourceSize</key>
				<string>{348,291}</string>
			</dict>
			<key>sdbgj_button_load_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1755,677},{340,257}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1755,677},{340,257}}</string>
				<key>sourceSize</key>
				<string>{340,257}</string>
			</dict>
			<key>sdbgj_button_load_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{2106,996},{342,350}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2106,996},{342,350}}</string>
				<key>sourceSize</key>
				<string>{342,350}</string>
			</dict>
			<key>sdbgj_button_load_28.png</key>
			<dict>
				<key>frame</key>
				<string>{{1769,1718},{329,270}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1769,1718},{329,270}}</string>
				<key>sourceSize</key>
				<string>{329,270}</string>
			</dict>
			<key>sdbgj_button_load_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{3159,1698},{343,350}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3159,1698},{343,350}}</string>
				<key>sourceSize</key>
				<string>{343,350}</string>
			</dict>
			<key>sdbgj_button_load_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{2811,301},{338,292}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2811,301},{338,292}}</string>
				<key>sourceSize</key>
				<string>{338,292}</string>
			</dict>
			<key>sdbgj_button_load_44.png</key>
			<dict>
				<key>frame</key>
				<string>{{1064,1761},{252,231}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1064,1761},{252,231}}</string>
				<key>sourceSize</key>
				<string>{252,231}</string>
			</dict>
			<key>sdbgj_button_load_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{3168,1023},{340,267}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3168,1023},{340,267}}</string>
				<key>sourceSize</key>
				<string>{340,267}</string>
			</dict>
			<key>sdbgj_button_load_30.png</key>
			<dict>
				<key>frame</key>
				<string>{{11,1374},{328,264}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{11,1374},{328,264}}</string>
				<key>sourceSize</key>
				<string>{328,264}</string>
			</dict>
			<key>sdbgj_button_load_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{2106,294},{341,350}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2106,294},{341,350}}</string>
				<key>sourceSize</key>
				<string>{341,350}</string>
			</dict>
			<key>sdbgj_button_load_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{2457,1729},{350,318}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2457,1729},{350,318}}</string>
				<key>sourceSize</key>
				<string>{350,318}</string>
			</dict>
			<key>sdbgj_button_load_33.png</key>
			<dict>
				<key>frame</key>
				<string>{{9,323},{329,284}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,323},{329,284}}</string>
				<key>sourceSize</key>
				<string>{329,284}</string>
			</dict>
			<key>sdbgj_button_load_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{3510,1362},{350,321}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3510,1362},{350,321}}</string>
				<key>sourceSize</key>
				<string>{350,321}</string>
			</dict>
			<key>sdbgj_button_load_45.png</key>
			<dict>
				<key>frame</key>
				<string>{{1076,1405},{247,241}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1076,1405},{247,241}}</string>
				<key>sourceSize</key>
				<string>{247,241}</string>
			</dict>
			<key>sdbgj_button_load_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{2808,1732},{343,315}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2808,1732},{343,315}}</string>
				<key>sourceSize</key>
				<string>{343,315}</string>
			</dict>
			<key>sdbgj_button_load_48.png</key>
			<dict>
				<key>frame</key>
				<string>{{1091,373},{219,211}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1091,373},{219,211}}</string>
				<key>sourceSize</key>
				<string>{219,211}</string>
			</dict>
			<key>sdbgj_button_load_46.png</key>
			<dict>
				<key>frame</key>
				<string>{{1079,1051},{247,247}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1079,1051},{247,247}}</string>
				<key>sourceSize</key>
				<string>{247,247}</string>
			</dict>
			<key>sdbgj_button_load_43.png</key>
			<dict>
				<key>frame</key>
				<string>{{712,363},{249,221}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{712,363},{249,221}}</string>
				<key>sourceSize</key>
				<string>{249,221}</string>
			</dict>
			<key>sdbgj_button_load_31.png</key>
			<dict>
				<key>frame</key>
				<string>{{18,1027},{326,260}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{18,1027},{326,260}}</string>
				<key>sourceSize</key>
				<string>{326,260}</string>
			</dict>
			<key>sdbgj_button_load_34.png</key>
			<dict>
				<key>frame</key>
				<string>{{354,1728},{322,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{354,1728},{322,300}}</string>
				<key>sourceSize</key>
				<string>{322,300}</string>
			</dict>
			<key>sdbgj_button_load_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{2466,679},{340,287}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2466,679},{340,287}}</string>
				<key>sourceSize</key>
				<string>{340,287}</string>
			</dict>
			<key>sdbgj_button_load_51.png</key>
			<dict>
				<key>frame</key>
				<string>{{1441,1062},{225,225}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1441,1062},{225,225}}</string>
				<key>sourceSize</key>
				<string>{225,225}</string>
			</dict>
			<key>sdbgj_button_load_52.png</key>
			<dict>
				<key>frame</key>
				<string>{{1439,709},{229,229}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1439,709},{229,229}}</string>
				<key>sourceSize</key>
				<string>{229,229}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>sdbgj_button_load.png</string>
			<key>size</key>
			<string>{4096,2048}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>sdbgj_button_load.png</string>
		</dict>
	</dict>
</plist>
