<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jb_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,180},{78,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,79}}</string>
                <key>sourceSize</key>
                <string>{78,79}</string>
            </dict>
            <key>jb_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,107},{78,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,79}}</string>
                <key>sourceSize</key>
                <string>{78,79}</string>
            </dict>
            <key>jb_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,181},{70,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,79}}</string>
                <key>sourceSize</key>
                <string>{70,79}</string>
            </dict>
            <key>jb_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{58,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,80}}</string>
                <key>sourceSize</key>
                <string>{58,80}</string>
            </dict>
            <key>jb_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{51,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,80}}</string>
                <key>sourceSize</key>
                <string>{51,80}</string>
            </dict>
            <key>jb_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,187},{39,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,79}}</string>
                <key>sourceSize</key>
                <string>{39,79}</string>
            </dict>
            <key>jb_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,71},{28,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,80}}</string>
                <key>sourceSize</key>
                <string>{28,80}</string>
            </dict>
            <key>jb_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,252},{20,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,79}}</string>
                <key>sourceSize</key>
                <string>{20,79}</string>
            </dict>
            <key>jb_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,260},{16,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,79}}</string>
                <key>sourceSize</key>
                <string>{16,79}</string>
            </dict>
            <key>jb_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,228},{22,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,79}}</string>
                <key>sourceSize</key>
                <string>{22,79}</string>
            </dict>
            <key>jb_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,62},{36,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,80}}</string>
                <key>sourceSize</key>
                <string>{36,80}</string>
            </dict>
            <key>jb_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,55},{50,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,80}}</string>
                <key>sourceSize</key>
                <string>{50,80}</string>
            </dict>
            <key>jb_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,253},{59,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,79}}</string>
                <key>sourceSize</key>
                <string>{59,79}</string>
            </dict>
            <key>jb_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{67,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,80}}</string>
                <key>sourceSize</key>
                <string>{67,80}</string>
            </dict>
            <key>jb_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,101},{78,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,79}}</string>
                <key>sourceSize</key>
                <string>{78,79}</string>
            </dict>
            <key>jb_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,100},{78,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,79}}</string>
                <key>sourceSize</key>
                <string>{78,79}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gold.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0e872f9e057a5d0658d112da1d03728a$</string>
            <key>textureFileName</key>
            <string>gold.png</string>
        </dict>
    </dict>
</plist>
