<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ts_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,446},{147,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,146}}</string>
                <key>sourceSize</key>
                <string>{147,146}</string>
            </dict>
            <key>ts_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,298},{147,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,146}}</string>
                <key>sourceSize</key>
                <string>{147,146}</string>
            </dict>
            <key>ts_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,298},{147,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,146}}</string>
                <key>sourceSize</key>
                <string>{147,146}</string>
            </dict>
            <key>ts_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,298},{147,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,146}}</string>
                <key>sourceSize</key>
                <string>{147,146}</string>
            </dict>
            <key>ts_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,298},{147,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,146}}</string>
                <key>sourceSize</key>
                <string>{147,146}</string>
            </dict>
            <key>ts_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,745},{147,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,146}}</string>
                <key>sourceSize</key>
                <string>{147,146}</string>
            </dict>
            <key>ts_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,596},{147,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,146}}</string>
                <key>sourceSize</key>
                <string>{147,146}</string>
            </dict>
            <key>ts_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,447},{147,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,146}}</string>
                <key>sourceSize</key>
                <string>{147,146}</string>
            </dict>
            <key>ts_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,298},{147,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,146}}</string>
                <key>sourceSize</key>
                <string>{147,146}</string>
            </dict>
            <key>ts_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,150},{147,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,146}}</string>
                <key>sourceSize</key>
                <string>{147,146}</string>
            </dict>
            <key>ts_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,150},{147,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,146}}</string>
                <key>sourceSize</key>
                <string>{147,146}</string>
            </dict>
            <key>ts_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,150},{147,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,146}}</string>
                <key>sourceSize</key>
                <string>{147,146}</string>
            </dict>
            <key>ts_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,150},{147,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,146}}</string>
                <key>sourceSize</key>
                <string>{147,146}</string>
            </dict>
            <key>ts_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,150},{147,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,146}}</string>
                <key>sourceSize</key>
                <string>{147,146}</string>
            </dict>
            <key>ts_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,746},{147,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,146}}</string>
                <key>sourceSize</key>
                <string>{147,146}</string>
            </dict>
            <key>ts_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,597},{147,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,146}}</string>
                <key>sourceSize</key>
                <string>{147,146}</string>
            </dict>
            <key>ts_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,448},{147,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,146}}</string>
                <key>sourceSize</key>
                <string>{147,146}</string>
            </dict>
            <key>ts_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,299},{147,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,146}}</string>
                <key>sourceSize</key>
                <string>{147,146}</string>
            </dict>
            <key>ts_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{147,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,146}}</string>
                <key>sourceSize</key>
                <string>{147,146}</string>
            </dict>
            <key>ts_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,2},{147,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,146}}</string>
                <key>sourceSize</key>
                <string>{147,146}</string>
            </dict>
            <key>ts_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,2},{147,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,146}}</string>
                <key>sourceSize</key>
                <string>{147,146}</string>
            </dict>
            <key>ts_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,2},{147,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,146}}</string>
                <key>sourceSize</key>
                <string>{147,146}</string>
            </dict>
            <key>ts_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,2},{147,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,146}}</string>
                <key>sourceSize</key>
                <string>{147,146}</string>
            </dict>
            <key>ts_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,2},{147,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,146}}</string>
                <key>sourceSize</key>
                <string>{147,146}</string>
            </dict>
            <key>ts_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{147,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,146}}</string>
                <key>sourceSize</key>
                <string>{147,146}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ygbh_icon_ts.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ea1cf7ac8cf1570f9e8650490430512a$</string>
            <key>textureFileName</key>
            <string>ygbh_icon_ts.png</string>
        </dict>
    </dict>
</plist>
