<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zzb_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,455},{150,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,149}}</string>
                <key>sourceSize</key>
                <string>{150,149}</string>
            </dict>
            <key>zzb_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,304},{150,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,149}}</string>
                <key>sourceSize</key>
                <string>{150,149}</string>
            </dict>
            <key>zzb_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,304},{150,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,149}}</string>
                <key>sourceSize</key>
                <string>{150,149}</string>
            </dict>
            <key>zzb_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,304},{150,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,149}}</string>
                <key>sourceSize</key>
                <string>{150,149}</string>
            </dict>
            <key>zzb_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,304},{150,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,149}}</string>
                <key>sourceSize</key>
                <string>{150,149}</string>
            </dict>
            <key>zzb_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,760},{150,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,149}}</string>
                <key>sourceSize</key>
                <string>{150,149}</string>
            </dict>
            <key>zzb_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,608},{150,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,149}}</string>
                <key>sourceSize</key>
                <string>{150,149}</string>
            </dict>
            <key>zzb_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,456},{150,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,149}}</string>
                <key>sourceSize</key>
                <string>{150,149}</string>
            </dict>
            <key>zzb_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,304},{150,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,149}}</string>
                <key>sourceSize</key>
                <string>{150,149}</string>
            </dict>
            <key>zzb_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,153},{150,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,149}}</string>
                <key>sourceSize</key>
                <string>{150,149}</string>
            </dict>
            <key>zzb_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,153},{150,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,149}}</string>
                <key>sourceSize</key>
                <string>{150,149}</string>
            </dict>
            <key>zzb_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,153},{150,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,149}}</string>
                <key>sourceSize</key>
                <string>{150,149}</string>
            </dict>
            <key>zzb_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,153},{150,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,149}}</string>
                <key>sourceSize</key>
                <string>{150,149}</string>
            </dict>
            <key>zzb_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,153},{150,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,149}}</string>
                <key>sourceSize</key>
                <string>{150,149}</string>
            </dict>
            <key>zzb_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,761},{150,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,149}}</string>
                <key>sourceSize</key>
                <string>{150,149}</string>
            </dict>
            <key>zzb_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,609},{150,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,149}}</string>
                <key>sourceSize</key>
                <string>{150,149}</string>
            </dict>
            <key>zzb_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,457},{150,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,149}}</string>
                <key>sourceSize</key>
                <string>{150,149}</string>
            </dict>
            <key>zzb_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,305},{150,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,149}}</string>
                <key>sourceSize</key>
                <string>{150,149}</string>
            </dict>
            <key>zzb_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,153},{150,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,149}}</string>
                <key>sourceSize</key>
                <string>{150,149}</string>
            </dict>
            <key>zzb_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,2},{150,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,149}}</string>
                <key>sourceSize</key>
                <string>{150,149}</string>
            </dict>
            <key>zzb_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,2},{150,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,149}}</string>
                <key>sourceSize</key>
                <string>{150,149}</string>
            </dict>
            <key>zzb_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,2},{150,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,149}}</string>
                <key>sourceSize</key>
                <string>{150,149}</string>
            </dict>
            <key>zzb_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,2},{150,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,149}}</string>
                <key>sourceSize</key>
                <string>{150,149}</string>
            </dict>
            <key>zzb_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{150,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,149}}</string>
                <key>sourceSize</key>
                <string>{150,149}</string>
            </dict>
            <key>zzb_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{150,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,149}}</string>
                <key>sourceSize</key>
                <string>{150,149}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ygbh_icon_zzb.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:38360b4e72bb4f63c00f0a93e82eb660$</string>
            <key>textureFileName</key>
            <string>ygbh_icon_zzb.png</string>
        </dict>
    </dict>
</plist>
