<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgj_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,268},{131,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,151}}</string>
                <key>sourceSize</key>
                <string>{131,151}</string>
            </dict>
            <key>bgj_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,268},{131,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,151}}</string>
                <key>sourceSize</key>
                <string>{131,151}</string>
            </dict>
            <key>bgj_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,268},{131,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,151}}</string>
                <key>sourceSize</key>
                <string>{131,151}</string>
            </dict>
            <key>bgj_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,268},{131,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,151}}</string>
                <key>sourceSize</key>
                <string>{131,151}</string>
            </dict>
            <key>bgj_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,135},{131,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,151}}</string>
                <key>sourceSize</key>
                <string>{131,151}</string>
            </dict>
            <key>bgj_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,135},{131,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,151}}</string>
                <key>sourceSize</key>
                <string>{131,151}</string>
            </dict>
            <key>bgj_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,135},{131,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,151}}</string>
                <key>sourceSize</key>
                <string>{131,151}</string>
            </dict>
            <key>bgj_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,135},{131,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,151}}</string>
                <key>sourceSize</key>
                <string>{131,151}</string>
            </dict>
            <key>bgj_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,135},{131,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,151}}</string>
                <key>sourceSize</key>
                <string>{131,151}</string>
            </dict>
            <key>bgj_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,747},{131,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,151}}</string>
                <key>sourceSize</key>
                <string>{131,151}</string>
            </dict>
            <key>bgj_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,594},{131,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,151}}</string>
                <key>sourceSize</key>
                <string>{131,151}</string>
            </dict>
            <key>bgj_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,441},{131,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,151}}</string>
                <key>sourceSize</key>
                <string>{131,151}</string>
            </dict>
            <key>bgj_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,288},{131,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,151}}</string>
                <key>sourceSize</key>
                <string>{131,151}</string>
            </dict>
            <key>bgj_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,135},{131,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,151}}</string>
                <key>sourceSize</key>
                <string>{131,151}</string>
            </dict>
            <key>bgj_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,2},{131,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,151}}</string>
                <key>sourceSize</key>
                <string>{131,151}</string>
            </dict>
            <key>bgj_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,2},{131,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,151}}</string>
                <key>sourceSize</key>
                <string>{131,151}</string>
            </dict>
            <key>bgj_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,2},{131,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,151}}</string>
                <key>sourceSize</key>
                <string>{131,151}</string>
            </dict>
            <key>bgj_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,2},{131,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,151}}</string>
                <key>sourceSize</key>
                <string>{131,151}</string>
            </dict>
            <key>bgj_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,2},{131,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,151}}</string>
                <key>sourceSize</key>
                <string>{131,151}</string>
            </dict>
            <key>bgj_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,767},{131,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,151}}</string>
                <key>sourceSize</key>
                <string>{131,151}</string>
            </dict>
            <key>bgj_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,614},{131,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,151}}</string>
                <key>sourceSize</key>
                <string>{131,151}</string>
            </dict>
            <key>bgj_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,461},{131,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,151}}</string>
                <key>sourceSize</key>
                <string>{131,151}</string>
            </dict>
            <key>bgj_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,308},{131,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,151}}</string>
                <key>sourceSize</key>
                <string>{131,151}</string>
            </dict>
            <key>bgj_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,155},{131,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,151}}</string>
                <key>sourceSize</key>
                <string>{131,151}</string>
            </dict>
            <key>bgj_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{131,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,151}}</string>
                <key>sourceSize</key>
                <string>{131,151}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ygbh_icon_wild_bjj.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:651d7e006a3550fe4db7a990c40629e4$</string>
            <key>textureFileName</key>
            <string>ygbh_icon_wild_bjj.png</string>
        </dict>
    </dict>
</plist>
