<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>T-REXPist/2066_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{301,392},{170,12}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{170,12}</string>
			</dict>
			<key>T-REXPist/2066_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{201,457},{149,13}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{152,13}</string>
			</dict>
			<key>T-REXPist/2066_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{151,499},{206,12}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{206,12}</string>
			</dict>
			<key>T-REXPist/2066_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{455,406},{107,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{107,14}</string>
			</dict>
			<key>T-REXPist/2066AutoPlay_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{151,1},{164,48}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{165,48}</string>
			</dict>
			<key>T-REXPist/2066AutoPlay_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{151,167},{164,48}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{165,48}</string>
			</dict>
			<key>T-REXPist/2066AutoPlay_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{151,333},{164,48}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{165,48}</string>
			</dict>
			<key>T-REXPist/2066Bet_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{201,167},{120,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{120,48}</string>
			</dict>
			<key>T-REXPist/2066Bet_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{251,167},{120,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{120,48}</string>
			</dict>
			<key>T-REXPist/2066Down_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{414,462},{49,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,49}</string>
			</dict>
			<key>T-REXPist/2066Down_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{465,462},{49,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,49}</string>
			</dict>
			<key>T-REXPist/2066Down_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{516,450},{49,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,49}</string>
			</dict>
			<key>T-REXPist/2066LineBtn01_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{352,462},{60,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,26}</string>
			</dict>
			<key>T-REXPist/2066LineBtn01_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{498,422},{60,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,26}</string>
			</dict>
			<key>T-REXPist/2066LineBtn02_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{560,422},{60,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,26}</string>
			</dict>
			<key>T-REXPist/2066LineBtn02_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{323,335},{60,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,26}</string>
			</dict>
			<key>T-REXPist/2066LineBtn03_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{348,167},{60,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,26}</string>
			</dict>
			<key>T-REXPist/2066LineBtn03_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{348,229},{60,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,26}</string>
			</dict>
			<key>T-REXPist/2066LineBtn04_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{376,167},{60,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,26}</string>
			</dict>
			<key>T-REXPist/2066LineBtn04_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{404,167},{60,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,26}</string>
			</dict>
			<key>T-REXPist/2066LineBtn05_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{374,257},{60,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,26}</string>
			</dict>
			<key>T-REXPist/2066LineBtn05_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{385,319},{60,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,26}</string>
			</dict>
			<key>T-REXPist/2066LineBtn06_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{402,257},{60,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,26}</string>
			</dict>
			<key>T-REXPist/2066LineBtn06_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{410,229},{60,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,26}</string>
			</dict>
			<key>T-REXPist/2066LineBtn07_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{430,257},{60,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,26}</string>
			</dict>
			<key>T-REXPist/2066LineBtn07_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{447,319},{60,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,26}</string>
			</dict>
			<key>T-REXPist/2066LineBtn08_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{458,257},{60,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,26}</string>
			</dict>
			<key>T-REXPist/2066LineBtn08_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{409,1},{60,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,26}</string>
			</dict>
			<key>T-REXPist/2066LineBtn09_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{409,63},{60,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,26}</string>
			</dict>
			<key>T-REXPist/2066LineBtn09_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{409,125},{60,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,26}</string>
			</dict>
			<key>T-REXPist/2066LineBtn10_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{432,153},{60,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,26}</string>
			</dict>
			<key>T-REXPist/2066LineBtn10_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{460,153},{60,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,26}</string>
			</dict>
			<key>T-REXPist/2066LineBtn11_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{472,215},{60,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,26}</string>
			</dict>
			<key>T-REXPist/2066LineBtn11_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{486,243},{60,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,26}</string>
			</dict>
			<key>T-REXPist/2066LineBtn12_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{509,305},{60,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,26}</string>
			</dict>
			<key>T-REXPist/2066LineBtn12_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{516,367},{60,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,26}</string>
			</dict>
			<key>T-REXPist/2066LineBtn13_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{514,243},{60,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,26}</string>
			</dict>
			<key>T-REXPist/2066LineBtn13_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{537,305},{60,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,26}</string>
			</dict>
			<key>T-REXPist/2066LineBtn14_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{437,1},{60,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,26}</string>
			</dict>
			<key>T-REXPist/2066LineBtn14_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{437,63},{60,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,26}</string>
			</dict>
			<key>T-REXPist/2066LineBtn15_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{465,1},{60,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,26}</string>
			</dict>
			<key>T-REXPist/2066LineBtn15_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{465,63},{60,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,26}</string>
			</dict>
			<key>T-REXPist/2066LineBtn16_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{471,125},{60,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,26}</string>
			</dict>
			<key>T-REXPist/2066LineBtn16_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{488,153},{60,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,26}</string>
			</dict>
			<key>T-REXPist/2066LineBtn17_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{516,153},{60,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,26}</string>
			</dict>
			<key>T-REXPist/2066LineBtn17_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{534,215},{60,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,26}</string>
			</dict>
			<key>T-REXPist/2066LineBtn18_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{542,243},{60,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,26}</string>
			</dict>
			<key>T-REXPist/2066LineBtn18_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{565,305},{60,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,26}</string>
			</dict>
			<key>T-REXPist/2066LineBtn19_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{578,367},{60,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,26}</string>
			</dict>
			<key>T-REXPist/2066LineBtn19_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{622,395},{60,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,26}</string>
			</dict>
			<key>T-REXPist/2066LineBtn20_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{570,243},{60,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,26}</string>
			</dict>
			<key>T-REXPist/2066LineBtn20_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{593,305},{60,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,26}</string>
			</dict>
			<key>T-REXPist/2066LineBtn21_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{669,423},{60,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,26}</string>
			</dict>
			<key>T-REXPist/2066LineBtn21_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{669,485},{60,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,26}</string>
			</dict>
			<key>T-REXPist/2066LineBtn22_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{493,1},{60,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,26}</string>
			</dict>
			<key>T-REXPist/2066LineBtn22_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{493,63},{60,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,26}</string>
			</dict>
			<key>T-REXPist/2066LineBtn23_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{521,1},{60,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,26}</string>
			</dict>
			<key>T-REXPist/2066LineBtn23_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{521,63},{60,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,26}</string>
			</dict>
			<key>T-REXPist/2066LineBtn24_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{533,125},{60,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,26}</string>
			</dict>
			<key>T-REXPist/2066LineBtn24_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{544,153},{60,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,26}</string>
			</dict>
			<key>T-REXPist/2066LineBtn25_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{572,153},{60,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,26}</string>
			</dict>
			<key>T-REXPist/2066LineBtn25_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{596,215},{60,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,26}</string>
			</dict>
			<key>T-REXPist/2066Lines_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{201,289},{120,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{120,48}</string>
			</dict>
			<key>T-REXPist/2066Lines_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{251,289},{120,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{120,48}</string>
			</dict>
			<key>T-REXPist/2066Prompt02_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{359,434},{137,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,26}</string>
			</dict>
			<key>T-REXPist/2066Prompt02_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{301,1},{364,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{364,21}</string>
			</dict>
			<key>T-REXPist/2066Prompt02_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{201,411},{252,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{252,21}</string>
			</dict>
			<key>T-REXPist/2066Prompt02_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{301,367},{213,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{214,23}</string>
			</dict>
			<key>T-REXPist/2066Prompt02_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{323,1},{281,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{282,23}</string>
			</dict>
			<key>T-REXPist/2066Prompt02_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{201,434},{155,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,21}</string>
			</dict>
			<key>T-REXPist/2066ReturnBtn1.png</key>
			<dict>
				<key>frame</key>
				<string>{{359,1},{164,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{164,48}</string>
			</dict>
			<key>T-REXPist/2066ReturnBtn2.png</key>
			<dict>
				<key>frame</key>
				<string>{{201,1},{164,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{164,48}</string>
			</dict>
			<key>T-REXPist/2066ReturnBtn3.png</key>
			<dict>
				<key>frame</key>
				<string>{{251,1},{164,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{164,48}</string>
			</dict>
			<key>T-REXPist/2066Spin_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{165,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{165,48}</string>
			</dict>
			<key>T-REXPist/2066Spin_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,168},{165,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{165,48}</string>
			</dict>
			<key>T-REXPist/2066Spin_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,335},{165,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{165,48}</string>
			</dict>
			<key>T-REXPist/2066Stop_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{51,1},{165,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{165,48}</string>
			</dict>
			<key>T-REXPist/2066Stop_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{51,168},{165,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{165,48}</string>
			</dict>
			<key>T-REXPist/2066Stop_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{51,335},{165,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{165,48}</string>
			</dict>
			<key>T-REXPist/2066StopAuto_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{101,1},{165,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{165,48}</string>
			</dict>
			<key>T-REXPist/2066StopAuto_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{101,168},{165,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{165,48}</string>
			</dict>
			<key>T-REXPist/2066StopAuto_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{101,335},{165,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{165,48}</string>
			</dict>
			<key>T-REXPist/2066Up_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{567,450},{49,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,49}</string>
			</dict>
			<key>T-REXPist/2066Up_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{618,450},{49,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,49}</string>
			</dict>
			<key>T-REXPist/2066Up_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{323,284},{49,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,49}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>T-REXPist.png</string>
			<key>realTextureFileName</key>
			<string>T-REXPist.png</string>
			<key>size</key>
			<string>{730,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>730</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>