<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Black_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,771},{168,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,168}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>Black_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,602},{168,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,168}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>Black_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,771},{168,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,168}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>Card_01.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{508,602},{139,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,185}}</string>
                <key>sourceSize</key>
                <string>{139,185}</string>
            </dict>
            <key>Card_02.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{802,559},{139,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,185}}</string>
                <key>sourceSize</key>
                <string>{139,185}</string>
            </dict>
            <key>Card_03.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{802,373},{139,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,185}}</string>
                <key>sourceSize</key>
                <string>{139,185}</string>
            </dict>
            <key>Card_04.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{802,187},{139,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,185}}</string>
                <key>sourceSize</key>
                <string>{139,185}</string>
            </dict>
            <key>Card_05.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{802,1},{139,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,185}}</string>
                <key>sourceSize</key>
                <string>{139,185}</string>
            </dict>
            <key>Collect_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,675},{148,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,72}}</string>
                <key>sourceSize</key>
                <string>{148,72}</string>
            </dict>
            <key>Collect_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,602},{148,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,72}}</string>
                <key>sourceSize</key>
                <string>{148,72}</string>
            </dict>
            <key>GambleBG.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{800,600}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,600}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>Red_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,602},{168,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,168}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>Red_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,771},{168,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,168}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>Red_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,602},{168,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,168}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>dealer_wins.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,748},{227,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,38}}</string>
                <key>sourceSize</key>
                <string>{227,38}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BsUI.png</string>
            <key>size</key>
            <string>{942,940}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7caeb412d8e4a2235d8ec2ae9464ac07:1/1$</string>
            <key>textureFileName</key>
            <string>BsUI.png</string>
        </dict>
    </dict>
</plist>
