<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10More_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,602},{523,366}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{523,366}}</string>
                <key>sourceSize</key>
                <string>{523,366}</string>
            </dict>
            <key>AutoPlay_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,834},{115,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,53}}</string>
                <key>sourceSize</key>
                <string>{115,53}</string>
            </dict>
            <key>AutoPlay_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,718},{115,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,53}}</string>
                <key>sourceSize</key>
                <string>{115,53}</string>
            </dict>
            <key>AutoPlay_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,854},{115,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,53}}</string>
                <key>sourceSize</key>
                <string>{115,53}</string>
            </dict>
            <key>AutoStop_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,738},{115,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,53}}</string>
                <key>sourceSize</key>
                <string>{115,53}</string>
            </dict>
            <key>AutoStop_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,602},{115,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,53}}</string>
                <key>sourceSize</key>
                <string>{115,53}</string>
            </dict>
            <key>AutoStop_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,598},{115,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,53}}</string>
                <key>sourceSize</key>
                <string>{115,53}</string>
            </dict>
            <key>BG00.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{800,600}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,600}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>Back_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,950},{72,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,41}}</string>
                <key>sourceSize</key>
                <string>{72,41}</string>
            </dict>
            <key>Back_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,602},{72,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,41}}</string>
                <key>sourceSize</key>
                <string>{72,41}</string>
            </dict>
            <key>Balance.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,602},{178,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,90}}</string>
                <key>sourceSize</key>
                <string>{178,90}</string>
            </dict>
            <key>BigBlue.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,1},{409,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{409,55}}</string>
                <key>sourceSize</key>
                <string>{409,55}</string>
            </dict>
            <key>Continue_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,693},{141,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,44}}</string>
                <key>sourceSize</key>
                <string>{141,44}</string>
            </dict>
            <key>Continue_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,411},{141,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,44}}</string>
                <key>sourceSize</key>
                <string>{141,44}</string>
            </dict>
            <key>Down_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,768},{86,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,53}}</string>
                <key>sourceSize</key>
                <string>{86,53}</string>
            </dict>
            <key>Down_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,868},{86,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,53}}</string>
                <key>sourceSize</key>
                <string>{86,53}</string>
            </dict>
            <key>Down_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,814},{86,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,53}}</string>
                <key>sourceSize</key>
                <string>{86,53}</string>
            </dict>
            <key>FreeSpins.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,1},{758,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{758,58}}</string>
                <key>sourceSize</key>
                <string>{758,58}</string>
            </dict>
            <key>GameMenuBtn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,768},{49,44}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{49,44}}</string>
                <key>sourceSize</key>
                <string>{49,46}</string>
            </dict>
            <key>GameMenuBtn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,553},{49,44}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{49,44}}</string>
                <key>sourceSize</key>
                <string>{49,46}</string>
            </dict>
            <key>Jackpot.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,1},{596,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{596,32}}</string>
                <key>sourceSize</key>
                <string>{596,32}</string>
            </dict>
            <key>LineBtn01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,993},{28,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,29}}</string>
                <key>sourceSize</key>
                <string>{28,29}</string>
            </dict>
            <key>LineBtn01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,963},{28,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,29}}</string>
                <key>sourceSize</key>
                <string>{28,29}</string>
            </dict>
            <key>LineBtn02_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,933},{28,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,29}}</string>
                <key>sourceSize</key>
                <string>{28,29}</string>
            </dict>
            <key>LineBtn02_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,561},{28,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,29}}</string>
                <key>sourceSize</key>
                <string>{28,29}</string>
            </dict>
            <key>LineBtn03_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,531},{28,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,29}}</string>
                <key>sourceSize</key>
                <string>{28,29}</string>
            </dict>
            <key>LineBtn03_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{939,501},{28,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,29}}</string>
                <key>sourceSize</key>
                <string>{28,29}</string>
            </dict>
            <key>LineBtn04_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{939,471},{28,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,29}}</string>
                <key>sourceSize</key>
                <string>{28,29}</string>
            </dict>
            <key>LineBtn04_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{939,441},{28,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,29}}</string>
                <key>sourceSize</key>
                <string>{28,29}</string>
            </dict>
            <key>LineBtn05_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{939,411},{28,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,29}}</string>
                <key>sourceSize</key>
                <string>{28,29}</string>
            </dict>
            <key>LineBtn05_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,705},{28,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,29}}</string>
                <key>sourceSize</key>
                <string>{28,29}</string>
            </dict>
            <key>LineBtn06_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,972},{28,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,29}}</string>
                <key>sourceSize</key>
                <string>{28,29}</string>
            </dict>
            <key>LineBtn06_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,942},{28,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,29}}</string>
                <key>sourceSize</key>
                <string>{28,29}</string>
            </dict>
            <key>LineBtn07_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,972},{28,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,29}}</string>
                <key>sourceSize</key>
                <string>{28,29}</string>
            </dict>
            <key>LineBtn07_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,942},{28,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,29}}</string>
                <key>sourceSize</key>
                <string>{28,29}</string>
            </dict>
            <key>LineBtn08_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,972},{28,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,29}}</string>
                <key>sourceSize</key>
                <string>{28,29}</string>
            </dict>
            <key>LineBtn08_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,942},{28,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,29}}</string>
                <key>sourceSize</key>
                <string>{28,29}</string>
            </dict>
            <key>LineBtn09_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,982},{28,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,29}}</string>
                <key>sourceSize</key>
                <string>{28,29}</string>
            </dict>
            <key>LineBtn09_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,952},{28,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,29}}</string>
                <key>sourceSize</key>
                <string>{28,29}</string>
            </dict>
            <key>LineBtn10_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,970},{28,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,29}}</string>
                <key>sourceSize</key>
                <string>{28,29}</string>
            </dict>
            <key>LineBtn10_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,984},{28,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,29}}</string>
                <key>sourceSize</key>
                <string>{28,29}</string>
            </dict>
            <key>LineBtn11_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,984},{28,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,29}}</string>
                <key>sourceSize</key>
                <string>{28,29}</string>
            </dict>
            <key>LineBtn11_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,954},{28,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,29}}</string>
                <key>sourceSize</key>
                <string>{28,29}</string>
            </dict>
            <key>LineBtn12_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,954},{28,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,29}}</string>
                <key>sourceSize</key>
                <string>{28,29}</string>
            </dict>
            <key>LineBtn12_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,982},{28,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,29}}</string>
                <key>sourceSize</key>
                <string>{28,29}</string>
            </dict>
            <key>LineBtn13_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,952},{28,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,29}}</string>
                <key>sourceSize</key>
                <string>{28,29}</string>
            </dict>
            <key>LineBtn13_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,981},{28,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,29}}</string>
                <key>sourceSize</key>
                <string>{28,29}</string>
            </dict>
            <key>LineBtn14_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,951},{28,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,29}}</string>
                <key>sourceSize</key>
                <string>{28,29}</string>
            </dict>
            <key>LineBtn14_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,981},{28,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,29}}</string>
                <key>sourceSize</key>
                <string>{28,29}</string>
            </dict>
            <key>LineBtn15_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,951},{28,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,29}}</string>
                <key>sourceSize</key>
                <string>{28,29}</string>
            </dict>
            <key>LineBtn15_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{925,903},{28,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,29}}</string>
                <key>sourceSize</key>
                <string>{28,29}</string>
            </dict>
            <key>LineBtn16_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,912},{28,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,29}}</string>
                <key>sourceSize</key>
                <string>{28,29}</string>
            </dict>
            <key>LineBtn16_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,912},{28,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,29}}</string>
                <key>sourceSize</key>
                <string>{28,29}</string>
            </dict>
            <key>LineBtn17_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,912},{28,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,29}}</string>
                <key>sourceSize</key>
                <string>{28,29}</string>
            </dict>
            <key>LineBtn17_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{809,922},{28,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,29}}</string>
                <key>sourceSize</key>
                <string>{28,29}</string>
            </dict>
            <key>LineBtn18_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,922},{28,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,29}}</string>
                <key>sourceSize</key>
                <string>{28,29}</string>
            </dict>
            <key>LineBtn18_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,922},{28,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,29}}</string>
                <key>sourceSize</key>
                <string>{28,29}</string>
            </dict>
            <key>LineBtn19_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,873},{28,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,29}}</string>
                <key>sourceSize</key>
                <string>{28,29}</string>
            </dict>
            <key>LineBtn19_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,882},{28,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,29}}</string>
                <key>sourceSize</key>
                <string>{28,29}</string>
            </dict>
            <key>LineBtn20_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,843},{28,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,29}}</string>
                <key>sourceSize</key>
                <string>{28,29}</string>
            </dict>
            <key>LineBtn20_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,852},{28,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,29}}</string>
                <key>sourceSize</key>
                <string>{28,29}</string>
            </dict>
            <key>LineBtn21_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,882},{28,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,29}}</string>
                <key>sourceSize</key>
                <string>{28,29}</string>
            </dict>
            <key>LineBtn21_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,813},{28,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,29}}</string>
                <key>sourceSize</key>
                <string>{28,29}</string>
            </dict>
            <key>LineBtn22_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,822},{28,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,29}}</string>
                <key>sourceSize</key>
                <string>{28,29}</string>
            </dict>
            <key>LineBtn22_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,852},{28,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,29}}</string>
                <key>sourceSize</key>
                <string>{28,29}</string>
            </dict>
            <key>LineBtn23_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,882},{28,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,29}}</string>
                <key>sourceSize</key>
                <string>{28,29}</string>
            </dict>
            <key>LineBtn23_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,822},{28,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,29}}</string>
                <key>sourceSize</key>
                <string>{28,29}</string>
            </dict>
            <key>LineBtn24_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,852},{28,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,29}}</string>
                <key>sourceSize</key>
                <string>{28,29}</string>
            </dict>
            <key>LineBtn24_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,822},{28,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,29}}</string>
                <key>sourceSize</key>
                <string>{28,29}</string>
            </dict>
            <key>LineBtn25_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,675},{28,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,29}}</string>
                <key>sourceSize</key>
                <string>{28,29}</string>
            </dict>
            <key>LineBtn25_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,685},{28,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,29}}</string>
                <key>sourceSize</key>
                <string>{28,29}</string>
            </dict>
            <key>Spin_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,900},{115,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,53}}</string>
                <key>sourceSize</key>
                <string>{115,53}</string>
            </dict>
            <key>Spin_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,846},{115,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,53}}</string>
                <key>sourceSize</key>
                <string>{115,53}</string>
            </dict>
            <key>Spin_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,792},{115,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,53}}</string>
                <key>sourceSize</key>
                <string>{115,53}</string>
            </dict>
            <key>StartBonus_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,738},{115,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,53}}</string>
                <key>sourceSize</key>
                <string>{115,53}</string>
            </dict>
            <key>StartBonus_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,969},{115,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,53}}</string>
                <key>sourceSize</key>
                <string>{115,53}</string>
            </dict>
            <key>StartBonus_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,969},{115,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,53}}</string>
                <key>sourceSize</key>
                <string>{115,53}</string>
            </dict>
            <key>Stop_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,969},{115,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,53}}</string>
                <key>sourceSize</key>
                <string>{115,53}</string>
            </dict>
            <key>Stop_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,969},{115,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,53}}</string>
                <key>sourceSize</key>
                <string>{115,53}</string>
            </dict>
            <key>Stop_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,969},{115,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,53}}</string>
                <key>sourceSize</key>
                <string>{115,53}</string>
            </dict>
            <key>Up_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,760},{86,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,53}}</string>
                <key>sourceSize</key>
                <string>{86,53}</string>
            </dict>
            <key>Up_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,714},{86,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,53}}</string>
                <key>sourceSize</key>
                <string>{86,53}</string>
            </dict>
            <key>Up_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,598},{86,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,53}}</string>
                <key>sourceSize</key>
                <string>{86,53}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>MainUI.png</string>
            <key>size</key>
            <string>{973,1023}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:650b6d6d098ee9261dd790dafbdd1afe:1/1$</string>
            <key>textureFileName</key>
            <string>MainUI.png</string>
        </dict>
    </dict>
</plist>
