<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>GameWin.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{523,366}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{523,366}}</string>
                <key>sourceSize</key>
                <string>{523,366}</string>
            </dict>
            <key>GreatBlue_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,511},{407,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{407,50}}</string>
                <key>sourceSize</key>
                <string>{407,50}</string>
            </dict>
            <key>GreatBlue_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,460},{407,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{407,50}}</string>
                <key>sourceSize</key>
                <string>{407,50}</string>
            </dict>
            <key>GreatBlue_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,409},{407,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{407,50}}</string>
                <key>sourceSize</key>
                <string>{407,50}</string>
            </dict>
            <key>GreatBlue_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,674},{407,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{407,50}}</string>
                <key>sourceSize</key>
                <string>{407,50}</string>
            </dict>
            <key>GreatBlue_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,623},{407,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{407,50}}</string>
                <key>sourceSize</key>
                <string>{407,50}</string>
            </dict>
            <key>GreatBlue_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,572},{407,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{407,50}}</string>
                <key>sourceSize</key>
                <string>{407,50}</string>
            </dict>
            <key>GreatBlue_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,521},{407,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{407,50}}</string>
                <key>sourceSize</key>
                <string>{407,50}</string>
            </dict>
            <key>GreatBlue_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,470},{407,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{407,50}}</string>
                <key>sourceSize</key>
                <string>{407,50}</string>
            </dict>
            <key>GreatBlue_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,419},{407,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{407,50}}</string>
                <key>sourceSize</key>
                <string>{407,50}</string>
            </dict>
            <key>GreatBlue_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,664},{403,50}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{403,50}}</string>
                <key>sourceSize</key>
                <string>{407,50}</string>
            </dict>
            <key>GreatBlue_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,613},{403,50}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{403,50}}</string>
                <key>sourceSize</key>
                <string>{407,50}</string>
            </dict>
            <key>GreatBlue_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,358},{397,50}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{397,50}}</string>
                <key>sourceSize</key>
                <string>{407,50}</string>
            </dict>
            <key>GreatBlue_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,307},{397,50}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{397,50}}</string>
                <key>sourceSize</key>
                <string>{407,50}</string>
            </dict>
            <key>GreatBlue_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,368},{397,50}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{397,50}}</string>
                <key>sourceSize</key>
                <string>{407,50}</string>
            </dict>
            <key>GreatBlue_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,368},{397,50}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{397,50}}</string>
                <key>sourceSize</key>
                <string>{407,50}</string>
            </dict>
            <key>GreatBlue_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,256},{401,50}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{401,50}}</string>
                <key>sourceSize</key>
                <string>{407,50}</string>
            </dict>
            <key>GreatBlue_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,205},{401,50}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{401,50}}</string>
                <key>sourceSize</key>
                <string>{407,50}</string>
            </dict>
            <key>GreatBlue_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,154},{401,50}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{401,50}}</string>
                <key>sourceSize</key>
                <string>{407,50}</string>
            </dict>
            <key>GreatBlue_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,103},{401,50}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{401,50}}</string>
                <key>sourceSize</key>
                <string>{407,50}</string>
            </dict>
            <key>GreatBlue_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,52},{401,50}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{401,50}}</string>
                <key>sourceSize</key>
                <string>{407,50}</string>
            </dict>
            <key>GreatBlue_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,1},{401,50}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{401,50}}</string>
                <key>sourceSize</key>
                <string>{407,50}</string>
            </dict>
            <key>GreatBlue_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,715},{401,50}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{401,50}}</string>
                <key>sourceSize</key>
                <string>{407,50}</string>
            </dict>
            <key>GreatBlue_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,562},{405,50}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{405,50}}</string>
                <key>sourceSize</key>
                <string>{407,50}</string>
            </dict>
            <key>GreatBlue_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,368},{407,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{407,50}}</string>
                <key>sourceSize</key>
                <string>{407,50}</string>
            </dict>
            <key>GreatBlue_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,1},{407,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{407,50}}</string>
                <key>sourceSize</key>
                <string>{407,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>MainUI2.png</string>
            <key>size</key>
            <string>{984,766}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a5d412cb145121ac71a843450ae8d0f7:1/1$</string>
            <key>textureFileName</key>
            <string>MainUI2.png</string>
        </dict>
    </dict>
</plist>
