<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jg_jinniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,115},{75,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,49}}</string>
                <key>sourceSize</key>
                <string>{75,49}</string>
            </dict>
            <key>jg_niu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,230},{64,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,51}}</string>
                <key>sourceSize</key>
                <string>{64,51}</string>
            </dict>
            <key>jg_niu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,176},{69,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,52}}</string>
                <key>sourceSize</key>
                <string>{69,52}</string>
            </dict>
            <key>jg_niu3.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,122},{70,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,52}}</string>
                <key>sourceSize</key>
                <string>{70,52}</string>
            </dict>
            <key>jg_niu4.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,227},{69,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,51}}</string>
                <key>sourceSize</key>
                <string>{69,51}</string>
            </dict>
            <key>jg_niu5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{69,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,52}}</string>
                <key>sourceSize</key>
                <string>{69,52}</string>
            </dict>
            <key>jg_niu6.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,174},{70,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,51}}</string>
                <key>sourceSize</key>
                <string>{70,51}</string>
            </dict>
            <key>jg_niu7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{68,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,51}}</string>
                <key>sourceSize</key>
                <string>{68,51}</string>
            </dict>
            <key>jg_niu8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{70,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,52}}</string>
                <key>sourceSize</key>
                <string>{70,52}</string>
            </dict>
            <key>jg_niu9.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,120},{70,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,52}}</string>
                <key>sourceSize</key>
                <string>{70,52}</string>
            </dict>
            <key>jg_niuniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,58},{84,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,55}}</string>
                <key>sourceSize</key>
                <string>{84,55}</string>
            </dict>
            <key>jg_sizha.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,2},{109,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,65}}</string>
                <key>sourceSize</key>
                <string>{109,65}</string>
            </dict>
            <key>jg_wuhuaniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{124,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,54}}</string>
                <key>sourceSize</key>
                <string>{124,54}</string>
            </dict>
            <key>jg_wuniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,69},{73,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,51}}</string>
                <key>sourceSize</key>
                <string>{73,51}</string>
            </dict>
            <key>jg_yinniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,69},{75,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,49}}</string>
                <key>sourceSize</key>
                <string>{75,49}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jieguo.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4b9f8a28d60d5a3413e78c5d51b97b43$</string>
            <key>textureFileName</key>
            <string>jieguo.png</string>
        </dict>
    </dict>
</plist>
