<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dt_bag_bg_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,2},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>dt_bag_bg_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>dt_bag_btn_bluegreen.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,44},{176,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,61}}</string>
                <key>sourceSize</key>
                <string>{176,61}</string>
            </dict>
            <key>dt_bag_btn_m_type01.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,107},{287,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{287,65}}</string>
                <key>sourceSize</key>
                <string>{287,65}</string>
            </dict>
            <key>dt_bag_btn_m_type02.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,174},{287,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{287,65}}</string>
                <key>sourceSize</key>
                <string>{287,65}</string>
            </dict>
            <key>dt_bag_btn_plusminus.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,44},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,55}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>dt_bag_btn_prop01.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,241},{157,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,148}}</string>
                <key>sourceSize</key>
                <string>{157,148}</string>
            </dict>
            <key>dt_bag_btn_prop02.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,241},{157,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,148}}</string>
                <key>sourceSize</key>
                <string>{157,148}</string>
            </dict>
            <key>dt_bag_btn_type01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{287,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{287,65}}</string>
                <key>sourceSize</key>
                <string>{287,65}</string>
            </dict>
            <key>dt_bag_btn_type02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,107},{287,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{287,65}}</string>
                <key>sourceSize</key>
                <string>{287,65}</string>
            </dict>
            <key>dt_bag_icon_chip.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,2},{38,37}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{38,37}}</string>
                <key>sourceSize</key>
                <string>{40,41}</string>
            </dict>
            <key>dt_bag_icon_express.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,2},{40,27}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{40,27}}</string>
                <key>sourceSize</key>
                <string>{40,41}</string>
            </dict>
            <key>dt_bag_icon_flow.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,2},{40,29}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{40,29}}</string>
                <key>sourceSize</key>
                <string>{40,41}</string>
            </dict>
            <key>dt_bag_icon_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,2},{36,35}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{36,35}}</string>
                <key>sourceSize</key>
                <string>{40,41}</string>
            </dict>
            <key>dt_bag_icon_jd.png</key>
            <dict>
                <key>frame</key>
                <string>{{23,2},{37,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,25}}</string>
                <key>sourceSize</key>
                <string>{37,25}</string>
            </dict>
            <key>dt_bag_icon_nickname.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,2},{34,35}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{34,35}}</string>
                <key>sourceSize</key>
                <string>{40,41}</string>
            </dict>
            <key>dt_bag_icon_pay.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,2},{30,39}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{30,39}}</string>
                <key>sourceSize</key>
                <string>{40,41}</string>
            </dict>
            <key>dt_bag_icon_prop.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,2},{34,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{34,33}}</string>
                <key>sourceSize</key>
                <string>{40,41}</string>
            </dict>
            <key>dt_bag_icon_redbag.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,2},{30,35}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{30,35}}</string>
                <key>sourceSize</key>
                <string>{40,41}</string>
            </dict>
            <key>dt_bag_icon_roomcard.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,2},{38,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,33}}</string>
                <key>sourceSize</key>
                <string>{38,33}</string>
            </dict>
            <key>dt_bag_icon_transmit.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,2},{41,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,37}}</string>
                <key>sourceSize</key>
                <string>{41,37}</string>
            </dict>
            <key>dt_bag_icon_vs.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{36,29}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{36,29}}</string>
                <key>sourceSize</key>
                <string>{40,41}</string>
            </dict>
            <key>dt_bag_img_headframe.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,241},{106,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,106}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>dt_bag_img_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,44},{4,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{4,57}}</string>
                <key>sourceSize</key>
                <string>{4,65}</string>
            </dict>
            <key>dt_f_img_gezi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{19,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,21}}</string>
                <key>sourceSize</key>
                <string>{19,21}</string>
            </dict>
            <key>dt_f_img_jltb.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,241},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>dt_f_img_zuhe.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,44},{58,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,55}}</string>
                <key>sourceSize</key>
                <string>{58,55}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>p_bag.png</string>
            <key>size</key>
            <string>{580,391}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:875b29ea0aa3a04dfbc968940bcb0d24:1/1$</string>
            <key>textureFileName</key>
            <string>p_bag.png</string>
        </dict>
    </dict>
</plist>
