<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>slots_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1649,180},{80,102}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,21},{80,102}}</string>
                <key>sourceSize</key>
                <string>{162,144}</string>
            </dict>
            <key>slots_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1106,162},{104,94}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,24},{104,94}}</string>
                <key>sourceSize</key>
                <string>{162,144}</string>
            </dict>
            <key>slots_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,162},{76,106}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,18},{76,106}}</string>
                <key>sourceSize</key>
                <string>{162,144}</string>
            </dict>
            <key>slots_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,162},{106,108}}</string>
                <key>offset</key>
                <string>{8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,16},{106,108}}</string>
                <key>sourceSize</key>
                <string>{162,144}</string>
            </dict>
            <key>slots_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{1452,180},{92,112}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,17},{92,112}}</string>
                <key>sourceSize</key>
                <string>{158,144}</string>
            </dict>
            <key>slots_41_j.png</key>
            <dict>
                <key>frame</key>
                <string>{{1202,146},{126,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,9},{126,126}}</string>
                <key>sourceSize</key>
                <string>{158,144}</string>
            </dict>
            <key>slots_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,162},{92,108}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,19},{92,108}}</string>
                <key>sourceSize</key>
                <string>{162,144}</string>
            </dict>
            <key>slots_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{1032,2},{156,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{156,158}}</string>
                <key>sourceSize</key>
                <string>{174,168}</string>
            </dict>
            <key>slots_51_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,2},{156,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{156,158}}</string>
                <key>sourceSize</key>
                <string>{174,168}</string>
            </dict>
            <key>slots_51_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,2},{156,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{156,158}}</string>
                <key>sourceSize</key>
                <string>{174,168}</string>
            </dict>
            <key>slots_51_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,2},{156,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{156,158}}</string>
                <key>sourceSize</key>
                <string>{174,168}</string>
            </dict>
            <key>slots_51_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,2},{156,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{156,158}}</string>
                <key>sourceSize</key>
                <string>{174,168}</string>
            </dict>
            <key>slots_51_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,2},{156,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{156,158}}</string>
                <key>sourceSize</key>
                <string>{174,168}</string>
            </dict>
            <key>slots_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,162},{84,108}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,19},{84,108}}</string>
                <key>sourceSize</key>
                <string>{162,144}</string>
            </dict>
            <key>slots_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,162},{90,108}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,17},{90,108}}</string>
                <key>sourceSize</key>
                <string>{158,144}</string>
            </dict>
            <key>slots_71.png</key>
            <dict>
                <key>frame</key>
                <string>{{1190,2},{142,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,28},{142,133}}</string>
                <key>sourceSize</key>
                <string>{182,189}</string>
            </dict>
            <key>slots_81.png</key>
            <dict>
                <key>frame</key>
                <string>{{1425,2},{102,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,15},{102,114}}</string>
                <key>sourceSize</key>
                <string>{158,144}</string>
            </dict>
            <key>slots_82.png</key>
            <dict>
                <key>frame</key>
                <string>{{1330,140},{120,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,10},{120,124}}</string>
                <key>sourceSize</key>
                <string>{158,144}</string>
            </dict>
            <key>slots_83.png</key>
            <dict>
                <key>frame</key>
                <string>{{1325,2},{98,136}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,2},{98,136}}</string>
                <key>sourceSize</key>
                <string>{158,144}</string>
            </dict>
            <key>slots_fnt_jackpot.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{335,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{335,65}}</string>
                <key>sourceSize</key>
                <string>{335,65}</string>
            </dict>
            <key>slots_fs_back_dec.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,162},{106,307}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,307}}</string>
                <key>sourceSize</key>
                <string>{106,307}</string>
            </dict>
            <key>slots_fs_btn_again_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,2},{204,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,59}}</string>
                <key>sourceSize</key>
                <string>{204,59}</string>
            </dict>
            <key>slots_fs_btn_again_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,2},{194,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{194,57}}</string>
                <key>sourceSize</key>
                <string>{204,59}</string>
            </dict>
            <key>slots_fs_btn_end_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{204,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,59}}</string>
                <key>sourceSize</key>
                <string>{204,59}</string>
            </dict>
            <key>slots_fs_btn_end_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,2},{194,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{194,57}}</string>
                <key>sourceSize</key>
                <string>{204,59}</string>
            </dict>
            <key>slots_jackpot_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1529,91},{388,87}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{388,87}}</string>
                <key>sourceSize</key>
                <string>{388,129}</string>
            </dict>
            <key>slots_jackpot_bar_fs.png</key>
            <dict>
                <key>frame</key>
                <string>{{1529,2},{388,87}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{388,87}}</string>
                <key>sourceSize</key>
                <string>{388,129}</string>
            </dict>
            <key>slots_jackpot_medium.png</key>
            <dict>
                <key>frame</key>
                <string>{{1919,84},{80,32}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{80,32}}</string>
                <key>sourceSize</key>
                <string>{86,36}</string>
            </dict>
            <key>slots_jackpot_mega.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,162},{82,32}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{82,32}}</string>
                <key>sourceSize</key>
                <string>{86,36}</string>
            </dict>
            <key>slots_jackpot_minor.png</key>
            <dict>
                <key>frame</key>
                <string>{{1919,2},{80,32}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{80,32}}</string>
                <key>sourceSize</key>
                <string>{86,36}</string>
            </dict>
            <key>slots_ptable_btn_close_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{1566,180},{81,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,81}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>slots_ptable_btn_close_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{1810,180},{77,77}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{77,77}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>slots_ptable_btn_next_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{1753,180},{55,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,78}}</string>
                <key>sourceSize</key>
                <string>{55,78}</string>
            </dict>
            <key>slots_ptable_btn_next_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{1452,118},{53,74}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{53,74}}</string>
                <key>sourceSize</key>
                <string>{55,78}</string>
            </dict>
            <key>slots_ptable_btn_return_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{204,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,59}}</string>
                <key>sourceSize</key>
                <string>{204,59}</string>
            </dict>
            <key>slots_ptable_btn_return_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,2},{194,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{194,57}}</string>
                <key>sourceSize</key>
                <string>{204,59}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Slots_WangBao.png</string>
            <key>size</key>
            <string>{1953,275}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a929b041c92a2c8e7013a60f28a6ab03:1/1$</string>
            <key>textureFileName</key>
            <string>Slots_WangBao.png</string>
        </dict>
    </dict>
</plist>
