<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>slots_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,1827},{86,96}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,24},{86,96}}</string>
                <key>sourceSize</key>
                <string>{162,144}</string>
            </dict>
            <key>slots_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,513},{130,94}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,25},{130,94}}</string>
                <key>sourceSize</key>
                <string>{162,144}</string>
            </dict>
            <key>slots_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,81},{76,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,25},{76,94}}</string>
                <key>sourceSize</key>
                <string>{162,144}</string>
            </dict>
            <key>slots_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,1091},{94,108}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,18},{94,108}}</string>
                <key>sourceSize</key>
                <string>{162,144}</string>
            </dict>
            <key>slots_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,1917},{96,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,22},{96,100}}</string>
                <key>sourceSize</key>
                <string>{162,144}</string>
            </dict>
            <key>slots_41_j.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,353},{158,120}}</string>
                <key>offset</key>
                <string>{1,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,22},{158,120}}</string>
                <key>sourceSize</key>
                <string>{162,144}</string>
            </dict>
            <key>slots_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,1917},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,22},{100,100}}</string>
                <key>sourceSize</key>
                <string>{162,144}</string>
            </dict>
            <key>slots_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,1533},{164,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,150}}</string>
                <key>sourceSize</key>
                <string>{164,150}</string>
            </dict>
            <key>slots_51_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,1401},{164,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,150}}</string>
                <key>sourceSize</key>
                <string>{164,150}</string>
            </dict>
            <key>slots_51_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,1367},{164,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,150}}</string>
                <key>sourceSize</key>
                <string>{164,150}</string>
            </dict>
            <key>slots_51_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,1249},{164,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,150}}</string>
                <key>sourceSize</key>
                <string>{164,150}</string>
            </dict>
            <key>slots_51_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,1201},{164,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,150}}</string>
                <key>sourceSize</key>
                <string>{164,150}</string>
            </dict>
            <key>slots_51_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,1097},{164,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,150}}</string>
                <key>sourceSize</key>
                <string>{164,150}</string>
            </dict>
            <key>slots_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,1917},{98,94}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,25},{98,94}}</string>
                <key>sourceSize</key>
                <string>{162,144}</string>
            </dict>
            <key>slots_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,1703},{154,84}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,30},{154,84}}</string>
                <key>sourceSize</key>
                <string>{162,144}</string>
            </dict>
            <key>slots_71.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,609},{159,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,159}}</string>
                <key>sourceSize</key>
                <string>{159,159}</string>
            </dict>
            <key>slots_81.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,1789},{126,128}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,10},{126,128}}</string>
                <key>sourceSize</key>
                <string>{162,144}</string>
            </dict>
            <key>slots_82.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,1699},{126,136}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,2},{126,136}}</string>
                <key>sourceSize</key>
                <string>{162,144}</string>
            </dict>
            <key>slots_83.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,1553},{158,148}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{158,148}}</string>
                <key>sourceSize</key>
                <string>{158,152}</string>
            </dict>
            <key>slots_bg_fs_begin_dec.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,1841},{52,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,54}}</string>
                <key>sourceSize</key>
                <string>{52,54}</string>
            </dict>
            <key>slots_bg_view_dec.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1091},{954,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{954,108}}</string>
                <key>sourceSize</key>
                <string>{954,108}</string>
            </dict>
            <key>slots_fnt_jackpot.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,555},{290,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,107}}</string>
                <key>sourceSize</key>
                <string>{290,107}</string>
            </dict>
            <key>slots_fs_back_dec.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,85},{91,347}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,347}}</string>
                <key>sourceSize</key>
                <string>{91,347}</string>
            </dict>
            <key>slots_fs_begin_ribboon_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,770},{187,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,113}}</string>
                <key>sourceSize</key>
                <string>{187,113}</string>
            </dict>
            <key>slots_fs_begin_ribboon_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,885},{171,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,210}}</string>
                <key>sourceSize</key>
                <string>{171,210}</string>
            </dict>
            <key>slots_fs_begin_ribboon_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,373},{318,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{318,180}}</string>
                <key>sourceSize</key>
                <string>{318,180}</string>
            </dict>
            <key>slots_fs_begin_ribboon_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{326,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,193}}</string>
                <key>sourceSize</key>
                <string>{326,193}</string>
            </dict>
            <key>slots_fs_begin_ribboon_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,699},{264,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,209}}</string>
                <key>sourceSize</key>
                <string>{264,209}</string>
            </dict>
            <key>slots_fs_btn_again_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,971},{204,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,59}}</string>
                <key>sourceSize</key>
                <string>{204,59}</string>
            </dict>
            <key>slots_fs_btn_again_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1032},{194,57}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{194,57}}</string>
                <key>sourceSize</key>
                <string>{204,59}</string>
            </dict>
            <key>slots_fs_btn_end_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,910},{204,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,59}}</string>
                <key>sourceSize</key>
                <string>{204,59}</string>
            </dict>
            <key>slots_fs_btn_end_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,910},{194,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{194,57}}</string>
                <key>sourceSize</key>
                <string>{204,59}</string>
            </dict>
            <key>slots_jackpot_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{374,81}}</string>
                <key>offset</key>
                <string>{7,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,7},{374,81}}</string>
                <key>sourceSize</key>
                <string>{388,129}</string>
            </dict>
            <key>slots_jackpot_bar_fs.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{374,81}}</string>
                <key>offset</key>
                <string>{7,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,7},{374,81}}</string>
                <key>sourceSize</key>
                <string>{388,129}</string>
            </dict>
            <key>slots_jackpot_medium.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,294},{80,32}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{80,32}}</string>
                <key>sourceSize</key>
                <string>{86,36}</string>
            </dict>
            <key>slots_jackpot_mega.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,1703},{82,32}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{82,32}}</string>
                <key>sourceSize</key>
                <string>{86,36}</string>
            </dict>
            <key>slots_jackpot_minor.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,260},{80,32}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{80,32}}</string>
                <key>sourceSize</key>
                <string>{86,36}</string>
            </dict>
            <key>slots_loadbar.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,85},{266,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,21}}</string>
                <key>sourceSize</key>
                <string>{266,21}</string>
            </dict>
            <key>slots_loadbar_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,664},{276,33}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{276,33}}</string>
                <key>sourceSize</key>
                <string>{276,37}</string>
            </dict>
            <key>slots_ptable_btn_close_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,177},{81,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,81}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>slots_ptable_btn_close_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,2},{77,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{77,77}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>slots_ptable_btn_next_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,1789},{50,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,59}}</string>
                <key>sourceSize</key>
                <string>{50,59}</string>
            </dict>
            <key>slots_ptable_btn_next_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,1106},{48,57}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{48,57}}</string>
                <key>sourceSize</key>
                <string>{50,59}</string>
            </dict>
            <key>slots_ptable_btn_return_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,910},{204,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,59}}</string>
                <key>sourceSize</key>
                <string>{204,59}</string>
            </dict>
            <key>slots_ptable_btn_return_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,910},{194,57}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{194,57}}</string>
                <key>sourceSize</key>
                <string>{204,59}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Slots_WuFuLinMen.png</string>
            <key>size</key>
            <string>{457,2047}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bc1b06d61b98eb5274f6696b10ff3aaa:1/1$</string>
            <key>textureFileName</key>
            <string>Slots_WuFuLinMen.png</string>
        </dict>
    </dict>
</plist>
