<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Free01.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,817},{141,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,135}}</string>
                <key>sourceSize</key>
                <string>{141,135}</string>
            </dict>
            <key>Free02.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,817},{141,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,135}}</string>
                <key>sourceSize</key>
                <string>{141,135}</string>
            </dict>
            <key>Free03.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,817},{141,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,135}}</string>
                <key>sourceSize</key>
                <string>{141,135}</string>
            </dict>
            <key>Free04.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,817},{141,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,135}}</string>
                <key>sourceSize</key>
                <string>{141,135}</string>
            </dict>
            <key>Free05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,817},{141,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,135}}</string>
                <key>sourceSize</key>
                <string>{141,135}</string>
            </dict>
            <key>Free06.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,711},{141,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,135}}</string>
                <key>sourceSize</key>
                <string>{141,135}</string>
            </dict>
            <key>Free07.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,681},{141,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,135}}</string>
                <key>sourceSize</key>
                <string>{141,135}</string>
            </dict>
            <key>Free08.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,681},{141,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,135}}</string>
                <key>sourceSize</key>
                <string>{141,135}</string>
            </dict>
            <key>Free09.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,681},{141,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,135}}</string>
                <key>sourceSize</key>
                <string>{141,135}</string>
            </dict>
            <key>Free10.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,681},{141,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,135}}</string>
                <key>sourceSize</key>
                <string>{141,135}</string>
            </dict>
            <key>Free11.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,681},{141,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,135}}</string>
                <key>sourceSize</key>
                <string>{141,135}</string>
            </dict>
            <key>Free12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,681},{141,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,135}}</string>
                <key>sourceSize</key>
                <string>{141,135}</string>
            </dict>
            <key>Free13.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,569},{141,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,135}}</string>
                <key>sourceSize</key>
                <string>{141,135}</string>
            </dict>
            <key>Free14.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,545},{141,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,135}}</string>
                <key>sourceSize</key>
                <string>{141,135}</string>
            </dict>
            <key>Free15.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,545},{141,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,135}}</string>
                <key>sourceSize</key>
                <string>{141,135}</string>
            </dict>
            <key>Free16.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,545},{141,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,135}}</string>
                <key>sourceSize</key>
                <string>{141,135}</string>
            </dict>
            <key>Replace01.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,545},{141,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,135}}</string>
                <key>sourceSize</key>
                <string>{141,135}</string>
            </dict>
            <key>Replace02.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,545},{141,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,135}}</string>
                <key>sourceSize</key>
                <string>{141,135}</string>
            </dict>
            <key>Replace03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,545},{141,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,135}}</string>
                <key>sourceSize</key>
                <string>{141,135}</string>
            </dict>
            <key>Replace04.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,427},{141,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,135}}</string>
                <key>sourceSize</key>
                <string>{141,135}</string>
            </dict>
            <key>Replace05.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,409},{141,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,135}}</string>
                <key>sourceSize</key>
                <string>{141,135}</string>
            </dict>
            <key>Replace06.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,409},{141,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,135}}</string>
                <key>sourceSize</key>
                <string>{141,135}</string>
            </dict>
            <key>Replace07.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,409},{141,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,135}}</string>
                <key>sourceSize</key>
                <string>{141,135}</string>
            </dict>
            <key>Replace08.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,409},{141,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,135}}</string>
                <key>sourceSize</key>
                <string>{141,135}</string>
            </dict>
            <key>Replace09.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,409},{141,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,135}}</string>
                <key>sourceSize</key>
                <string>{141,135}</string>
            </dict>
            <key>Replace10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,409},{141,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,135}}</string>
                <key>sourceSize</key>
                <string>{141,135}</string>
            </dict>
            <key>Replace11.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,285},{141,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,135}}</string>
                <key>sourceSize</key>
                <string>{141,135}</string>
            </dict>
            <key>Replace12.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,273},{141,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,135}}</string>
                <key>sourceSize</key>
                <string>{141,135}</string>
            </dict>
            <key>Replace13.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,273},{141,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,135}}</string>
                <key>sourceSize</key>
                <string>{141,135}</string>
            </dict>
            <key>Replace14.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,273},{141,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,135}}</string>
                <key>sourceSize</key>
                <string>{141,135}</string>
            </dict>
            <key>Replace15.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,273},{141,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,135}}</string>
                <key>sourceSize</key>
                <string>{141,135}</string>
            </dict>
            <key>Replace16.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,273},{141,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,135}}</string>
                <key>sourceSize</key>
                <string>{141,135}</string>
            </dict>
            <key>Replace17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,273},{141,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,135}}</string>
                <key>sourceSize</key>
                <string>{141,135}</string>
            </dict>
            <key>Replace18.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,143},{141,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,135}}</string>
                <key>sourceSize</key>
                <string>{141,135}</string>
            </dict>
            <key>Replace19.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,137},{141,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,135}}</string>
                <key>sourceSize</key>
                <string>{141,135}</string>
            </dict>
            <key>Replace20.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,137},{141,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,135}}</string>
                <key>sourceSize</key>
                <string>{141,135}</string>
            </dict>
            <key>Replace21.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,137},{141,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,135}}</string>
                <key>sourceSize</key>
                <string>{141,135}</string>
            </dict>
            <key>Replace22.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,137},{141,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,135}}</string>
                <key>sourceSize</key>
                <string>{141,135}</string>
            </dict>
            <key>Replace23.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,137},{141,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,135}}</string>
                <key>sourceSize</key>
                <string>{141,135}</string>
            </dict>
            <key>Replace24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,137},{141,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,135}}</string>
                <key>sourceSize</key>
                <string>{141,135}</string>
            </dict>
            <key>Replace25.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,1},{141,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,135}}</string>
                <key>sourceSize</key>
                <string>{141,135}</string>
            </dict>
            <key>Replace26.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,1},{141,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,135}}</string>
                <key>sourceSize</key>
                <string>{141,135}</string>
            </dict>
            <key>Replace27.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,1},{141,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,135}}</string>
                <key>sourceSize</key>
                <string>{141,135}</string>
            </dict>
            <key>Replace28.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,1},{141,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,135}}</string>
                <key>sourceSize</key>
                <string>{141,135}</string>
            </dict>
            <key>Replace29.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,1},{141,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,135}}</string>
                <key>sourceSize</key>
                <string>{141,135}</string>
            </dict>
            <key>Replace30.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,1},{141,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,135}}</string>
                <key>sourceSize</key>
                <string>{141,135}</string>
            </dict>
            <key>Replace31.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{141,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,135}}</string>
                <key>sourceSize</key>
                <string>{141,135}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Ele03.png</string>
            <key>size</key>
            <string>{989,953}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3c7b2ccde0d15b79091e7240949b1d91:1/1$</string>
            <key>textureFileName</key>
            <string>Ele03.png</string>
        </dict>
    </dict>
</plist>
