<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Ele01_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,1},{141,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,135}}</string>
                <key>sourceSize</key>
                <string>{141,135}</string>
            </dict>
            <key>Ele01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,273},{139,133}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,133}}</string>
                <key>sourceSize</key>
                <string>{139,135}</string>
            </dict>
            <key>Ele01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,679},{139,129}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{139,129}}</string>
                <key>sourceSize</key>
                <string>{139,135}</string>
            </dict>
            <key>Ele01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,543},{139,123}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{139,123}}</string>
                <key>sourceSize</key>
                <string>{139,135}</string>
            </dict>
            <key>Ele01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,373},{139,119}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{139,119}}</string>
                <key>sourceSize</key>
                <string>{139,135}</string>
            </dict>
            <key>Ele01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,379},{139,103}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{139,103}}</string>
                <key>sourceSize</key>
                <string>{139,135}</string>
            </dict>
            <key>Ele01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,781},{125,105}}</string>
                <key>offset</key>
                <string>{7,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,11},{125,105}}</string>
                <key>sourceSize</key>
                <string>{139,135}</string>
            </dict>
            <key>Ele01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,483},{125,115}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,8},{125,115}}</string>
                <key>sourceSize</key>
                <string>{139,135}</string>
            </dict>
            <key>Ele01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{567,409},{125,125}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,5},{125,125}}</string>
                <key>sourceSize</key>
                <string>{139,135}</string>
            </dict>
            <key>Ele01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,667},{113,133}}</string>
                <key>offset</key>
                <string>{-13,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,133}}</string>
                <key>sourceSize</key>
                <string>{139,135}</string>
            </dict>
            <key>Ele01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{567,657},{113,113}}</string>
                <key>offset</key>
                <string>{-13,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{113,113}}</string>
                <key>sourceSize</key>
                <string>{139,135}</string>
            </dict>
            <key>Ele01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,599},{115,103}}</string>
                <key>offset</key>
                <string>{-12,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{115,103}}</string>
                <key>sourceSize</key>
                <string>{139,135}</string>
            </dict>
            <key>Ele01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{655,773},{113,101}}</string>
                <key>offset</key>
                <string>{-11,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,13},{113,101}}</string>
                <key>sourceSize</key>
                <string>{139,135}</string>
            </dict>
            <key>Ele01_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,703},{103,103}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,7},{103,103}}</string>
                <key>sourceSize</key>
                <string>{139,135}</string>
            </dict>
            <key>Ele01_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,599},{119,97}}</string>
                <key>offset</key>
                <string>{10,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,20},{119,97}}</string>
                <key>sourceSize</key>
                <string>{139,135}</string>
            </dict>
            <key>Ele01_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,771},{117,93}}</string>
                <key>offset</key>
                <string>{11,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,25},{117,93}}</string>
                <key>sourceSize</key>
                <string>{139,135}</string>
            </dict>
            <key>Ele01_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,807},{99,81}}</string>
                <key>offset</key>
                <string>{-12,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,28},{99,81}}</string>
                <key>sourceSize</key>
                <string>{139,135}</string>
            </dict>
            <key>Ele01_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,697},{119,75}}</string>
                <key>offset</key>
                <string>{-10,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,31},{119,75}}</string>
                <key>sourceSize</key>
                <string>{139,135}</string>
            </dict>
            <key>Ele01_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,815},{133,73}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,35},{133,73}}</string>
                <key>sourceSize</key>
                <string>{139,135}</string>
            </dict>
            <key>Ele01_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,817},{121,71}}</string>
                <key>offset</key>
                <string>{9,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,38},{121,71}}</string>
                <key>sourceSize</key>
                <string>{139,135}</string>
            </dict>
            <key>Ele01_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,599},{105,67}}</string>
                <key>offset</key>
                <string>{17,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,44},{105,67}}</string>
                <key>sourceSize</key>
                <string>{139,135}</string>
            </dict>
            <key>Ele01_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,705},{83,67}}</string>
                <key>offset</key>
                <string>{14,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,46},{83,67}}</string>
                <key>sourceSize</key>
                <string>{139,135}</string>
            </dict>
            <key>Ele01_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,815},{71,73}}</string>
                <key>offset</key>
                <string>{18,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,42},{71,73}}</string>
                <key>sourceSize</key>
                <string>{139,135}</string>
            </dict>
            <key>Ele01_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,807},{81,99}}</string>
                <key>offset</key>
                <string>{29,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,29},{81,99}}</string>
                <key>sourceSize</key>
                <string>{139,135}</string>
            </dict>
            <key>Ele01_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,493},{105,121}}</string>
                <key>offset</key>
                <string>{17,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,10},{105,121}}</string>
                <key>sourceSize</key>
                <string>{139,135}</string>
            </dict>
            <key>Ele01_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,409},{139,133}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,133}}</string>
                <key>sourceSize</key>
                <string>{139,135}</string>
            </dict>
            <key>Ele02_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,137},{141,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,135}}</string>
                <key>sourceSize</key>
                <string>{141,135}</string>
            </dict>
            <key>Ele02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,273},{141,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,135}}</string>
                <key>sourceSize</key>
                <string>{141,135}</string>
            </dict>
            <key>Ele02_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,409},{141,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,135}}</string>
                <key>sourceSize</key>
                <string>{141,135}</string>
            </dict>
            <key>Ele02_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,545},{141,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,135}}</string>
                <key>sourceSize</key>
                <string>{141,135}</string>
            </dict>
            <key>Ele02_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,681},{141,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,135}}</string>
                <key>sourceSize</key>
                <string>{141,135}</string>
            </dict>
            <key>Ele02_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,1},{141,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,135}}</string>
                <key>sourceSize</key>
                <string>{141,135}</string>
            </dict>
            <key>Ele02_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,261},{117,135}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,135}}</string>
                <key>sourceSize</key>
                <string>{141,135}</string>
            </dict>
            <key>Ele02_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,1},{131,135}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{131,135}}</string>
                <key>sourceSize</key>
                <string>{141,135}</string>
            </dict>
            <key>Ele02_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,269},{141,103}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,103}}</string>
                <key>sourceSize</key>
                <string>{141,135}</string>
            </dict>
            <key>Ele02_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,137},{141,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,135}}</string>
                <key>sourceSize</key>
                <string>{141,135}</string>
            </dict>
            <key>Ele02_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,273},{141,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,135}}</string>
                <key>sourceSize</key>
                <string>{141,135}</string>
            </dict>
            <key>Ele02_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,409},{141,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,135}}</string>
                <key>sourceSize</key>
                <string>{141,135}</string>
            </dict>
            <key>Ele02_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,545},{141,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,135}}</string>
                <key>sourceSize</key>
                <string>{141,135}</string>
            </dict>
            <key>Ele02_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,1},{141,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,135}}</string>
                <key>sourceSize</key>
                <string>{141,135}</string>
            </dict>
            <key>Ele02_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,137},{141,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,135}}</string>
                <key>sourceSize</key>
                <string>{141,135}</string>
            </dict>
            <key>Ele02_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,273},{141,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,135}}</string>
                <key>sourceSize</key>
                <string>{141,135}</string>
            </dict>
            <key>Ele02_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,409},{141,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,135}}</string>
                <key>sourceSize</key>
                <string>{141,135}</string>
            </dict>
            <key>Ele03_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,1},{141,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,135}}</string>
                <key>sourceSize</key>
                <string>{141,135}</string>
            </dict>
            <key>Ele04_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,137},{141,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,135}}</string>
                <key>sourceSize</key>
                <string>{141,135}</string>
            </dict>
            <key>Ele05_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,273},{141,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,135}}</string>
                <key>sourceSize</key>
                <string>{141,135}</string>
            </dict>
            <key>Ele06_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,133},{127,135}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{127,135}}</string>
                <key>sourceSize</key>
                <string>{141,135}</string>
            </dict>
            <key>Ele07_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{567,535},{115,121}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,7},{115,121}}</string>
                <key>sourceSize</key>
                <string>{141,135}</string>
            </dict>
            <key>Ele08_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,1},{141,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,135}}</string>
                <key>sourceSize</key>
                <string>{141,135}</string>
            </dict>
            <key>Ele09_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,137},{141,131}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,131}}</string>
                <key>sourceSize</key>
                <string>{141,135}</string>
            </dict>
            <key>Ele10_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,545},{141,133}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{141,133}}</string>
                <key>sourceSize</key>
                <string>{141,135}</string>
            </dict>
            <key>Ele11_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,681},{141,133}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{141,133}}</string>
                <key>sourceSize</key>
                <string>{141,135}</string>
            </dict>
            <key>Ele12_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,137},{141,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,135}}</string>
                <key>sourceSize</key>
                <string>{141,135}</string>
            </dict>
            <key>Ele13_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{141,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,135}}</string>
                <key>sourceSize</key>
                <string>{141,135}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Ele01.png</string>
            <key>size</key>
            <string>{989,889}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dd5d13e63c13c7a6831478624870ffd0:1/1$</string>
            <key>textureFileName</key>
            <string>Ele01.png</string>
        </dict>
    </dict>
</plist>
