<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Back1.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,92},{132,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,43}}</string>
                <key>sourceSize</key>
                <string>{132,43}</string>
            </dict>
            <key>Back2.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,47},{132,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,43}}</string>
                <key>sourceSize</key>
                <string>{132,43}</string>
            </dict>
            <key>Back3.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,2},{132,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,43}}</string>
                <key>sourceSize</key>
                <string>{132,43}</string>
            </dict>
            <key>HelpBGLine.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{800,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,512}}</string>
                <key>sourceSize</key>
                <string>{800,512}</string>
            </dict>
            <key>HidePayLines1.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,137},{315,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{315,43}}</string>
                <key>sourceSize</key>
                <string>{315,43}</string>
            </dict>
            <key>HidePayLines2.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,137},{315,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{315,43}}</string>
                <key>sourceSize</key>
                <string>{315,43}</string>
            </dict>
            <key>HidePayLines3.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,137},{315,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{315,43}}</string>
                <key>sourceSize</key>
                <string>{315,43}</string>
            </dict>
            <key>ShowPayLines1.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,516},{315,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{315,43}}</string>
                <key>sourceSize</key>
                <string>{315,43}</string>
            </dict>
            <key>ShowPayLines2.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,516},{315,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{315,43}}</string>
                <key>sourceSize</key>
                <string>{315,43}</string>
            </dict>
            <key>ShowPayLines3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,516},{315,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{315,43}}</string>
                <key>sourceSize</key>
                <string>{315,43}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>HelpBtnAndLine.png</string>
            <key>size</key>
            <string>{953,561}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0f20d544f4c89137d6d786a29cf931d5:1/1$</string>
            <key>textureFileName</key>
            <string>HelpBtnAndLine.png</string>
        </dict>
    </dict>
</plist>
