<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10MoreFreeGames.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1204},{569,398}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{569,398}}</string>
                <key>sourceSize</key>
                <string>{573,398}</string>
            </dict>
            <key>AutoStart_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,1832},{116,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,55}}</string>
                <key>sourceSize</key>
                <string>{116,55}</string>
            </dict>
            <key>AutoStart_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,1830},{116,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,55}}</string>
                <key>sourceSize</key>
                <string>{116,55}</string>
            </dict>
            <key>AutoStart_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,1781},{116,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,55}}</string>
                <key>sourceSize</key>
                <string>{116,55}</string>
            </dict>
            <key>AutoStop_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,1663},{116,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,55}}</string>
                <key>sourceSize</key>
                <string>{116,55}</string>
            </dict>
            <key>AutoStop_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,1663},{116,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,55}}</string>
                <key>sourceSize</key>
                <string>{116,55}</string>
            </dict>
            <key>AutoStop_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,1606},{116,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,55}}</string>
                <key>sourceSize</key>
                <string>{116,55}</string>
            </dict>
            <key>BG00.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{800,600}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,600}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>Back_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,1838},{72,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,41}}</string>
                <key>sourceSize</key>
                <string>{72,41}</string>
            </dict>
            <key>Back_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,1983},{72,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,41}}</string>
                <key>sourceSize</key>
                <string>{72,41}</string>
            </dict>
            <key>ClickToStart_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,1718},{116,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,55}}</string>
                <key>sourceSize</key>
                <string>{116,55}</string>
            </dict>
            <key>ClickToStart_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,1775},{116,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,55}}</string>
                <key>sourceSize</key>
                <string>{116,55}</string>
            </dict>
            <key>ClickToStart_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,1718},{116,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,55}}</string>
                <key>sourceSize</key>
                <string>{116,55}</string>
            </dict>
            <key>Continue_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1858},{175,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,66}}</string>
                <key>sourceSize</key>
                <string>{175,66}</string>
            </dict>
            <key>Continue_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1790},{175,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,66}}</string>
                <key>sourceSize</key>
                <string>{175,66}</string>
            </dict>
            <key>Dowan_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,1836},{87,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,55}}</string>
                <key>sourceSize</key>
                <string>{87,55}</string>
            </dict>
            <key>Dowan_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,1889},{87,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,55}}</string>
                <key>sourceSize</key>
                <string>{87,55}</string>
            </dict>
            <key>Dowan_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,1871},{87,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,55}}</string>
                <key>sourceSize</key>
                <string>{87,55}</string>
            </dict>
            <key>Frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{573,804},{800,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,98}}</string>
                <key>sourceSize</key>
                <string>{800,98}</string>
            </dict>
            <key>FreeGamepic.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,418},{292,45}}</string>
                <key>offset</key>
                <string>{-30,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,2},{292,45}}</string>
                <key>sourceSize</key>
                <string>{416,49}</string>
            </dict>
            <key>GameMenuBtn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,1983},{49,44}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{49,44}}</string>
                <key>sourceSize</key>
                <string>{49,46}</string>
            </dict>
            <key>GameMenuBtn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1983},{49,44}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{49,44}}</string>
                <key>sourceSize</key>
                <string>{49,46}</string>
            </dict>
            <key>IrishLuckpic.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1702},{276,49}}</string>
                <key>offset</key>
                <string>{-26,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,0},{276,49}}</string>
                <key>sourceSize</key>
                <string>{416,49}</string>
            </dict>
            <key>LineBtn01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,1953},{27,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,26}}</string>
                <key>sourceSize</key>
                <string>{27,26}</string>
            </dict>
            <key>LineBtn01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,1924},{27,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,26}}</string>
                <key>sourceSize</key>
                <string>{27,26}</string>
            </dict>
            <key>LineBtn02_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,1895},{27,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,26}}</string>
                <key>sourceSize</key>
                <string>{27,26}</string>
            </dict>
            <key>LineBtn02_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,1951},{27,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,26}}</string>
                <key>sourceSize</key>
                <string>{27,26}</string>
            </dict>
            <key>LineBtn03_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,1923},{27,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,26}}</string>
                <key>sourceSize</key>
                <string>{27,26}</string>
            </dict>
            <key>LineBtn03_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,1895},{27,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,26}}</string>
                <key>sourceSize</key>
                <string>{27,26}</string>
            </dict>
            <key>LineBtn04_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,1950},{27,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,26}}</string>
                <key>sourceSize</key>
                <string>{27,26}</string>
            </dict>
            <key>LineBtn04_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,1922},{27,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,26}}</string>
                <key>sourceSize</key>
                <string>{27,26}</string>
            </dict>
            <key>LineBtn05_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,1894},{27,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,26}}</string>
                <key>sourceSize</key>
                <string>{27,26}</string>
            </dict>
            <key>LineBtn05_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,1993},{27,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,26}}</string>
                <key>sourceSize</key>
                <string>{27,26}</string>
            </dict>
            <key>LineBtn06_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,1976},{27,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,26}}</string>
                <key>sourceSize</key>
                <string>{27,26}</string>
            </dict>
            <key>LineBtn06_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,1976},{27,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,26}}</string>
                <key>sourceSize</key>
                <string>{27,26}</string>
            </dict>
            <key>LineBtn07_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,1989},{27,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,26}}</string>
                <key>sourceSize</key>
                <string>{27,26}</string>
            </dict>
            <key>LineBtn07_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,1988},{27,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,26}}</string>
                <key>sourceSize</key>
                <string>{27,26}</string>
            </dict>
            <key>LineBtn08_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,1960},{27,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,26}}</string>
                <key>sourceSize</key>
                <string>{27,26}</string>
            </dict>
            <key>LineBtn08_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,1960},{27,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,26}}</string>
                <key>sourceSize</key>
                <string>{27,26}</string>
            </dict>
            <key>LineBtn09_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,1983},{27,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,26}}</string>
                <key>sourceSize</key>
                <string>{27,26}</string>
            </dict>
            <key>LineBtn09_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,1993},{27,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,26}}</string>
                <key>sourceSize</key>
                <string>{27,26}</string>
            </dict>
            <key>LineBtn10_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,1993},{27,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,26}}</string>
                <key>sourceSize</key>
                <string>{27,26}</string>
            </dict>
            <key>LineBtn10_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,1981},{27,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,26}}</string>
                <key>sourceSize</key>
                <string>{27,26}</string>
            </dict>
            <key>LineBtn11_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,1981},{27,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,26}}</string>
                <key>sourceSize</key>
                <string>{27,26}</string>
            </dict>
            <key>LineBtn11_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,2001},{27,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,26}}</string>
                <key>sourceSize</key>
                <string>{27,26}</string>
            </dict>
            <key>LineBtn12_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,1973},{27,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,26}}</string>
                <key>sourceSize</key>
                <string>{27,26}</string>
            </dict>
            <key>LineBtn12_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,1974},{27,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,26}}</string>
                <key>sourceSize</key>
                <string>{27,26}</string>
            </dict>
            <key>LineBtn13_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,1974},{27,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,26}}</string>
                <key>sourceSize</key>
                <string>{27,26}</string>
            </dict>
            <key>LineBtn13_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,1974},{27,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,26}}</string>
                <key>sourceSize</key>
                <string>{27,26}</string>
            </dict>
            <key>LineBtn14_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,1808},{27,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,26}}</string>
                <key>sourceSize</key>
                <string>{27,26}</string>
            </dict>
            <key>LineBtn14_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,1779},{27,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,26}}</string>
                <key>sourceSize</key>
                <string>{27,26}</string>
            </dict>
            <key>LineBtn15_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,1750},{27,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,26}}</string>
                <key>sourceSize</key>
                <string>{27,26}</string>
            </dict>
            <key>LineBtn15_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,1721},{27,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,26}}</string>
                <key>sourceSize</key>
                <string>{27,26}</string>
            </dict>
            <key>LineBtn16_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,1692},{27,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,26}}</string>
                <key>sourceSize</key>
                <string>{27,26}</string>
            </dict>
            <key>LineBtn16_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,1663},{27,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,26}}</string>
                <key>sourceSize</key>
                <string>{27,26}</string>
            </dict>
            <key>LineBtn17_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,1965},{27,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,26}}</string>
                <key>sourceSize</key>
                <string>{27,26}</string>
            </dict>
            <key>LineBtn17_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,1965},{27,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,26}}</string>
                <key>sourceSize</key>
                <string>{27,26}</string>
            </dict>
            <key>LineBtn18_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,1953},{27,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,26}}</string>
                <key>sourceSize</key>
                <string>{27,26}</string>
            </dict>
            <key>LineBtn18_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,1953},{27,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,26}}</string>
                <key>sourceSize</key>
                <string>{27,26}</string>
            </dict>
            <key>LineBtn19_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,1945},{27,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,26}}</string>
                <key>sourceSize</key>
                <string>{27,26}</string>
            </dict>
            <key>LineBtn19_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,1937},{27,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,26}}</string>
                <key>sourceSize</key>
                <string>{27,26}</string>
            </dict>
            <key>LineBtn20_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,1937},{27,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,26}}</string>
                <key>sourceSize</key>
                <string>{27,26}</string>
            </dict>
            <key>LineBtn20_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,1909},{27,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,26}}</string>
                <key>sourceSize</key>
                <string>{27,26}</string>
            </dict>
            <key>LineBtn21_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,1909},{27,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,26}}</string>
                <key>sourceSize</key>
                <string>{27,26}</string>
            </dict>
            <key>LineBtn21_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,1946},{27,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,26}}</string>
                <key>sourceSize</key>
                <string>{27,26}</string>
            </dict>
            <key>LineBtn22_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,1946},{27,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,26}}</string>
                <key>sourceSize</key>
                <string>{27,26}</string>
            </dict>
            <key>LineBtn22_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,1946},{27,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,26}}</string>
                <key>sourceSize</key>
                <string>{27,26}</string>
            </dict>
            <key>LineBtn23_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,1948},{27,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,26}}</string>
                <key>sourceSize</key>
                <string>{27,26}</string>
            </dict>
            <key>LineBtn23_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,1948},{27,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,26}}</string>
                <key>sourceSize</key>
                <string>{27,26}</string>
            </dict>
            <key>LineBtn24_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,1867},{27,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,26}}</string>
                <key>sourceSize</key>
                <string>{27,26}</string>
            </dict>
            <key>LineBtn24_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,1838},{27,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,26}}</string>
                <key>sourceSize</key>
                <string>{27,26}</string>
            </dict>
            <key>LineBtn25_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{599,1866},{27,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,26}}</string>
                <key>sourceSize</key>
                <string>{27,26}</string>
            </dict>
            <key>LineBtn25_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,1925},{27,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,26}}</string>
                <key>sourceSize</key>
                <string>{27,26}</string>
            </dict>
            <key>LineBtn26_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,1925},{27,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,26}}</string>
                <key>sourceSize</key>
                <string>{27,26}</string>
            </dict>
            <key>LineBtn26_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,1881},{27,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,26}}</string>
                <key>sourceSize</key>
                <string>{27,26}</string>
            </dict>
            <key>LineBtn27_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,1634},{27,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,26}}</string>
                <key>sourceSize</key>
                <string>{27,26}</string>
            </dict>
            <key>LineBtn27_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{599,1838},{27,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,26}}</string>
                <key>sourceSize</key>
                <string>{27,26}</string>
            </dict>
            <key>LineBtn28_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,1881},{27,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,26}}</string>
                <key>sourceSize</key>
                <string>{27,26}</string>
            </dict>
            <key>LineBtn28_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,1983},{27,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,26}}</string>
                <key>sourceSize</key>
                <string>{27,26}</string>
            </dict>
            <key>LineBtn29_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,1606},{27,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,26}}</string>
                <key>sourceSize</key>
                <string>{27,26}</string>
            </dict>
            <key>LineBtn29_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,1663},{27,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,26}}</string>
                <key>sourceSize</key>
                <string>{27,26}</string>
            </dict>
            <key>LineBtn30_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,1917},{27,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,26}}</string>
                <key>sourceSize</key>
                <string>{27,26}</string>
            </dict>
            <key>LineBtn30_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,1889},{27,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,26}}</string>
                <key>sourceSize</key>
                <string>{27,26}</string>
            </dict>
            <key>Prompt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1655},{286,45}}</string>
                <key>offset</key>
                <string>{-38,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,4},{286,45}}</string>
                <key>sourceSize</key>
                <string>{416,49}</string>
            </dict>
            <key>Prompt_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,2},{414,49}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{414,49}}</string>
                <key>sourceSize</key>
                <string>{416,49}</string>
            </dict>
            <key>Prompt_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1604},{402,49}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{402,49}}</string>
                <key>sourceSize</key>
                <string>{416,49}</string>
            </dict>
            <key>Prompt_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1753},{224,35}}</string>
                <key>offset</key>
                <string>{-38,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,5},{224,35}}</string>
                <key>sourceSize</key>
                <string>{416,49}</string>
            </dict>
            <key>Spin_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,1712},{116,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,55}}</string>
                <key>sourceSize</key>
                <string>{116,55}</string>
            </dict>
            <key>Spin_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,1753},{116,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,55}}</string>
                <key>sourceSize</key>
                <string>{116,55}</string>
            </dict>
            <key>Spin_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,1661},{116,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,55}}</string>
                <key>sourceSize</key>
                <string>{116,55}</string>
            </dict>
            <key>Stop_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,1790},{116,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,55}}</string>
                <key>sourceSize</key>
                <string>{116,55}</string>
            </dict>
            <key>Stop_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,1604},{116,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,55}}</string>
                <key>sourceSize</key>
                <string>{116,55}</string>
            </dict>
            <key>Stop_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1926},{116,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,55}}</string>
                <key>sourceSize</key>
                <string>{116,55}</string>
            </dict>
            <key>Up_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,1926},{87,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,55}}</string>
                <key>sourceSize</key>
                <string>{87,55}</string>
            </dict>
            <key>Up_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,1655},{87,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,55}}</string>
                <key>sourceSize</key>
                <string>{87,55}</string>
            </dict>
            <key>Up_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,712},{87,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,55}}</string>
                <key>sourceSize</key>
                <string>{87,55}</string>
            </dict>
            <key>gameWinpic.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,804},{569,398}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{569,398}}</string>
                <key>sourceSize</key>
                <string>{573,398}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>IrishLuck01.png</string>
            <key>size</key>
            <string>{673,2029}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:008a832f93f5427f08b07f2bdd88e470:1/1$</string>
            <key>textureFileName</key>
            <string>IrishLuck01.png</string>
        </dict>
    </dict>
</plist>
