<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>2-ren.png</key>
			<dict>
				<key>frame</key>
				<string>{{316,167},{151,160}}</string>
				<key>offset</key>
				<string>{2,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{316,167},{151,160}}</string>
				<key>sourceSize</key>
				<string>{160,164}</string>
			</dict>
			<key>2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,725},{160,164}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,725},{160,164}}</string>
				<key>sourceSize</key>
				<string>{160,164}</string>
			</dict>
			<key>4.png</key>
			<dict>
				<key>frame</key>
				<string>{{313,1},{160,164}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{313,1},{160,164}}</string>
				<key>sourceSize</key>
				<string>{160,164}</string>
			</dict>
			<key>xyj_zu_9_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{144,192}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{144,192}}</string>
				<key>sourceSize</key>
				<string>{144,192}</string>
			</dict>
			<key>1.png</key>
			<dict>
				<key>frame</key>
				<string>{{154,171},{160,164}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{154,171},{160,164}}</string>
				<key>sourceSize</key>
				<string>{160,164}</string>
			</dict>
			<key>xyj_zu_10_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,195},{151,187}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,195},{151,187}}</string>
				<key>sourceSize</key>
				<string>{151,187}</string>
			</dict>
			<key>5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,891},{160,164}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,891},{160,164}}</string>
				<key>sourceSize</key>
				<string>{160,164}</string>
			</dict>
			<key>7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,557},{151,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,557},{151,166}}</string>
				<key>sourceSize</key>
				<string>{151,166}</string>
			</dict>
			<key>8.png</key>
			<dict>
				<key>frame</key>
				<string>{{154,557},{140,164}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{154,557},{140,164}}</string>
				<key>sourceSize</key>
				<string>{140,164}</string>
			</dict>
			<key>blue-kuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,384},{166,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,384},{166,171}}</string>
				<key>sourceSize</key>
				<string>{166,171}</string>
			</dict>
			<key>0.png</key>
			<dict>
				<key>frame</key>
				<string>{{147,1},{164,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{147,1},{164,168}}</string>
				<key>sourceSize</key>
				<string>{164,168}</string>
			</dict>
			<key>3.png</key>
			<dict>
				<key>frame</key>
				<string>{{169,337},{160,164}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{169,337},{160,164}}</string>
				<key>sourceSize</key>
				<string>{160,164}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>SwimItems-2.png</string>
			<key>size</key>
			<string>{474,1056}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>SwimItems-2.png</string>
		</dict>
	</dict>
</plist>
