<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_vip.png</key>
            <dict>
                <key>frame</key>
                <string>{{29,840},{126,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,93}}</string>
                <key>sourceSize</key>
                <string>{126,93}</string>
            </dict>
            <key>chongzhi titel.png</key>
            <dict>
                <key>frame</key>
                <string>{{29,968},{350,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,31}}</string>
                <key>sourceSize</key>
                <string>{350,31}</string>
            </dict>
            <key>down_bg_vip.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1006,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1006,284}}</string>
                <key>sourceSize</key>
                <string>{1006,284}</string>
            </dict>
            <key>tequantitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,961},{198,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,37}}</string>
                <key>sourceSize</key>
                <string>{198,37}</string>
            </dict>
            <key>top_bg_vip.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,288},{988,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{988,161}}</string>
                <key>sourceSize</key>
                <string>{988,161}</string>
            </dict>
            <key>vip_btn_ljcz.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,627},{196,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,67}}</string>
                <key>sourceSize</key>
                <string>{196,67}</string>
            </dict>
            <key>vip_head_label_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,938},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>vip_head_label_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,860},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>vip_head_label_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,840},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>vip_head_label_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,782},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>vip_head_label_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,704},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>vip_head_label_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{29,451},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>vip_manji_label_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,451},{432,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{432,65}}</string>
                <key>sourceSize</key>
                <string>{432,65}</string>
            </dict>
            <key>vip_maozi_label_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,1001},{35,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,18}}</string>
                <key>sourceSize</key>
                <string>{35,18}</string>
            </dict>
            <key>vip_maozi_label_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,1001},{32,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,17}}</string>
                <key>sourceSize</key>
                <string>{32,17}</string>
            </dict>
            <key>vip_maozi_label_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,627},{115,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,75}}</string>
                <key>sourceSize</key>
                <string>{115,75}</string>
            </dict>
            <key>vip_maozi_label_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,840},{119,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,82}}</string>
                <key>sourceSize</key>
                <string>{119,82}</string>
            </dict>
            <key>vip_maozi_label_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,1001},{35,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,18}}</string>
                <key>sourceSize</key>
                <string>{35,18}</string>
            </dict>
            <key>vip_maozi_label_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,550},{115,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,75}}</string>
                <key>sourceSize</key>
                <string>{115,75}</string>
            </dict>
            <key>vip_maozi_label_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,840},{119,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,82}}</string>
                <key>sourceSize</key>
                <string>{119,82}</string>
            </dict>
            <key>vip_maozi_label_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,1001},{34,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,18}}</string>
                <key>sourceSize</key>
                <string>{34,18}</string>
            </dict>
            <key>vip_maozi_label_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,550},{115,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,75}}</string>
                <key>sourceSize</key>
                <string>{115,75}</string>
            </dict>
            <key>vip_maozi_label_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,840},{119,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,82}}</string>
                <key>sourceSize</key>
                <string>{119,82}</string>
            </dict>
            <key>vip_maozi_label_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,1001},{35,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,17}}</string>
                <key>sourceSize</key>
                <string>{35,17}</string>
            </dict>
            <key>vip_maozi_label_4_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,840},{115,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,75}}</string>
                <key>sourceSize</key>
                <string>{115,75}</string>
            </dict>
            <key>vip_maozi_label_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,840},{119,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,82}}</string>
                <key>sourceSize</key>
                <string>{119,82}</string>
            </dict>
            <key>vip_maozi_label_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,1001},{34,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,17}}</string>
                <key>sourceSize</key>
                <string>{34,17}</string>
            </dict>
            <key>vip_maozi_label_5_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,840},{115,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,75}}</string>
                <key>sourceSize</key>
                <string>{115,75}</string>
            </dict>
            <key>vip_maozi_label_5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,840},{119,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,82}}</string>
                <key>sourceSize</key>
                <string>{119,82}</string>
            </dict>
            <key>vip_maozi_label_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1001},{35,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,18}}</string>
                <key>sourceSize</key>
                <string>{35,18}</string>
            </dict>
            <key>vip_maozi_label_6_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,840},{115,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,75}}</string>
                <key>sourceSize</key>
                <string>{115,75}</string>
            </dict>
            <key>vip_maozi_label_6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,840},{119,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,82}}</string>
                <key>sourceSize</key>
                <string>{119,82}</string>
            </dict>
            <key>vip_progress_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,288},{550,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{550,27}}</string>
                <key>sourceSize</key>
                <string>{550,27}</string>
            </dict>
            <key>vip_progress_jindu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,451},{548,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{548,25}}</string>
                <key>sourceSize</key>
                <string>{550,27}</string>
            </dict>
            <key>vip_title_label_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{29,550},{273,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{273,35}}</string>
                <key>sourceSize</key>
                <string>{273,35}</string>
            </dict>
            <key>viptitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,451},{359,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{359,97}}</string>
                <key>sourceSize</key>
                <string>{359,97}</string>
            </dict>
            <key>zhuanshu.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,961},{229,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,37}}</string>
                <key>sourceSize</key>
                <string>{229,37}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>VIP_res.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9f13228dd104c35084917dc62aa4048e$</string>
            <key>textureFileName</key>
            <string>VIP_res.png</string>
        </dict>
    </dict>
</plist>
