<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>s_bet_hover_additive.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,50},{116,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,116}}</string>
                <key>sourceSize</key>
                <string>{116,116}</string>
            </dict>
            <key>s_button_label.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{136,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,46}}</string>
                <key>sourceSize</key>
                <string>{136,46}</string>
            </dict>
            <key>s_buttons_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,2},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>s_chip_minus.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,106},{148,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,146}}</string>
                <key>sourceSize</key>
                <string>{148,146}</string>
            </dict>
            <key>s_chip_minus_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,106},{148,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,146}}</string>
                <key>sourceSize</key>
                <string>{148,146}</string>
            </dict>
            <key>s_chip_plus.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,106},{148,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,146}}</string>
                <key>sourceSize</key>
                <string>{148,146}</string>
            </dict>
            <key>s_chip_plus_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,106},{148,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,146}}</string>
                <key>sourceSize</key>
                <string>{148,146}</string>
            </dict>
            <key>s_circle.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,255},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>s_clear_bet.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,254},{149,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,147}}</string>
                <key>sourceSize</key>
                <string>{149,147}</string>
            </dict>
            <key>s_clear_bet_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,254},{149,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,147}}</string>
                <key>sourceSize</key>
                <string>{149,147}</string>
            </dict>
            <key>s_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,2},{652,102}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{652,102}}</string>
                <key>sourceSize</key>
                <string>{652,104}</string>
            </dict>
            <key>s_new_bet.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,254},{149,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,147}}</string>
                <key>sourceSize</key>
                <string>{149,147}</string>
            </dict>
            <key>s_new_bet_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{149,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,147}}</string>
                <key>sourceSize</key>
                <string>{149,147}</string>
            </dict>
            <key>s_number_fx_lose.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,2},{105,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,16},{105,105}}</string>
                <key>sourceSize</key>
                <string>{137,137}</string>
            </dict>
            <key>s_number_fx_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{1469,2},{115,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{115,115}}</string>
                <key>sourceSize</key>
                <string>{137,137}</string>
            </dict>
            <key>s_rebet.png</key>
            <dict>
                <key>frame</key>
                <string>{{1777,119},{149,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,147}}</string>
                <key>sourceSize</key>
                <string>{149,147}</string>
            </dict>
            <key>s_rebet_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{1626,119},{149,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,147}}</string>
                <key>sourceSize</key>
                <string>{149,147}</string>
            </dict>
            <key>s_result_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,403},{358,528}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{358,528}}</string>
                <key>sourceSize</key>
                <string>{358,528}</string>
            </dict>
            <key>s_result_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{1288,268},{358,528}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{358,528}}</string>
                <key>sourceSize</key>
                <string>{358,528}</string>
            </dict>
            <key>s_result_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,266},{358,528}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{358,528}}</string>
                <key>sourceSize</key>
                <string>{358,528}</string>
            </dict>
            <key>s_special_bet.png</key>
            <dict>
                <key>frame</key>
                <string>{{1475,119},{149,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,147}}</string>
                <key>sourceSize</key>
                <string>{149,147}</string>
            </dict>
            <key>s_special_bet_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{1324,119},{149,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,147}}</string>
                <key>sourceSize</key>
                <string>{149,147}</string>
            </dict>
            <key>s_special_bets_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,977},{895,598}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{895,598}}</string>
                <key>sourceSize</key>
                <string>{895,598}</string>
            </dict>
            <key>s_special_bets_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,977},{883,580}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,9},{883,580}}</string>
                <key>sourceSize</key>
                <string>{895,598}</string>
            </dict>
            <key>s_spin.png</key>
            <dict>
                <key>frame</key>
                <string>{{1173,117},{149,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,147}}</string>
                <key>sourceSize</key>
                <string>{149,147}</string>
            </dict>
            <key>s_spin_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{1022,117},{149,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,147}}</string>
                <key>sourceSize</key>
                <string>{149,147}</string>
            </dict>
            <key>s_table_colors_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,628},{1514,347}}</string>
                <key>offset</key>
                <string>{-59,117}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{1514,347}}</string>
                <key>sourceSize</key>
                <string>{1638,589}</string>
            </dict>
            <key>s_table_colors_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1003,2},{464,113}}</string>
                <key>offset</key>
                <string>{0,-233}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{587,471},{464,113}}</string>
                <key>sourceSize</key>
                <string>{1638,589}</string>
            </dict>
            <key>s_turbo_spin.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,117},{149,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,147}}</string>
                <key>sourceSize</key>
                <string>{149,147}</string>
            </dict>
            <key>s_turbo_spin_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,106},{149,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,147}}</string>
                <key>sourceSize</key>
                <string>{149,147}</string>
            </dict>
            <key>s_zero_hover_additive.png</key>
            <dict>
                <key>frame</key>
                <string>{{1586,2},{115,349}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,349}}</string>
                <key>sourceSize</key>
                <string>{115,349}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameui.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:249e2d4b49aee52169af0c947bfdbcc3$</string>
            <key>textureFileName</key>
            <string>gameui.png</string>
        </dict>
    </dict>
</plist>
