<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>buyu_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,341},{91,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,100}}</string>
                <key>sourceSize</key>
                <string>{91,100}</string>
            </dict>
            <key>buyu_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,867},{60,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,94}}</string>
                <key>sourceSize</key>
                <string>{60,94}</string>
            </dict>
            <key>buyu_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,614},{35,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,52}}</string>
                <key>sourceSize</key>
                <string>{35,52}</string>
            </dict>
            <key>buyu_100.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,892},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>buyu_101.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,807},{34,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,19}}</string>
                <key>sourceSize</key>
                <string>{34,19}</string>
            </dict>
            <key>buyu_102.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,787},{34,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,19}}</string>
                <key>sourceSize</key>
                <string>{34,19}</string>
            </dict>
            <key>buyu_103.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,767},{34,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,19}}</string>
                <key>sourceSize</key>
                <string>{34,19}</string>
            </dict>
            <key>buyu_104.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,747},{34,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,19}}</string>
                <key>sourceSize</key>
                <string>{34,19}</string>
            </dict>
            <key>buyu_105.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,341},{34,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,19}}</string>
                <key>sourceSize</key>
                <string>{34,19}</string>
            </dict>
            <key>buyu_106.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,122},{34,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,19}}</string>
                <key>sourceSize</key>
                <string>{34,19}</string>
            </dict>
            <key>buyu_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,529},{144,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,84}}</string>
                <key>sourceSize</key>
                <string>{144,84}</string>
            </dict>
            <key>buyu_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,834},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>buyu_12_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,725},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>buyu_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,808},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>buyu_13_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,723},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>buyu_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,374},{118,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,118}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
            <key>buyu_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,833},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>buyu_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,290},{298,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{298,50}}</string>
                <key>sourceSize</key>
                <string>{298,50}</string>
            </dict>
            <key>buyu_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,122},{28,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,25}}</string>
                <key>sourceSize</key>
                <string>{28,25}</string>
            </dict>
            <key>buyu_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,542},{76,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,83}}</string>
                <key>sourceSize</key>
                <string>{76,83}</string>
            </dict>
            <key>buyu_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,374},{76,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,86}}</string>
                <key>sourceSize</key>
                <string>{76,86}</string>
            </dict>
            <key>buyu_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,783},{76,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,83}}</string>
                <key>sourceSize</key>
                <string>{76,83}</string>
            </dict>
            <key>buyu_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,290},{209,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,72}}</string>
                <key>sourceSize</key>
                <string>{209,72}</string>
            </dict>
            <key>buyu_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,735},{104,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,72}}</string>
                <key>sourceSize</key>
                <string>{104,72}</string>
            </dict>
            <key>buyu_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,945},{95,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,44}}</string>
                <key>sourceSize</key>
                <string>{95,44}</string>
            </dict>
            <key>buyu_58.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,696},{76,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,86}}</string>
                <key>sourceSize</key>
                <string>{76,86}</string>
            </dict>
            <key>buyu_59.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,313},{91,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,100}}</string>
                <key>sourceSize</key>
                <string>{91,100}</string>
            </dict>
            <key>buyu_60.png</key>
            <dict>
                <key>frame</key>
                <string>{{939,611},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>buyu_61.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,527},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>buyu_62.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,748},{74,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,84}}</string>
                <key>sourceSize</key>
                <string>{74,84}</string>
            </dict>
            <key>buyu_65.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,1},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>buyu_71.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,491},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>buyu_72.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,442},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>buyu_73.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,688},{60,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,51}}</string>
                <key>sourceSize</key>
                <string>{60,51}</string>
            </dict>
            <key>buyu_74.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,836},{85,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,43}}</string>
                <key>sourceSize</key>
                <string>{85,43}</string>
            </dict>
            <key>buyu_75.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{251,387}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,387}}</string>
                <key>sourceSize</key>
                <string>{251,387}</string>
            </dict>
            <key>buyu_76.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,389},{293,272}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,272}}</string>
                <key>sourceSize</key>
                <string>{293,272}</string>
            </dict>
            <key>buyu_77.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,945},{178,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,62}}</string>
                <key>sourceSize</key>
                <string>{178,62}</string>
            </dict>
            <key>buyu_78.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,363},{230,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,10}}</string>
                <key>sourceSize</key>
                <string>{230,10}</string>
            </dict>
            <key>buyu_79.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,228},{168,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,58}}</string>
                <key>sourceSize</key>
                <string>{168,58}</string>
            </dict>
            <key>buyu_80.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,945},{174,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,62}}</string>
                <key>sourceSize</key>
                <string>{174,62}</string>
            </dict>
            <key>buyu_81.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,945},{174,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,62}}</string>
                <key>sourceSize</key>
                <string>{174,62}</string>
            </dict>
            <key>buyu_82.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,228},{263,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,61}}</string>
                <key>sourceSize</key>
                <string>{263,61}</string>
            </dict>
            <key>buyu_83.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,228},{175,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,47}}</string>
                <key>sourceSize</key>
                <string>{175,47}</string>
            </dict>
            <key>buyu_84.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,150},{660,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{660,77}}</string>
                <key>sourceSize</key>
                <string>{660,77}</string>
            </dict>
            <key>buyu_85.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,1},{157,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,148}}</string>
                <key>sourceSize</key>
                <string>{157,148}</string>
            </dict>
            <key>buyu_86.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,576},{80,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,87}}</string>
                <key>sourceSize</key>
                <string>{80,87}</string>
            </dict>
            <key>buyu_87.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,493},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,112}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>buyu_88.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,626},{51,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,61}}</string>
                <key>sourceSize</key>
                <string>{51,61}</string>
            </dict>
            <key>buyu_94.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,406},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>buyu_95.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,228},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>buyu_96.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,709},{39,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,37}}</string>
                <key>sourceSize</key>
                <string>{39,37}</string>
            </dict>
            <key>buyu_97.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,614},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>buyu_98.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,606},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>buyu_99.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,612},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>buyu_997.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,628},{99,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,106}}</string>
                <key>sourceSize</key>
                <string>{99,106}</string>
            </dict>
            <key>buyu_998.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,521},{99,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,106}}</string>
                <key>sourceSize</key>
                <string>{99,106}</string>
            </dict>
            <key>buyu_999.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,414},{99,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,106}}</string>
                <key>sourceSize</key>
                <string>{99,106}</string>
            </dict>
            <key>buyu_chat_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,341},{170,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,187}}</string>
                <key>sourceSize</key>
                <string>{170,187}</string>
            </dict>
            <key>buyu_chat_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,1},{471,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{471,148}}</string>
                <key>sourceSize</key>
                <string>{471,148}</string>
            </dict>
            <key>dating_0 .png</key>
            <dict>
                <key>frame</key>
                <string>{{751,664},{76,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,83}}</string>
                <key>sourceSize</key>
                <string>{76,83}</string>
            </dict>
            <key>red_down_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,276},{85,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,129}}</string>
                <key>sourceSize</key>
                <string>{85,129}</string>
            </dict>
            <key>shby_ui_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,122},{61,488}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,488}}</string>
                <key>sourceSize</key>
                <string>{61,488}</string>
            </dict>
            <key>shby_ui_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,667},{41,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,41}}</string>
                <key>sourceSize</key>
                <string>{41,41}</string>
            </dict>
            <key>shby_ui_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,461},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>your_cannon.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,962},{152,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,40}}</string>
                <key>sourceSize</key>
                <string>{152,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fishing.png</string>
            <key>size</key>
            <string>{1024,1008}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aaddbbe009f09e1aa71dc8522b643b6e$</string>
            <key>textureFileName</key>
            <string>fishing.png</string>
        </dict>
    </dict>
</plist>
