<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>GameMenuBG2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,267},{161,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,171}}</string>
                <key>sourceSize</key>
                <string>{161,171}</string>
            </dict>
            <key>GameMenuBG3.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,2},{161,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,244}}</string>
                <key>sourceSize</key>
                <string>{161,244}</string>
            </dict>
            <key>GameMenuBG4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{161,263}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,263}}</string>
                <key>sourceSize</key>
                <string>{161,263}</string>
            </dict>
            <key>MenuExit1.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,392},{135,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,43}}</string>
                <key>sourceSize</key>
                <string>{135,43}</string>
            </dict>
            <key>MenuExit2.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,392},{135,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,43}}</string>
                <key>sourceSize</key>
                <string>{135,43}</string>
            </dict>
            <key>MenuHelp1.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,210},{135,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,43}}</string>
                <key>sourceSize</key>
                <string>{135,43}</string>
            </dict>
            <key>MenuHelp2.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,210},{135,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,43}}</string>
                <key>sourceSize</key>
                <string>{135,43}</string>
            </dict>
            <key>MenuSoundOff1.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,347},{135,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,43}}</string>
                <key>sourceSize</key>
                <string>{135,43}</string>
            </dict>
            <key>MenuSoundOff2.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,210},{135,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,43}}</string>
                <key>sourceSize</key>
                <string>{135,43}</string>
            </dict>
            <key>MenuSoundOn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,210},{135,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,43}}</string>
                <key>sourceSize</key>
                <string>{135,43}</string>
            </dict>
            <key>MenuSoundOn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,210},{135,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,43}}</string>
                <key>sourceSize</key>
                <string>{135,43}</string>
            </dict>
            <key>ShakeOff1.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,347},{135,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,43}}</string>
                <key>sourceSize</key>
                <string>{135,43}</string>
            </dict>
            <key>ShakeOff2.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,210},{135,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,43}}</string>
                <key>sourceSize</key>
                <string>{135,43}</string>
            </dict>
            <key>ShakeOn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,165},{135,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,43}}</string>
                <key>sourceSize</key>
                <string>{135,43}</string>
            </dict>
            <key>ShakeOn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,165},{135,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,43}}</string>
                <key>sourceSize</key>
                <string>{135,43}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GameMenu.png</string>
            <key>size</key>
            <string>{440,440}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9fd3f3ddc118179831c46b1b544c4b7f:1/1$</string>
            <key>textureFileName</key>
            <string>GameMenu.png</string>
        </dict>
    </dict>
</plist>
