<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bigHallVip_Sign_1lines.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,573},{54,47}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{54,47}}</string>
                <key>sourceSize</key>
                <string>{58,47}</string>
            </dict>
            <key>bigHallVip_Sign_243ways.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,196},{58,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,47}}</string>
                <key>sourceSize</key>
                <string>{58,47}</string>
            </dict>
            <key>bigHallVip_Sign_25lines.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,542},{54,47}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{54,47}}</string>
                <key>sourceSize</key>
                <string>{58,47}</string>
            </dict>
            <key>bigHallVip_Sign_50lines.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,568},{54,47}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{54,47}}</string>
                <key>sourceSize</key>
                <string>{58,47}</string>
            </dict>
            <key>bigHallVip_Sign_9lines.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,519},{54,47}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{54,47}}</string>
                <key>sourceSize</key>
                <string>{58,47}</string>
            </dict>
            <key>bigHallVip_Sign_mildly.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,466},{52,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,34}}</string>
                <key>sourceSize</key>
                <string>{52,34}</string>
            </dict>
            <key>bigHallVip_Sign_moderate.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,539},{51,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,34}}</string>
                <key>sourceSize</key>
                <string>{51,34}</string>
            </dict>
            <key>bigHallVip_Sign_severe.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,520},{51,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,34}}</string>
                <key>sourceSize</key>
                <string>{51,34}</string>
            </dict>
            <key>bigHallVip_font_becomeVip.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,424},{112,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,29}}</string>
                <key>sourceSize</key>
                <string>{112,29}</string>
            </dict>
            <key>bigHall_Sign_1lines.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,314},{88,33}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{88,33}}</string>
                <key>sourceSize</key>
                <string>{98,33}</string>
            </dict>
            <key>bigHall_Sign_243ways.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,416},{112,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,33}}</string>
                <key>sourceSize</key>
                <string>{112,33}</string>
            </dict>
            <key>bigHall_Sign_25lines.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,451},{98,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,33}}</string>
                <key>sourceSize</key>
                <string>{98,33}</string>
            </dict>
            <key>bigHall_Sign_50lines.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,349},{98,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,33}}</string>
                <key>sourceSize</key>
                <string>{98,33}</string>
            </dict>
            <key>bigHall_Sign_9lines.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,245},{90,33}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{90,33}}</string>
                <key>sourceSize</key>
                <string>{98,33}</string>
            </dict>
            <key>bigHall_Sign_mildly.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,455},{97,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,30}}</string>
                <key>sourceSize</key>
                <string>{97,30}</string>
            </dict>
            <key>bigHall_Sign_moderate.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,455},{97,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,30}}</string>
                <key>sourceSize</key>
                <string>{97,30}</string>
            </dict>
            <key>bigHall_Sign_severe.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,486},{97,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,30}}</string>
                <key>sourceSize</key>
                <string>{97,30}</string>
            </dict>
            <key>bigHall_font_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,449},{50,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,26}}</string>
                <key>sourceSize</key>
                <string>{50,26}</string>
            </dict>
            <key>bigHall_font_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,487},{50,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,25}}</string>
                <key>sourceSize</key>
                <string>{50,25}</string>
            </dict>
            <key>bigHall_icon_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,196},{183,47}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,26},{183,47}}</string>
                <key>sourceSize</key>
                <string>{227,91}</string>
            </dict>
            <key>bigHall_icon_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,410},{129,37}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,33},{129,37}}</string>
                <key>sourceSize</key>
                <string>{227,91}</string>
            </dict>
            <key>bigHall_icon_005_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,286},{151,41}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,30},{151,41}}</string>
                <key>sourceSize</key>
                <string>{227,91}</string>
            </dict>
            <key>bigHall_icon_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,245},{155,39}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,30},{155,39}}</string>
                <key>sourceSize</key>
                <string>{227,91}</string>
            </dict>
            <key>bigHall_icon_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,341},{123,49}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,20},{123,49}}</string>
                <key>sourceSize</key>
                <string>{227,91}</string>
            </dict>
            <key>bigHall_icon_change.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,280},{90,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,32}}</string>
                <key>sourceSize</key>
                <string>{90,32}</string>
            </dict>
            <key>bigHall_pic_888.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,135},{238,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,59}}</string>
                <key>sourceSize</key>
                <string>{238,59}</string>
            </dict>
            <key>bigwinner_font_winner.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,449},{111,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,37}}</string>
                <key>sourceSize</key>
                <string>{111,37}</string>
            </dict>
            <key>email_font_email.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,504},{73,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,36}}</string>
                <key>sourceSize</key>
                <string>{73,36}</string>
            </dict>
            <key>font_bindingPhone_m.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,384},{117,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,30}}</string>
                <key>sourceSize</key>
                <string>{117,30}</string>
            </dict>
            <key>font_binding_m.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,487},{68,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,30}}</string>
                <key>sourceSize</key>
                <string>{68,30}</string>
            </dict>
            <key>gameHistory_font_history.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,329},{148,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,36}}</string>
                <key>sourceSize</key>
                <string>{148,36}</string>
            </dict>
            <key>gift_font_gift.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,466},{74,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,36}}</string>
                <key>sourceSize</key>
                <string>{74,36}</string>
            </dict>
            <key>gift_font_giftitem.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,392},{122,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,30}}</string>
                <key>sourceSize</key>
                <string>{122,30}</string>
            </dict>
            <key>gift_tips.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{485,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{485,131}}</string>
                <key>sourceSize</key>
                <string>{485,131}</string>
            </dict>
            <key>icon_comingSoon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,135},{204,257}}</string>
                <key>offset</key>
                <string>{-1,58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,3},{204,257}}</string>
                <key>sourceSize</key>
                <string>{232,379}</string>
            </dict>
            <key>info_btn_bindingCellPhone_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,367},{130,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,41}}</string>
                <key>sourceSize</key>
                <string>{130,41}</string>
            </dict>
            <key>info_btn_bindingCellPhone_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,384},{130,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,41}}</string>
                <key>sourceSize</key>
                <string>{130,41}</string>
            </dict>
            <key>info_btn_bindingCellPhone_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,341},{130,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,41}}</string>
                <key>sourceSize</key>
                <string>{130,41}</string>
            </dict>
            <key>wealth_font_wealth.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,427},{111,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,37}}</string>
                <key>sourceSize</key>
                <string>{111,37}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bigHall_tips.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:68ccfa95b5b6cdf1ddd2263176f2c415:1/1$</string>
            <key>textureFileName</key>
            <string>bigHall_tips.png</string>
        </dict>
    </dict>
</plist>
