<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>by_zdkp_ztts_caise.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{136,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,139}}</string>
                <key>sourceSize</key>
                <string>{136,139}</string>
            </dict>
            <key>by_zdkp_ztts_yuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,143},{118,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{118,118}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>by_zdkp_ztts.png</string>
            <key>size</key>
            <string>{140,263}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1debc3044f4480f63fcde8a27e98de0d$</string>
            <key>textureFileName</key>
            <string>by_zdkp_ztts.png</string>
        </dict>
    </dict>
</plist>
