<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish_60_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,252},{148,146}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{148,146}}</string>
                <key>sourceSize</key>
                <string>{150,146}</string>
            </dict>
            <key>fish_60_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,252},{150,134}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{150,134}}</string>
                <key>sourceSize</key>
                <string>{150,146}</string>
            </dict>
            <key>fish_60_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,146},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>fish_60_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,456},{234,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{234,218}}</string>
                <key>sourceSize</key>
                <string>{236,220}</string>
            </dict>
            <key>fish_60_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,692},{262,270}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{262,270}}</string>
                <key>sourceSize</key>
                <string>{268,272}</string>
            </dict>
            <key>fish_60_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,712},{284,284}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{284,284}}</string>
                <key>sourceSize</key>
                <string>{286,288}</string>
            </dict>
            <key>fish_60_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,414},{296,272}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,272}}</string>
                <key>sourceSize</key>
                <string>{296,274}</string>
            </dict>
            <key>fish_60_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,414},{276,274}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,1},{276,274}}</string>
                <key>sourceSize</key>
                <string>{300,278}</string>
            </dict>
            <key>fish_60_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,2},{248,248}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,248}}</string>
                <key>sourceSize</key>
                <string>{248,248}</string>
            </dict>
            <key>fish_60_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,2},{142,142}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{142,142}}</string>
                <key>sourceSize</key>
                <string>{150,146}</string>
            </dict>
            <key>fish_60_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,456},{238,208}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{238,208}}</string>
                <key>sourceSize</key>
                <string>{242,210}</string>
            </dict>
            <key>fish_60_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,666},{238,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{238,206}}</string>
                <key>sourceSize</key>
                <string>{240,210}</string>
            </dict>
            <key>fish_60_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,246},{238,208}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{238,208}}</string>
                <key>sourceSize</key>
                <string>{240,212}</string>
            </dict>
            <key>fish_60_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,692},{232,206}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{232,206}}</string>
                <key>sourceSize</key>
                <string>{234,210}</string>
            </dict>
            <key>fish_60_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{655,2},{238,208}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{238,208}}</string>
                <key>sourceSize</key>
                <string>{240,210}</string>
            </dict>
            <key>fish_60_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{401,410}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{401,410}}</string>
                <key>sourceSize</key>
                <string>{417,414}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_60.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f70a92d27136e4b308307571a59460c7$</string>
            <key>textureFileName</key>
            <string>fish_60.png</string>
        </dict>
    </dict>
</plist>
