<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish_61_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,1},{158,180}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,11},{158,180}}</string>
                <key>sourceSize</key>
                <string>{168,200}</string>
            </dict>
            <key>fish_61_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,158},{162,180}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,14},{162,180}}</string>
                <key>sourceSize</key>
                <string>{168,200}</string>
            </dict>
            <key>fish_61_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,158},{162,182}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,15},{162,182}}</string>
                <key>sourceSize</key>
                <string>{168,200}</string>
            </dict>
            <key>fish_61_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,1},{162,180}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,15},{162,180}}</string>
                <key>sourceSize</key>
                <string>{168,200}</string>
            </dict>
            <key>fish_61_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,1},{160,180}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,12},{160,180}}</string>
                <key>sourceSize</key>
                <string>{168,200}</string>
            </dict>
            <key>fish_61_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,1},{156,182}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,10},{156,182}}</string>
                <key>sourceSize</key>
                <string>{168,200}</string>
            </dict>
            <key>fish_61_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{156,182}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,9},{156,182}}</string>
                <key>sourceSize</key>
                <string>{168,200}</string>
            </dict>
            <key>quanpingzhadan_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,162},{234,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,57},{234,226}}</string>
                <key>sourceSize</key>
                <string>{342,340}</string>
            </dict>
            <key>quanpingzhadan_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,164},{250,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,50},{250,240}}</string>
                <key>sourceSize</key>
                <string>{342,340}</string>
            </dict>
            <key>quanpingzhadan_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,321},{270,294}}</string>
                <key>offset</key>
                <string>{22,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,34},{270,294}}</string>
                <key>sourceSize</key>
                <string>{342,340}</string>
            </dict>
            <key>quanpingzhadan_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,389},{270,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,35},{270,270}}</string>
                <key>sourceSize</key>
                <string>{342,340}</string>
            </dict>
            <key>quanpingzhadan_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,680},{296,296}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,22},{296,296}}</string>
                <key>sourceSize</key>
                <string>{342,340}</string>
            </dict>
            <key>quanpingzhadan_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,969},{316,318}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,11},{316,318}}</string>
                <key>sourceSize</key>
                <string>{342,340}</string>
            </dict>
            <key>quanpingzhadan_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,977},{332,334}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{332,334}}</string>
                <key>sourceSize</key>
                <string>{342,340}</string>
            </dict>
            <key>quanpingzhadan_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{655,977},{338,338}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{338,338}}</string>
                <key>sourceSize</key>
                <string>{342,340}</string>
            </dict>
            <key>quanpingzhadan_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,592},{296,278}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,36},{296,278}}</string>
                <key>sourceSize</key>
                <string>{342,340}</string>
            </dict>
            <key>quanpingzhadan_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,680},{296,288}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,36},{296,288}}</string>
                <key>sourceSize</key>
                <string>{342,340}</string>
            </dict>
            <key>quanpingzhadan_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{567,405},{274,300}}</string>
                <key>offset</key>
                <string>{9,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,34},{274,300}}</string>
                <key>sourceSize</key>
                <string>{342,340}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_61.png</string>
            <key>size</key>
            <string>{994,1316}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c84fdf36af174c9136a4073d7818a062$</string>
            <key>textureFileName</key>
            <string>fish_61.png</string>
        </dict>
    </dict>
</plist>
