<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish50_move1.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,2},{145,128}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{145,128}}</string>
                <key>sourceSize</key>
                <string>{165,128}</string>
            </dict>
            <key>fish50_move10.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,124},{143,98}}</string>
                <key>offset</key>
                <string>{-5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,11},{143,98}}</string>
                <key>sourceSize</key>
                <string>{165,128}</string>
            </dict>
            <key>fish50_move11.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,112},{143,106}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{143,106}}</string>
                <key>sourceSize</key>
                <string>{165,128}</string>
            </dict>
            <key>fish50_move12.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,2},{143,116}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{143,116}}</string>
                <key>sourceSize</key>
                <string>{165,128}</string>
            </dict>
            <key>fish50_move2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{149,126}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,126}}</string>
                <key>sourceSize</key>
                <string>{165,128}</string>
            </dict>
            <key>fish50_move3.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,2},{147,124}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{147,124}}</string>
                <key>sourceSize</key>
                <string>{165,128}</string>
            </dict>
            <key>fish50_move4.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,2},{145,120}}</string>
                <key>offset</key>
                <string>{-6,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{145,120}}</string>
                <key>sourceSize</key>
                <string>{165,128}</string>
            </dict>
            <key>fish50_move5.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,2},{143,108}}</string>
                <key>offset</key>
                <string>{-5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{143,108}}</string>
                <key>sourceSize</key>
                <string>{165,128}</string>
            </dict>
            <key>fish50_move6.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,124},{145,96}}</string>
                <key>offset</key>
                <string>{-6,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{145,96}}</string>
                <key>sourceSize</key>
                <string>{165,128}</string>
            </dict>
            <key>fish50_move7.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,132},{147,90}}</string>
                <key>offset</key>
                <string>{-8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,15},{147,90}}</string>
                <key>sourceSize</key>
                <string>{165,128}</string>
            </dict>
            <key>fish50_move8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{147,90}}</string>
                <key>offset</key>
                <string>{-7,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,13},{147,90}}</string>
                <key>sourceSize</key>
                <string>{165,128}</string>
            </dict>
            <key>fish50_move9.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,128},{145,94}}</string>
                <key>offset</key>
                <string>{-6,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,12},{145,94}}</string>
                <key>sourceSize</key>
                <string>{165,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish52.png</string>
            <key>size</key>
            <string>{886,224}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:87aef66981aa700650ef7b5793eb49bb:c5b24c15fe08221cb3da972f564d1cec:98d14fc10175396cf79a1abaed33e5f9$</string>
            <key>textureFileName</key>
            <string>fish52.png</string>
        </dict>
    </dict>
</plist>
