<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish_25_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1578},{232,280}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{232,280}}</string>
                <key>sourceSize</key>
                <string>{252,288}</string>
            </dict>
            <key>fish_25_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,574},{220,280}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,2},{220,280}}</string>
                <key>sourceSize</key>
                <string>{252,288}</string>
            </dict>
            <key>fish_25_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{220,284}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,2},{220,284}}</string>
                <key>sourceSize</key>
                <string>{252,288}</string>
            </dict>
            <key>fish_25_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,900},{216,284}}</string>
                <key>offset</key>
                <string>{-10,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,1},{216,284}}</string>
                <key>sourceSize</key>
                <string>{252,288}</string>
            </dict>
            <key>fish_25_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,856},{218,282}}</string>
                <key>offset</key>
                <string>{-14,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{218,282}}</string>
                <key>sourceSize</key>
                <string>{252,288}</string>
            </dict>
            <key>fish_25_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,1424},{218,280}}</string>
                <key>offset</key>
                <string>{-12,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{218,280}}</string>
                <key>sourceSize</key>
                <string>{252,288}</string>
            </dict>
            <key>fish_25_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,1706},{216,280}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,1},{216,280}}</string>
                <key>sourceSize</key>
                <string>{252,288}</string>
            </dict>
            <key>fish_25_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1352},{224,282}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,3},{224,282}}</string>
                <key>sourceSize</key>
                <string>{252,288}</string>
            </dict>
            <key>fish_25_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,1140},{224,282}}</string>
                <key>offset</key>
                <string>{-11,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{224,282}}</string>
                <key>sourceSize</key>
                <string>{252,288}</string>
            </dict>
            <key>fish_25_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,682},{216,284}}</string>
                <key>offset</key>
                <string>{-18,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{216,284}}</string>
                <key>sourceSize</key>
                <string>{252,288}</string>
            </dict>
            <key>fish_25_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{212,286}}</string>
                <key>offset</key>
                <string>{-20,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,286}}</string>
                <key>sourceSize</key>
                <string>{252,288}</string>
            </dict>
            <key>fish_25_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,288},{222,284}}</string>
                <key>offset</key>
                <string>{-11,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{222,284}}</string>
                <key>sourceSize</key>
                <string>{252,288}</string>
            </dict>
            <key>fish_25_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1118},{232,282}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,2},{232,282}}</string>
                <key>sourceSize</key>
                <string>{252,288}</string>
            </dict>
            <key>fish_25_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{234,284}}</string>
                <key>offset</key>
                <string>{8,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,1},{234,284}}</string>
                <key>sourceSize</key>
                <string>{252,288}</string>
            </dict>
            <key>fish_25_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,452},{228,284}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,2},{228,284}}</string>
                <key>sourceSize</key>
                <string>{252,288}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_25.png</string>
            <key>size</key>
            <string>{512,1988}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9fb1c2c72116f4405b8c8137cf287108$</string>
            <key>textureFileName</key>
            <string>fish_25.png</string>
        </dict>
    </dict>
</plist>
