<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>53_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,534},{265,281}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,281}}</string>
                <key>sourceSize</key>
                <string>{265,281}</string>
            </dict>
            <key>53_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,265},{265,279}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{265,279}}</string>
                <key>sourceSize</key>
                <string>{265,281}</string>
            </dict>
            <key>53_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,2},{263,279}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{263,279}}</string>
                <key>sourceSize</key>
                <string>{265,281}</string>
            </dict>
            <key>53_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,2},{263,275}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{263,275}}</string>
                <key>sourceSize</key>
                <string>{265,281}</string>
            </dict>
            <key>53_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,267},{265,275}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,275}}</string>
                <key>sourceSize</key>
                <string>{265,281}</string>
            </dict>
            <key>53_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{261,279}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{261,279}}</string>
                <key>sourceSize</key>
                <string>{265,281}</string>
            </dict>
            <key>53_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,534},{265,281}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,281}}</string>
                <key>sourceSize</key>
                <string>{265,281}</string>
            </dict>
            <key>53_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,267},{265,281}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,281}}</string>
                <key>sourceSize</key>
                <string>{265,281}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_53.png</string>
            <key>size</key>
            <string>{843,801}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1e4ca71b9e8ba91b014f8f475c7a39c1$</string>
            <key>textureFileName</key>
            <string>fish_53.png</string>
        </dict>
    </dict>
</plist>
