<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish_52_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,2},{126,448}}</string>
                <key>offset</key>
                <string>{20,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,0},{126,448}}</string>
                <key>sourceSize</key>
                <string>{170,484}</string>
            </dict>
            <key>fish_52_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,2},{126,432}}</string>
                <key>offset</key>
                <string>{20,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,0},{126,432}}</string>
                <key>sourceSize</key>
                <string>{170,484}</string>
            </dict>
            <key>fish_52_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,484},{162,484}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{162,484}}</string>
                <key>sourceSize</key>
                <string>{170,484}</string>
            </dict>
            <key>fish_52_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{168,480}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,480}}</string>
                <key>sourceSize</key>
                <string>{170,484}</string>
            </dict>
            <key>fish_52_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,484},{166,478}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{166,478}}</string>
                <key>sourceSize</key>
                <string>{170,484}</string>
            </dict>
            <key>fish_52_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,2},{156,480}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{156,480}}</string>
                <key>sourceSize</key>
                <string>{170,484}</string>
            </dict>
            <key>fish_52_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,484},{138,462}}</string>
                <key>offset</key>
                <string>{14,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,0},{138,462}}</string>
                <key>sourceSize</key>
                <string>{170,484}</string>
            </dict>
            <key>fish_52_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,886},{126,402}}</string>
                <key>offset</key>
                <string>{21,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,0},{126,402}}</string>
                <key>sourceSize</key>
                <string>{170,484}</string>
            </dict>
            <key>fish_52_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,394},{128,388}}</string>
                <key>offset</key>
                <string>{21,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,0},{128,388}}</string>
                <key>sourceSize</key>
                <string>{170,484}</string>
            </dict>
            <key>fish_52_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,2},{128,390}}</string>
                <key>offset</key>
                <string>{21,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,0},{128,390}}</string>
                <key>sourceSize</key>
                <string>{170,484}</string>
            </dict>
            <key>fish_52_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,436},{126,408}}</string>
                <key>offset</key>
                <string>{21,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,0},{126,408}}</string>
                <key>sourceSize</key>
                <string>{170,484}</string>
            </dict>
            <key>fish_52_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,452},{126,432}}</string>
                <key>offset</key>
                <string>{20,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,0},{126,432}}</string>
                <key>sourceSize</key>
                <string>{170,484}</string>
            </dict>
            <key>fish_52_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,2},{128,456}}</string>
                <key>offset</key>
                <string>{19,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,0},{128,456}}</string>
                <key>sourceSize</key>
                <string>{170,484}</string>
            </dict>
            <key>fish_52_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,484},{140,474}}</string>
                <key>offset</key>
                <string>{13,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{140,474}}</string>
                <key>sourceSize</key>
                <string>{170,484}</string>
            </dict>
            <key>fish_52_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,2},{152,480}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{152,480}}</string>
                <key>sourceSize</key>
                <string>{170,484}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_52.png</string>
            <key>size</key>
            <string>{1020,1014}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5432d9d0fb9780f4491e64ec8260dfa3$</string>
            <key>textureFileName</key>
            <string>fish_52.png</string>
        </dict>
    </dict>
</plist>
