<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jjby_changci_chyuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{384,384}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,384}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>jjby_changci_paopao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,388},{374,374}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{374,374}}</string>
                <key>sourceSize</key>
                <string>{374,374}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jjby_room_tu.png</string>
            <key>size</key>
            <string>{388,764}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c853301047e33e8ea9dab6d3d22ad3f2$</string>
            <key>textureFileName</key>
            <string>jjby_room_tu.png</string>
        </dict>
    </dict>
</plist>
