<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>low_incom_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,155},{388,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{388,86}}</string>
                <key>sourceSize</key>
                <string>{388,86}</string>
            </dict>
            <key>low_incom_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,361},{224,348}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,348}}</string>
                <key>sourceSize</key>
                <string>{224,348}</string>
            </dict>
            <key>low_incom_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,60},{240,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,93}}</string>
                <key>sourceSize</key>
                <string>{240,93}</string>
            </dict>
            <key>low_incom_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,2},{80,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,42}}</string>
                <key>sourceSize</key>
                <string>{80,42}</string>
            </dict>
            <key>low_incom_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{115,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,31}}</string>
                <key>sourceSize</key>
                <string>{115,31}</string>
            </dict>
            <key>low_incom_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,46},{179,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,72}}</string>
                <key>sourceSize</key>
                <string>{179,72}</string>
            </dict>
            <key>low_incom_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,2},{132,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,56}}</string>
                <key>sourceSize</key>
                <string>{132,56}</string>
            </dict>
            <key>low_incom_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,243},{450,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,116}}</string>
                <key>sourceSize</key>
                <string>{450,116}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>low_income.png</string>
            <key>size</key>
            <string>{454,587}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b4b8a22f1a5766369d9bc2eb45b727f9$</string>
            <key>textureFileName</key>
            <string>low_income.png</string>
        </dict>
    </dict>
</plist>
