<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tspaotai_ggban_qtz.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{451,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{451,48}}</string>
                <key>sourceSize</key>
                <string>{451,48}</string>
            </dict>
            <key>tspaotai_ggban_qtzicon.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,50},{30,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,32}}</string>
                <key>sourceSize</key>
                <string>{30,32}</string>
            </dict>
            <key>tspaotai_ggban_qtzzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,52},{78,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,23}}</string>
                <key>sourceSize</key>
                <string>{78,23}</string>
            </dict>
            <key>tspaotai_liuguang01.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,156},{24,22}}</string>
                <key>offset</key>
                <string>{-125,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,22}}</string>
                <key>sourceSize</key>
                <string>{274,22}</string>
            </dict>
            <key>tspaotai_liuguang02.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,26},{50,22}}</string>
                <key>offset</key>
                <string>{-112,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,22}}</string>
                <key>sourceSize</key>
                <string>{274,22}</string>
            </dict>
            <key>tspaotai_liuguang03.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,52},{78,22}}</string>
                <key>offset</key>
                <string>{-98,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,22}}</string>
                <key>sourceSize</key>
                <string>{274,22}</string>
            </dict>
            <key>tspaotai_liuguang04.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,276},{104,22}}</string>
                <key>offset</key>
                <string>{-85,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,22}}</string>
                <key>sourceSize</key>
                <string>{274,22}</string>
            </dict>
            <key>tspaotai_liuguang05.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,252},{128,22}}</string>
                <key>offset</key>
                <string>{-73,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,22}}</string>
                <key>sourceSize</key>
                <string>{274,22}</string>
            </dict>
            <key>tspaotai_liuguang06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,231},{152,22}}</string>
                <key>offset</key>
                <string>{-61,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,22}}</string>
                <key>sourceSize</key>
                <string>{274,22}</string>
            </dict>
            <key>tspaotai_liuguang07.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,180},{176,22}}</string>
                <key>offset</key>
                <string>{-49,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,22}}</string>
                <key>sourceSize</key>
                <string>{274,22}</string>
            </dict>
            <key>tspaotai_liuguang08.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,132},{200,22}}</string>
                <key>offset</key>
                <string>{-37,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,22}}</string>
                <key>sourceSize</key>
                <string>{274,22}</string>
            </dict>
            <key>tspaotai_liuguang09.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,84},{224,22}}</string>
                <key>offset</key>
                <string>{-25,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,22}}</string>
                <key>sourceSize</key>
                <string>{274,22}</string>
            </dict>
            <key>tspaotai_liuguang10.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,228},{246,22}}</string>
                <key>offset</key>
                <string>{-14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,22}}</string>
                <key>sourceSize</key>
                <string>{274,22}</string>
            </dict>
            <key>tspaotai_liuguang11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,183},{268,22}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,22}}</string>
                <key>sourceSize</key>
                <string>{274,22}</string>
            </dict>
            <key>tspaotai_liuguang12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,135},{274,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,22}}</string>
                <key>sourceSize</key>
                <string>{274,22}</string>
            </dict>
            <key>tspaotai_liuguang13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,111},{274,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,22}}</string>
                <key>sourceSize</key>
                <string>{274,22}</string>
            </dict>
            <key>tspaotai_liuguang14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,87},{274,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,22}}</string>
                <key>sourceSize</key>
                <string>{274,22}</string>
            </dict>
            <key>tspaotai_liuguang15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,159},{272,22}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{272,22}}</string>
                <key>sourceSize</key>
                <string>{274,22}</string>
            </dict>
            <key>tspaotai_liuguang16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,207},{246,22}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{246,22}}</string>
                <key>sourceSize</key>
                <string>{274,22}</string>
            </dict>
            <key>tspaotai_liuguang17.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,108},{222,22}}</string>
                <key>offset</key>
                <string>{26,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,0},{222,22}}</string>
                <key>sourceSize</key>
                <string>{274,22}</string>
            </dict>
            <key>tspaotai_liuguang18.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,156},{196,22}}</string>
                <key>offset</key>
                <string>{39,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,0},{196,22}}</string>
                <key>sourceSize</key>
                <string>{274,22}</string>
            </dict>
            <key>tspaotai_liuguang19.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,204},{172,22}}</string>
                <key>offset</key>
                <string>{51,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,0},{172,22}}</string>
                <key>sourceSize</key>
                <string>{274,22}</string>
            </dict>
            <key>tspaotai_liuguang20.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,252},{148,22}}</string>
                <key>offset</key>
                <string>{63,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,0},{148,22}}</string>
                <key>sourceSize</key>
                <string>{274,22}</string>
            </dict>
            <key>tspaotai_liuguang21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,255},{124,22}}</string>
                <key>offset</key>
                <string>{75,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,0},{124,22}}</string>
                <key>sourceSize</key>
                <string>{274,22}</string>
            </dict>
            <key>tspaotai_liuguang22.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,255},{100,22}}</string>
                <key>offset</key>
                <string>{87,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,0},{100,22}}</string>
                <key>sourceSize</key>
                <string>{274,22}</string>
            </dict>
            <key>tspaotai_liuguang23.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,231},{74,22}}</string>
                <key>offset</key>
                <string>{100,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,0},{74,22}}</string>
                <key>sourceSize</key>
                <string>{274,22}</string>
            </dict>
            <key>tspaotai_liuguang24.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,2},{50,22}}</string>
                <key>offset</key>
                <string>{112,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,0},{50,22}}</string>
                <key>sourceSize</key>
                <string>{274,22}</string>
            </dict>
            <key>tspaotai_liuguang25.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,132},{26,22}}</string>
                <key>offset</key>
                <string>{124,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{248,0},{26,22}}</string>
                <key>sourceSize</key>
                <string>{274,22}</string>
            </dict>
            <key>tspaotai_qicaiguang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,52},{282,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,33}}</string>
                <key>sourceSize</key>
                <string>{282,33}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tspaotai_rcgonggao.png</string>
            <key>size</key>
            <string>{512,300}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:adc2e68d8edc50071dab33116a41009c$</string>
            <key>textureFileName</key>
            <string>tspaotai_rcgonggao.png</string>
        </dict>
    </dict>
</plist>
