<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>slots_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1110,166},{74,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,12},{74,120}}</string>
                <key>sourceSize</key>
                <string>{162,144}</string>
            </dict>
            <key>slots_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1432,2},{128,112}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,16},{128,112}}</string>
                <key>sourceSize</key>
                <string>{162,144}</string>
            </dict>
            <key>slots_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1666,2},{92,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,17},{92,110}}</string>
                <key>sourceSize</key>
                <string>{162,144}</string>
            </dict>
            <key>slots_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1587,124},{88,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,14},{88,116}}</string>
                <key>sourceSize</key>
                <string>{162,144}</string>
            </dict>
            <key>slots_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1483,132},{102,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,17},{102,110}}</string>
                <key>sourceSize</key>
                <string>{162,144}</string>
            </dict>
            <key>slots_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,2},{162,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,240}}</string>
                <key>sourceSize</key>
                <string>{162,240}</string>
            </dict>
            <key>slots_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1677,114},{96,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,20},{96,104}}</string>
                <key>sourceSize</key>
                <string>{162,144}</string>
            </dict>
            <key>slots_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1546,2},{118,120}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,14},{118,120}}</string>
                <key>sourceSize</key>
                <string>{162,144}</string>
            </dict>
            <key>slots_71.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,2},{158,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,174}}</string>
                <key>sourceSize</key>
                <string>{158,174}</string>
            </dict>
            <key>slots_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1292,2},{162,138}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{162,138}}</string>
                <key>sourceSize</key>
                <string>{162,144}</string>
            </dict>
            <key>slots_81.png</key>
            <dict>
                <key>frame</key>
                <string>{{1001,2},{162,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,149}}</string>
                <key>sourceSize</key>
                <string>{162,149}</string>
            </dict>
            <key>slots_82.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,2},{162,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,149}}</string>
                <key>sourceSize</key>
                <string>{162,149}</string>
            </dict>
            <key>slots_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1152,2},{162,138}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{162,138}}</string>
                <key>sourceSize</key>
                <string>{162,144}</string>
            </dict>
            <key>slots_frame_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,2},{162,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,240}}</string>
                <key>sourceSize</key>
                <string>{162,240}</string>
            </dict>
            <key>slots_fs_btn_again_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{1775,76},{249,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,72}}</string>
                <key>sourceSize</key>
                <string>{249,72}</string>
            </dict>
            <key>slots_fs_btn_again_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,2},{241,68}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{241,68}}</string>
                <key>sourceSize</key>
                <string>{249,72}</string>
            </dict>
            <key>slots_fs_btn_begin_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{1775,2},{249,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,72}}</string>
                <key>sourceSize</key>
                <string>{249,72}</string>
            </dict>
            <key>slots_fs_btn_begin_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,2},{241,68}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{241,68}}</string>
                <key>sourceSize</key>
                <string>{249,72}</string>
            </dict>
            <key>slots_fs_btn_end_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{1232,166},{249,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,72}}</string>
                <key>sourceSize</key>
                <string>{249,72}</string>
            </dict>
            <key>slots_fs_btn_end_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{241,68}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{241,68}}</string>
                <key>sourceSize</key>
                <string>{249,72}</string>
            </dict>
            <key>slots_loadbar.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,213},{266,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,21}}</string>
                <key>sourceSize</key>
                <string>{266,21}</string>
            </dict>
            <key>slots_loadbar_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,178},{276,33}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{276,33}}</string>
                <key>sourceSize</key>
                <string>{276,37}</string>
            </dict>
            <key>slots_mask_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,2},{148,226}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{148,226}}</string>
                <key>sourceSize</key>
                <string>{162,240}</string>
            </dict>
            <key>slots_ptable_btn_close_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{1775,150},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>slots_ptable_btn_close_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{1861,150},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{80,80}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>slots_ptable_btn_next_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,178},{62,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,71}}</string>
                <key>sourceSize</key>
                <string>{62,71}</string>
            </dict>
            <key>slots_ptable_btn_next_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{763,178},{58,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{58,67}}</string>
                <key>sourceSize</key>
                <string>{62,71}</string>
            </dict>
            <key>slots_ptable_btn_return_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{1232,166},{249,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,72}}</string>
                <key>sourceSize</key>
                <string>{249,72}</string>
            </dict>
            <key>slots_ptable_btn_return_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{241,68}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{241,68}}</string>
                <key>sourceSize</key>
                <string>{249,72}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Slots_ZhongGanYiDan.png</string>
            <key>size</key>
            <string>{2038,245}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4e43f0cd21fb75ae452155d2e7ea019e:1/1$</string>
            <key>textureFileName</key>
            <string>Slots_ZhongGanYiDan.png</string>
        </dict>
    </dict>
</plist>
