<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_track_135.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{1,1},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_136.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{403,1},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_137.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{805,1},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_138.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{1207,1},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_139.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{1609,1},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_140.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{1,228},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_141.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{403,228},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_142.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{805,228},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_143.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{1207,228},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_144.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{1609,228},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_145.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{1,455},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_146.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{403,455},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_147.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{805,455},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_148.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{1207,455},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_149.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{1609,455},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_150.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{1,682},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_151.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{403,682},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_152.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{805,682},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_153.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{1207,682},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_154.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{1609,682},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_155.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{1,909},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_156.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{403,909},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_157.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{805,909},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_158.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{1207,909},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_159.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{1609,909},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_160.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{1,1136},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_161.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{403,1136},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_162.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{805,1136},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_163.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{1207,1136},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_164.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{1609,1136},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_165.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{1,1363},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_166.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{403,1363},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_167.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{805,1363},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_168.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{1207,1363},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_169.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{1609,1363},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_170.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{1,1590},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_171.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{403,1590},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_172.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{805,1590},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_173.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{1207,1590},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_174.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{1609,1590},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_175.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{1,1817},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_176.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{403,1817},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_177.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{805,1817},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_178.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{1207,1817},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_179.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{1609,1817},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGB888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>saima4.jpg</string>
            <key>size</key>
            <string>{2010,2043}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5ece113f1a663308317b615c92ba0d2c:d756088deda9cd39cea7e83fcfa8a14c:fd4092f0f12c7f523e7af0c5f0483f86$</string>
            <key>textureFileName</key>
            <string>saima4.jpg</string>
        </dict>
    </dict>
</plist>
