<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_track_315.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{1,1},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_316.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{403,1},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_317.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{805,1},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_318.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{1207,1},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_319.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{1609,1},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_320.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{1,228},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_321.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{403,228},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_322.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{805,228},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_323.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{1207,228},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_324.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{1609,228},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_325.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{1,455},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_326.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{403,455},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_327.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{805,455},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_328.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{1207,455},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_329.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{1609,455},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_330.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{1,682},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_331.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{403,682},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_332.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{805,682},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_333.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{1207,682},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_334.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{1609,682},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_335.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{1,909},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_336.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{403,909},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_337.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{805,909},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_338.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{1207,909},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_339.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{1609,909},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_340.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{1,1136},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_341.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{403,1136},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_342.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{805,1136},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_343.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{1207,1136},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_344.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{1609,1136},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_345.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{1,1363},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_346.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{403,1363},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_347.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{805,1363},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_348.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{1207,1363},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_349.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{1609,1363},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_350.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{1,1590},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_351.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{403,1590},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_352.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{805,1590},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_353.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{1207,1590},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_354.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{1609,1590},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_355.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{1,1817},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_356.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{403,1817},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_357.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{805,1817},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_358.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{1207,1817},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_359.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{1609,1817},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGB888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>saima8.jpg</string>
            <key>size</key>
            <string>{2010,2043}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5e2c768719c38463106b3eaf4e4a6477:6cf47dca6b3411520b478b90076859b8:d2bbbf9cdade20b4131096cbd107b244$</string>
            <key>textureFileName</key>
            <string>saima8.jpg</string>
        </dict>
    </dict>
</plist>
