<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_track_180.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{1,1},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_181.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{403,1},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_182.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{805,1},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_183.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{1207,1},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_184.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{1609,1},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_185.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{1,228},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_186.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{403,228},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_187.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{805,228},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_188.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{1207,228},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_189.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{1609,228},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_190.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{1,455},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_191.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{403,455},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_192.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{805,455},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_193.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{1207,455},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_194.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{1609,455},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_195.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{1,682},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_196.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{403,682},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_197.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{805,682},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_198.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{1207,682},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_199.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{1609,682},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_200.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{1,909},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_201.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{403,909},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_202.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{805,909},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_203.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{1207,909},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_204.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{1609,909},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_205.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{1,1136},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_206.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{403,1136},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_207.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{805,1136},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_208.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{1207,1136},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_209.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{1609,1136},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_210.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{1,1363},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_211.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{403,1363},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_212.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{805,1363},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_213.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{1207,1363},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_214.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{1609,1363},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_215.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{1,1590},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_216.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{403,1590},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_217.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{805,1590},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_218.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{1207,1590},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_219.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{1609,1590},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_220.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{1,1817},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_221.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{403,1817},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_222.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{805,1817},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_223.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{1207,1817},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_224.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{1609,1817},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGB888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>saima5.jpg</string>
            <key>size</key>
            <string>{2010,2043}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:065d13461834a1a5f79caaaa9ffa7e4c:41c4239689862f7b4f338a2525dae95a:dea1a76dc4783f66e0524f2a4e861272$</string>
            <key>textureFileName</key>
            <string>saima5.jpg</string>
        </dict>
    </dict>
</plist>
