<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_track_045.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{1,1},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_046.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{403,1},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_047.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{805,1},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_048.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{1207,1},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_049.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{1609,1},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_050.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{1,228},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_051.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{403,228},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_052.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{805,228},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_053.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{1207,228},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_054.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{1609,228},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_055.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{1,455},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_056.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{403,455},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_057.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{805,455},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_058.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{1207,455},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_059.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{1609,455},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_060.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{1,682},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_061.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{403,682},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_062.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{805,682},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_063.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{1207,682},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_064.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{1609,682},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_065.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{1,909},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_066.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{403,909},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_067.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{805,909},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_068.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{1207,909},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_069.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{1609,909},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_070.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{1,1136},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_071.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{403,1136},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_072.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{805,1136},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_073.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{1207,1136},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_074.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{1609,1136},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_075.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{1,1363},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_076.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{403,1363},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_077.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{805,1363},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_078.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{1207,1363},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_079.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{1609,1363},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_080.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{1,1590},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_081.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{403,1590},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_082.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{805,1590},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_083.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{1207,1590},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_084.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{1609,1590},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_085.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{1,1817},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_086.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{403,1817},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_087.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{805,1817},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_088.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{1207,1817},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_track_089.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{1609,1817},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGB888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>saima02.jpg</string>
            <key>size</key>
            <string>{2010,2043}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:906d59f668178665944e0441d4f8af3f:2dfd384660f7bfafe8d9f0ceed12b4f9:805f670c1413b1f9b29592154b557689$</string>
            <key>textureFileName</key>
            <string>saima02.jpg</string>
        </dict>
    </dict>
</plist>
