<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dl_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,534},{22,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,132}}</string>
                <key>sourceSize</key>
                <string>{22,132}</string>
            </dict>
            <key>xsl_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,534},{22,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,66}}</string>
                <key>sourceSize</key>
                <string>{22,66}</string>
            </dict>
            <key>zpl_bg_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,268},{44,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,264}}</string>
                <key>sourceSize</key>
                <string>{44,264}</string>
            </dict>
            <key>zpl_bg_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{44,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,264}}</string>
                <key>sourceSize</key>
                <string>{44,264}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lzt_bg.png</string>
            <key>size</key>
            <string>{50,668}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e7f005fbe6a70aed7874788ba61c8484:1/1$</string>
            <key>textureFileName</key>
            <string>lzt_bg.png</string>
        </dict>
    </dict>
</plist>
