<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>TriangleAddN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,41}</string>
                <key>spriteSourceSize</key>
                <string>{45,41}</string>
                <key>textureRect</key>
                <string>{{882,1},{45,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TriangleAddP.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,41}</string>
                <key>spriteSourceSize</key>
                <string>{45,41}</string>
                <key>textureRect</key>
                <string>{{836,1},{45,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TriangleBetBG.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{289,45}</string>
                <key>spriteSourceSize</key>
                <string>{289,45}</string>
                <key>textureRect</key>
                <string>{{1,89},{289,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TriangleBlink00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,65}</string>
                <key>spriteSourceSize</key>
                <string>{290,65}</string>
                <key>textureRect</key>
                <string>{{1,406},{290,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TriangleBlink01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,64}</string>
                <key>spriteSourceSize</key>
                <string>{290,64}</string>
                <key>textureRect</key>
                <string>{{595,341},{290,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TriangleBonusBG.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,163}</string>
                <key>spriteSourceSize</key>
                <string>{266,163}</string>
                <key>textureRect</key>
                <string>{{183,504},{266,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TriangleBonusIconH.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,90}</string>
                <key>spriteSourceSize</key>
                <string>{97,90}</string>
                <key>textureRect</key>
                <string>{{581,406},{97,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TriangleBonusIconN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,59}</string>
                <key>spriteSourceSize</key>
                <string>{63,59}</string>
                <key>textureRect</key>
                <string>{{291,89},{63,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TriangleBtnD.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{197,62}</string>
                <key>spriteSourceSize</key>
                <string>{197,62}</string>
                <key>textureRect</key>
                <string>{{1,278},{197,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TriangleBtnSelectN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,62}</string>
                <key>spriteSourceSize</key>
                <string>{73,62}</string>
                <key>textureRect</key>
                <string>{{199,278},{73,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TriangleBtnSelectP.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,62}</string>
                <key>spriteSourceSize</key>
                <string>{73,62}</string>
                <key>textureRect</key>
                <string>{{273,278},{73,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TriangleBtnStartD.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{197,62}</string>
                <key>spriteSourceSize</key>
                <string>{197,62}</string>
                <key>textureRect</key>
                <string>{{595,215},{197,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TriangleBtnStartN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{197,62}</string>
                <key>spriteSourceSize</key>
                <string>{197,62}</string>
                <key>textureRect</key>
                <string>{{199,215},{197,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TriangleBtnStartP.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{197,62}</string>
                <key>spriteSourceSize</key>
                <string>{197,62}</string>
                <key>textureRect</key>
                <string>{{397,215},{197,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TriangleBtnStopN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{197,62}</string>
                <key>spriteSourceSize</key>
                <string>{197,62}</string>
                <key>textureRect</key>
                <string>{{1,341},{197,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TriangleBtnStopP.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{197,62}</string>
                <key>spriteSourceSize</key>
                <string>{197,62}</string>
                <key>textureRect</key>
                <string>{{199,341},{197,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TriangleBtnTimes10D.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{197,62}</string>
                <key>spriteSourceSize</key>
                <string>{197,62}</string>
                <key>textureRect</key>
                <string>{{397,341},{197,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TriangleBtnTimes10N.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{197,62}</string>
                <key>spriteSourceSize</key>
                <string>{197,62}</string>
                <key>textureRect</key>
                <string>{{743,278},{197,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TriangleBtnTimes10P.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{197,62}</string>
                <key>spriteSourceSize</key>
                <string>{197,62}</string>
                <key>textureRect</key>
                <string>{{545,278},{197,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TriangleBtnTimes20D.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{197,62}</string>
                <key>spriteSourceSize</key>
                <string>{197,62}</string>
                <key>textureRect</key>
                <string>{{347,278},{197,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TriangleBtnTimes20N.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{197,62}</string>
                <key>spriteSourceSize</key>
                <string>{197,62}</string>
                <key>textureRect</key>
                <string>{{1,215},{197,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TriangleBtnTimes20P.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{197,62}</string>
                <key>spriteSourceSize</key>
                <string>{197,62}</string>
                <key>textureRect</key>
                <string>{{743,152},{197,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TriangleBtnTimes40D.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{197,62}</string>
                <key>spriteSourceSize</key>
                <string>{197,62}</string>
                <key>textureRect</key>
                <string>{{751,89},{197,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TriangleBtnTimes40N.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{197,62}</string>
                <key>spriteSourceSize</key>
                <string>{197,62}</string>
                <key>textureRect</key>
                <string>{{355,89},{197,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TriangleBtnTimes40P.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{197,62}</string>
                <key>spriteSourceSize</key>
                <string>{197,62}</string>
                <key>textureRect</key>
                <string>{{553,89},{197,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TriangleBtnToBonusD.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{197,62}</string>
                <key>spriteSourceSize</key>
                <string>{197,62}</string>
                <key>textureRect</key>
                <string>{{1,152},{197,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TriangleBtnToBonusN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{197,62}</string>
                <key>spriteSourceSize</key>
                <string>{197,62}</string>
                <key>textureRect</key>
                <string>{{273,152},{197,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TriangleBtnToBonusP.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{197,62}</string>
                <key>spriteSourceSize</key>
                <string>{197,62}</string>
                <key>textureRect</key>
                <string>{{545,152},{197,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TriangleCoinBG.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,45}</string>
                <key>spriteSourceSize</key>
                <string>{266,45}</string>
                <key>textureRect</key>
                <string>{{268,43},{266,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TriangleGameName.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,73}</string>
                <key>spriteSourceSize</key>
                <string>{288,73}</string>
                <key>textureRect</key>
                <string>{{292,406},{288,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TrianglePondBG.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,45}</string>
                <key>spriteSourceSize</key>
                <string>{266,45}</string>
                <key>textureRect</key>
                <string>{{535,43},{266,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TriangleReturnN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,62}</string>
                <key>spriteSourceSize</key>
                <string>{73,62}</string>
                <key>textureRect</key>
                <string>{{199,152},{73,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TriangleReturnP.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,62}</string>
                <key>spriteSourceSize</key>
                <string>{73,62}</string>
                <key>textureRect</key>
                <string>{{471,152},{73,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TriangleRewardBG.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,45}</string>
                <key>spriteSourceSize</key>
                <string>{266,45}</string>
                <key>textureRect</key>
                <string>{{1,43},{266,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TriangleSubN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,41}</string>
                <key>spriteSourceSize</key>
                <string>{46,41}</string>
                <key>textureRect</key>
                <string>{{742,1},{46,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TriangleSubP.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,41}</string>
                <key>spriteSourceSize</key>
                <string>{46,41}</string>
                <key>textureRect</key>
                <string>{{789,1},{46,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TriangleTextBonus1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{254,97}</string>
                <key>spriteSourceSize</key>
                <string>{254,97}</string>
                <key>textureRect</key>
                <string>{{679,406},{254,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TriangleTextBonus2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,179}</string>
                <key>spriteSourceSize</key>
                <string>{242,179}</string>
                <key>textureRect</key>
                <string>{{450,504},{242,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TriangleTextGameRule.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{620,37}</string>
                <key>spriteSourceSize</key>
                <string>{620,37}</string>
                <key>textureRect</key>
                <string>{{121,1},{620,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TriangleTextLeftTime.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,33}</string>
                <key>spriteSourceSize</key>
                <string>{119,33}</string>
                <key>textureRect</key>
                <string>{{1,1},{119,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TriangleTextReadMe.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,138}</string>
                <key>spriteSourceSize</key>
                <string>{181,138}</string>
                <key>textureRect</key>
                <string>{{1,504},{181,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>TriangleGame.png</string>
            <key>size</key>
            <string>{949,684}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:93aaa45d8fb6bea209d9188c3c6f4b3e:4663d18f8e3ac66c8185781c461b6b31:de362813a0e8dc44582bf919b757cea1$</string>
            <key>textureFileName</key>
            <string>TriangleGame.png</string>
        </dict>
    </dict>
</plist>
