<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>BlueLineH.png</key>
			<dict>
				<key>frame</key>
				<string>{{179,818},{93,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,38}</string>
			</dict>
			<key>BlueLineV.png</key>
			<dict>
				<key>frame</key>
				<string>{{338,453},{40,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,88}</string>
			</dict>
			<key>CyanLineH.png</key>
			<dict>
				<key>frame</key>
				<string>{{274,818},{93,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,38}</string>
			</dict>
			<key>CyanLineV.png</key>
			<dict>
				<key>frame</key>
				<string>{{380,453},{40,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,88}</string>
			</dict>
			<key>GrayLineH.png</key>
			<dict>
				<key>frame</key>
				<string>{{369,810},{93,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,38}</string>
			</dict>
			<key>GrayLineV.png</key>
			<dict>
				<key>frame</key>
				<string>{{422,453},{40,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,88}</string>
			</dict>
			<key>GreenLineH.png</key>
			<dict>
				<key>frame</key>
				<string>{{427,978},{93,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,38}</string>
			</dict>
			<key>GreenLineV.png</key>
			<dict>
				<key>frame</key>
				<string>{{460,646},{40,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,88}</string>
			</dict>
			<key>OrangeLineH.png</key>
			<dict>
				<key>frame</key>
				<string>{{522,978},{93,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,38}</string>
			</dict>
			<key>OrangeLineV.png</key>
			<dict>
				<key>frame</key>
				<string>{{464,736},{40,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,88}</string>
			</dict>
			<key>PurpleLineH.png</key>
			<dict>
				<key>frame</key>
				<string>{{193,310},{93,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,38}</string>
			</dict>
			<key>PurpleLineV.png</key>
			<dict>
				<key>frame</key>
				<string>{{502,646},{40,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,88}</string>
			</dict>
			<key>RedLineH.png</key>
			<dict>
				<key>frame</key>
				<string>{{193,350},{93,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,38}</string>
			</dict>
			<key>RedLineV.png</key>
			<dict>
				<key>frame</key>
				<string>{{506,736},{40,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,88}</string>
			</dict>
			<key>TriangleBGBig.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,203},{190,190}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,190}</string>
			</dict>
			<key>TriangleBGHL.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{190,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,200}</string>
			</dict>
			<key>TriangleBGSmall.png</key>
			<dict>
				<key>frame</key>
				<string>{{179,395},{157,157}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,157}</string>
			</dict>
			<key>TriangleBlueH.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,884},{140,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,130}</string>
			</dict>
			<key>TriangleBlueN.png</key>
			<dict>
				<key>frame</key>
				<string>{{193,1},{110,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,101}</string>
			</dict>
			<key>TriangleCyanH.png</key>
			<dict>
				<key>frame</key>
				<string>{{143,884},{140,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,130}</string>
			</dict>
			<key>TriangleCyanN.png</key>
			<dict>
				<key>frame</key>
				<string>{{193,104},{110,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,101}</string>
			</dict>
			<key>TriangleGrayH.png</key>
			<dict>
				<key>frame</key>
				<string>{{179,554},{140,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,130}</string>
			</dict>
			<key>TriangleGrayN.png</key>
			<dict>
				<key>frame</key>
				<string>{{193,207},{110,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,101}</string>
			</dict>
			<key>TriangleGreenH.png</key>
			<dict>
				<key>frame</key>
				<string>{{179,686},{140,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,130}</string>
			</dict>
			<key>TriangleGreenN.png</key>
			<dict>
				<key>frame</key>
				<string>{{338,350},{110,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,101}</string>
			</dict>
			<key>TriangleOrangeH.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,395},{176,161}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{176,161}</string>
			</dict>
			<key>TriangleOrangeN.png</key>
			<dict>
				<key>frame</key>
				<string>{{321,554},{137,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,126}</string>
			</dict>
			<key>TrianglePurpleH.png</key>
			<dict>
				<key>frame</key>
				<string>{{285,858},{140,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,130}</string>
			</dict>
			<key>TrianglePurpleN.png</key>
			<dict>
				<key>frame</key>
				<string>{{460,543},{110,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,101}</string>
			</dict>
			<key>TriangleRedH.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,558},{176,161}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{176,161}</string>
			</dict>
			<key>TriangleRedN.png</key>
			<dict>
				<key>frame</key>
				<string>{{321,682},{137,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,126}</string>
			</dict>
			<key>TriangleYellowH.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,721},{176,161}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{176,161}</string>
			</dict>
			<key>TriangleYellowN.png</key>
			<dict>
				<key>frame</key>
				<string>{{427,850},{137,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,126}</string>
			</dict>
			<key>YellowLineH.png</key>
			<dict>
				<key>frame</key>
				<string>{{288,310},{93,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,38}</string>
			</dict>
			<key>YellowLineV.png</key>
			<dict>
				<key>frame</key>
				<string>{{544,646},{40,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,88}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>TriangleRule.png</string>
			<key>realTextureFileName</key>
			<string>TriangleRule.png</string>
			<key>size</key>
			<string>{616,1017}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>616</integer>
			<key>height</key>
			<integer>1017</integer>
		</dict>
	</dict>
</plist>