<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>SD_0001.png</key>
			<dict>
				<key>frame</key>
				<string>{{778,1549},{172,168}}</string>
				<key>offset</key>
				<string>{-13,-6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{237,237}</string>
			</dict>
			<key>SD_0002.png</key>
			<dict>
				<key>frame</key>
				<string>{{926,549},{164,160}}</string>
				<key>offset</key>
				<string>{-16,-9}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{237,237}</string>
			</dict>
			<key>SD_0003.png</key>
			<dict>
				<key>frame</key>
				<string>{{1080,332},{156,150}}</string>
				<key>offset</key>
				<string>{-19,-12}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{237,237}</string>
			</dict>
			<key>SD_0004.png</key>
			<dict>
				<key>frame</key>
				<string>{{1119,0},{147,140}}</string>
				<key>offset</key>
				<string>{-23,-15}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{237,237}</string>
			</dict>
			<key>SD_0005.png</key>
			<dict>
				<key>frame</key>
				<string>{{210,645},{203,201}}</string>
				<key>offset</key>
				<string>{1,6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{237,237}</string>
			</dict>
			<key>SD_0006.png</key>
			<dict>
				<key>frame</key>
				<string>{{402,1677},{196,194}}</string>
				<key>offset</key>
				<string>{-2,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{237,237}</string>
			</dict>
			<key>SD_0007.png</key>
			<dict>
				<key>frame</key>
				<string>{{406,848},{189,188}}</string>
				<key>offset</key>
				<string>{-6,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{237,237}</string>
			</dict>
			<key>SD_0008.png</key>
			<dict>
				<key>frame</key>
				<string>{{594,835},{182,179}}</string>
				<key>offset</key>
				<string>{-9,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{237,237}</string>
			</dict>
			<key>SD_0009.png</key>
			<dict>
				<key>frame</key>
				<string>{{775,1375},{174,171}}</string>
				<key>offset</key>
				<string>{-12,-5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{237,237}</string>
			</dict>
			<key>SD_0010.png</key>
			<dict>
				<key>frame</key>
				<string>{{199,1495},{210,182}}</string>
				<key>offset</key>
				<string>{-6,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{237,237}</string>
			</dict>
			<key>SD_0011.png</key>
			<dict>
				<key>frame</key>
				<string>{{535,1873},{203,174}}</string>
				<key>offset</key>
				<string>{-9,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{237,237}</string>
			</dict>
			<key>SD_0012.png</key>
			<dict>
				<key>frame</key>
				<string>{{771,0},{196,167}}</string>
				<key>offset</key>
				<string>{-12,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{237,237}</string>
			</dict>
			<key>SD_0013.png</key>
			<dict>
				<key>frame</key>
				<string>{{348,1884},{187,158}}</string>
				<key>offset</key>
				<string>{-15,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{237,237}</string>
			</dict>
			<key>SD_0014.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1896},{178,147}}</string>
				<key>offset</key>
				<string>{-18,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{237,237}</string>
			</dict>
			<key>SD_0015.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,435},{220,209}}</string>
				<key>offset</key>
				<string>{4,-14}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{237,237}</string>
			</dict>
			<key>SD_0016.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,872},{212,203}}</string>
				<key>offset</key>
				<string>{1,-16}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{237,237}</string>
			</dict>
			<key>SD_0017.png</key>
			<dict>
				<key>frame</key>
				<string>{{198,1292},{203,196}}</string>
				<key>offset</key>
				<string>{-2,-19}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{237,237}</string>
			</dict>
			<key>SD_0018.png</key>
			<dict>
				<key>frame</key>
				<string>{{586,1275},{193,188}}</string>
				<key>offset</key>
				<string>{-5,-21}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{237,237}</string>
			</dict>
			<key>SD_0019.png</key>
			<dict>
				<key>frame</key>
				<string>{{587,396},{183,180}}</string>
				<key>offset</key>
				<string>{-7,-23}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{237,237}</string>
			</dict>
			<key>SD_0020.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,217},{218,211}}</string>
				<key>offset</key>
				<string>{7,-13}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{237,237}</string>
			</dict>
			<key>SD_0021.png</key>
			<dict>
				<key>frame</key>
				<string>{{209,435},{210,206}}</string>
				<key>offset</key>
				<string>{4,-16}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{237,237}</string>
			</dict>
			<key>SD_0022.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1292},{203,198}}</string>
				<key>offset</key>
				<string>{0,-18}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{237,237}</string>
			</dict>
			<key>SD_0023.png</key>
			<dict>
				<key>frame</key>
				<string>{{404,1081},{194,190}}</string>
				<key>offset</key>
				<string>{-2,-20}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{237,237}</string>
			</dict>
			<key>SD_0024.png</key>
			<dict>
				<key>frame</key>
				<string>{{418,211},{185,182}}</string>
				<key>offset</key>
				<string>{-6,-22}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{237,237}</string>
			</dict>
			<key>SD_0025.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{215,217}}</string>
				<key>offset</key>
				<string>{2,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{237,237}</string>
			</dict>
			<key>SD_0026.png</key>
			<dict>
				<key>frame</key>
				<string>{{211,217},{207,208}}</string>
				<key>offset</key>
				<string>{-1,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{237,237}</string>
			</dict>
			<key>SD_0027.png</key>
			<dict>
				<key>frame</key>
				<string>{{205,1081},{199,199}}</string>
				<key>offset</key>
				<string>{-4,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{237,237}</string>
			</dict>
			<key>SD_0028.png</key>
			<dict>
				<key>frame</key>
				<string>{{411,645},{190,187}}</string>
				<key>offset</key>
				<string>{-6,-6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{237,237}</string>
			</dict>
			<key>SD_0029.png</key>
			<dict>
				<key>frame</key>
				<string>{{936,1856},{180,160}}</string>
				<key>offset</key>
				<string>{-9,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{237,237}</string>
			</dict>
			<key>SD_0030.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,655},{217,210}}</string>
				<key>offset</key>
				<string>{5,-14}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{237,237}</string>
			</dict>
			<key>SD_0031.png</key>
			<dict>
				<key>frame</key>
				<string>{{203,872},{209,203}}</string>
				<key>offset</key>
				<string>{2,-16}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{237,237}</string>
			</dict>
			<key>SD_0032.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1695},{201,196}}</string>
				<key>offset</key>
				<string>{-1,-19}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{237,237}</string>
			</dict>
			<key>SD_0033.png</key>
			<dict>
				<key>frame</key>
				<string>{{587,1468},{193,188}}</string>
				<key>offset</key>
				<string>{-4,-21}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{237,237}</string>
			</dict>
			<key>SD_0034.png</key>
			<dict>
				<key>frame</key>
				<string>{{600,191},{183,180}}</string>
				<key>offset</key>
				<string>{-7,-23}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{237,237}</string>
			</dict>
			<key>SD_0035.png</key>
			<dict>
				<key>frame</key>
				<string>{{774,1200},{175,171}}</string>
				<key>offset</key>
				<string>{-10,-24}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{237,237}</string>
			</dict>
			<key>SD_0036.png</key>
			<dict>
				<key>frame</key>
				<string>{{773,723},{166,163}}</string>
				<key>offset</key>
				<string>{-13,-26}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{237,237}</string>
			</dict>
			<key>SD_0037.png</key>
			<dict>
				<key>frame</key>
				<string>{{967,0},{156,152}}</string>
				<key>offset</key>
				<string>{-17,-28}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{237,237}</string>
			</dict>
			<key>SD_0038.png</key>
			<dict>
				<key>frame</key>
				<string>{{215,0},{211,204}}</string>
				<key>offset</key>
				<string>{2,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{237,237}</string>
			</dict>
			<key>SD_0039.png</key>
			<dict>
				<key>frame</key>
				<string>{{409,1473},{204,178}}</string>
				<key>offset</key>
				<string>{-1,9}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{237,237}</string>
			</dict>
			<key>SD_0040.png</key>
			<dict>
				<key>frame</key>
				<string>{{415,425},{197,172}}</string>
				<key>offset</key>
				<string>{-5,6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{237,237}</string>
			</dict>
			<key>SD_0041.png</key>
			<dict>
				<key>frame</key>
				<string>{{594,1017},{187,165}}</string>
				<key>offset</key>
				<string>{-7,4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{237,237}</string>
			</dict>
			<key>SD_0042.png</key>
			<dict>
				<key>frame</key>
				<string>{{780,167},{178,158}}</string>
				<key>offset</key>
				<string>{-10,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{237,237}</string>
			</dict>
			<key>SD_0043.png</key>
			<dict>
				<key>frame</key>
				<string>{{178,1896},{170,150}}</string>
				<key>offset</key>
				<string>{-13,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{237,237}</string>
			</dict>
			<key>SD_0044.png</key>
			<dict>
				<key>frame</key>
				<string>{{1087,156},{161,143}}</string>
				<key>offset</key>
				<string>{-17,-5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{237,237}</string>
			</dict>
			<key>SD_0045.png</key>
			<dict>
				<key>frame</key>
				<string>{{934,1721},{153,135}}</string>
				<key>offset</key>
				<string>{-20,-8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{237,237}</string>
			</dict>
			<key>SD_0046.png</key>
			<dict>
				<key>frame</key>
				<string>{{196,1695},{206,189}}</string>
				<key>offset</key>
				<string>{5,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{237,237}</string>
			</dict>
			<key>SD_0047.png</key>
			<dict>
				<key>frame</key>
				<string>{{738,1860},{198,182}}</string>
				<key>offset</key>
				<string>{2,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{237,237}</string>
			</dict>
			<key>SD_0048.png</key>
			<dict>
				<key>frame</key>
				<string>{{419,0},{191,176}}</string>
				<key>offset</key>
				<string>{-2,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{237,237}</string>
			</dict>
			<key>SD_0049.png</key>
			<dict>
				<key>frame</key>
				<string>{{759,1017},{183,167}}</string>
				<key>offset</key>
				<string>{-5,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{237,237}</string>
			</dict>
			<key>SD_0050.png</key>
			<dict>
				<key>frame</key>
				<string>{{767,549},{174,159}}</string>
				<key>offset</key>
				<string>{-8,-6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{237,237}</string>
			</dict>
			<key>SD_0051.png</key>
			<dict>
				<key>frame</key>
				<string>{{938,167},{165,149}}</string>
				<key>offset</key>
				<string>{-12,-9}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{237,237}</string>
			</dict>
			<key>SD_0052.png</key>
			<dict>
				<key>frame</key>
				<string>{{778,1721},{156,138}}</string>
				<key>offset</key>
				<string>{-15,-12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{237,237}</string>
			</dict>
			<key>SD_0053.png</key>
			<dict>
				<key>frame</key>
				<string>{{596,1661},{199,182}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{237,237}</string>
			</dict>
			<key>SD_0054.png</key>
			<dict>
				<key>frame</key>
				<string>{{595,0},{191,176}}</string>
				<key>offset</key>
				<string>{-3,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{237,237}</string>
			</dict>
			<key>SD_0055.png</key>
			<dict>
				<key>frame</key>
				<string>{{598,579},{184,169}}</string>
				<key>offset</key>
				<string>{-5,-4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{237,237}</string>
			</dict>
			<key>SD_0056.png</key>
			<dict>
				<key>frame</key>
				<string>{{767,374},{175,161}}</string>
				<key>offset</key>
				<string>{-9,-6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{237,237}</string>
			</dict>
			<key>SD_0057.png</key>
			<dict>
				<key>frame</key>
				<string>{{928,345},{167,152}}</string>
				<key>offset</key>
				<string>{-12,-9}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{237,237}</string>
			</dict>
			<key>SD_0058.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1084},{208,205}}</string>
				<key>offset</key>
				<string>{3,8}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{237,237}</string>
			</dict>
			<key>SD_0059.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1495},{200,199}}</string>
				<key>offset</key>
				<string>{0,5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{237,237}</string>
			</dict>
			<key>SD_0060.png</key>
			<dict>
				<key>frame</key>
				<string>{{394,1280},{193,192}}</string>
				<key>offset</key>
				<string>{-4,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{237,237}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>TriangleLightning.png</string>
			<key>realTextureFileName</key>
			<string>TriangleLightning.png</string>
			<key>size</key>
			<string>{1259,2047}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1259</integer>
			<key>height</key>
			<integer>2047</integer>
		</dict>
	</dict>
</plist>