<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>atlas/scene4/0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{1104,1104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1104,1104}}</string>
                <key>sourceSize</key>
                <string>{1104,1104}</string>
            </dict>
            <key>atlas/scene4/0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1107,651},{162,55}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{162,55}}</string>
                <key>sourceSize</key>
                <string>{164,69}</string>
            </dict>
            <key>atlas/scene4/0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,1649},{347,352}}</string>
                <key>offset</key>
                <string>{-27,-377}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,754},{347,352}}</string>
                <key>sourceSize</key>
                <string>{401,1106}</string>
            </dict>
            <key>atlas/scene4/0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1685},{316,534}}</string>
                <key>offset</key>
                <string>{394,-285}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{788,570},{316,534}}</string>
                <key>sourceSize</key>
                <string>{1104,1104}</string>
            </dict>
            <key>atlas/scene4/0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1107},{576,408}}</string>
                <key>offset</key>
                <string>{264,348}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{528,0},{576,408}}</string>
                <key>sourceSize</key>
                <string>{1104,1104}</string>
            </dict>
            <key>atlas/scene4/0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,1107},{375,448}}</string>
                <key>offset</key>
                <string>{193,328}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{386,0},{375,448}}</string>
                <key>sourceSize</key>
                <string>{761,1104}</string>
            </dict>
            <key>atlas/scene4/0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,1107},{368,540}}</string>
                <key>offset</key>
                <string>{-369,283}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{368,540}}</string>
                <key>sourceSize</key>
                <string>{1106,1106}</string>
            </dict>
            <key>atlas/scene4/0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,1484},{416,350}}</string>
                <key>offset</key>
                <string>{-345,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,33},{416,350}}</string>
                <key>sourceSize</key>
                <string>{1106,384}</string>
            </dict>
            <key>atlas/scene4/0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1107,231},{216,418}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{216,418}}</string>
                <key>sourceSize</key>
                <string>{222,420}</string>
            </dict>
            <key>atlas/scene4/0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1107,1},{228,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,228}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>lbl_scene4_1.png</string>
            <key>size</key>
            <string>{1336,2002}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cc9caa37a7884bcafd74b4cbcec2a174:77f8f85021fea0d33b47c60b6fdfe218:c03282eff3ecc02e424bd2cf11e24563$</string>
            <key>textureFileName</key>
            <string>lbl_scene4_1.png</string>
        </dict>
    </dict>
</plist>
