<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>atlas/lbl_NewUi/0960.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{480,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,270}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>atlas/lbl_NewUi/0962.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,1},{480,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,270}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>atlas/lbl_NewUi/0964.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,1},{480,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,270}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>atlas/lbl_NewUi/0966.png</key>
            <dict>
                <key>frame</key>
                <string>{{1447,1},{480,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,270}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>atlas/lbl_NewUi/0976.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,273},{480,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,270}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>atlas/lbl_NewUi/0978.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,273},{480,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,270}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>atlas/lbl_NewUi/0980.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,273},{480,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,270}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>atlas/lbl_NewUi/0982.png</key>
            <dict>
                <key>frame</key>
                <string>{{1447,273},{480,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,270}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>atlas/lbl_NewUi/0992.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,545},{480,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,270}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>atlas/lbl_NewUi/0994.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,545},{480,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,270}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>atlas/lbl_NewUi/0996.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,545},{480,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,270}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>atlas/lbl_NewUi/0998.png</key>
            <dict>
                <key>frame</key>
                <string>{{1447,545},{480,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,270}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>atlas/lbl_NewUi/1008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,817},{480,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,270}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>atlas/lbl_NewUi/1010.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,817},{480,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,270}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>atlas/lbl_NewUi/1012.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,817},{480,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,270}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>atlas/lbl_NewUi/1014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1447,817},{480,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,270}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>atlas/lbl_NewUi/1024.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1089},{480,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,270}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>atlas/lbl_NewUi/1026.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,1089},{480,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,270}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>atlas/lbl_NewUi/1028.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,1089},{480,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,270}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>atlas/lbl_NewUi/1030.png</key>
            <dict>
                <key>frame</key>
                <string>{{1447,1089},{480,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,270}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>atlas/lbl_NewUi/1040.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1361},{480,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,270}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>atlas/lbl_NewUi/1042.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,1361},{480,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,270}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>atlas/lbl_NewUi/1044.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,1361},{480,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,270}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>atlas/lbl_NewUi/1046.png</key>
            <dict>
                <key>frame</key>
                <string>{{1447,1361},{480,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,270}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>atlas/lbl_NewUi/1056.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1633},{480,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,270}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>atlas/lbl_NewUi/1058.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,1633},{480,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,270}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>lbl_switch_scene_1.png</string>
            <key>size</key>
            <string>{1928,1904}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:23cbdf101fdf991acf3e3a556bf54d3d:bf5d835cc901d9461853378bbdf1b890:db9a58ab440c76dae61c560ead87b259$</string>
            <key>textureFileName</key>
            <string>lbl_switch_scene_1.png</string>
        </dict>
    </dict>
</plist>
