<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chip_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,137},{36,31}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{36,31}}</string>
                <key>sourceSize</key>
                <string>{36,33}</string>
            </dict>
            <key>chip_g.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,104},{36,31}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{36,31}}</string>
                <key>sourceSize</key>
                <string>{36,33}</string>
            </dict>
            <key>chip_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,71},{36,31}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{36,31}}</string>
                <key>sourceSize</key>
                <string>{36,33}</string>
            </dict>
            <key>chip_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,37},{36,32}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{36,32}}</string>
                <key>sourceSize</key>
                <string>{36,34}</string>
            </dict>
            <key>chip_y.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,2},{38,33}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{38,33}}</string>
                <key>sourceSize</key>
                <string>{38,35}</string>
            </dict>
            <key>total_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{170,61}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{170,61}}</string>
                <key>sourceSize</key>
                <string>{170,71}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>chips.png</string>
            <key>size</key>
            <string>{105,174}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f02b0197400a4517b81a86fc5164a215:1/1$</string>
            <key>textureFileName</key>
            <string>chips.png</string>
        </dict>
    </dict>
</plist>
