<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>GameViewLayer/btn_all_dz.png</key>
			<dict>
				<key>frame</key>
				<string>{{785,652},{128,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,76}</string>
			</dict>
			<key>GameViewLayer/btn_back_old_dz.png</key>
			<dict>
				<key>frame</key>
				<string>{{785,525},{123,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{123,97}</string>
			</dict>
			<key>GameViewLayer/btn_begin_normal_dz.png</key>
			<dict>
				<key>frame</key>
				<string>{{865,725},{128,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,76}</string>
			</dict>
			<key>GameViewLayer/btn_bg_yellow_dz.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,857},{128,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,76}</string>
			</dict>
			<key>GameViewLayer/btn_cmp_dz.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,583},{128,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,76}</string>
			</dict>
			<key>GameViewLayer/btn_cmp_cancel_dz.png</key>
			<dict>
				<key>frame</key>
				<string>{{707,165},{192,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{192,76}</string>
			</dict>
			<key>GameViewLayer/btn_drop_dz.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,402},{126,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{126,76}</string>
			</dict>
			<key>GameViewLayer/btn_follow_dz.png</key>
			<dict>
				<key>frame</key>
				<string>{{82,575},{128,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,76}</string>
			</dict>
			<key>GameViewLayer/btn_help_dz.png</key>
			<dict>
				<key>frame</key>
				<string>{{279,370},{69,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{69,71}</string>
			</dict>
			<key>GameViewLayer/btn_see_dz.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,270},{128,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,76}</string>
			</dict>
			<key>GameViewLayer/btn_setup_dz.png</key>
			<dict>
				<key>frame</key>
				<string>{{257,568},{69,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{69,71}</string>
			</dict>
			<key>GameViewLayer/btn_unalways_dz.png</key>
			<dict>
				<key>frame</key>
				<string>{{902,329},{203,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{203,91}</string>
			</dict>
			<key>GameViewLayer/chip_dz_dz.png</key>
			<dict>
				<key>frame</key>
				<string>{{82,978},{35,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{35,35}</string>
			</dict>
			<key>GameViewLayer/chip_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{949,710},{145,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{145,35}</string>
			</dict>
			<key>GameViewLayer/clock_green_dz.png</key>
			<dict>
				<key>frame</key>
				<string>{{282,270},{91,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,91}</string>
			</dict>
			<key>GameViewLayer/clock_green_bg_dz.png</key>
			<dict>
				<key>frame</key>
				<string>{{82,270},{96,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,96}</string>
			</dict>
			<key>GameViewLayer/clock_red_dz.png</key>
			<dict>
				<key>frame</key>
				<string>{{82,843},{91,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,91}</string>
			</dict>
			<key>GameViewLayer/clock_red_bg_dz.png</key>
			<dict>
				<key>frame</key>
				<string>{{182,270},{96,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,96}</string>
			</dict>
			<key>GameViewLayer/clock_yellow_dz.png</key>
			<dict>
				<key>frame</key>
				<string>{{162,572},{91,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,91}</string>
			</dict>
			<key>GameViewLayer/clock_yellow_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{82,370},{96,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,96}</string>
			</dict>
			<key>GameViewLayer/empty_player_dz.png</key>
			<dict>
				<key>frame</key>
				<string>{{182,370},{93,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,93}</string>
			</dict>
			<key>GameViewLayer/flag_drop_dz.png</key>
			<dict>
				<key>frame</key>
				<string>{{82,470},{79,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{79,55}</string>
			</dict>
			<key>GameViewLayer/flag_out_dz.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,470},{79,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{79,55}</string>
			</dict>
			<key>GameViewLayer/flag_see_dz.png</key>
			<dict>
				<key>frame</key>
				<string>{{96,784},{95,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,40}</string>
			</dict>
			<key>GameViewLayer/flag_start_dz.png</key>
			<dict>
				<key>frame</key>
				<string>{{82,938},{35,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{35,36}</string>
			</dict>
			<key>GameViewLayer/flag_waitin_dz.png</key>
			<dict>
				<key>frame</key>
				<string>{{989,536},{101,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{101,31}</string>
			</dict>
			<key>GameViewLayer/game_chat_lbg_dz.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,784},{90,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,55}</string>
			</dict>
			<key>GameViewLayer/game_chat_rbg_dz.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,722},{90,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,55}</string>
			</dict>
			<key>GameViewLayer/gold_bar_dz.png</key>
			<dict>
				<key>frame</key>
				<string>{{654,459},{120,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{120,33}</string>
			</dict>
			<key>GameViewLayer/play_bg_dz.png</key>
			<dict>
				<key>frame</key>
				<string>{{692,361},{152,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{152,80}</string>
			</dict>
			<key>GameViewLayer/please_bg_dz.png</key>
			<dict>
				<key>frame</key>
				<string>{{407,165},{296,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{296,61}</string>
			</dict>
			<key>GameViewLayer/please_dot.png</key>
			<dict>
				<key>frame</key>
				<string>{{1000,2},{13,13}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{13,13}</string>
			</dict>
			<key>GameViewLayer/please_wait.png</key>
			<dict>
				<key>frame</key>
				<string>{{654,230},{225,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{225,34}</string>
			</dict>
			<key>GameViewLayer/please_wait_oth.png</key>
			<dict>
				<key>frame</key>
				<string>{{616,230},{341,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{341,34}</string>
			</dict>
			<key>GameViewLayer/scorebg_lose_dz.png</key>
			<dict>
				<key>frame</key>
				<string>{{886,536},{185,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{185,59}</string>
			</dict>
			<key>GameViewLayer/scorebg_win_dz.png</key>
			<dict>
				<key>frame</key>
				<string>{{691,517},{201,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{201,59}</string>
			</dict>
			<key>GameViewLayer/label_see_green.png</key>
			<dict>
				<key>frame</key>
				<string>{{352,404},{82,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,35}</string>
			</dict>
			<key>GameViewLayer/btn_green_dz.png</key>
			<dict>
				<key>frame</key>
				<string>{{787,337},{184,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{184,90}</string>
			</dict>
			<key>GameViewLayer/texasHoldem_txt_state_243.png</key>
			<dict>
				<key>frame</key>
				<string>{{754,517},{59,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{59,27}</string>
			</dict>
			<key>GameViewLayer/texasHoldem_txt_state_244.png</key>
			<dict>
				<key>frame</key>
				<string>{{754,580},{59,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{59,27}</string>
			</dict>
			<key>GameViewLayer/texasHoldem_txt_state_245.png</key>
			<dict>
				<key>frame</key>
				<string>{{754,643},{59,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{59,27}</string>
			</dict>
			<key>GameViewLayer/texasHoldem_txt_state_246.png</key>
			<dict>
				<key>frame</key>
				<string>{{989,641},{62,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{62,30}</string>
			</dict>
			<key>GameViewLayer/texasHoldem_txt_state_247.png</key>
			<dict>
				<key>frame</key>
				<string>{{754,706},{59,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{59,27}</string>
			</dict>
			<key>GameViewLayer/type_bg_dz.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,532},{73,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,43}</string>
			</dict>
			<key>GameViewLayer/result/lose_bg_dz.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{401,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{401,170}</string>
			</dict>
			<key>GameViewLayer/result/rect_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{378,230},{234,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{234,52}</string>
			</dict>
			<key>GameViewLayer/result/start_tip.png</key>
			<dict>
				<key>frame</key>
				<string>{{997,329},{154,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{154,24}</string>
			</dict>
			<key>GameViewLayer/result/win_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{197,529},{88,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,35}</string>
			</dict>
			<key>GameViewLayer/result/win_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{949,536},{170,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{170,36}</string>
			</dict>
			<key>GameViewLayer/result/win_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{248,467},{88,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,35}</string>
			</dict>
			<key>GameViewLayer/result/win_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{162,667},{88,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,35}</string>
			</dict>
			<key>GameViewLayer/result/win_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{340,445},{87,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,35}</string>
			</dict>
			<key>GameViewLayer/result/win_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{254,667},{88,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,35}</string>
			</dict>
			<key>GameViewLayer/result/win_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{188,722},{87,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,36}</string>
			</dict>
			<key>GameViewLayer/result/win_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{96,722},{88,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,36}</string>
			</dict>
			<key>GameViewLayer/result/win_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{289,506},{88,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,35}</string>
			</dict>
			<key>GameViewLayer/result/win_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{79,532},{114,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,36}</string>
			</dict>
			<key>GameViewLayer/result/win_bg_dz.png</key>
			<dict>
				<key>frame</key>
				<string>{{407,2},{381,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{381,159}</string>
			</dict>
			<key>GameViewLayer/result/you_lose_dz.png</key>
			<dict>
				<key>frame</key>
				<string>{{792,2},{331,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{331,106}</string>
			</dict>
			<key>GameViewLayer/result/you_win_dz.png</key>
			<dict>
				<key>frame</key>
				<string>{{902,2},{323,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{323,94}</string>
			</dict>
			<key>GameViewLayer/icon_dealer.png</key>
			<dict>
				<key>frame</key>
				<string>{{330,575},{42,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,50}</string>
			</dict>
			<key>GameViewLayer/btn_blue_long.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,176},{184,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{184,90}</string>
			</dict>
			<key>GameViewLayer/btn_yellow.png</key>
			<dict>
				<key>frame</key>
				<string>{{190,176},{184,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{184,90}</string>
			</dict>
			<key>GameViewLayer/label_raise.png</key>
			<dict>
				<key>frame</key>
				<string>{{352,365},{83,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{83,35}</string>
			</dict>
			<key>GameViewLayer/label_follow_green.png</key>
			<dict>
				<key>frame</key>
				<string>{{989,707},{33,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{33,34}</string>
			</dict>
			<key>GameViewLayer/label_bigm.png</key>
			<dict>
				<key>frame</key>
				<string>{{377,286},{67,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{67,35}</string>
			</dict>
			<key>GameViewLayer/label_total.png</key>
			<dict>
				<key>frame</key>
				<string>{{416,286},{67,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{67,35}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>GameLayer.png</string>
			<key>realTextureFileName</key>
			<string>GameLayer.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>