<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>20.png</key>
			<dict>
				<key>frame</key>
				<string>{{275,2013},{45,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{275,2013},{45,31}}</string>
				<key>sourceSize</key>
				<string>{45,31}</string>
			</dict>
			<key>btnClose.png</key>
			<dict>
				<key>frame</key>
				<string>{{1605,1029},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1605,1029},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>btnAdd.png</key>
			<dict>
				<key>frame</key>
				<string>{{1910,957},{62,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1910,957},{62,62}}</string>
				<key>sourceSize</key>
				<string>{62,62}</string>
			</dict>
			<key>popMenu-exit.png</key>
			<dict>
				<key>frame</key>
				<string>{{75,1199},{49,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{75,1199},{49,56}}</string>
				<key>sourceSize</key>
				<string>{49,56}</string>
			</dict>
			<key>reward-str.png</key>
			<dict>
				<key>frame</key>
				<string>{{849,554},{404,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{849,554},{404,36}}</string>
				<key>sourceSize</key>
				<string>{404,36}</string>
			</dict>
			<key>wuxian.png</key>
			<dict>
				<key>frame</key>
				<string>{{849,1048},{75,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{849,1048},{75,36}}</string>
				<key>sourceSize</key>
				<string>{75,36}</string>
			</dict>
			<key>input2.png</key>
			<dict>
				<key>frame</key>
				<string>{{799,951},{296,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{799,951},{296,48}}</string>
				<key>sourceSize</key>
				<string>{296,48}</string>
			</dict>
			<key>btnArraw.png</key>
			<dict>
				<key>frame</key>
				<string>{{445,1015},{62,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{445,1015},{62,70}}</string>
				<key>sourceSize</key>
				<string>{62,70}</string>
			</dict>
			<key>popMenu-open.png</key>
			<dict>
				<key>frame</key>
				<string>{{1567,1391},{88,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1567,1391},{88,88}}</string>
				<key>sourceSize</key>
				<string>{88,88}</string>
			</dict>
			<key>tanchumenu.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1814},{149,288}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,1814},{149,288}}</string>
				<key>sourceSize</key>
				<string>{149,288}</string>
			</dict>
			<key>inputbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{897,554},{254,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{897,554},{254,68}}</string>
				<key>sourceSize</key>
				<string>{254,68}</string>
			</dict>
			<key>100.png</key>
			<dict>
				<key>frame</key>
				<string>{{1981,436},{65,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1981,436},{65,31}}</string>
				<key>sourceSize</key>
				<string>{65,31}</string>
			</dict>
			<key>popMenu-help.png</key>
			<dict>
				<key>frame</key>
				<string>{{1917,436},{48,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1917,436},{48,62}}</string>
				<key>sourceSize</key>
				<string>{48,62}</string>
			</dict>
			<key>btnStart.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,1015},{183,178}}</string>
				<key>offset</key>
				<string>{0,6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{260,1015},{183,178}}</string>
				<key>sourceSize</key>
				<string>{183,190}</string>
			</dict>
			<key>btnFree.png</key>
			<dict>
				<key>frame</key>
				<string>{{897,1443},{183,182}}</string>
				<key>offset</key>
				<string>{0,6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{897,1443},{183,182}}</string>
				<key>sourceSize</key>
				<string>{183,194}</string>
			</dict>
			<key>freeTitle2.png</key>
			<dict>
				<key>frame</key>
				<string>{{897,1627},{404,161}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{897,1627},{404,161}}</string>
				<key>sourceSize</key>
				<string>{404,161}</string>
			</dict>
			<key>freeget-str.png</key>
			<dict>
				<key>frame</key>
				<string>{{897,810},{432,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{897,810},{432,36}}</string>
				<key>sourceSize</key>
				<string>{432,36}</string>
			</dict>
			<key>xyj_tc_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{75,554},{722,459}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{75,554},{722,459}}</string>
				<key>sourceSize</key>
				<string>{722,459}</string>
			</dict>
			<key>wuxian2.png</key>
			<dict>
				<key>frame</key>
				<string>{{849,960},{86,43}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{849,960},{86,43}}</string>
				<key>sourceSize</key>
				<string>{86,46}</string>
			</dict>
			<key>xyj_help_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{969,1},{946,496}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{969,1},{946,496}}</string>
				<key>sourceSize</key>
				<string>{946,496}</string>
			</dict>
			<key>win-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{291,1814},{668,197}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{291,1814},{668,197}}</string>
				<key>sourceSize</key>
				<string>{668,197}</string>
			</dict>
			<key>popMenu-close.png</key>
			<dict>
				<key>frame</key>
				<string>{{1910,867},{88,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1910,867},{88,88}}</string>
				<key>sourceSize</key>
				<string>{88,88}</string>
			</dict>
			<key>nvzi_kuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{969,499},{939,528}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{969,499},{939,528}}</string>
				<key>sourceSize</key>
				<string>{939,528}</string>
			</dict>
			<key>2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1989,309},{54,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1989,309},{54,54}}</string>
				<key>sourceSize</key>
				<string>{54,54}</string>
			</dict>
			<key>coin.png</key>
			<dict>
				<key>frame</key>
				<string>{{849,1125},{44,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{849,1125},{44,44}}</string>
				<key>sourceSize</key>
				<string>{44,44}</string>
			</dict>
			<key>title.png</key>
			<dict>
				<key>frame</key>
				<string>{{1917,1},{250,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1917,1},{250,80}}</string>
				<key>sourceSize</key>
				<string>{250,80}</string>
			</dict>
			<key>popMenu-bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1965},{70,272}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,1965},{70,272}}</string>
				<key>sourceSize</key>
				<string>{70,272}</string>
			</dict>
			<key>50.png</key>
			<dict>
				<key>frame</key>
				<string>{{849,1171},{44,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{849,1171},{44,31}}</string>
				<key>sourceSize</key>
				<string>{44,31}</string>
			</dict>
			<key>win-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{897,1244},{668,197}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{897,1244},{668,197}}</string>
				<key>sourceSize</key>
				<string>{668,197}</string>
			</dict>
			<key>btnAutoStart.png</key>
			<dict>
				<key>frame</key>
				<string>{{75,1015},{183,182}}</string>
				<key>offset</key>
				<string>{0,6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{75,1015},{183,182}}</string>
				<key>sourceSize</key>
				<string>{183,194}</string>
			</dict>
			<key>btnSub.png</key>
			<dict>
				<key>frame</key>
				<string>{{961,1790},{62,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{961,1790},{62,62}}</string>
				<key>sourceSize</key>
				<string>{62,62}</string>
			</dict>
			<key>xyj_help_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1258},{894,554}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1258},{894,554}}</string>
				<key>sourceSize</key>
				<string>{894,555}</string>
			</dict>
			<key>topkuang1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1910,499},{366,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1910,499},{366,85}}</string>
				<key>sourceSize</key>
				<string>{366,85}</string>
			</dict>
			<key>freeTitle.png</key>
			<dict>
				<key>frame</key>
				<string>{{1567,1228},{404,161}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1567,1228},{404,161}}</string>
				<key>sourceSize</key>
				<string>{404,161}</string>
			</dict>
			<key>win-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{935,1029},{668,197}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{935,1029},{668,197}}</string>
				<key>sourceSize</key>
				<string>{668,197}</string>
			</dict>
			<key>popMenu-setting.png</key>
			<dict>
				<key>frame</key>
				<string>{{1997,469},{50,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1997,469},{50,61}}</string>
				<key>sourceSize</key>
				<string>{50,61}</string>
			</dict>
			<key>freesettle-str.png</key>
			<dict>
				<key>frame</key>
				<string>{{799,554},{395,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{799,554},{395,37}}</string>
				<key>sourceSize</key>
				<string>{395,37}</string>
			</dict>
			<key>xyj_help_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{966,551}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{966,551}}</string>
				<key>sourceSize</key>
				<string>{969,551}</string>
			</dict>
			<key>1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1989,253},{54,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1989,253},{54,54}}</string>
				<key>sourceSize</key>
				<string>{54,54}</string>
			</dict>
			<key>xyj_help_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,554},{72,702}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,554},{72,702}}</string>
				<key>sourceSize</key>
				<string>{72,702}</string>
			</dict>
			<key>reward-line-str.png</key>
			<dict>
				<key>frame</key>
				<string>{{935,810},{194,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{935,810},{194,32}}</string>
				<key>sourceSize</key>
				<string>{194,32}</string>
			</dict>
			<key>btnMax.png</key>
			<dict>
				<key>frame</key>
				<string>{{1917,253},{181,70}}</string>
				<key>offset</key>
				<string>{0,6}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1917,253},{181,70}}</string>
				<key>sourceSize</key>
				<string>{181,82}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>SwimSkin-1.png</string>
			<key>size</key>
			<string>{2048,2045}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>SwimSkin-1.png</string>
		</dict>
	</dict>
</plist>
